<h1 align="right" id="header">Calalogo Choferes</h1>
<br/>

<%= link_to 'Nuevo Usuario', new_usuario_path %>

<div class="group">
  <h2>
    Usuarios
  </h2>

  <table border="0">
    <tr>
      <td width="50" align="center">No.</td>
      <td width="400" align="center">Nome</td>
    </tr>
    <tr><td colspan="2"><hr></td></tr>
  </table>


  <div class="rolagem" id="div">
    <table  border="0"z>
      <% @usuarios.each do |usuario| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50"  align="center"><%=h usuario.id %></td>
          <td width="400" align="left"><%=h usuario.usuario_nome %></td>
          <td><%= link_to 'Mirar', usuario %></td>
          <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
          <td><%= link_to 'Borrar', usuario, :confirm => 'Tem certeza que deseja Borrar?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
