
<%= form_for(@unidade) do |f| %>

  <% if @unidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unidade.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @unidade.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
Unidade - Edicion
<div class="group_cd">
      <table>
        <tr height="35">

          <td align="right">Unidade :</td>
          <td><%= f.text_field :unidade_nome,
                               :size => 25,
                               :onkeydown => "f(this)", :onkeyup => "f(this)"%></td>
        </tr>
        <tr height="35">

          <td align="right">Direcion :</td>
          <td><%= f.text_field :direcao,
                               :size => 15,
                               :onkeydown => "f(this)", :onkeyup => "f(this)"%></td>

          <td align="right">Barrio :</td>
          <td><%= f.text_field :bairro,
                               :size => 15,
                               :onkeydown => "f(this)", :onkeyup => "f(this)"%></td>
        </tr>

        <tr height="35">
          <td align="right">Ciudad :</td>
          <td><%= f.collection_select :cidade_id, Cidade.all( :select => ' id,
                                                                            nome',
                                                                        :order  => '2' ), :id,
                                                                                          :nome,{:include_blank => true} %></td>

        </tr>

        <tr height="35">
          <td><b>Cod Contabil :</b></td>
          <td><%= f.text_field :cod_contabil%></td>

          <td><b>Rubro :</b></td>
          <td><%= f.collection_select :rubro_nome, Rubro.all(:select => 'descricao,codigo',:order => 'codigo'),:codigo,:descricao,{},{:onblur => "UnidadeBuscaCodContabil()"} %></td>

        </tr>

      </table>

</div>
    <%= f.submit 'Grabar' %>  | <%= link_to 'Volver', unidades_path %>
<% end %>