<h1 align="right" id="header">Actualizacion de Carpeta</h1>

<% form_for(@cliente) do |f| %>
  <%= f.error_messages %>
   <ul class="tabs">
      <li><a href="#tab1">Actualizacion de Carpeta - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
            <tr>
              <td align="right">Fecha :</td>
              <td ><%= f.date_select :data,{},{:onblur => "DataCotacao('cliente_data_3i','cliente_data_2i','cliente_data_1i')"}  %></td>
              <%= hidden_field_tag( 'key' ) %>

              <td align="right">Vencimento :</td>
              <td ><%= f.date_select :vencimento%></td>

            </tr>

            <tr>
                <td align="right">Cotización :</td>
                <td>             <%= text_field :cliente,
                                :cotacao ,
                                { :size     => 10,
                                 :value    => @cliente.cotacao.to_i,
                                 :onfocus  => remote_function(:update => "key",
                                    :url    => { :action => :get_moeda},
                                    :with   => "'key='+ key.value ") } %>
                </td>

             </tr>
             
             <tr>
              <td align="right">Cliente :</td>
              <td colspan="3"><%= f.collection_select :persona_id, Persona.all(:select => 'id,nome',:order => '2'),:id,:nome %>
            <tr>

            <tr>
              <td align="right"> Moneda :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                  <%= f.radio_button :moeda, 0 %> Dolar
                </fieldset>
               </td>
            </tr>

			<tr>
				<td align="right">Cuota :</td>
				<td>   <%= f.text_field :cota,:size => 5 %></td>
			</tr>
            <tr>
              <td align="right"> Pagare :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :pagare, 0%> No Hecho</font>
                  <font color="blue"><%= f.radio_button :pagare, 1 %> Local </font>
                  <font color="green"><%= f.radio_button :pagare, 2 %> Banco</font>
                </fieldset>
               </td>
            </tr>

            <tr>
              <td align="right"> Estado :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :liquidacao, 0 %> En Abierta
                  <%= f.radio_button :liquidacao, 1%> Cancelado 
                </fieldset>
               </td>
            </tr>

            <tr>
              <%= field_gs 'Divida Gs.:',f,:divida_guarani,:onblur => "GsToUs('cliente_cotacao','cliente_divida_guarani','cliente_divida_dolar')" %>

              <%= field_us 'Divida U$:',f,:divida_dolar,:onblur => "UsToGs('cliente_cotacao','cliente_divida_dolar','cliente_divida_guarani')" %>
            </tr>

            <tr>
              <%= field_gs 'Pago Gs.:',f,:cobro_guarani,:onblur => "GsToUs('cliente_cotacao','cliente_cobro_guarani','cliente_cobro_dolar')" %>

              <%= field_us 'Pago U$:',f,:cobro_dolar,:onblur => "UsToGs('cliente_cotacao','cliente_cobro_dolar','cliente_cobro_guarani')" %>
            </tr>
            
            <tr>
              <td align="right" valign="top">Concepto :</td>
              <td colspan="5"><%= f.text_area   :descricao,:cols => 65, :rows => 5 %></td>
            </tr> 
        </table>
      </div>
   <div class="buttons">
      <%= f.submit "Grabar", :class => "button" %>
      <%= link_to 'Volver', clientes_path, :class => "button back" %>
    </div>

   </div>
<% end %>


