<p>
  <b>Condicao:</b>
  <%=h @plano.condicao %>
</p>

<p>
  <b>Mes:</b>
  <%=h @plano.mes %>
</p>

<p>
  <b>Ano:</b>
  <%=h @plano.ano %>
</p>

<p>
  <b>Taxa:</b>
  <%=h @plano.taxa %>
</p>


<%= link_to 'Edit', edit_plano_path(@plano) %> |
<%= link_to 'Back', planos_path %>