
<h1 align="right" id="header">Tranferencia Entre Cuentas</h1>


<div class="group">
   <table>
      <tr>
         <td width="50"></td>
         <td width="80" align="center">Emitido</td>
         <td width="80" align="center">Diferido</td>
         <td width="80" align="center">Compensado</td>
         <td width="80" align="center">Cheque</td>
         <td width="250" align="center">Origem</td>
         <td width="250" align="center">Destino</td>
         <td width="100" align="center">Valor</td>
      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>
         <% @diferido.each do |df| %>
            <tr class = "<%= cycle("cor1", "cor2")%>">
               <td width="50" align="center"><%= df.id %></td>
               <td width="80" align="center"><%= df.original.strftime("%d/%m/%Y") %></td>
               <td width="80" align="center"><%= df.diferido.strftime("%d/%m/%Y") %></td>
               <td width="80" align="center"><%= df.data.strftime("%d/%m/%Y") %></td>
               <td width="80" align="center"><%= df.cheque %></td>
               <td width="250" align="left"><%= df.conta_origem_nome %></td>
               <td width="250" align="left"><%= df.conta_destino_nome %></td>
               <% if df.destino_moeda == 0 %>
                  <td width="100" align="right"><%= number_to_currency( df.saida_dolar,       :format =>' %n ', :separator => "," ) %></td>
               <% else %>
                  <td width="100" align="right"><%= number_to_currency( df.saida_guarani,       :format =>' %n ', :precision => 0 ) %></td>
               <% end %>
                  <td><%= link_to 'Editar', edit_transferencia_contas_detalhe_path(df) %></td>
                  <td><%= link_to 'Borrar', df, :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>

   </div>
</div>
<div>
<table class="">
	<tr>
      <td align="right"> Fecha Diferido :</td>
        <td>
          <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
          Hasta
          <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
        </td>
	</tr>
</table>


</div>
<div class="buttons">
<%= link_to 'Volver', edit_transferencia_conta_path(@transferencia_conta),  :class => 'button back' %> 

<a href="javascript:void(0)" onClick="Comprovante()" class="button print">Comprobante</a>

<a href="javascript:void(0)" onClick="Viatico()" class="button print">Viatico</a>

<%= link_to 'Salir', transferencia_contas_path, :class => 'button delete' %>	
<a href="javascript:void(0)" onClick="Diferido()" class="button print">Diferido</a>

</div>
<%= hidden_field_tag :id, @transferencia_conta.id %>
<%= hidden_field_tag :conta, @transferencia_conta.ingreso_id %>
<%= hidden_field_tag :moeda, @transferencia_conta.ingreso_moeda %>
<script>
    conta_id = document.getElementById('conta').value;
    moeda    = document.getElementById('moeda').value;
    id       = document.getElementById('id').value;

	function Diferido(){                //
	  if ( document.getElementById('inicio').value =="" || document.getElementById('final').value == "")
  	    {
	      alert('complete las Fechas')
	    }
	  else
  	    {
      location.href="/transferencia_contas/busca_diferido?inicio="+document.getElementById('inicio').value+"&final="+document.getElementById('final').value+"&conta_id="+conta_id+"&moeda="+moeda+"&id="+id+"&commit=buscar";
	    }
      }


	function Comprovante()                //
	{
		window.open('/transferencia_contas/comprovante/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}

	function Viatico()                //
	{
		window.open('/transferencia_contas/viatico/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}

</script>
