<% form_for(entrada_saida_func_detalhe) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :entrada_saida_func_id %>
    <%= f.hidden_field :ob_ref, :value => @entrada_saida_func.ob_ref %>
    <%= f.hidden_field :responsavel_id, :value => @entrada_saida_func.responsavel_id %>
    <%= f.hidden_field :responsavel_nome, :value => @entrada_saida_func.responsavel_nome %>

<table>
	<tr>
		<td align="right">Fecha</td>
		<td><%= f.date_select :data %></td>
	</tr>
	<tr>
		<td align="right"> Empleado : </td>
		<td> <%= f.collection_select :persona_id, Persona.all( :select     => ' id,nome,tipo_funcionario',
            :conditions => ["tipo_funcionario = 1"],
            :order      => '2'),:id,:nome, { :include_blank => true } %></td>

		<td>    <%= f.radio_button :status, 0, :checked => 'checked' %>Entrada</td>
		<td>    <%= f.radio_button :status, 1 %>Salida</td>
	</tr>
	<tr>
		<td align="right">Concepto</td>
		<td colspan="3"><%= f.text_area :descricao, :cols => 40, :rows => 5 %>     <%= f.submit 'Grabar',:class => 'button' %></td>
	</tr>
	
</table>
<% end %>
