<table>
	<% quebra       = ""%>
	<% totentrada   = 0 %>
	<% totsaida     = 0 %>
	<% subentrada   = 0 %>
	<% subsaida     = 0 %>
	<% subsaldo     = 0 %>
	<% ant          = @financas_anterior.to_f%>

	<% for fin in @financas %>
	
	    <% if params[:moeda] == "0" %>
	      <% entrada = fin.entrada_dolar %>
	      <% saida   = fin.saida_dolar %>
	      <% moeda   = 'AND MOEDA = 0' %>
	      <% valor_sum = 'entrada_dolar - saida_dolar'%>
	      <% consulta_maior = 'entrada_dolar + saida_dolar' %>
	    <% elsif params[:moeda] == "1" %>
	      <% entrada = fin.entrada_guarani %>
	      <% saida  = fin.saida_guarani %>
	      <% valor_sum = 'entrada_guarani - saida_guarani'%>
	      <% consulta_maior = 'entrada_guarani + saida_guarani' %>
	      <% moeda   = 'AND MOEDA = 1' %>
	    <% else %>
	      <% entrada = fin.entrada_real %>
	      <% saida  = fin.saida_real %>
	      <% valor_sum = 'entrada_real - saida_real'%>
	      <% consulta_maior = 'entrada_real + saida_real' %>
	      <% moeda   = 'AND MOEDA = 2' %>
	    <% end %>
	      
	      <% if quebra != fin.data.strftime("%d/%m/%Y")  %>

	      <% if quebra != "" %>
	      
	         <% condante = "data < '#{quebra}' AND ESTADO = 0 AND #{consulta_maior} > 0 AND conta_id = #{params[:busca]["conta"]} #{moeda}" %>
	         <% anterior = Financa.sum(valor_sum,:conditions => condante) %>

          	 <tr class="head">
          	    <% if params[:moeda].to_s == '1' %>


         		 <td colspan="4">Anterior : <%= number_to_currency(anterior, :format=>' %n ', :precision => 0)%></td>
         		 <td colspan="3">Anterior : <%= number_to_currency(anterior, :format=>' %n ', :precision => 0)%></td>
		         <td align="right"><%= number_to_currency(subentrada, :format=>' %n ', :precision => 0) %></td>
		         <td align="right"><%= number_to_currency(subsaida, :format=>' %n ', :precision => 0) %></td>
		         <td align="right"><%= number_to_currency(anterior.to_f + subentrada.to_f - subsaida.to_f , :format=>' %n ', :precision => 0) %></td>
		        <% else %> 
         		 <td colspan="4">Anterior : <%= number_to_currency(anterior, :format=>' %n ', :separeitor => ',')%></td>
		         <td align="right"><%= number_to_currency(subentrada, :format=>' %n ', :separeitor => ',') %></td>
		         <td align="right"><%= number_to_currency(subsaida, :format=>' %n ', :separeitor => ',') %></td>
		         <td align="right"><%= number_to_currency(anterior.to_f + subentrada.to_f - subsaida.to_f , :format=>' %n ', :separeitor => ',') %></td>
		        <% end %> 
	         </tr>

	<tr height="15">
		<td></td>	         <tr height="5">
		        <td></td>
	</tr>

	</tr>

	<% subsaida    = 0 %>
	<% subentrada  = 0 %>
	<% subsaldo    = 0 %>
	<%end%>
	
	<td class="head"  align="center"><%= h quebra = fin.data.strftime("%d/%m/%Y") %></td>

	<%end%>
	
    <% ant = ant.to_f + entrada.to_f - saida.to_f %>
	<tr>
		<td width="80" align="center"> <%= h fin.data.strftime("%d/%m/%Y")%> </td>
		<% if fin.tabela == "VENDAS_FINANCAS"%>
		   <td width="640" align="left"> <%= h fin.concepto%> - <%= h fin.persona_nome %> </td>
		<% else %>
		   <td width="640" align="left"> <%= h fin.concepto%> </td>
		<% end %>
		<td width="50" align="center"> <%= h fin.ob_ref %>  </td>		
		<% if fin.diferido > fin.data %>
		<td width="100" align="center"> <%= h fin.cheque%> D </td>
		<% else %>
		<td width="100" align="center"> <%= h fin.cheque%> </td>
		<% end %>

   	    <% if params[:moeda].to_s == '1' %>
  		  <td width="80" align="right"> <%= h number_to_currency(entrada, :format=>' %n ', :precision => 0) %> </td>
	  	  <td width="80" align="right"> <%= h number_to_currency(saida, :format=>' %n ', :precision => 0) %> </td>
		  <td width="80" align="right"> <%= h number_to_currency(ant, :format=>' %n ', :precision => 0 ) %> </td>
		<% else %>  
  		  <td width="80" align="right"> <%= h number_to_currency(entrada, :format=>' %n ', :separeitor => ',') %> </td>
	  	  <td width="80" align="right"> <%= h number_to_currency(saida, :format=>' %n ', :separeitor => ',') %> </td>
		  <td width="80" align="right"> <%= h number_to_currency(ant, :format=>' %n ', :separeitor => ',') %> </td>
		<% end %>  
		
	</tr>
	<% totentrada   += entrada.to_f %>
	<% totsaida     += saida.to_f %>
	<% subentrada   += entrada.to_f%>
	<% subsaida     += saida.to_f %>
	<% end %>

	<% condante = "data < '#{quebra}' AND ESTADO = 0 AND #{consulta_maior} > 0 AND conta_id = #{params[:busca]["conta"]}  #{moeda}" %>
    <% anterior = Financa.sum(valor_sum,:conditions => condante)%>

	<tr class="head">
  	    <% if params[:moeda].to_s == '1'%>
 		 <td colspan="4">Anterior : <%= number_to_currency(anterior, :format=>' %n ', :precision => 0)%></td>
         <td align="right"><%= number_to_currency(subentrada, :format=>' %n ', :precision => 0) %></td>
         <td align="right"><%= number_to_currency(subsaida, :format=>' %n ', :precision => 0) %></td>
         <td align="right"><%= number_to_currency(anterior.to_f + subentrada.to_f - subsaida.to_f , :format=>' %n ', :precision => 0) %></td>
        <% else %> 
 		 <td colspan="4">Anterior : <%= number_to_currency(anterior, :format=>' %n ', :separeitor => ',')%></td>
         <td align="right"><%= number_to_currency(subentrada, :format=>' %n ', :separeitor => ',') %></td>
         <td align="right"><%= number_to_currency(subsaida, :format=>' %n ', :separeitor => ',') %></td>
         <td align="right"><%= number_to_currency(anterior.to_f + subentrada.to_f - subsaida.to_f , :format=>' %n ', :separeitor => ',') %></td>
        <% end %> 
	</tr>

	<tr height="15">
		<td></td>
	</tr>

	<% subsaida    = 0 %>
	<% subentrada  = 0 %>
	<% subsaldo    = 0 %>

	<tr class="head">
      <% if params[:moeda].to_s == '1'%>	
		<td colspan="4">Anterior :<%= number_to_currency(@financas_anterior, :format=>' %n ', :precision => 0) %></td>
		<td width="80" align="right" ><%= number_to_currency(totentrada, :format=>' %n ', :precision => 0) %></td>
		<td width="80" align="right"><%= number_to_currency(totsaida, :format=>' %n ', :precision => 0) %></td>
		<td width="80" align="right"><%= number_to_currency( (@financas_anterior.to_f + totentrada) - totsaida, :format=>' %n ', :precision => 0) %></td>  	 
     <% else %>
		<td colspan="4">Anterior :<%= number_to_currency(@financas_anterior, :format=>' %n ', :separeitor => ',') %></td>
		<td width="80" align="right" ><%= number_to_currency(totentrada, :format=>' %n ', :separeitor => ',') %></td>
		<td width="80" align="right"><%= number_to_currency(totsaida, :format=>' %n ', :separeitor => ',') %></td>
		<td width="80" align="right"><%= number_to_currency( (@financas_anterior.to_f + totentrada) - totsaida, :format=>' %n ', :separeitor => ',') %></td>
  	 <% end %>
	</tr>
</table>

