<h1 align="right" id="header">Cotizaciones</h1>
<%= form_for(@moeda) do |f| %>

  <% if @moeda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moeda.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @moeda.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <ul class="tabs">
      <li><a href="#tab1">Cotizacion - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">


  <div class="group">
    <table>
      <tr>
        <td valign="top" width="700">

          <table>
            
              <tr>
                <td align="right">Fecha :</td>
                <td><%= f.date_select :data %></td>
              </tr>
              <tr>
                <td align="right">Dolar Compra :</td>
                <td><%= f.text_field :dolar_compra,
                                     :size => 15  %></td>
              </tr>
              <tr>
                <td align="right">Dolar Venta :</td>
                <td><%= f.text_field :dolar_venda,
                                     :size => 15 %></td>
              </tr>

              <tr>
                <td align="right">Real Compra :</td>
                <td><%= f.text_field :real_compra,
                                     :size => 15  %></td>
              </tr>
              <tr>
                <td align="right">Real Venta :</td>
                <td><%= f.text_field :real_venda,
                                     :size => 15 %></td>
              </tr>


              <tr>
                <td align="right">Cotizacion Oficial Compra :</td>
                <td><%= f.text_field :cotacao_oficial_compra,
                                     :size => 15 %></td>
              </tr>

              <tr>
                <td align="right">Cotizacion Oficial Venta :</td>
                <td><%= f.text_field :cotacao_oficial_venda,
                                     :size => 15 %></td>
              </tr>
            
          </table>

        </td>

        <td>

          <iframe name="I2" width="300" height="193" src="http://www.cambioschaco.com.py/php/chaco_cotizaciones_nuevo.php" scrolling="no" border="0" frameborder="0" style="border: 1px dotted #CCCCCC; padding-left: 1px; padding-right: 1px; padding-top: 1px; padding-bottom: 1">
          </iframe>

        </td>
      </tr>
    </table>

  </div>
      </div>

   <div class="buttons">
      <%= link_to 'Volver', moedas_path , :class => "button back"%>
      <%= f.submit "   Grabar  ",:disable_with => "Aguarde..."  , :class => "button"%> 
   </div>
 </div>
<% end %>