<h1 align="right" id="header">Cotizacion</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_moeda_path,:class => 'button add' %>	
</div>
<div class="group">

  <h2>Cotizaciones</h2>
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="80" align="center">Fecha</td>
      <td width="100" align="center">U$. Compra</td>
      <td width="100" align="center">U$. Venta</td>
      <td width="100" align="center">Ofic. Compra</td>
      <td width="100" align="center">Ofic. Venta</td>
    </tr>
  </table>

  <div class="rolagem" id="div">
    <table >
      <% @moedas.each do |m| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50" align="center"><%=h m.id %></td>
          <td width="80" align="center"><%=h m.data.strftime("%d/%m/%Y") %></td>
          <td width="100" align="right">   <%=h number_to_currency(m.dolar_compra, :format=>' %n ', :separeitor => ',' )  %></td>
          <td width="100" align="right">   <%=h number_to_currency(m.dolar_venda, :format=>' %n ', :separeitor => ',' )  %></td>
          <td width="100" align="right">   <%=h number_to_currency(m.cotacao_oficial_compra, :format=>' %n ', :separeitor => ',' )  %></td>
          <td width="100" align="right">   <%=h number_to_currency(m.cotacao_oficial_venda, :format=>' %n ', :separeitor => ',' )  %></td>
          <td><%= link_to 'Editar', edit_moeda_path(m) %></td>
          <td><%= link_to 'Borrar', m, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


