<h1 align="right" id="header">Estados</h1>
<%= link_to 'Nuevo', new_paise_path %>

<div class="group">
  <h2>Paises</h2>
<table>
  <tr>
    <td width="50"align="center">Cod.</td>
    <td width="100"align="center">Pais</td>
  </tr>
</table>
<div class="rolagem" id="div">
<table>
  <% for paise in @paises %>
    <tr class = "<%= cycle("cor1", "cor2") %>">
      <td width="50" align="center"><%=h paise.id %></td>
      <td width="100" align="left"><%=h paise.nome %></td>      
      <td><%= link_to 'Editar', edit_paise_path(paise) %></td>
      <td><%= link_to 'Borrar', paise, :confirm => 'Tien Certeza ?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


</div>
</div>