<h1 align="right" id="header">Variables</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_variavel_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="50" align="center">Sigla</td>
            <td width="400" align="center">Nombre</td>
            <td width="250" align="center">Unidad Métrica</td>
            <td width="50" align="center">Valor</td>
          </tr>
</table>

<div class="rolagem" dir="div">
<table>
<% @variavels.each do |variavel| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= variavel.sigla %></td>
    <td width="400" align="left"><%= variavel.nome %></td>
    <td width="250" align="left"><%= variavel.unidade_metrica_nome %></td>
    <td width="50" align="left"><%= variavel.valor %></td>

    <td><%= link_to 'Editar', edit_variavel_path(variavel) %></td>
    <td><%= link_to 'Borrar', variavel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>