
<table>
   <tr>
      <td valign="top">
         <fieldset>
         <table>
            <tr>
              
              <%= field_text 'Producto :',2,f,:nome,60,'produto_tipo_produto_0' %>

              <td colspan="2">
              <fieldset>
              <legend>Tipo</legend>
                <table>
                  <tr>
                    <td><%= f.radio_button :tipo_produto, 0,
                   						   :onkeyup    => "EnterTab(event,'produto_nome_fatura')",
                   						   :onkeypress => "return bloqEnter(event)",
                   						   :checked => true %>  Mercaderia</td>
                   						   
                    <td><%= f.radio_button :tipo_produto, 1,
                   						   :onkeyup    => "EnterTab(event,'produto_nome_fatura')",
                   						   :onkeypress => "return bloqEnter(event)" %>  Servicios</td>
                  </tr>
                </table>
              </fieldset>        
             </td>
            </tr>

            <tr>
               <%= field_text 'Nombre en la Factura :',2,f,:nome_fatura,60,'produto_clase_id' %>
            </tr>


            <tr>
               <td align="right">Clase :</td>
               <td colspan="3"><%= f.collection_select :clase_id, Clase.all(:select => 'id,descricao',:order => '2'),:id,:descricao,{},{
               										    :onkeyup    => "EnterTab(event,'produto_grupo_id')",
                   						   				:onkeypress => "return bloqEnter(event)"} %>
                  Grupo :
                  <%= f.collection_select :grupo_id, Grupo.all(:select => 'id,descricao',:order => '2'),:id,:descricao,{},{
               										    :onkeyup    => "EnterTab(event,'produto_sub_grupo_id')",
                   						   				:onkeypress => "return bloqEnter(event)"} %>
                  </td>

            </tr>

            <tr>
            	
               <td align="right">Embalagem :</td>
               <td><%= f.text_field :embalagem,
                                    :size       => 20,
                                    :onkeyup    => "EnterTab(event,'produto_montagem')",
                   					:onkeypress => "return bloqEnter(event)" %>
                                    
                   <%= f.check_box :montagem,
                                    :onkeyup    => "EnterTab(event,'produto_referencia')",
                   					:onkeypress => "return bloqEnter(event)" %>Montagen</td>

               <td align="right">Referencia :</td>
               <td width="230"><%= f.select :referencia,
                    (
                     [
                        ["UN", "UN"],
                        ["BL", "BL"],
                        ["LT", "LT"],
                        ["MT", "MT"],
                        ["KG", "KG"],
                        ["PQ", "PQ"],
                        ["TON", "TON"]

                     ]
                  ),{},{:onkeyup    => "EnterTab(event,'produto_fabricante_id')",
                   		:onkeypress => "return bloqEnter(event)"} %>
                  <a href="javascript:;" onmousedown="toggleDiv('mydiv');">Detalhes de Ref.</a>
                  <div id="mydiv" style="display:none">
                     <p>UN  = UNIDADE</p>
                     <p>BL  = BOLSAS</p>
                     <p>LT  = LITROS</p>
                     <p>MT  = METROS</p>
                     <p>KG  = KILOS</p>
                     <p>PQ  = PAQUETE</p>
                     <p>TON = TONELADA</p>

                  </div>
               </td>
            </tr>

            <tr >
               <td align="right">Proveedor :</td>
               <td><%= f.collection_select :fabricante_id, Persona.all(:select => 'id,nome',:conditions =>['tipo_fornecedor = 1'],:order => '2'),:id,:nome,
               								{:include_blank => true },
               								{:onkeyup    => "EnterTab(event,'produto_fabricante_cod')",
                   		:onkeypress => "return bloqEnter(event)"} %></td>

               <td align="right">Cod. Fabricante :</td>
               <td><%= f.text_field :fabricante_cod,
                    :size => 20,:onkeyup    => "EnterTab(event,'produto_barra')",
                   				:onkeypress => "return bloqEnter(event)" %></td>
            </tr>

            <tr >
               <td align="right">Barra :</td>
               <td><%= f.text_field :barra,
                    				:size       => 20,
                    				:onkeyup    => "EnterTab(event,'produto_locacao')",
                   					:onkeypress => "return bloqEnter(event)" %></td>
                    
                    
               <td align="right">Ubicacion :</td>
               <td><%= f.text_field :locacao,
                                    :size => 20,
                    				:onkeyup    => "EnterTab(event,'produto_taxa')",
                   					:onkeypress => "return bloqEnter(event)" %></td>
                    
            </tr>
            <tr >

               <td align="right">Peso Bruto :</td>
               <td><%= f.text_field :peso_bruto,
                            :size       => 20,
                            :onkeyup    => "EnterTab(event,'produto_peso')",
                            :onkeypress => "return bloqEnter(event)" %></td>

               <td align="right">Peso Neto :</td>
               <td><%= f.text_field :peso,
                    				:size       => 20,
                    				:onkeyup    => "EnterTab(event,'produto_stock_minimo')",
                   					:onkeypress => "return bloqEnter(event)" %></td>

            </tr>
            <tr>
               <td align="right">Iva :</td>
               <% if @produto.taxa == 0 %>
               <td width="230"><%= f.text_field :taxa, :value => 10, :size => 20 %>
                <% else %>
                <td width="230"><%= f.text_field :taxa, :size => 20 %>
                <% end %>
               </td>          
            </tr>

            <tr>
               <td align="right">Stock Min. :</td>
               <td><%= f.text_field :stock_minimo,
                    				:size       => 20,
                    				:onkeyup    => "EnterTab(event,'produto_stock_maximo')",
                   					:onkeypress => "return bloqEnter(event)" %>  </td>

               <td align="right">Stock Max. :</td>
               <td><%= f.text_field :stock_maximo,
                    				:size       => 20,
                    				:onkeyup    => "EnterTab(event,'produto_data')",
                   					:onkeypress => "return bloqEnter(event)" %>  </td>

            </tr>
         </table>
        </fieldset>
      </td>


      <td rowspan="4" valign="top">
      <div id="sidebar">
      <table>
        <tr>
           <td>
              <div class="avatar">
              <table>
                 <tr>

                    <td>
                       <% if @produto.picture_content_type.present? %>
                          <%= image_tag @produto.picture.url,:size => "240x210" %>
                       <% else %>
                          <%= image_tag ('../images/defalt.jpg') %>
                       <% end %>
                    </td>

                 </tr>
              </table>
                 </div>
           </td>
        </tr>

        <tr>
           <td colspan="2"><%= f.file_field :picture,:size => 23 %><br/><hr/></td>
        </tr>
              <tr>
                <td colspan="2">
                  <fieldset>
                     <table>
                      <tr>
                       <td>
                          <div class="stock_atual">
                                Stock Atual : <%= @quantidade %>  |
                          </div>
                       </td>
                       <td align="right">
                           <a href="javascript:void(0)" onClick="AbrirHistoricoPreco('<%= @produto.id.to_i %>')">Hist. Precio</a>
                       </td>
                      </tr>
                    </table>
                  </fieldset>
                </td>
              </tr>
              <tr>
              	<td valign="top" colspan="2">
              	Obs.: <%= f.text_area :obs, :rows => 5, :cols => 25%>
              	</td>
              </tr>
         </table>
        </div>
      </td>
   </tr>

   <tr>
      <td>
         <fieldset>
            <legend>Tabla de Precios</legend>
              <!-- BASE CALCULOS DE PRECO DE VENDA !-->
              <%= hidden_field_tag :base_calc, Empresa.first.base_calc_preco_venda %>

               <%= hidden_field_tag :custo_dolar, number_to_currency( @produto.custo_produto_dolar_iva, :format =>' %n ', :separeitor => "," ) %>

               <%= hidden_field_tag :custo_guarani, number_to_currency( @produto.custo_produto_guarani_iva, :format =>' %n ', :precision => 0 ) %>




             <table>
              <tr>
                <td align="right">Fecha:</td>
                <td colspan="3"> <%= f.date_select :data %></td>  
              </tr>

              <tr >
                <td align="right">Cotizacion :</td>
                <td> <%= text_field  :produto, :cotacao,
                                     :size     => 10,
                                     :value    => @produto.cotacao.to_i,
                                     :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                                                    type: 'POST',
                                                    data: 'data=' + $('#produto_data_3i').val()+'/'+
                                                    $('#produto_data_2i').val()+'/'+
                                                    $('#produto_data_1i').val(),
                                                    success: function(data){
                                                      $('#produto_cotacao').val(data);} })"%>
                </td>

                <td align="right">Cotizacion R$ :</td>
                <td> <%= text_field  :produto, :cotacao_real,
                                     :size     => 10,
                                     :value    => @produto.cotacao_real.to_i,
                                     :onfocus  => " $.ajax({url: '/buscas/cotz_rs_compra',
                                                    type: 'POST',
                                                    data: 'data=' + $('#produto_data_3i').val()+'/'+
                                                    $('#produto_data_2i').val()+'/'+
                                                    $('#produto_data_1i').val(),
                                                    success: function(data){
                                                      $('#produto_cotacao_real').val(data);} })"%>
                </td>

                    <td align="right">Max. Descuento :</td>
                    <td><%= f.text_field :desconto,
                                         :size       => 15,
                                         :dir      => "rtl",
                    				     :onkeyup    => "EnterTab(event,'produto_preco_venda_guarani')",
                   					     :onkeypress => "return bloqEnter(event)" %> % </td>

               </tr>

               <tr>

                 <%= field_gs 'Precio Cons. Final Gs.:',f,:preco_venda_guarani,:onblur => "GsToUs('produto_cotacao','produto_preco_venda_guarani','produto_preco_venda_dolar')" %>

                 <%= field_us 'U$ :',f,:preco_venda_dolar, :onchange => "UsToGs('produto_cotacao','produto_preco_venda_dolar','produto_preco_venda_guarani')" %>

                 <%= field_us 'R$ :',f,:preco_venda_real, :onchange => "UsToGs('produto_cotacao','produto_preco_venda_dolar','produto_preco_venda_guarani')" %>

               </tr>

               <% if  Empresa.first.base_calc_preco_venda ==1 %>

               <tr>

                 <%= field_gs '7 Cuotas Gs.:',f,:preco_maiorista_guarani,:onblur => "GsToUs('produto_cotacao','produto_preco_maiorista_guarani','produto_preco_maiorista_dolar')" %>

                 <%= field_us 'U$ :',f,:preco_maiorista_dolar,:onchange => "UsToGs('produto_cotacao','produto_preco_maiorista_dolar','produto_preco_maiorista_guarani')" %>

               </tr>
               
               <tr>

                 <%= field_gs '12 Coutas Gs.:',f,:preco_minorista_guarani,:onblur => "GsToUs('produto_cotacao','produto_preco_minorista_guarani','produto_preco_minorista_dolar')" %>

                 <%= field_us 'U$ :',f,:preco_minorista_dolar,:onchange => "UsToGs('produto_cotacao','produto_preco_minorista_dolar','produto_preco_minorista_guarani')" %>

               </tr>
              <% else %>

               <tr>

                 <%= field_gs 'Precio Maiorista Gs.:',f,:preco_maiorista_guarani,:onblur => "GsToUs('produto_cotacao','produto_preco_maiorista_guarani','produto_preco_maiorista_dolar')" %>

                 <%= field_us 'U$ :',f,:preco_maiorista_dolar,:onchange => "UsToGs('produto_cotacao','produto_preco_maiorista_dolar','produto_preco_maiorista_guarani')" %>

                 <%= field_us 'R$ :',f,:preco_maiorista_real,:onchange => "UsToGs('produto_cotacao','produto_preco_maiorista_dolar','produto_preco_maiorista_guarani')" %>

               </tr>
               
               <tr>

                 <%= field_gs 'Precio Sucursales Gs.:',f,:preco_minorista_guarani,:onblur => "GsToUs('produto_cotacao','produto_preco_minorista_guarani','produto_preco_minorista_dolar')" %>

                 <%= field_us 'U$ :',f,:preco_minorista_dolar,:onchange => "UsToGs('produto_cotacao','produto_preco_minorista_dolar','produto_preco_minorista_guarani')" %>

                 <%= field_us 'R$ :',f,:preco_minorista_real,:onchange => "UsToGs('produto_cotacao','produto_preco_minorista_dolar','produto_preco_minorista_guarani')" %>


               <td><%= f.text_field :porcen_mino,
                                    :size       => 3,
                                    :dir        => "rtl",
                    				:onkeyup    => "EnterTab(event,'produto_submit')",
                   					:onkeypress => "return bloqEnter(event)"
                                     %> % </td>

               </tr>
              <% end %>

             </table>
          </fieldset>
          
      </td>
   </tr>

   <tr>
      <td>
         <table>
           <tr>
             <td valign="top">
               <fieldset>
                 <legend>Ult. Compra</legend>
                 <table>
                   <tr>
                     <td>Fecha Ult. Compra :</td>
                     <td><%= @produto.compras_produtos.last ? @produto.compras_produtos.last.data.strftime("%d/%m/%Y") : "00/00/0000" %></td>
                   </tr>
                   <tr>
                     <td>Cantidad Compra :</td>
                     <td><%= @produto.compras_produtos.last ? @produto.compras_produtos.last.quantidade : "0.000" %></td>
                   </tr>
                   <tr>
                     <td>Unit. Gs.:</td>
                     <td><%= @produto.compras_produtos.last ? @produto.compras_produtos.last.unitario_guarani : "0.000" %></td>

                     <td>U$ :</td>
                     <td><%= @produto.compras_produtos.last ? @produto.compras_produtos.last.unitario_dolar : "0.000" %></td>

                   </tr>

                   <tr>
                     <td>Proveedor:</td>
                     <td colspan="2"><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.persona_nome : "----" %></td>
                   </tr>

                 </table>
               </fieldset>
             </td>

             <!-- ULTIMA VENDA   ---------------------------------------------------- !-->
             <td valign="top">
               <fieldset>
                 <legend>Ult. Ventas</legend>

                 <table>
                   <tr>
                     <td>Fecha Ult. Venta :</td>
                     <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.data.strftime("%d/%m/%Y") : "00/00/0000" %></td>
                   </tr>
                   <tr>
                     <td>Cantidad Venta :</td>
                     <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.quantidade : "0.000" %></td>
                   </tr>
                   <tr>
                     <td>Unit. Gs.:</td>
                     <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.unitario_guarani : "0.000" %></td>

                     <td>U$ :</td>
                     <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.unitario_dolar : "0.000" %></td>
                   </tr>

                   <tr>
                     <td>Cliente:</td>
                     <td colspan="2"><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.persona_nome : "----" %></td>
                   </tr>

                 </table>
               </fieldset>
             </td>
           </tr>
         </table>
      </td>
   </tr>
</table>



