<%= form_for(@unidade_metrica) do |f| %>
  <% if @unidade_metrica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unidade_metrica.errors.count, "error") %> prohibited this unidade_metrica from being saved:</h2>

      <ul>
      <% @unidade_metrica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="tabs">
      <li><a href="#tab1"> Unidade Metrica - [Edicion]</a></li>
   </ul>


    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Nome :</td>
                    <td><%= f.text_field :nome %></td>                        
                  
                    <td align="right">Sigla :</td>
                    <td><%= f.text_field :sigla %></td>       
                  </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', unidade_metricas_path, :class => "button back" %>
      </div>

    </div>
<% end %>