<body onload="ImputFocus('codigo')">
<% form_for(pedido_compra_produto) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :pedido_compra_id %>
    <%= f.hidden_field :clase_id  %>
    <%= f.hidden_field :grupo_id  %>
    <%= f.hidden_field :sub_grupo_id  %>
    <%= f.hidden_field :produto_id  %>
    <%= f.hidden_field :moeda, :value => @pedido_compra.moeda  %>
    <%= f.hidden_field :cotacao, :value => @pedido_compra.cotacao  %>
    <%= f.hidden_field :data, :value => @pedido_compra.data  %>
 
    <div class="group">
        <table>
            <tr>
              <td align="right">Deposito:</td>
              <td><%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>



               <td align="right">Producto :</td>


               <td colspan="5">

                   <%= text_field_tag( 'codigo',
                                                      nil,
                                                      :id     => "codigo",
                                                      :onblur => remote_function( :update     => "codigo",
                                                                                    :url        => { :action     => :get_codigo_barra_produto },
                                                                                    :with       => "'codigo='+this.value"),
                                                                                    :size       => 5,
                                                                                    :onkeyup    => "f(this),EnterTab(event,'vendas_produto_quantidade')",
                                                                                    :onkeypress => "return bloqEnter(event)"

                   ) %>
                   <%= f.text_field :produto_nome, :size => 70 %>
                   <%= f.hidden_field :produto_fabricante_cod %>
                </tr>  
                <tr>  

               <td align="right">Cantidad :</td>
               <td><%= f.text_field  :quantidade,
                                     :size     => 15 ,
                                     :dir      => "rtl",
                                     :onblur   => "QtdToTotUs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_dolar','pedido_compra_produto_total_dolar'),
                                                   QtdToTotGs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_guarani','pedido_compra_produto_total_guarani'), 
                                                   UsToGs('pedido_compra_produto_cotacao','pedido_compra_produto_total_dolar','pedido_compra_produto_total_guarani'),
                                                   GsToUs('pedido_compra_produto_cotacao','pedido_compra_produto_total_guarani','pedido_compra_produto_total_dolar')" %></td>

              <% if @pedido_compra.moeda == 0%>
                 <%= field_us 'Unit. U$ :',f,:unitario_dolar,
                                     :onblur   => "QtdToTotUs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_dolar','pedido_compra_produto_total_dolar'),
                                                   QtdToTotGs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_guarani','pedido_compra_produto_total_guarani'), 
                                                   UsToGs('pedido_compra_produto_cotacao','pedido_compra_produto_total_dolar','pedido_compra_produto_total_guarani')"%>
 
                 <%= field_gs ' Tot. :',f,:total_dolar %>
                
                 <%= f.hidden_field :unitario_guarani %>
                 <%= f.hidden_field :total_guarani %>               
             <% else %>  
                <%= field_gs 'Unit. Gs :',f,:unitario_guarani,
                                     :onblur   => "QtdToTotUs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_dolar','pedido_compra_produto_total_dolar'),
                                                   QtdToTotGs('pedido_compra_produto_quantidade','pedido_compra_produto_unitario_guarani','pedido_compra_produto_total_guarani'),                                                    
                                                   GsToUs('pedido_compra_produto_cotacao','pedido_compra_produto_total_guarani','pedido_compra_produto_total_dolar')"%>

                <%= field_gs ' Tot. :',f,:total_guarani %>

                <%= f.hidden_field :unitario_dolar %>
                <%= f.hidden_field :total_dolar %>
             <% end %>  

              <td align="left" >Saldo : <font color="red"><SPAN id="red"></SPAN> </font>
                                        <font color="green"><SPAN id="green"></SPAN> </font>
              </td>


               <td align="left">
                 <%= f.submit 'Grabar',:class => "button" %>
               </td>

            </tr>
            
        </table>        
    </div>

<% end %>

