<div class="group">
	<table class="head_grid">
		<tr>
			<td width="80" align="center">Fecha</td>
			<td width="50" align="center">Obra.</td>
			<td width="450" align="center">Funcionario</td>
			<td width="100" align="center">Status</td>
			<td width="100" align="center">Concepto</td>
		</tr>
	</table>
	<div class="rolagem_cobro" dir="div">
		<table>
			<% entrada_saida_func_detalhes.each do |entrada_saida_func_detalhe| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
				<td width="80" align="center"><%=h entrada_saida_func_detalhe.data.strftime("%d/%m/%Y") %></td>
				<td width="50" align="center"><%=h entrada_saida_func_detalhe.ob_ref %></td>
				<td width="450" align="left"><%=h truncate(entrada_saida_func_detalhe.persona_nome, :leght => 20) %></td>
				<% if entrada_saida_func_detalhe.status == 0 %>
				<% st = 'Entrada'%>
				<% else %>
				<% st = 'Salida'%>
				<% end %>
				<td width="100" align="left"><%=h st %></td>
				<td width="150" align="left"><%=h truncate(entrada_saida_func_detalhe.descricao, :leght => 15) %></td>
				<td><%= link_to 'Editar', edit_entrada_saida_func_detalhe_path(entrada_saida_func_detalhe) %></td>
				<td><%= link_to 'Borrar', entrada_saida_func_detalhe, :confirm => 'Esta seguro?', :method => :delete %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

