<h1>New entrada_saida_func_detalhe</h1>

<% form_for(@entrada_saida_func_detalhe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :entrada_sainda_func_id %><br />
    <%= f.text_field :entrada_sainda_func_id %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :ob_ref %><br />
    <%= f.text_field :ob_ref %>
  </p>
  <p>
    <%= f.label :persona_id %><br />
    <%= f.text_field :persona_id %>
  </p>
  <p>
    <%= f.label :persona_nome %><br />
    <%= f.text_field :persona_nome %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :servico %><br />
    <%= f.text_field :servico %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', entrada_saida_func_detalhes_path %>