<p>
  <b>Entrada sainda func:</b>
  <%=h @entrada_saida_func_detalhe.entrada_sainda_func_id %>
</p>

<p>
  <b>Data:</b>
  <%=h @entrada_saida_func_detalhe.data %>
</p>

<p>
  <b>Ob ref:</b>
  <%=h @entrada_saida_func_detalhe.ob_ref %>
</p>

<p>
  <b>Persona:</b>
  <%=h @entrada_saida_func_detalhe.persona_id %>
</p>

<p>
  <b>Persona nome:</b>
  <%=h @entrada_saida_func_detalhe.persona_nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @entrada_saida_func_detalhe.descricao %>
</p>

<p>
  <b>Status:</b>
  <%=h @entrada_saida_func_detalhe.status %>
</p>

<p>
  <b>Servico:</b>
  <%=h @entrada_saida_func_detalhe.servico %>
</p>


<%= link_to 'Edit', edit_entrada_saida_func_detalhe_path(@entrada_saida_func_detalhe) %> |
<%= link_to 'Back', entrada_saida_func_detalhes_path %>