<body onload="ImputFocus('nota_credito_proveedor_data_3i')">
      <h1 align="right" id="header">Nota de Credito Proveedor</h1>
<%= form_for(@nota_credito_proveedor) do |f| %>
    <% if @nota_credito_proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_credito_proveedor.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @nota_credito_proveedor.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
             <%= f.hidden_field :persona_id %>
             <%= f.hidden_field :direcao %>
             <%= f.hidden_field :cidade_id %>
             <%= f.hidden_field :cidade %>

             <ul class="tabs">
                 <li><a href="#tab1">N.C. Proveedor - [Edicion]</a></li>
             </ul>

             <div class="tab_container">
                  <div id="tab1" class="tab_content">

                      <table>

                        <tr>
                          <td align="right" class="label"> Fecha:</td>
                          <td><%= f.date_select :data %></td>
                        </tr>

                        <tr>
                            <td class="label">Cotizacion U$:</td>
                            <td>  <%= text_field :nota_credito_proveedor, :cotacao ,
                                                 :size     => 10,
                                                 :value    => @nota_credito_proveedor.cotacao.to_i,
                                                 :onfocus => " $.ajax({url: '/buscas/cotz_us_compra',
                                                           type: 'POST',
                                                           data: 'data=' + $('#nota_credito_proveedor_data_3i').val()+'/'+
                                                                           $('#nota_credito_proveedor_data_2i').val()+'/'+
                                                                           $('#nota_credito_proveedor_data_1i').val(),
                                                                           success: function(data){
                                                                                             $('#nota_credito_proveedor_cotacao').val(data);} })"%>
                            </td>
                        </tr>

                        <tr>
                           <td></td>
                           <td>
                              <table>
                                 <tr>
                                    <td>
                                       <fieldset>
                                          <legend>Tipo Producto</legend>
                                          <%= f.radio_button :clase_produto, 0,  :Checked => "True"%>Repuestos
                                          <%= f.radio_button :clase_produto, 1  %> Maquinario
                                       </fieldset>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>



                        <tr>
                          <td align="right">Proveedor :</td>
                          <td colspan="2">
                               <%= f.text_field :persona_nome,
                                                :size => 50 %>Pulse F2 para buscar.</td>
                         </tr>

                         <tr>
                           <td align="right">RUC/CI : </td>
                           <td><%= f.text_field :ruc,
                                                :size     => 15,
                                                :readonly => "readonly" %></td>
                         </tr>

                         <tr>
                           <td align="right">Telefone:</td>
                           <td><%= f.text_field :telefone,
                                                :size     => 15,
                                                :readonly => "readonly" %></td>
                         </tr>

                         <tr>
                          <td></td>
                          <td>
                            <table>
                              <tr>
                                <td width="200">
                                    <fieldset>
                                    <legend>Operación</legend>

                                      <%= f.radio_button :operacao, 0,  :Checked => "True" %> Devoluciones
                                      <br/>
                                      <%= f.radio_button :operacao, 1 %> Descuentos
                                    </fieldset>
                                </td>

                                <td>
                                  <fieldset>
                                  <legend>Moneda</legend>

                                  <%= f.radio_button :moeda, 0,  :Checked => "True" %> Dolar
                                  <br/>
                                  <%= f.radio_button :moeda, 1 %> Guaranis
                                  </fieldset>
                                </td>
                           <td>
                   <fieldset>
                     <legend>Tipo</legend>
                     <%= f.radio_button :tipo, 0,  :Checked => "True" %> Contado
                     <br/>
                     <%= f.radio_button :tipo, 1 %> Credito
                   </fieldset>
                 </td>
                </tr>
              </table>
             </td>

          </tr>
        </table>
      </table>
    </div>
   <div class="buttons">
        <%= link_to 'Volver', nota_credito_proveedors_path,:class => 'button back' %> 
         <%= f.submit "Seguir",:disable_with => "Aguarde..." , :class => "button" %>
    </div>
 </div>

  <%end%>

  <script>
    function fecha()
    {
      self.close();
    }
    //ABRI POPUP-----------------------------------------------------------------
    document.onkeydown=function(e)
    {
      if(e.which == 113)
        window.open('/personas/persona_nota_credito_proveedor', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=450');
    }
    //FIM ABRI POPUP----------------------------------------------------------------

  </script>
</body>







