<div class="groupvenda">
    <table>
      <tr>
        <td width="150" align="center">Cod.</td>
        <td width="150" align="center">Fecha</td>
        <td width="350" align="center">Documento</td>
      </tr>
    </table>

    <div class="rolagem_cobro" dir="div">

      <table>
        <% @faturas.each do |ft| %>
           <tr class = "<%= cycle("cor1", "cor2") %>"
              onMouseOver="javascript:this.style.backgroundColor='#949494'"
              onMouseOut="javascript:this.style.backgroundColor=''"
              onClick="Fecha( '<%= ft.id %>',
                              '<%= ft.documento_numero_01 %>',
                              '<%= ft.documento_numero_02 %>',
                              '<%= ft.documento_numero %>')">
             <td width="150" align="center"><%= ft.id%></td>                        
             <td width="150" align="center"><%= ft.data.strftime("%d/%m/%Y") %></td>                        
             <td width="350" align="center"><%= ft.documento_numero_01 %>-<%= ft.documento_numero_02 %>-<%= ft.documento_numero %></td>                        
           </tr>
        <% end %>
      </table>
    </div>
</div>