<h1 align="right" id="header">Cobros</h1>


<<<<<<< HEAD
<%= form_for(@cobros_financa) do |f| %>
   <%=  f.hidden_field :cobro_id%>
   <%=  f.hidden_field :data,:value => @cobros_financa.cobro.data %>
   <%=  f.hidden_field :persona_id,  :value => @cobros_financa.cobro.persona_id %>
   <%=  f.hidden_field :persona_nome,:value => @cobros_financa.cobro.persona_nome %>
   <%= hidden_field_tag :cotacao, @cobros_financa.cobro.cotacao.to_i %>
   <%= hidden_field_tag :cotacao_real, @cobros_financa.cobro.cotacao_real.to_i %>
   <input type="hidden" id="data" value="<%= @cobros_financa.cobro.data.strftime("%d").to_i%>"/>
   <input type="hidden" id="mes" value="<%= @cobros_financa.cobro.data.strftime("%m").to_i%>"/>
   <input type="hidden" id="ano" value="<%= @cobros_financa.cobro.data.strftime("%Y").to_i%>"/>
    
   <div class="group_cd">
      <table>

          <tr>
           <td align="right">Moneda :</td>
            <td>
              <fieldset>
                <%= f.radio_button :moeda, 0 ,  :Checked => "True" %> Dolar
                <%= f.radio_button :moeda, 1 %> Gs.
                <%= f.radio_button :moeda, 2 %> Reais.
              </fieldset>
            </td>
          </tr>

         <tr>
               <%= field_us 'Total U$:',f,:valor_dolar,
                             :onchange   => "UsToGsRs('cotacao','cotacao_real','cobros_financa_valor_dolar','cobros_financa_valor_guarani','cobros_financa_valor_real')" %>

               <%= field_gs 'Total Gs.:',f,:valor_guarani,
                  :onchange => "GsToUsRs('cotacao','cotacao_real','cobros_financa_valor_guarani','cobros_financa_valor_dolar','cobros_financa_valor_real')" %>

               <%= field_us 'Total Rs.:',f,:valor_real,
                        :onchange   => "RsToUsGs('cotacao','cotacao_real','cobros_financa_valor_guarani','cobros_financa_valor_dolar','cobros_financa_valor_real')" %>

         </tr>


          <tr>
              <td colspan="4">
                <div class="group">
                  <table>
                    <tr>
                      <td align="right">Cuenta :</td>
                      <td><%= f.collection_select :conta_id, Conta.all( :select     =>' id,nome', :order      => '1'), :id,:nome,{},{:onkeyup     => "EnterTab(event,'vendas_financa_cheque')"} %></td>
 
                      <td align="right"></td>
                      <td><%= f.check_box :cheque_status, :onchange => "toggleDiv('mydiv'),toggleDiv('mydiv2');"%> Cheque?</td>
                    </tr>
                  </table>
 
                  <div id="mydiv" style="display:none;">
                    <table>

                      <tr>
                        <td align="right">Cheque Us.: </td>
                        <td><%= f.text_field :cheque_valor_dolar,
                                             :size    => 15,
                                             :onkeyup =>"maskIt(this,event,'###.###.###.###,##',true)",
                                             :onblur   => "UsToGsRs('cotacao','cotacao_real','cobros_financa_cheque_valor_dolar','cobros_financa_cheque_valor_guarani','cobros_financa_cheque_valor_real') ,CobrosVultos()",
                                             :dir     =>"rtl" %></td>

                        <td align="right">Gs.: </td>
                        <td><%= f.text_field :cheque_valor_guarani,
                                             :size    => 15,
                                             :onkeyup =>"maskIt(this,event,'###.###.###.###',true)",
                                              :onblur => "GsToUsRs('cotacao','cotacao_real','cobros_financa_cheque_valor_guarani','cobros_financa_cheque_valor_dolar','cobros_financa_cheque_valor_real'),CobrosVultos()",
                                             :dir     =>"rtl" %>
                          R$. <%= f.text_field :cheque_valor_real,
                                             :size    => 15,
                                             :onkeyup =>"maskIt(this,event,'###.###.###.###,##',true)",
                                              :onblur   => "RsToUsGs('cotacao','cotacao_real','cobros_financa_cheque_valor_guarani','cobros_financa_cheque_valor_dolar','cobros_financa_cheque_valor_real'),CobrosVultos()",
                                             :dir     =>"rtl" %>


                                           </td>
                      </tr>

                      <tr>
                        <td align="right">Cheque:</td>
                        <td><%= f.text_field :cheque,
                                             :size        => 15,
                                             :onkeypress  => "return bloqEnter(event)",
                                             :onkeyup     => "EnterTab(event,'vendas_financa_diferido_3i')"%></td>
 
                        <td align="right">Diferido:</td>
                        <td><%= f.date_select( :diferido, {},{:onkeyup     => "EnterTab(event,'vendas_financa_transportadora_id')"} )%></td>
                      </tr>

                      <tr>
                        <td align="right">Banco : </td>
                        <td><%= f.text_field :banco,:size => 15%></td>

                        <td align="right">Titular : </td>
                        <td colspan="3"><%= f.text_field :titular,:size => 25 %></td>
                      </tr>
                    </table>
                  </div>
                </div>

            
            </td>

               <td valign="top">
                 <div id="mydiv2" style="display:none;">

                  <div class="group">

                 <table>
                    <tr>
                      <td align="right">Vuelto Cuenta :</td>
                      <td colspan="6"><%= f.collection_select :vuelto_conta_id, Conta.all( :select     =>' id,nome', :order      => '1'), :id,:nome,{},{:onkeyup     => "EnterTab(event,'vendas_financa_cheque')"} %></td>

                      <td align="right"></td>
                      <td><%= f.check_box :vuelto_cheque_status %> Cheque?</td>

                    </tr>

                    <tr>
                      <td align="right"> Vuelto Cheque:</td>
                      <td><%= f.text_field :vuelto_cheque,
                                           :size => 15,
                                           :onkeypress  => "return bloqEnter(event)",
                                           :onkeyup     => "EnterTab(event,'vendas_financa_diferido_3i')"%></td>

                      <td align="right"> Vuelto Diferido:</td>
                      <td colspan="4"><%= f.date_select( :vuelto_diferido, {},{:onkeyup     => "EnterTab(event,'vendas_financa_transportadora_id')"} )%></td>
                    </tr>


                    <tr>
                       <%= field_us 'Vuelto Valor U$.:',f,:vuelto_valor_dolar,
                                                          :onchange   => "UsToGsRs('cotacao','cotacao_real','cobros_financa_vuelto_valor_dolar','cobros_financa_vuelto_valor_guarani','cobros_financa_vuelto_valor_real')" %>
                       <%= field_gs 'Gs.:',f,:vuelto_valor_guarani,
                                                          :onchange => "GsToUsRs('cotacao','cotacao_real','cobros_financa_vuelto_valor_guarani','cobros_financa_vuelto_valor_dolar','cobros_financa_vuelto_valor_real')" %>
                       <%= field_us 'R$.:',f,:vuelto_valor_real,
                                                           :onchange   => "RsToUsGs('cotacao','cotacao_real','cobros_financa_vuelto_valor_guarani','cobros_financa_vuelto_valor_dolar','cobros_financa_vuelto_valor_real')" %>

                    </tr>
                
                 </table>
                 </div>
                 </div>
            </td>


          </tr>
         </table>
=======
<% form_for(@cobros_financa) do |f| %>
  <%= f.error_messages %>

  <%=  f.hidden_field :cobro_id%>
  <%=  f.hidden_field :data,:value => @cobros_financa.cobro.data%>
  <%=  f.hidden_field :persona_id,  :value => @cobros_financa.cobro.persona_id%>
  <%=  f.hidden_field :persona_nome,:value => @cobros_financa.cobro.persona_nome%>
  <%=  f.hidden_field :moeda,       :value => @cobros_financa.cobro.moeda%>

<div class="group_cd">
    <table>
      <tr height="35">
        <td align="right">Conta :</td>
        <td><%= f.collection_select :conta_id, Conta.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>
      </tr>

      <tr height="35">
       <% if @cobros_financa.cobro.moeda == 0 %>
            <td align="right">Total U$:</td>
            <td><%= f.text_field :valor_dolar, :size => 15, :onblur => "CotacaoCobroFinalGs(),CotacaoCobroFinalDolar()"%></td>
            <%= field_us 'Retencion U$:',f,:retencion_dolar %>
       <% else %>
            <td align="right">Total Gs.:</td>
            <td><%= f.text_field :valor_guarani, :size => 15%></td>
            <%= field_gs 'Retencion Gs.:',f,:retencion_guarani %>
       <% end %>
      </tr>


      <tr height="35">
        <td align="right">Cheque:</td>
        <td><%= f.text_field :cheque, :size => 15%></td>

        <td align="right">Diferido:</td>
        <td><%= f.date_select :diferido%></td>
      </tr>


      <tr height="35">
        <td align="right">Documento:</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                  :order  => '1' ),:id,
                                                                                   :nome %></td>
      </tr>
>>>>>>> 33aa6b935f691d98325a122452cd7151778f7fdb

         <tr>
            <td align="right">N.: Recibo : </td>
            <td><%= f.text_field :numero_recibo,:size => 15%></td>
         </tr>


         <tr >
            <td align="right">Documento:</td>
            <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                  :order  => '1' ),:id,
                 :nome %></td>
         </tr>
<<<<<<< HEAD
         <tr >
            <td valign="top" align="right">Descrip. :</td>
            <td valign="bottom"><%= f.text_area :descricao,
                 :size => '45X10' %></td>

         </tr>
      </table>
   </div>
   <div class="buttons">
     <%= f.submit '  Grabar  ', :class => 'button' , :disable_with => "Aguarde..."%> 
     <a href="/cobros/<%=@cobros_financa.cobro_id%>/cobro_final" class="button back" >Volver</a> 
   </div>
<% end %>
=======

      <tr height="35">
        <td valign="top" align="right">Descripcion :</td>
        <td><%= f.text_area :descricao,
                             :size => '35X5'%></td>

        <td valign="bottom"><%= f.submit '  Grabar  ' %>  | <a href="/cobros/show/<%=@cobros_financa.cobro.id%>" >Volver</a> | <a href="/cobros" >Salir</a></td>

      </tr>


    </table>
</div>
<% end %>
>>>>>>> 33aa6b935f691d98325a122452cd7151778f7fdb
