<p>
  <b>Nome:</b>
  <%=h @setor.nome %>
</p>

<p>
  <b>Sigla:</b>
  <%=h @setor.sigla %>
</p>

<p>
  <b>Responsavel:</b>
  <%=h @setor.responsavel_id %>
</p>

<p>
  <b>Responsavel nome:</b>
  <%=h @setor.responsavel_nome %>
</p>


<%= link_to 'Edit', edit_setor_path(@setor) %> |
<%= link_to 'Back', setors_path %>