<body onload="ExibeDivCompraDetalheFatura()">
   <h1 align="right" id="header">Compra</h1>   
   <% form_for(@compra) do |f| %>
      <%= f.error_messages  %>

      <ul class="tabs">
         <li><a href="#tab1">Compras - [Edicion]</a></li>
      </ul>


      <div class="tab_container">
         <div id="tab1" class="tab_content">

            <%= f.hidden_field :descricao,:value => 'COMPRA MERCADERIA'%>

            <table>
               <tr>
                  <td>
                     <fieldset>
                        <table>
                           <tr>
                              <td align="right">Fecha:</td>
                              <td colspan="3"><%= f.date_select :data ,{},{:onblur => "GastoCotacao()"} %></td>
                              <%= hidden_field_tag( 'key' ) %>
                           </tr>

                           <tr>
                              <td align="right">Cotizacion :</td>
                              <td><%= text_field :compra,
                                                 :cotacao ,
                                               { :size    => 10,:value    => @compra.cotacao.to_i,
                                                                :onfocus  => remote_function(:update => "key",
                                                                :url      => { :action => :get_moeda},
                                                                :with     => "'key='+ key.value ") } %>
                              </td>

                              <td align="right">Unidade:</td>
                              <td><%= f.collection_select :unidade_id, Unidade.all(:select => 'id',:order => '1'),:id,:id %></td>
                           </tr>
                        </table>
                     </fieldset>
                  </td>

                  <td>
                     <table>
                        <tr>
                           <td>
                              <fieldset>
                                 <legend>Compra</legend>
                                 <%= f.radio_button :tipo_compra, 0,  :Checked => "True"%> Mercaderia
                                 <%= f.radio_button :tipo_compra, 2%> Importacion
                                 <%= f.radio_button :tipo_compra, 3%> Compra de Bens
                              </fieldset>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              <table>
                                 <tr>
                                    <td>
                                       <fieldset>
                                          <legend>Moneda</legend>
                                          <%= f.radio_button :moeda, 1,  :Checked => "True",  :onblur => "MoedaCompra('1')" %> Gs.
                                          <%= f.radio_button :moeda, 0,:onblur => "MoedaCompra('0')"%> Dolar

                                          <input type="hidden" id="moeda" value="<%= @compra.moeda %>"/>
                                       </fieldset>
                                    </td>

                                    <td width="200">
                                       <fieldset>
                                          <legend>Tipo</legend>
                                          <%= f.radio_button :tipo, 0,
                                                             :Checked => "True",
                                                             :onblur  => "TipoCompra('0'),
                                                                          ExibeDivCompraDetalheFatura(),CompraTipoDocumento()"%> Contado
                                          <%= f.radio_button :tipo, 1,
                                                             :onblur => "TipoCompra('1'),
                                                                         ExibeDivCompraDetalheFatura(),CompraTipoDocumento()" %> Credito

                                          <input type="hidden" id="tipo" value="<%= @compra.tipo %>"/>
                                       </fieldset>
                                    </td>
                                    <td><%= f.check_box :adcionais%>Gastos Adcionales</td>
                                 </tr>
                              </table>

                           </td>
                        </tr>
                     </table>

                  </td>
               </tr>
            </table>

            <table>
                <tr>
                   <td colspan="4">
                      <fieldset>
                           <table>
                              <tr>
                                 <td align="right">Proveedor :</td>
                                 <td colspan="3">
                                    <%= f.text_field :persona_nome,:size => 60 %> Pulse F2 para buscar.
                                    <%= f.hidden_field :despachante_id, :value => 0  %>
                                 </td>
                              </tr>

                              <!--    DOCUMENTO       !-->

                              <tr>
                                 <td align="right">Documento:</td>
                                 <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                                           :order  => '1' ),:id,
                                                                                                            :nome %></td>
                              </tr>

                              <tr>
                                 <td align="right">Numero:</td>
                                 <td><%= f.text_field :documento_numero_01,:size => 3%>-
                                     <%= f.text_field :documento_numero_02,:size => 3%>-
                                     <%= f.text_field :documento_numero,   :size => 10 %></td>

                                 <td align="right"> Timbrado :</td>
                                 <td colspan="1"><%= f.text_field :documento_timbrado,:size => 15 %></td>

                              </tr>

                               <tr>
                                  <td colspan="4">
                                     <div id="MOEDA_FATURA_DOLAR" style="display:none;">
                                        <fieldset>
                                           <table>
                                              <tr>
                                                 <%= field_us 'Exentas U$ :',f,:exentas_dolar %>

                                                 <%= field_us 'Gravadas 5% U$ :',f,:gravadas_05_dolar,:onblur  => "CompraGravada05Dolar()" %>

                                                 <%= field_us 'Gravadas 5% U$ :',f,:gravadas_10_dolar,:onblur  => "CompraGravada10Dolar()" %>
                                             </tr>

                                             <tr>
                                                <td></td>
                                                <td></td>
                                                <%= field_us 'Impuestos 5% U$ :',f,:imposto_05_dolar %>

                                                <%= field_us 'Impuestos 10% U$ :',f,:imposto_10_dolar %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total U$ :',f,:total_dolar %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total Desconto U$ :',f,:desconto_dolar %>
                                             </tr>
                                           </table>
                                        </fieldset>
                                     </div>
                                  </td>
                               </tr>

                               <tr>
                                  <td colspan="4">
                                     <div id="MOEDA_FATURA_GUARANI" style="display:none;">
                                        <fieldset>
                                           <table>
                                                <tr>
                                                   <td>
                                                      <table>
                                                         <tr>
                                                            <%= field_gs 'Exentas Gs.:',f,:exentas_guarani %>

                                                            <%= field_gs 'Gravadas 5% Gs.:',f,:gravadas_05_guarani,:onblur  => "CompraGravada05Gs()" %>

                                                            <%= field_gs 'Gravadas 10% Gs.:',f,:gravadas_10_guarani,:onblur => "CompraGravada10Gs()" %>
                                                         </tr>

                                                         <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <%= field_gs 'Impuestos 5% Gs.:',f,:imposto_05_guarani%>

                                                            <%= field_gs 'Impuestos 10% Gs.:',f,:imposto_10_guarani%>
                                                         </tr>

                                                         <tr>
                                                            <td colspan="4"></td>
                                                            <%= field_gs 'Total Gs.:',f,:total_guarani%>
                                                         </tr>

                                                         <tr>
                                                            <td colspan="4"></td>
                                                            <%= field_gs 'Total Desconto Gs.:',f,:desconto_guarani %>
                                                         </tr>
                                                     </table>
                                                   </td>
                                                </tr>
                                           </table>
                                        </fieldset>
                                     </div>
                                  </td>
                               </tr>
                           </table>

                      </fieldset>
                   </td>
                </tr>
            </table>
            
        </div>
     </div>

     <div class="button">
        <%= link_to "&#171;&nbsp; Volver",compras_path, :class => "clean-gray" %> |

        <%= f.submit "Seguir &nbsp;&#187;",:disable_with => "Aguarde...", :class => "clean-gray"  %>
      
     </div>
   <%end%>
</body>

<script>


   //ABRI POPUP-----------------------------------------------------------------
   document.onkeydown=function(e)
   {
      if(e.which == 113)
         window.open('/personas/persona_compra', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
   }
   //FIM ABRI POPUP----------------------------------------------------------------

</script>

