
<% form_for(compras_produto) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :compra_id %>
  <%= f.hidden_field :cotacao,   :value => @compra.cotacao.to_i%>
  <%= f.hidden_field :moeda,     :value => @compra.moeda%>
  <%= f.hidden_field :data,      :value => @compra.data %>
  <%= f.hidden_field :persona_id,:value => @compra.persona_id%>
  <%= f.hidden_field :persona_nome,:value => @compra.persona_nome%>
  <%= f.hidden_field :produto_id %>
  <%= f.hidden_field :codigo %>
  <%= f.hidden_field :fabricante_cod %>
  <%= f.hidden_field :clase_id %>
  <%= f.hidden_field :grupo_id %>
  <%= f.hidden_field :sub_grupo_id %>
  <%= f.hidden_field :tipo_compra, :value => @compra.tipo_compra %>

<ul class="tabs">
   <li><a href="#tab1">Producto - [Edicion]</a></li>
</ul>


<div class="tab_container">
   <div id="tab1" class="tab_content">


    <table>
      <tr>
         <td align="right">Procduto :</td>
        <td colspan="4">
            <%= text_field_tag( 'key',
                                 nil,
                                 :id       => "key",
                                 :onchange => remote_function( :update     => "key",
                                                               :url        => { :action => :get_produto, :id => 1},
                                                               :with       => "'key='+this.value"),
                                                               :size       => 5
                                                            ) %>

            <%= f.text_field :produto_nome,
                             :onkeydown => "f(this)",
                             :onkeyup   => "f(this)",
                             :size      => 70 %></td>
      </tr>

      <tr>
        <td align="right">Cantidad :</td>
        <td><%= f.text_field :quantidade,
                             :size    => 5,
                             :onfocus => "LimpaCampoCompraImportacao()"%></td>
      </tr>

      <tr>
        <td align="right">Iva:</td>
        <td><%= f.text_field :iva_taxa,
                             :size => 5 %> % </td>
      </tr>

      <% if @compra.moeda.to_i == 0  %>

            <%= f.hidden_field :custo_contabil_dolar %>
            <tr>
               <%= field_us 'Unit. U$ :',f,:unitario_dolar,:onblur => "ComprasProdutoTotalDolar(),
                                                                       ComprasProdutoIvaDolar(),
                                                                       ComprasProdutoCustoContabilDolar()" %>

               <%= field_us 'Total U$ :',f,:total_dolar,:readonly => "readonly"  %>

               <%= field_us 'Iva U$ :',f,:iva_dolar,:readonly => "readonly"  %>

            </tr>
      <% else %>

            <%= f.hidden_field :custo_contabil_guarani %>
            <tr>
               <%= field_gs 'Unit. Gs :',f,:unitario_guarani,:onblur => "ComprasProdutoTotalGs(),
                                                                         ComprasProdutoIvaGs(),
                                                                         ComprasProdutoCustoContabilGs()"  %>

               <%= field_gs 'Total Gs :',f,:total_guarani,:readonly => "readonly"%>
               
               <%= field_gs 'Ival Gs :',f,:iva_guarani,:readonly => "readonly"%>
            </tr>

      <% end %>

            <tr>
              <td align="right">Deposito:</td>
              <td><%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',
                                                                     :order => '2'),:id,
                                                                                    :nome %></td>
            </tr>
       </table>
    </div>
  </div>
  <div class="button">
      <%=  link_to 'Volver', compra_path(@compra), :class => "clean-gray"  %> |
      <%= f.submit "   Grabar   ",:disable_with => "Aguarde...", :class => "clean-gray"   %>
  </div>

<% end %>

  <script>
  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('/produtos/busca_compra_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}

//FIM ABRI POPUP----------------------------------------------------------------

</script>