<h1 align="right" id="header">Egresos</h1>
  Egressos - Edicion
<%= form_for(@entrada_saida_func) do |f| %>
  <% if @entrada_saida_func.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrada_saida_func.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @entrada_saida_func.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="group_cd">
    <table>
      <tr>

        <td align="right">Fecha :</td>
        <td><%= f.date_select :data %></td>
      </tr>

      <tr>
        <td align="right">Obra :</td>
        <td><%= f.collection_select :produto_id, Produto.all( :select => ' id,nome', :conditions => ["clase_id = 3"],
                                                          :order  => '2' ), :id,
                                                                            :nome %></td>
      </tr>
	  <tr>
        <td align="right">Responsable :</td>
		<td> <%= f.collection_select :responsavel_id, Persona.all( :select     => ' id,nome,tipo_funcionario',
            :conditions => ["tipo_funcionario = 1"],
            :order      => '2'),:id,:nome, { :include_blank => true } %></td>

	  	
	  </tr>

      <tr>
        <td align="right" valign="top">Concepto :</td>
        <td><%= f.text_area  :descricao,
                              :cols     => 65, :rows => 5 %></td>


      </tr>


    </table>
  </div>
  <div class="buttons">
    <%= link_to 'Volver', entrada_saida_funcs_path , :class => "button back" %>      
    <%= f.submit "   Seguir  ",:disable_with => "Aguarde..." , :class => "button next" %> 
  </div>
<% end %>
