<% qtd       = 0 %>
<% unit_us   = 0 %>
<% unit_gs   = 0 %>
<% costo_us  = 0 %>
<% costo_gs  = 0 %>

<table>
	<% @stocks.each do |st|%>
		<tr>
			<td width="50" align="left"><%= st.data.strftime("%d/%m/%y") %></td>
			<td width="74" align="left"><%= truncate( st.vendedor_nome, :length => 13 ) %></td>
			<td width="50" align="center"><%= st.clase_id.to_s.rjust(2,"0") %>.<%= st.grupo_id.to_s.rjust(4,"0") %>.<%= st.produto_id.to_s.rjust(6,"0") %></td>
			<td width="20" align="center"><%= st.fabricante_cod %></td>
			<td width="170" align="left"><%= truncate( st.produto_nome,:lenght => 180 ) %></td>						
			<% if st.tipo_maiorista.to_i == 0 %>
				<td width="3" align="center">B</td>
			<% elsif st.tipo_maiorista.to_i == 1 %>
				<td width="3" align="center">M</td>
			<% else %>
				<td width="3" align="center">C</td>
		  <% end %>
			<td width="30" align="right"><%= st.total_desconto %></td>			
			<td width="30" align="right"><%= st.quantidade %></td>

			<% if params[:moeda] == '0'%>
				<td width="60" align="right"><%= number_to_currency( ( st.unitario_dolar.to_f * st.quantidade ) , :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( ( st.custo_promed_us.to_f  * st.quantidade ), :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( dif =( (st.unitario_dolar.to_f * st.quantidade ) - (st.custo_promed_us.to_f * st.quantidade) ) , :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( total_us = ( ( dif.to_f * 100 ) /  ( st.custo_promed_us.to_f * st.quantidade ) ), :format=>' %n ', :precision => 2 ) %> %</td>				
				<% unit_us += ( st.unitario_dolar.to_f * st.quantidade )%>
				<% costo_us += ( st.custo_promed_us.to_f * st.quantidade ) %>

			<% else %>
				<td width="60" align="right"><%= number_to_currency( ( st.unitario_guarani.to_f * st.quantidade ), :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( ( st.custo_promed_gs.to_f * st.quantidade ), :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( dif = ( ( st.unitario_guarani.to_f * st.quantidade )- ( st.custo_promed_gs.to_f * st.quantidade )), :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( total_gs = ( ( dif.to_f * 100 ) /  ( st.custo_promed_gs.to_f * st.quantidade ) ), :format=>' %n ', :precision => 2 ) %> %</td>				
				<% unit_gs += ( st.unitario_guarani.to_f * st.quantidade ) %>
				<% costo_gs += ( st.custo_promed_gs.to_f * st.quantidade ) %>
			<% end %>
		</tr>
		<% qtd  += st.quantidade %>
	<% end %>
		<tr class="head" height="20">			
			<td colspan="7"></td>				
			<td width="40" align="right"><%= number_to_currency( qtd , :format=>' %n ', :separeitor => ',') %></td>				
			<% if params[:moeda] == '0' %>
				<td width="60" align="right"><%= number_to_currency( unit_us.to_f , :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( costo_us.to_f , :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( dif_tot =( unit_us.to_f - costo_us.to_f ) , :format=>' %n ', :separeitor => ',') %></td>				
				<td width="60" align="right"><%= number_to_currency( total_all_us = ( ( dif_tot.to_f * 100 ) /  costo_us.to_f ), :format=>' %n ', :precision => 2 ) %> %</td>				
			<% else %>
				<td width="60" align="right"><%= number_to_currency( unit_gs.to_f, :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( costo_gs.to_f, :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( dif_tot = ( unit_gs.to_f - costo_gs.to_f ), :format=>' %n ', :precision => 0 ) %></td>				
				<td width="60" align="right"><%= number_to_currency( total_all_gs = ( ( dif_tot.to_f * 100 ) /  costo_gs.to_f ), :format=>' %n ', :precision => 2 ) %> %</td>				
			<% end %>
		</tr>

</table>
