<body onload="window.print()">
	<tr>
		<td style="height:13.50cm;width:28cm;" valign="top">
		<table>
			
			<tr>
				<td style="height:2.35cm" valign="bottom"><span style="margin-left:21.00cm;font-family:Lucida Console, Courier, Monotype;font-size:10px;"><%= @adelanto.id%></span> </td>
			</tr>
			
			<tr>
				<td valign="top" style="height:1.90cm;width:29cm;">
			        <table  style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
			        	<tr>
			        		<td width="790" valign="bottom"><span style="margin-left:2.65cm"> <%= @adelanto.data.strftime("%d")%> de <%= @adelanto.data.strftime("%B")%> de <%= @adelanto.data.strftime("%Y")%> </span></td>
			        		<%per = Persona.find_by_id(@adelanto.persona_id)%>
			        		<td width="200" valign="bottom"> <%= per.ruc %></td>
			        	</tr>
			        	
			        	<tr>
			        		<td width="790" valign="bottom"><span style="margin-left:3.50cm"> <%= @adelanto.persona_nome %> </span></td>
			        		<td width="200" valign="bottom"></td>
			        	</tr>

			        	<tr>
			        		<td width="790"><span style="margin-left:2.65cm"> </span></td>
			        		<td width="200">
			        		</td>
			        	</tr>

			        </table>		
				</td>
			</tr>

			<tr>
				<td valign="top" style="height:2cm;width:29cm;">
			        <table  style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
			        	<tr>
			        		<td width="470" height="5"><span style="margin-left:2.05cm;" ></span></td>
			        		<td width="470" height="25"><span style="margin-left:2.05cm;" ></span></td>

			        	</tr>
			        	
			        	<tr>
			        		<td rowspan="2" valign="top">
			        			<span style="margin-left:2.20cm;" > 
   			        			   <% if @adelanto.moeda == 0 %> 
			        			      <%= number_to_currency( @adelanto.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," )%>
			        			   <% else %>
			        			      <%= number_to_currency( @adelanto.valor_guarani.to_f,      :format =>' %n ', :precision =>0 )%>
			        			   <% end %>			        			
			        		    </span>
			        		</td>
			        		
			        		<td width="550" height="90" rowspan="2" valign="top">
			        			<table style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">			        				
			        				  <% if @adelanto.cheque != ''%>
			        				  <tr>
			        				  	<td width="150" align="center"><%= @adelanto.cheque%></td>
			        				  	<td width="200" align="center"></td>
			        				  	<td width="200" align="right">
      			        			     <% if @adelanto.moeda == 0 %> 
			        			            <%= number_to_currency( @adelanto.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," )%>
			        			         <% else %>
			        			            <%= number_to_currency( @adelanto.valor_guarani.to_f,      :format =>' %n ', :precision =>0 )%>
			        			         <% end %>			        			         			        			
			        				  	</td>
			        				  </tr>
			          				  <% end %>			        				  
			        			</table>
			        			
			        		</td>

			        	</tr>

			        </table>		
				</td>
			</tr>

			<tr>
				<td valign="top" style="height:2.30cm;width:29cm;">
			        <table style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
			        	<tr>
			        		<td width="500" height="120" valign="top">
			                    <table  style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
			        				       <tr>
   			        				  	      <td width="150" align="center"></td>
   			        				  	      <td width="150" align="center"></td>
			        				  	      <td width="200" align="right">
      			        			           <% if @adelanto.moeda == 0 %> 
			        			                  <%= number_to_currency( @adelanto.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," )%>
			        			               <% else %>
			        			                  <%= number_to_currency( @adelanto.valor_guarani.to_f,      :format =>' %n ', :precision =>0 )%>
			        			               <% end %>
			        			
			        				  	      </td>
			        				       </tr>
			        				   

			        			</table>
			        		</td>
			        		<td width="100"></td>
			        		<td width="500" height="120" valign="top">
			                    <table  style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
			        				       <tr>
   			        				  	      <td width="150" align="center"></td>
   			        				  	      <td width="150" align="center"></td>
			        				  	      <td width="200" align="right">
			        				  	      </td>
			        				       </tr>
			        			</table>
			        		</td>

			        	</tr>
			<tr height="30" valign="top" style="font-family:Lucida Console, Courier, Monotype;font-size:10px;"><td>Obs.:<%= @adelanto.concepto%> N.: <%= @adelanto.id%></td></tr>
			        	
			        </table>		
				</td>
			</tr>
			<tr style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
				<td valign="top" >
					<span style="margin-left:2.35cm;" >
				       <% if @adelanto.moeda == 0 %> 
			              <%= number_to_currency( @adelanto.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," )%>
			           <% else %>
			              <%= number_to_currency( @adelanto.valor_guarani.to_f,      :format =>' %n ', :precision =>0 )%>
			           <% end %>			        			
                    </span>
				</td>
			</tr>

			<tr style="font-family:Lucida Console, Courier, Monotype;font-size:12px;">
				<td valign="top">
					<span style="margin-left:7.05cm;" >
						<% if @adelanto.moeda == 0 %>
						   <%= @adelanto.valor_dolar.to_f.por_extenso.upcase %>
						<% else %>
						   <%= @adelanto.valor_guarani.to_f.por_extenso.upcase %>
						<% end %>
                    </span>
				</td>
			</tr>

		</table>
		</td>
	</tr>
</table>
