<div class="group">
   <table>
      <tr>
         <td width="100" align="center">Cod.</td>
         <td width="450" align="center">Producto</td>
         <td width="80" align="center">Kg.</td>
         <td width="100" align="center">Cantidad</td>
         <td width="100" align="center">Costo Gs.</td>
         <td width="100" align="center">Total Costo</td>
         <td width="100" align="center">Venta Gs.</td>
         <td width="100" align="center">Total Venda</td>

      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>
         <% qtd     = 0 %>
         <% custogs = 0 %>
         <% totgs   = 0 %>
         <% kg      = 0 %>

         <% nota_remicao_produtos.each do |nota_remicao_produto| %>
            <%kgproduto = Produto.find_by_id(nota_remicao_produto.produto_id)%>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="100" align="center"><%= nota_remicao_produto.produto_cod %></td>
               <td width="450" align="left"><%= nota_remicao_produto.produto_nome %></td>
               <td width="80" align="center"><%= kgproduto.peso.to_f %></td>
               <td width="100" align="right"><%= nota_remicao_produto.quantidade %></td>
               <td width="100" align="right"><%= number_to_currency( nota_remicao_produto.custo_guarani, :format=>' %n ', :precision => 0) %></td>
               <td width="100" align="right"><%= number_to_currency(totcosto = nota_remicao_produto.quantidade.to_f *  nota_remicao_produto.custo_guarani.to_f, :format=>' %n ', :precision => 0) %></td>
               <td width="100" align="right"><%= number_to_currency( nota_remicao_produto.valor_guarani.to_f, :format=>' %n ', :precision => 0) %></td>
               <td width="100" align="right"><%= number_to_currency( totvenda  = nota_remicao_produto.quantidade.to_f * nota_remicao_produto.valor_guarani.to_f, :format=>' %n ', :precision => 0) %></td>
               <% if @nota_remicao.estado == 0 %>
                  <td><%= link_to 'Editar', edit_nota_remicao_produto_path(nota_remicao_produto) %></td>
                  <td><%= link_to 'Borrar', nota_remicao_produto, :confirm => 'Tiene Certeza?', :method => :delete %></td>
               <% end %>
               <% qtd     = qtd.to_f + nota_remicao_produto.quantidade.to_f  %>
               <% custogs = custogs.to_f + totcosto.to_f  %>
               <% totgs   = totgs.to_f + totvenda  %>
               <% kg      = kg.to_f + kgproduto.peso.to_f  %>

            </tr>
         <% end %>
      </table>
   </div>
   <table>
      <tr>
         <td width="530"></td>
         <td width="80" align="right"><%= number_to_currency( kg, :format=>' %n ', :precision => 0) %></td>
         <td width="120" align="right"><%= qtd %></td>
         <td width="100" align="right"></td>
         <td width="100" align="right"><%= number_to_currency( custogs, :format=>' %n ', :precision => 0) %></td>
         <td width="100" align="right"></td>
         <td width="100" align="right"><%= number_to_currency( totgs, :format=>' %n ', :precision => 0) %></td>

      </tr>
   </table>
</div>
