<%= form_for(@metum) do |f| %>
  <% if @metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metum.errors.count, "error") %> prohibited this metum from being saved:</h2>

      <ul>
      <% @metum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :persona_id %>

  <ul class="tabs">
    <li>
      <a href="#tab1">Meta - [Edicion]</a>
    </li>
  </ul>

  <div class="tab_container">
    <div id="tab1" class="tab_content">

      <table>
        <tr>
          <td align="right">Fecha:</td>
          <td colspan="3"> <%= f.date_select :data %></td> 

          <td align="right">Vendedor:</td>
          <td ><%= f.collection_select :persona_id, Persona.where("tipo_vendedor = 1", :select => ' id,nome',
                                       :order  => '2' ), :id,
                                       :nome %></td>
                      
        </tr>

        <tr>
          <td align="right">Periodo inicio:</td>
          <td colspan="3"> <%= f.date_select :periodo_inicio %></td> 
       
          <td align="right">Periodo final:</td>
          <td colspan="3"> <%= f.date_select :periodo_final %></td> 
        </tr>

        <tr>
          <td>
            <fieldset>
              <legend>
                Moneda
              </legend>
                <%= f.radio_button :moeda, 0,  :Checked => "True" %> Dolar 
                <%= f.radio_button :moeda, 1 %> Guaranis 
                <%= f.radio_button :moeda, 2 %> Real
            </fieldset>
          </td>
        </tr>
          
        <tr>
          <td align="right">Valor Dolar :</td>
          <td><%= f.text_field :valor_dolar, :size => 15  %></td>
       
          <td align="right">Valor Guarani :</td>
          <td><%= f.text_field :valor_guarani, :size => 15  %></td>
       
          <td align="right">Valor Real :</td>
          <td><%= f.text_field :valor_real, :size => 15  %></td>
        </tr>
      </table>
    </div>

  <div class="buttons">
    <%= f.submit "   Grabar  ", :class => "button"%> 
  </div>

</div>
<% end %>
