<h1 align="right" id="header">Metas</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_metum_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="350" align="center">Nome</td>
            <td width="90" align="center">Data inicio</td>
            <td width="90" align="center">Data final</td>
            <td width="80" align="center">Dolar</td>
            <td width="80" align="center">Guaranies</td>
            <td width="80" align="center">Real</td>
          </tr>
</table>

<div class="rolagem" dir="div">
<table>
<% @meta.each do |meta| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="350" align="center"><%= meta.persona_nome %></td>
    <td width="90" align="left"><%= meta.periodo_inicio.strftime("%d/%m/%Y")  %></td>
    <td width="90" align="center"><%= meta.periodo_final.strftime("%d/%m/%Y")  %></td>
    <td width="80" align="center"><%= meta.valor_dolar %></td>
    <td width="80" align="center"><%= meta.valor_guarani %></td>
    <td width="80" align="center"><%= meta.valor_real %></td>
    
    <td><%= link_to 'Editar', edit_metum_path(meta) %></td>
    <td><%= link_to 'Borrar', meta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
