<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @metum.data %>
</p>

<p>
  <b>Periodo inicio:</b>
  <%= @metum.periodo_inicio %>
</p>

<p>
  <b>Periodo final:</b>
  <%= @metum.periodo_final %>
</p>

<p>
  <b>Persona:</b>
  <%= @metum.persona_id %>
</p>

<p>
  <b>Persona nome:</b>
  <%= @metum.persona_nome %>
</p>

<p>
  <b>Moeda:</b>
  <%= @metum.moeda %>
</p>

<p>
  <b>Valor dolar:</b>
  <%= @metum.valor_dolar %>
</p>

<p>
  <b>Valor guarani:</b>
  <%= @metum.valor_guarani %>
</p>

<p>
  <b>Valor real:</b>
  <%= @metum.valor_real %>
</p>


<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
