<h1 align="right" id="header">Consumición Interna</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_consumicao_interna_path, :class => "button add"%>    
</div>
<div class="group">
	<table>
		<tr>
			<td width="50" align="center">Cod.</td>
			<td width="100" align="center">Fecha</td>
			<td width="400" align="center">Concepto</td>
		</tr>
	</table>

	<div class="rolagem" id="div">
		<table>
			<% @consumicao_internas.each do |consumicao_interna| %>
			<tr class = "<%= cycle("cor1", "cor2") %>" >
				<td width="50" align="center"><%= consumicao_interna.id %></td>
				<td width="100" align="center"><%= consumicao_interna.data.strftime("%d/%m/%Y") %></td>
				<td width="400" align="left"><%= consumicao_interna.concepto %></td>
				<td><%= link_to 'Editar', edit_consumicao_interna_path(consumicao_interna) %></td>
				<td><%= link_to 'Borrar', consumicao_interna, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<style>

