<body onload="window.print()">

	<table align="left"  valign="top">
		<tr>
			<td>
			<FONT FACE="times new roman" size="5">
				<%= $empresa_nome %>
			</FONT>
			</td>

			<td  align="right">
			<FONT FACE="times new roman" size="5">
				COMPROBANTE DE TRANF. DEPOSITO   N. <%= @transferencia_deposito.id%>
			</FONT>
			</td>

		</tr>

		<tr>
			<td colspan="4" align="center">
			<FONT FACE="times new roman" size="4">
				--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>

		<tr>
			<td align="left">
			<FONT FACE="times new roman" size="4">
				Deposito Origen: <%= @transferencia_deposito.deposito_origem_nome %>
			</FONT>
			</td>
		</tr>

		<tr>
			<td align="left">
			<FONT FACE="times new roman" size="4">
				Deposito Destino: <%= @transferencia_deposito.deposito_destino_nome %>
			</FONT>
			</td>
		</tr>

		<tr>
			<td align="left">
			<FONT FACE="times new roman" size="4">
				EMISION: <%= @transferencia_deposito.data.strftime("%d/%m/%Y") %> <%= Time.now.strftime("%H:%M:%S")%>
			</FONT>
			</td>
		</tr>


		<tr>
			<td colspan="4" align="center">
			<FONT FACE="times new roman" size="4">
				--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>
		<tr height="470">
			<td colspan="2" valign="top">
				<table>
					<tr>
			         <td width="50" align="center"></td>
			         <td width="80" align="center">Cod.</td>
			         <td width="300" align="center">Producto</td>
			         <td width="80" align="center">Cantidad</td>
			         <td width="100" align="center">Preco Venta U$.</td>
			         <td width="100" align="center">Preco Venta Gs.</td>
					</tr>

					<tr>
						<td colspan="8" align="center">
							<FONT FACE="times new roman" size="4">
								--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
							</FONT>
						</td>
					</tr>
								<% indice = 1 %>
								<% @detalhe_produtos.each do |dp|%>
								<tr valign="top">
					    			<td width="50" align="center"><%=h indice %></td>
								    <td width="80" align="center"><%=h dp.produto_id %></td>
								    <td width="300" align="left"><%=h dp.produto_nome %></td>
								    <td width="80" align="right"><%=h dp.quantidade %></td>
					    			<td width="100" align="right"><%= number_to_currency( dp.preco_dolar, :format =>' %n ', :separator => "," ) %></td>
					    			<td width="100" align="right"><%= number_to_currency( dp.preco_guarani, :format =>' %n ', :precision => 0 ) %></td>
								</tr>
								<% indice += 1 %>
								<% end %>
				</table>
            </td>
		</tr>

		<tr>
			<td colspan="8" align="center">
				<FONT FACE="times new roman" size="4">
					--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
				</FONT>
			</td>
		</tr>
	</table>
</body>

