<h1 align="right" id="header">Transferencia Deposito</h1>

<ul class="tabs">
   <li><a href="#tab1">Transf. Deposito Productos - [Edicion]</a></li>
</ul>

<div class="tab_container">
   <div id="tab1" class="tab_content">
      <div class="group">
         <table>
            <tr>
               <td>Deposito Origen :</td>
               <td width="400"><%=@transferencia_deposito.deposito_origem_nome %></td>

               <td>Deposito Destino :</td>
               <td><%=@transferencia_deposito.deposito_destino_nome %></td>
            </tr>
         </table>
	  </div>
      
      <br/>

      <div class="grid">
         <%= render :partial=>"transferencia_deposito_detalhes/index", :locals=>{:producao => @transferencia_deposito,:transferencia_deposito_detalhes => @transferencia_deposito.transferencia_deposito_detalhes} %>
      </div>

      <%= render :partial=>"transferencia_deposito_detalhes/new_produto" , :locals=>{:producao => @transferencia_deposito, :transferencia_deposito_detalhe => TransferenciaDepositoDetalhe.new}%>
   </div>

	  <div class="buttons">
	   <%= link_to 'Volver', edit_transferencia_deposito_path(@transferencia_deposito), :class => "button back" %> 
	   <a href="javascript:void(0)" class="button print" onClick="Comprovante()">Comprobante</a>
	  </div>
</div>
<%= hidden_field_tag :id, @transferencia_deposito.id %>

<script>
	function Comprovante()                //
	{
		window.open('/transferencia_depositos/comprovante/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}
</script>

