<%form_tag :action => 'filtro_dividas',:id => @pago.id ,:name => "form1" do%>    
    <div class="group">
      <%if @pago.moeda == 0 %>
        <table>
          <tr>
            <td width="70" align="center"></td>
            <td width="85" align="center">Fecha</td>
            <td width="300" align="center">Proveedor</td>
            <td width="250" align="center">Documento</td>
            <td width="150" align="center">N. Doc.</td>
            <td width="80" align="center">Couta</td>
            <td width="80" align="center">Vencimento</td>
            <td width="100" align="center">Valor Dolar</td>
            <td width="100" align="center">Anter. Dolar</td>
            <td width="100" align="center">Saldo Dolar</td>

          </tr>
        </table>
        <div class="rolagem" dir="div">

          <table>

            <% for cliente in @proveedor %>
              <%  anterior_dolar     = Proveedore.sum(:pago_dolar, :conditions => ["persona_id = ? AND documento_numero = ? AND cota = ?",cliente.persona_id,cliente.documento_numero,cliente.cota]) %>
              <%  anterior_guarani   = Proveedore.sum(:pago_guarani, :conditions => ["persona_id = ? AND documento_numero = ? AND cota = ?",cliente.persona_id,cliente.documento_numero,cliente.cota]) %>
              <%  saldo_dolar        = cliente.divida_dolar - anterior_dolar   %>
              <%  saldo_guarani      = cliente.divida_guarani - anterior_guarani   %>
              <tr class = "<%= cycle( "cor1", "cor2" )%>"
                  onMouseOver="javascript:this.style.backgroundColor='#949494'"
                  onMouseOut="javascript:this.style.backgroundColor=''"
                  onClick="Fecha('<%= cliente.vencimento.strftime("%d").to_i %>',
                                 '<%= cliente.vencimento.strftime("%m").to_i %>',
                                 '<%= cliente.vencimento.strftime("%Y").to_i %>',
                                 '<%= cliente.documento_nome %>',
                                 '<%= cliente.documento_numero_01 %>',
                                 '<%= cliente.documento_numero_02 %>',
                                 '<%= cliente.documento_numero %>',
                                 '<%= cliente.cota %>',
                                 '<%= cliente.clase_produto.to_id %>',
                                 '<%= format("%.2f",cliente.divida_dolar.to_f) %>',
                                 '<%= cliente.divida_guarani %>',
                                 '<%= format("%.2f",anterior_dolar.to_f) %>',
                                 '<%= anterior_guarani %>',
                                 '<%= format("%.2f",saldo_dolar.to_f) %>',
                                 '<%= saldo_guarani %>',
                                 '<%= cliente.compra_id %>')">
                <td width="70"><%= check_box_tag "pagos_ids[]", cliente.id   %></td>
                <td width="85"  align="center"><%= cliente.data.strftime("%d/%m/%Y")%></td>
                <td width="300" align="left"><%= cliente.persona_nome%></td>
                <td width="250" align="left"><%= cliente.documento_nome%></td>
                <td width="150" align="center"><%= cliente.documento_numero_01%>-<%= cliente.documento_numero_02%>-<%= cliente.documento_numero%></td>
                <td width="80"  align="center"><%= cliente.cota%></td>
                <td width="80"  align="center"><%= cliente.vencimento.strftime("%d/%m/%Y")%></td>
                <td width="100" align="right">    <%= number_to_currency( cliente.divida_dolar, :format =>' %n ', :separator => ",")%></td>
                <td width="100" align="right">    <%= number_to_currency( anterior_dolar, :format =>' %n ', :separator => ",")%></td>
                <td width="100" align="right">    <%= number_to_currency( saldo_dolar, :format =>' %n ', :separator => ",")%></td>

              </tr>
            <% end %>
          </table>
        </div>
      <%else%>

        <table>
          <tr>
            <td width="70" align="center"></td>
            <td width="80" align="center">Fecha</td>
            <td width="300" align="center">Proveedor</td>
            <td width="250" align="center">Documento</td>
            <td width="150" align="center">N. Doc.</td>
            <td width="80" align="center">Couta</td>
            <td width="80" align="center">Vencimento</td>
            <td width="100" align="center">Valor Gs.</td>
            <td width="100" align="center">Anter. Gs.</td>
            <td width="100" align="center">Saldo Gs.</td>

          </tr>
        </table>
        <div class="rolagem" dir="div">

          <table>

            <% for cliente in @proveedor %>
              <%  anterior_dolar     = Proveedore.sum(:pago_dolar, :conditions => ["persona_id = ? AND documento_numero = ? AND cota = ?",cliente.persona_id,cliente.documento_numero,cliente.cota]) %>
              <%  anterior_guarani   = Proveedore.sum(:pago_guarani, :conditions => ["persona_id = ? AND documento_numero = ? AND cota = ?",cliente.persona_id,cliente.documento_numero,cliente.cota]) %>
              <%  saldo_dolar        = cliente.divida_dolar - anterior_dolar   %>
              <%  saldo_guarani      = cliente.divida_guarani - anterior_guarani   %>
              <tr class = "<%= cycle( "cor1", "cor2" )%>"
                  onMouseOver="javascript:this.style.backgroundColor='#949494'"
                  onMouseOut="javascript:this.style.backgroundColor=''"
                  onClick="Fecha( '<%= cliente.vencimento.strftime("%d").to_i %>',
                                  '<%= cliente.vencimento.strftime("%m").to_i %>',
                                  '<%= cliente.vencimento.strftime("%Y").to_i %>',
                                  '<%= cliente.documento_nome %>',
                                  '<%= cliente.documento_numero_01 %>',
                                  '<%= cliente.documento_numero_02 %>',
                                  '<%= cliente.documento_numero %>',
                                  '<%= cliente.cota %>',
                                  '<%= cliente.clase_produto.to_i %>',
                                  '<%= format("%.2f",cliente.divida_dolar.to_f) %>',
                                  '<%= cliente.divida_guarani %>',
                                  '<%= format("%.2f",anterior_dolar.to_f) %>',
                                  '<%= anterior_guarani %>',
                                  '<%= format("%.2f",saldo_dolar.to_f) %>',
                                  '<%= saldo_guarani %>',
                                  '<%= cliente.compra_id %>')">

                <td width="70"><%= check_box_tag "pagos_ids[]", cliente.id   %></td>
                <td width="80"  align="center">   <%= cliente.data.strftime("%d/%m/%Y")%></td>
                <td width="300" align="left">     <%= cliente.persona_nome%></td>
                <td width="250" align="left">     <%= cliente.documento_nome%></td>
                <td width="150" align="center">   <%= cliente.documento_numero_01%>-<%= cliente.documento_numero_02%>-<%= cliente.documento_numero%></td>
                <td width="80"  align="center">   <%= cliente.cota%></td>
                <td width="80"  align="center">   <%= cliente.vencimento.strftime("%d/%m/%Y")%></td>
                <td width="100" align="right">    <%= number_to_currency( cliente.divida_guarani, :format =>' %n ', :precision => 0)%></td>
                <td width="100" align="right">    <%= number_to_currency( anterior_guarani, :format =>' %n ', :precision => 0)%></td>
                <td width="100" align="right">    <%= number_to_currency( saldo_guarani, :format =>' %n ', :precision => 0)%></td>

              </tr>
            <% end %>
          </table>

        </div>
      <%end%>
      <input type="hidden" id="moeda" name="moeda" value="<%= @pago.moeda %>"/>
    </div>
<%= submit_tag "    Adcionar   " %>
<% end %>
<script>
  function Fecha(vencimento3,vencimento2,vencimento1,documento_nome,documento_numero_01,documento_numero_02,documento_numero,cota,clase_produto,valor_dolar,valor_guarani,anterior_dolar,anterior_guarani,saldo_dolar,saldo_guarani,compra_id)
  {
    document.getElementById('pagos_detalhe_vencimento_3i').value         = vencimento3;
    document.getElementById('pagos_detalhe_vencimento_2i').value         = vencimento2;
    document.getElementById('pagos_detalhe_vencimento_1i').value         = vencimento1;
    document.getElementById('pagos_detalhe_documento_nome').value        = documento_nome;
    document.getElementById('pagos_detalhe_documento_numero_01').value   = documento_numero_01;
    document.getElementById('pagos_detalhe_documento_numero_02').value   = documento_numero_02;
    document.getElementById('pagos_detalhe_documento_numero').value      = documento_numero;
    document.getElementById('pagos_detalhe_cota').value                  = cota;
    document.getElementById('pagos_detalhe_clase_produto').value         = clase_produto;
    document.getElementById('pagos_detalhe_valor_dolar').value           = valor_dolar;
    document.getElementById('pagos_detalhe_valor_guarani').value         = valor_guarani;
    document.getElementById('pagos_detalhe_anterior_guarani').value      = anterior_dolar;
    document.getElementById('pagos_detalhe_anterior_guarani').value      = anterior_guarani;
    document.getElementById('pagos_detalhe_saldo_dolar').value           = saldo_dolar;
    document.getElementById('pagos_detalhe_saldo_guarani').value         = saldo_guarani;
    document.getElementById('pagos_detalhe_compra_id').value             = compra_id;

    if( document.getElementById('moeda').value == 0) 
      {
        document.getElementById('pagos_detalhe_pago_dolar').value            = saldo_dolar;
        document.getElementById("pagos_detalhe_pago_dolar").focus()        
      }
    else
      {
        document.getElementById('pagos_detalhe_pago_guarani').value          = saldo_guarani;
        document.getElementById("pagos_detalhe_pago_guarani").focus()

      }
  }

</script>
