<div class="group">
  <table class="head_grid">
    <tr>
      <td width="80" align="center">Fecha</td>
      <td width="150" align="center">Cuenta</td>
      <td width="300" align="center">Descripcion</td>
      <td width="250" align="center">Doc.</td>
      <td width="100" align="center">Cheque</td>
      <td width="80" align="center">Dif.</td>
      <td width="150" align="center">Total</td>
    </tr>
  </table>
  <div class="rolagem_cobro" dir="div">
    <table>
      <% tot = 0 %>
      <% pagos_financas.each do |pagos_financa| %>
        <tr class = "<%= cycle( "cor1", "cor2" )%>">
          <td width="80"  align="center"><%= pagos_financa.data.strftime("%d/%m/%Y")%></td>
          <td width="150" align="left"><%= pagos_financa.conta_nome%></td>
          <td width="300" align="left"><%= truncate(pagos_financa.descricao, :leght => 200)%></td>
          <td width="250" align="left"><%= pagos_financa.documento_nome %></td>
          <td width="100" align="center"><%= pagos_financa.cheque%></td>
          <td width="80"  align="center"><%= pagos_financa.diferido.strftime("%d/%m/%Y")%></td>

          <% if @pago.moeda == 0 %>
              <td width="150" align="right"><%= number_to_currency( pagos_financa.valor_dolar,      :format =>' %n ', :separator => ',' )%></td>
              <% tot += pagos_financa.valor_dolar %>

          <% elsif @pago.moeda == 1 %>
              <td width="150" align="right"><%= number_to_currency( pagos_financa.valor_guarani,      :format =>' %n ', :precision => 0 )%></td>
              <% tot += pagos_financa.valor_guarani %>
          <% else %>
               <td width="150" align="right"><%= number_to_currency( pagos_financa.valor_real,      :format =>' %n ', :separator => ',' )%></td>
              <% tot += pagos_financa.valor_real %>
          <% end %>

          <td><%= link_to 'Editar', edit_pagos_financa_path(pagos_financa) %></td>
          <td><%= link_to 'Borrar', pagos_financa, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <table class="head_grid">
    <tr>
      <td width="965"></td>
      <% if @pago.moeda == 1 %>
        <td width="150" align="right"><%= number_to_currency( tot,      :format =>' %n ', :precision => 0 )%></td>
      <% else %>
        <td width="150" align="right"><%= number_to_currency( tot,      :format =>' %n ', :separator => ',' )%></td>
      <% end %>
    </tr>
  </table>
</div>



