<div class="group">
   <table class="head_grid">
      <tr>
         <td width="50" align="center"></td>
         <td width="400" align="center">Producto</td>
         <td width="100" align="center">Cantidad</td>
         <td width="100" align="center">Unit.</td>
         <td width="100" align="center">Total</td>
      </tr>
   </table>
   <div class="rolagem_cobro" dir="div">
      <table>
         <% indice  = 1 %>
         <% entrada = 0 %>
         <% quant    = 0 %>
         <% tot    = 0 %>

         <% consumicao_interna_produtos.each do |cip| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="50" align="center"><%=h indice %></td>
               <td width="400" align="left"><%=h cip.produto_nome %></td>
               <td width="100" align="right"><%= cip.quantidade   %></td>               
               <td width="100" align="right"><%= number_to_currency( cip.unitario_dolar, :format =>' %n ', :separator => ",")   %></td>
               <td width="100" align="right"><%=h number_to_currency( cip.quantidade * cip.unitario_dolar, :format =>' %n ', :separator => ",") %></td>
               <td><%= link_to 'Editar', edit_consumicao_interna_consumicao_interna_produto_path(consumicao_interna,cip) %></td>
               <td><%= link_to 'Borrar',[consumicao_interna,cip] , :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>

            <% indice  += 1 %>
            <% quant   += cip.quantidade %>
            <% entrada += cip.unitario_dolar %>
            <% tot     += ( cip.unitario_dolar.to_f + cip.quantidade.to_f ) %>

         <% end %>
      </table>
   </div>
   <table>
      <tr>
         <td width="460"></td>
         <td width="100" align="right"><%= number_to_currency( quant, :format =>' %n ', :separator => ",") %></td>
         <td width="100" align="right"><%= number_to_currency( entrada, :format =>' %n ', :separator => ",") %></td>
         <td width="100" align="right"><%= number_to_currency( tot, :format =>' %n ', :separator => ",")%></td>
      </tr>
   </table>

</div>
