<h1 align="right" id="header">Unidade Metrica</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_unidade_metrica_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="50" align="center">Sigla</td>
            <td width="350" align="center">Nome</td>
          </tr>
</table>

<div class="rolagem" dir="div">
<table>
<% @unidade_metricas.each do |uni_met| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= uni_met.sigla %></td>
    <td width="350" align="left"><%= uni_met.nome %></td>
    
    <td><%= link_to 'Editar', edit_unidade_metrica_path(uni_met) %></td>
    <td><%= link_to 'Borrar', uni_met, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>