<h1 align="right" id="header">Manutencion de Equipos</h1>

<% form_for(@manutencao_maquina) do |f| %>
   <%= f.error_messages %>
   <ul class="tabs">
      <li><a href="#tab1">Manutencion - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">

         <div class="grid">
            <%= render :partial=>"manutencao_maquina_produtos/index", :locals=>{:manutencao_maquina => @manutencao_maquina,:manutencao_maquina_produtos => @manutencao_maquina.manutencao_maquina_produtos} %>
         </div>

         <table>
            <tr>
               <td>
                  <fieldset>
                     <table>
                        <tr>
                           <td align="right">Producto :</td>
                           <td colspan="2"><%= @manutencao_maquina.produto_nome %></td>

                           <td align="right">Cantidad :</td>
                           <td align="right"><%= @manutencao_maquina.quantidade %></td>
                        </tr>

                        <% unitario = Stock.find_by_produto_id(@manutencao_maquina.produto_id)
                           custo_us = unitario.unitario_dolar
                           custo_gs = unitario.unitario_guarani %>
                        <tr>
                           <td align="right">Costo del Equipo :</td>
                           <td align="right"><%= number_to_currency( custo_us, :format =>' %n ', :separator => ",")  %></td>
                           <td align="right">Gs.:</td>
                           <td align="right"><%= number_to_currency( custo_gs, :format =>' %n ', :precision => 0 )  %></td>
                        </tr>
                        <%= f.hidden_field :quantidade ,:value =>  number_to_currency( @manutencao_maquina.quantidade, :format =>' %n ', :separator => ",")%>
                        <tr>
                           <td align="right">Costo de la Manutencion U$. :</td>
                           <td align="right" ><%= number_to_currency( custo = ( @total) , :format =>' %n ', :separator => ",")%></td>

                           <td align="right">Gs.:</td>
                           <td align="right"><%= number_to_currency( ( custo.to_f * @manutencao_maquina.cotacao ) , :format =>' %n ', :precision => 0) %></td>


                        </tr>
                        <tr>
                           <td align="right">Costo U$.:</td>
                           <td align="right" ><%= number_to_currency( ( custo.to_f + custo_us) , :format =>' %n ', :separator => ",")%></td>
                           <%= f.hidden_field :custo_dolar ,:value =>  number_to_currency( ( custo.to_f + custo_us) , :format =>' %n ', :separator => ",")%>
                           <td align="right">Gs.:</td>
                           <td align="right" ><%= number_to_currency( ( custo.to_f + custo_us) * @manutencao_maquina.cotacao , :format =>' %n ', :precision => 0)%></td>
                           <%= f.hidden_field :custo_guarani ,:value =>  number_to_currency( ( custo.to_f + custo_us) * @manutencao_maquina.cotacao , :format =>' %n ', :precision => 0)%>
                        </tr>
                     </table>

                  </fieldset>
                  <fieldset>

                     <table>
                        <tr>
                           <td align="right">Fecha Finalizacion:</td>
                           <td colspan="3"><%= f.date_select :data_finalizacao,{},{:onblur => "DataCotacao('manutencao_maquina_data_3i','manutencao_maquina_data_2i','manutencao_maquina_data_1i')"}  %></td>
                           <td colspan="3">
                              <fieldset>
                                 <%= f.radio_button :status, 0,  :Checked => "True" %>En andamento
                                 <%= f.radio_button :status, 1%> Finalizar
                              </fieldset>
                           </td>
                           <td align="right">Vendedor :</td>
                           <td colspan="4"><%= @manutencao_maquina.vendedor_nome%></td>

                        </tr>

                        <tr>
                           <td align="right">Deposito :</td>
                           <td colspan="4"><%= f.collection_select :deposito_id, Deposito.all( :select => ' id,nome',
                                 :order  => '2' ), :id,
                                :nome %></td>
                        </tr>


                        <tr>
                           <td align="right">Balcao :</td>
                           <td><%= f.text_field :porcen_balcao,
                                :size      => 5,
                                :dir       => "rtl",
                                :precision => 0,
                                :value     => 60 %> % </td>

                           <td align="right">Mayorista :</td>
                           <td><%= f.text_field :porcen_mayorista,
                                :size      => 5,
                                :dir       => "rtl",
                                :precision => 0,
                                :value     => 25 %> % </td>

                           <td align="right">Corporativo :</td>
                           <td><%= f.text_field :porcen_corporativo,
                                :size      => 5,
                                :dir       => "rtl",
                                :precision => 0,
                                :value     => 15 %> % </td>
                        </tr>

                     </table>
                  </fieldset>
               </td>
            </tr>
         </table>
      </div>
   </div>

   <div class="button">
      <%= f.submit "OK",:disable_with => "Aguarde..."  , :class => "clean-gray_ok"  %>
      <%= link_to '',  manutencao_maquina_path(@manutencao_maquina)  , :class => "clean-gray_previous" %>
      <%= link_to '',  manutencao_maquinas_path  , :class => "clean-gray_next" %>
   </div>
<% end %>
