<body onload="ImputFocus('manutencao_maquina_data_3i')">
   <h1 align="right" id="header">Manutencion de Equipos</h1>

   <%= form_for(@manutencao_maquina) do |f| %>
      
   <% if @manutencao_maquina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manutencao_maquina.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @manutencao_maquina.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <ul class="tabs">
         <li><a href="#tab1">Produción - [Edicion]</a></li>
      </ul>

      <div class="tab_container">
         <div id="tab1" class="tab_content">
            <table>
               <tr>
                  <td>
                     <fieldset>

                        <table>
                          <tr>
                            <td align="right">Fecha:</td>
                            <td colspan="3"> <%= f.date_select :data %></td>                                            
                          </tr>

                          <tr>
                           <td align="right">Cotizacion :</td>
                            <td> <%= text_field  :manutencao_maquina,:cotacao ,
                              :size     => 10,
                              :value    => @manutencao_maquina.cotacao.to_i,
                              :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                                                type: 'POST',
                                                data: 'data=' + $('#manutencao_maquina_data_3i').val()+'/'+
                                                $('#manutencao_maquina_data_2i').val()+'/'+
                                                $('#manutencao_maquina_data_1i').val(),
                                                success: function(data){
                                                  $('#manutencao_maquina_cotacao').val(data);} })"%>
                            </td>

                           </tr>

                           <tr>
                              <td align="right">Vendedor :</td>
                              <td colspan="4"><%= f.collection_select :vendedor_id, Persona.all( :select => ' id,nome',
                                                                                                   :conditions => ["tipo_vendedor = 1"],
                                                                                                :order  => '2' ), :id,
                                                                                               :nome %></td>
                           </tr>


                           <tr>
                              <td align="right">Producto :</td>
                              
                              <td colspan="4">
                                       <%= text_field_tag( 'codigo',
                                                      nil,
                                                      :id     => "codigo",
                                                      :onblur => {:remote => true,
                                                                  :update => "codigo",
                                                                                    :url        => { :action     => :get_codigo },
                                                                                    :with       => "'codigo='+this.value"},
                                                                                    :size       => 5,
                                                                                    :onkeyup    => "f(this),EnterTab(event,'manutencao_maquina_quantidade')",
                                                                                    :onkeypress => "return bloqEnter(event)") %>
                              
                              
                              <%= f.collection_select :produto_id, Produto.all( :select => ' id,nome',
                                    :order  => '2' ), :id,
                                   :nome %></td>
                           </tr>

                           <tr>
                              <td align="right">Cantidad :</td>
                              <td><%= f.text_field  :quantidade,
                                   :size     => 15 ,
                                   :dir      => "rtl"%></td>
                           </tr>

                        </table>
                     </fieldset>
                  </td>
               </tr>
            </table>
         </div>
      </div>

      <div class="buttons">
        <%= f.submit "   Grabar  ",:disable_with => "Aguarde..." , :class => "button" %>
        <%= link_to 'Volver', manutencao_maquinas_path, :class => "button back" %>
      </div>
   <% end %>
</body>

