<h1 align="right" id="header">Manutencion De Equipos</h1>

<%= link_to 'Nuevo', new_manutencao_maquina_path , :class => 'button add'%>
<div class="group">
   <table>
      <tr>
         <td width="80" align="center">Cod.</td>
         <td width="80" align="center">Fecha</td>
         <td width="450" align="center">Producto</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">
      <table>
         <tr>
         </tr>


         <% @manutencao_maquinas.each do |manutencao_maquina| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <% if manutencao_maquina.status.to_i !=  1 %>
                  <td width="80" align="center" bgcolor="#fa3e40"><%= manutencao_maquina.id %></td>
                  <td width="80" align="center" bgcolor="#fa3e40"><%= manutencao_maquina.data.strftime("%d/%m/%y") %></td>
                  <td width="450" align="left" bgcolor="#fa3e40"><%= manutencao_maquina.produto_nome %></td>
                  <td bgcolor="#fa3e40"><%= link_to 'Editar', edit_manutencao_maquina_path(manutencao_maquina) %></td>
                  <td bgcolor="#fa3e40"><%= link_to 'Borrar', manutencao_maquina, :confirm => 'TIene Certeza ?', :method => :delete %></td>
               <% else %>
                  <td width="80" align="center"><%= manutencao_maquina.id %></td>
                  <td width="80" align="center"><%= manutencao_maquina.data.strftime("%d/%m/%y") %></td>
                  <td width="450" align="left"><%= manutencao_maquina.produto_nome %></td>
                  <td><%= link_to 'Editar', edit_manutencao_maquina_path(manutencao_maquina) %></td>
                  <td><%= link_to 'Borrar', manutencao_maquina, :confirm => 'TIene Certeza ?', :method => :delete %></td>
               <% end %>
            </tr>
         <% end %>
      </table>
   </div>
</div>

