<h1 align="right" id="header">Manutencion De Equipos</h1>

<ul class="tabs">
   <li><a href="#tab1">Manutencion - [Productos]</a></li>
</ul>

<div class="tab_container">
   <div id="tab1" class="tab_content">
      <div class="group">

         <table>
            <tr>
               <td>Producto a Produzir :</td>
               <td><%=@manutencao_maquina.produto_nome%></td>

               <td>Cantidad :</td>
               <td><%=@manutencao_maquina.quantidade%></td>
            </tr>
         </table>
      </div>
      <br/>
      <div class="grid">
         <%= render :partial=>"manutencao_maquina_produtos/index", :locals=>{:manutencao_maquina => @manutencao_maquina,:manutencao_maquina_produtos => @manutencao_maquina.manutencao_maquina_produtos} %>
      </div>

      <%= render :partial=>"manutencao_maquina_produtos/new_produto" , :locals=>{:manutencao_maquina => @manutencao_maquina, :manutencao_maquina_produto => ManutencaoMaquinaProduto.new}%>

   </div>
</div>
<div class="button">
   <%= link_to 'Volver', edit_manutencao_maquina_path(@manutencao_maquina) , :class => "links"%> 
   <%= link_to 'Seguir', manutencao_final_manutencao_maquina_path(@manutencao_maquina) , :class => "links"%> 
</div>

<script>


   document.onkeydown=function(e)
   {
      //LISTA DE PRODUTOS
      if(e.which == 113)
         window.open('/produtos/busca_manutencao_mq_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=50, WIDTH=2500, HEIGHT=400');

   }
</script>

