<div class="group">
   <table>
      <tr>
         <% if @venda.tipo == 0 %>
            <td width="50" align="center">Cod.</td>
            <td width="100" align="center">Cheque</td>
            <td width="100" align="center">Valor U$.</td>
            <td width="100" align="center">Valor Gs.</td>
            <td width="200" align="center">Cuenta</td>
            <td width="150" align="center">Banco</td>
            <td width="200" align="center">Titular</td>
            <td width="100" align="center">Diferido</td>
         <% else %>
            <td width="50" align="center">Cod.</td>
            <td width="50" align="center">Cota</td>
            <td width="100" align="center">Valor Dolar</td>
            <td width="100" align="center">Valor Gs.</td>
            <td width="100" align="center">Vencimento</td>
         <% end %>
      </tr>
   </table>

   <div class="rolagem" dir="div">
      <table>
         <%  vendas_financas.each do |vendas_financa| %>

            <tr class = "<%= cycle("cor2", "cor1") %>">
               <% if @venda.tipo == 0 %>
                  <td width="50" align="center">    <%= h vendas_financa.id%></td>
                  <td width="100" align="left">     <%= h vendas_financa.cheque %></td>
                  <td width="100" align="right">    <%= h number_to_currency(vendas_financa.valor_dolar, :format=>' %n ', :separator => ",")  %></td>
                  <td width="100" align="right">    <%= h number_to_currency(vendas_financa.valor_guarani, :format=>' %n ', :precision => 0)  %></td>
                  <td width="200" align="left">     <%= h vendas_financa.conta_nome %></td>
                  <td width="200" align="left">     <%= h vendas_financa.banco %></td>
                  <td width="200" align="left">     <%= h vendas_financa.titular %></td>
                  <td width="100" align="center">   <%= h vendas_financa.diferido.strftime("%d/%m/%Y") %></td>
               <% else %>
                  <td width="50" align="center">    <%= h vendas_financa.id%></td>
                  <td width="50" align="center">    <%= h vendas_financa.cota%></td>
                  <td width="100" align="right">    <%= h number_to_currency(vendas_financa.valor_dolar, :format=>' %n ', :separator => ",")  %></td>
                  <td width="100" align="right">    <%= h number_to_currency(vendas_financa.valor_guarani, :format=>' %n ', :precision => 0)  %></td>
               <% end %>
               <td><%= link_to 'Editar', edit_vendas_financa_path(vendas_financa) %></td>
               <td><%= link_to 'Borrar', vendas_financa, :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>
