
<body onload="">
  <%if @venda.tipo == 0
    contado = "XX"
  else
    credito = "XX"
  end
  %>

    <table align="left"  valign="top"  border="1" >

      <tr>
        <td colspan="4" height="140">
          <FONT FACE="times new roman" size="2">
          </FONT>
        </td>

      <tr>
      </tr>

        <td width="130">
          <FONT FACE="times new roman" size="2">
          </FONT>
        </td>

        <td width="650"align="left">
          <FONT FACE="times new roman" size="2">
            <%= @venda.data.strftime("%d") %> de <%= @venda.data.strftime("%B") %> de <%= @venda.data.strftime("%Y") %>
          </FONT>
        </td>

        <td width="80" align="center">
          <FONT FACE="times new roman" size="2">
            <%= contado %>
          </FONT>
        </td>

        <td width="80" align="center">
          <FONT FACE="times new roman" size="2">
            <%= contado %>
          </FONT>
        </td>
      </tr>

      <tr>
        <td width="80" align="center">
          <FONT FACE="times new roman" size="2">            
          </FONT>
        </td>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
            <%= @venda.persona_nome %>
          </FONT>
        </td>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
            <%= @venda.ruc %>
          </FONT>
        </td>
      </tr>
      <tr>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
          </FONT>
        </td>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
            <%= @venda.direcao %>
          </FONT>
        </td>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
            <%= @venda.telefone %>
          </FONT>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
        <td width="80" align="left">
          <FONT FACE="times new roman" size="2">
            <%= current_user.usuario_nome %>
          </FONT>
        </td>

      </tr>
      <tr height="300" valign="top" >
        <td colspan="5">
          <table>
            <tr>
              <td>

                <% tottaxa0  = 0 %>
                <% tottaxa5  = 0 %>
                <% tottaxa10 = 0 %>
                <% @venda_produto.each do |produto| %>
                  <tr>
                    <td width="50"  align="center"><FONT FACE="times new roman" size="2"> <%= produto.id %> </font></td>
                    <td width="50"  align="center"><FONT FACE="times new roman" size="2"> <%= format("%.3f",produto.quantidade.to_f) %></font> </td>
                    <td width="350" align="left"><FONT FACE="times new roman" size="2"> <%= produto.produto_nome %></font> </td>
                    <td width="80"  align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(produto.unitario_guarani, :format=>' %n ', :precision => 0) %> </font></td>
                    <% if produto.taxa.to_i == 0 %>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0) %></font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <% tottaxa0  = tottaxa0 + produto.total_guarani %>

                    <% elsif produto.taxa.to_i == 5 %>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0) %></font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <% tottaxa5  = tottaxa5 + produto.total_guarani %>

                    <% elsif produto.taxa.to_i == 10 %>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> 0 </font> </td>
                      <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0) %></font> </td>
                      <% tottaxa10  = tottaxa10 + produto.total_guarani %>

                    <% end %>

                  </tr>
                <%end%>
              </td>
            </tr>
          </table>
        </td>
     </tr>
     <tr>
       <td colspan="1"></td>
       <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(tottaxa0, :format=>' %n ', :precision => 0) %></font> </td>
       <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(tottaxa5, :format=>' %n ', :precision => 0) %></font> </td>
       <td width="100" align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(tottaxa10, :format=>' %n ', :precision => 0) %></font> </td>
     </tr>
     <tr>
       <td colspan="0"></td>
       <td align="left"><FONT FACE="times new roman" size="2"> <%= @produto_sum_gs.por_extenso.upcase %></font> </td>
       <td  colspan="2" rowspan="2" align="right"><FONT FACE="times new roman" size="2"> <%= @produto_sum_gs %></font></td>
     </tr>
     <tr>
     </tr>
     <tr>
       <td colspan="0"></td>
       <td align="right"><FONT FACE="times new roman" size="2"> <%= number_to_currency(@produto_sum_iva5, :format=>' %n ', :precision => 0)%></font> </td>
       <td ><FONT FACE="times new roman" size="2"> <%= number_to_currency(@produto_sum_iva10, :format=>' %n ', :precision => 0)%></font></td>
       <td ><FONT FACE="times new roman" size="2"> <%= number_to_currency(@produto_total_iva, :format=>' %n ', :precision => 0)%></font></td>
     </tr>

    </table>  
</body>






