<body onload="print()">
	<% if @venda.tipo == 0
    contado = "XX"
  else
    credito = "XX"
  end %>
			<table align="left"  valign="top"  border="0" >

				<tr>
					<td colspan="4" height="160" align="right" valign="bottom">
					
						<%= @venda.documento_numero_01%>-<%= @venda.documento_numero_02%>-<%= @venda.documento_numero%> 
					
					</td>

				</tr>
				
				<tr>
					<td width="5" align="left" valign="top" colspan="2">						
					    
					    <% 14.times  do |space|%>
	                      &nbsp
	                    <% end %>

						<%= @venda.data.strftime("%d") %> de						 
                        <%= @venda.data.strftime("%B") %> de
						<%= @venda.data.strftime("%Y") %>
						 					
					</td>

					
					<td width="120" align="right" height="5" valign="top" colspan="2">
					
					</td>

				</tr>

				<tr>
					<td align="left" colspan="2" valign="top">
					
	                    <% 15.times  do |space|%>
	                      &nbsp
	                    <% end %>
						 <%= @venda.vendas_financas.last ? @venda.vendas_financas.last.fatura_legal : "." %>

					
					</td>
					
					<td align="center" valign="top" colspan="2">
					
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= @venda.vendas_financas.last ? @venda.vendas_financas.last.fatura_legal_ruc : "." %>
					
					</td>
				</tr>
				
				<tr>
					<td width="80" align="left" colspan="2" valign="top">
	                    <% 10.times  do |space|%>
	                      &nbsp
	                    <% end %>
						<% pd = Persona.find_by_id(@venda.persona_id)%>
					
						 <%= pd.direcao %> - <%= truncate( @venda.direcao.to_s << ' - '<< @venda.persona.cidade.to_s , :length => 60 ) %>
					
					</td>
					<td width="80" align="left">
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= pd.telefone %>
					
					</td>
				</tr>

				<tr>
					<td align="left" colspan="2" valign="top">

					</td>
					
					<td align="right" valign="top" colspan="3">
					
                        <%= contado %> 
   	                    <% 10.times  do |space|%>
	                      &nbsp
	                    <% end %>

                        <%= credito %>
                        &nbsp&nbsp&nbsp
					
					</td>
				</tr>

				<tr height="42">
				</tr>

				<tr height="358" valign="top" >
					<td colspan="5">
						
					<table border="0" width="1290">
						<tr>
							<% count        = 1 %>
							<% tottaxa0_gs  = 0 %>
							<% tottaxa0_us  = 0 %>
							<% tottaxa10_gs = 0 %>
							<% tottaxa10_us = 0 %>
							<% tottaxa05_gs = 0 %>
							<% tottaxa05_us = 0 %>

							<% @venda_produto.each do |produto| %>

							<tr>
								<td width="30"  align="left">
								
									<%= count %>
								
								</td>
								<td width="40"  align="left">
								
									<%= produto.quantidade.to_f %>
								
								</td>
								
								<td width="280" align="left">
								
									<%= truncate(produto.produto_nome, :leght => 30) %>
								
								</td>

								<% if @venda.moeda == 0 %>
								<td width="100"  align="right">
								
									<%= number_to_currency(produto.unitario_dolar, :format=>' %n ', :separeitor => ',') %>
								
								</td>
								<% else %>
								<td width="100"  align="right">
								
									<%= number_to_currency(produto.unitario_guarani, :format=>' %n ', :precision => 0) %>
								
								</td>
								<% end %>
								<% if produto.taxa.to_i == 0 %>
									<% if @venda.moeda == 0 %>
										<td width="80" align="right">								
											<%= number_to_currency(produto.quantidade.to_f * produto.unitario_dolar, :format=>' %n ', :separeitor => ',') %>								
										</td>
									<% else %>
										<td width="80" align="right">							
											<%= number_to_currency( produto.quantidade.to_f * produto.unitario_guarani, :format=>' %n ', :precision => 0) %>								
										</td>
									<% end %>
								<td width="80" align="right">								
									0								
								</td>
								<td width="80" align="right">								
									0								
								</td>
								<% tottaxa0_gs  = tottaxa0_gs + produto.total_guarani %>
								<% tottaxa0_us  = tottaxa0_us + produto.total_dolar %>

								<% elsif produto.taxa.to_i == 5 %>
								<td width="80" align="right">								
									0								
								</td>
								<% if @venda.moeda == 0 %>
									<td width="80" align="right">								
										<%= number_to_currency(produto.total_dolar, :format=>' %n ', :separeitor => ',') %>								
									</td>
								<% else %>
									<td width="80" align="right">							
										<%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0) %>							
									</td>
								<% end %>
								<td width="80" align="right">							
									0								
								</td>
								<% tottaxa05_gs  = tottaxa05_gs + produto.total_guarani %>
								<% tottaxa05_us  = tottaxa05_us + produto.total_dolar %>

								<% elsif produto.taxa.to_i == 10 %>
								<td width="80" align="right">								
									0								
								</td>
								<td width="80" align="right">								
									0								
								</td>
								<% if @venda.moeda == 0 %>
								<td width="80" align="right">								
									<%= number_to_currency(produto.total_dolar, :format=>' %n ', :separeitor => ',') %>								
								</td>
								<% else %>
								<td width="80" align="right">								
									<%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0) %>								
								</td>
								<% end %>
								<% tottaxa10_gs  = tottaxa10_gs + produto.total_guarani %>
								<% tottaxa10_us  = tottaxa10_us + produto.total_dolar %>
							</tr>

							<% elsif produto.taxa.to_i == 80 %>
								<% if @venda.moeda == 0 %>
								<td width="80" align="right">								
									<%= number_to_currency( ( ( ( produto.unitario_dolar.to_f / 1.02 )  * 0.80 ) * produto.quantidade.to_f ), :format=>' %n ', :separeitor => ',') %>								
								</td>
								<% else %>
								<td width="80" align="right">								
									<%= number_to_currency( ( ( ( produto.unitario_guarani.to_f / 1.02 )  * 0.80 ) * produto.quantidade.to_f ), :format=>' %n ', :precision => 0 ) %>								
								</td>
								<% end %>
								<% tottaxa0_gs  = tottaxa0_gs + ( ( ( produto.unitario_guarani.to_f / 1.02 )  * 0.80 ) * produto.quantidade.to_f ) %>
								<% tottaxa0_us  = tottaxa0_us + ( ( ( produto.unitario_dolar.to_f / 1.02 )  * 0.80 ) * produto.quantidade.to_f ) %>

								<td width="80" align="right">								
									0								
								</td>
								<% if @venda.moeda == 0 %>
								<td width="80" align="right">								
									<%= number_to_currency( ( ( ( produto.unitario_dolar * produto.quantidade )  - ( ( produto.unitario_dolar.to_f / 1.02 )  * 0.80 ) * produto.quantidade ) ), :format=>' %n ', :separeitor => ',') %>								
								</td>
								<% else %>
								<td width="80" align="right">								
									<%= number_to_currency( ( ( ( produto.unitario_guarani * produto.quantidade )  - ( ( produto.unitario_guarani.to_f / 1.02 )  * 0.80 ) * produto.quantidade ) ), :format=>' %n ', :precision => 0 ) %>								
								</td>
								<% end %>
								<% tottaxa10_gs  = tottaxa10_gs + ( ( ( produto.unitario_guarani * produto.quantidade )  - ( ( produto.unitario_guarani.to_f / 1.02 )  * 0.80 ) * produto.quantidade ) ) %>
								<% tottaxa10_us  = tottaxa10_us + ( ( ( produto.unitario_dolar * produto.quantidade )  - ( ( produto.unitario_dolar.to_f / 1.02 )  * 0.80 ) * produto.quantidade ) ) %>
								<% end %>
							</tr>


							<% count += 1 %>
							<%end%>
							</td>
						</tr>
					</table>
					</td>
				</tr>
				
				<!--RESULTADOS !-->
				<tr>
					<td colspan="1">
   					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<% if @venda.moeda == 0 %>
						<%= @produto_sum_dolar.to_f.por_extenso_em_dolares.upcase %>
						<% else %>
						<%= @produto_sum_guarani.to_f.por_extenso.upcase %>
						<% end %>

					</td>
					
					<td align="right" colspan="4" width="400">
						<table border="0">
						<% if @venda.moeda == 0 %>
							<tr>
                              <td width="100" align="center">
                              	
						              <%= number_to_currency(tottaxa0_us, :format=>' %n ', :separeitor => ',') %>
					            
					          </td>                              	

                              <td width="145" align="center">
                              	
						              <%= number_to_currency(tottaxa05_us, :format=>' %n ', :separeitor => ',') %>
					            
					          </td>                              	

                              <td width="145" align="right">
                              	
						              <%= number_to_currency(tottaxa10_us, :format=>' %n ', :separeitor => ',') %>
					            
					          </td>                              	                              	
				            </tr>
				         <% else %>
							<tr>
                              <td width="100" align="center">
                              	
						              <%= number_to_currency(tottaxa0_gs, :format=>' %n ', :precision => 0) %>
					            
					          </td>                              	

                              <td width="145" align="center">
                              	
						              <%= number_to_currency(tottaxa05_gs, :format=>' %n ', :precision => 0) %>
					            
					          </td>                              	

                              <td width="145" align="right">
                              	
						              <%= number_to_currency(tottaxa10_gs, :format=>' %n ', :precision => 0) %>
					            
					          </td>                              	                              	
				            </tr>

				         <% end %>   
				         </table>   
                       </td>
                </tr>	
				<tr>
					<td colspan="4" valign="top" >
					
					
					</td>
					<% if @venda.moeda == 0 %>
					<td width="100" align="right">
					
						<%= number_to_currency(@produto_sum_dolar.to_f, :format=>' %n ', :separeitor => ',') %>
					
					</td>
					<% else %>
					<td width="100" align="right">
					
						<%= number_to_currency(@produto_sum_guarani.to_f, :format=>' %n ', :precision => 0) %>
					
					</td>
					<% end %>
				</tr>
				<tr>
					<% if  @venda.moeda == 0%>

					<td align="center" width="390" valign="top" colspan="2">
					
						<%= number_to_currency(@produto_sum_iva05_us.to_f, :format=>' %n ', :separeitor => ',')%>

					    <% 13.times  do |space|%>
	                      &nbsp
	                    <% end %>

 						<%= number_to_currency(@produto_sum_iva10_us.to_f  + @produto_sum_iva80_us.to_f, :format=>' %n ', :separeitor => ',')%>

						<%= number_to_currency(@produto_sum_iva05_us.to_f + @produto_sum_iva10_us.to_f + @produto_sum_iva80_us.to_f, :format=>' %n ', :separeitor => ',')%>

					
					</td>

					<td>
					<table>
						<tr>
							<td width="50" align="left" valign="top">
													
							</td>

							<td width="230" align="left" valign="top">
							
							
							</td>
						</tr>
					</table>
					</td>

					<% else %>

					<td align="left" width="150" colspan="3" valign="top">
					    <% 15.times  do |space|%>
	                      &nbsp
	                    <% end %>					
						<%= number_to_currency(@produto_sum_iva05_gs.to_f, :format=>' %n ', :separeitor => ',')%>
					    <% 10.times  do |space|%>
	                      &nbsp
	                    <% end %>					

						<%= number_to_currency(@produto_sum_iva10_gs.to_f + @produto_sum_iva80_gs.to_f, :format=>' %n ', :precision => 0)%>										
					    <% 10.times  do |space|%>
	                      &nbsp
	                    <% end %>					

					    <%= number_to_currency(@produto_sum_iva05_gs.to_f + @produto_sum_iva10_gs.to_f + @produto_sum_iva80_gs.to_f, :format=>' %n ', :precision => 0)%>							

					</td>
							<td width="50" align="left" valign="top">
							</td>


					<td>
					<table>
						<tr>
							<td width="130" align="left" valign="top">
							
							
							</td>
						</tr>
					</table>
					</td>
					<% end %>
				</tr>
				<tr height="55">    				
					<td>  					  
					    <%= current_user.usuario_nome %>
					  
					</td>					
				</tr>
			</table>
</body>
<style type="text/css">
table { font-family:Lucida Console, Courier, Monotype;
        font-size:12px;}
</style>
