<table>
	<tr>
		<td>
		<div class="border">
			<table height="70">
				<tr>
					<td align="center">
               <%= pdf_image_tag('logo.JPG', :style=>"margin:0px;padding:0px",:width=>"200", :height=>"90")%>
					</td>
				</tr>
			</table>
		</div>
		</td>

		<td>
		<div class="border">

			<table height="70">
				<tr>
					<td align="right"></td>
					<td align="right" width="555" colspan="5" valign="top"> <%= @presupuesto.data.strftime("%d de %B de %Y ")%></td>
				</tr>

				<tr>
					<td align="right" align="160">Moneda : </td>
					<% if @presupuesto.moeda == 0 %>
					<td> DOLAR</td>
					<% else %>
					<td> GUARANIES</td>
					<% end %>

					<td align="right">Cotización : </td>
					<td><%= number_to_currency( @presupuesto.cotacao, :format =>' %n ', :precision => 0) %> </td>
				</tr>

				<tr>
					<td align="right">Señor(a) : </td>
					<td> <%= @presupuesto.persona_nome%> </td>

					<td align="right"> Ruc : </td>
					<td> <%= @presupuesto.ruc%> </td>
				</tr>

				<tr>
					<td align="right">Direción : </td>
					<td> <%= @presupuesto.direcao%> </td>

					<td align="right">Tel : </td>
					<td> <%= @presupuesto.telefone%> </td>
				</tr>

			</table>
		</div>
		</td>
	</tr>
</table>

</div>
<p align="center">
	Itens
</p>

<div class="border">
	<table>
		<tr>
			<td width="50"  align="center" style="border-bottom: 1px solid black;"></td>
			<td width="100" align="center" style="border-bottom: 1px solid black;">cod.</td>
			<td width="300" align="center" style="border-bottom: 1px solid black;">Producto</td>
			<td width="100" align="right" style="border-bottom: 1px solid black;">Cantidad</td>
			<td width="100" align="right" style="border-bottom: 1px solid black;">Unitario</td>
			<td width="100" align="right" style="border-bottom: 1px solid black;">Total</td>
		</tr>
	</table>

	<table>
		<% indice = 1%>
		<% total_us  = 0%>
		<% total_gs  = 0%>
		<% @presupuesto_produto.each do |pp| %>
		<tr class = "<%= cycle("corb1", "corb2") %>">
			<td width="50"  align="center"><%= indice %></td>
			<td width="100" align="center"><%= pp.fabricante_cod %></td>
			<td width="300" align="left"><%= pp.produto_nome%></td>
			<td width="100" align="right"><%= pp.quantidade%></td>
			<% if @presupuesto.moeda.to_i == 0 %>
  			  <td width="100" align="right"><%= number_to_currency( pp.unitario_dolar, :format =>' %n ', :separator => ",") %></td>
	  		  <td width="100" align="right"><%= number_to_currency( pp.total_dolar, :format =>' %n ', :separator => ",") %></td>
	  		<% else %>
  			  <td width="100" align="right"><%= number_to_currency( pp.unitario_guarani, :format =>' %n ', :precision => 0) %></td>
	  		  <td width="100" align="right"><%= number_to_currency( pp.total_guarani, :format =>' %n ', :precision => 0) %></td>
	  		<% end %>
		</tr>
		<% indice += 1%>
		<% total_us  += pp.total_dolar %>
		<% total_gs  += pp.total_guarani %>

		<% end %>

		<tr>
			<td colspan="6"  align="center" style="border-top: 1px solid black;"></td>
		</tr>
		<tr>
  	      <% if @presupuesto.moeda.to_i == 0 %>
			<td colspan="6"  align="right">Suma Total : <%= number_to_currency( total_us, :format =>' %n ', :separator => "," )%> </td>
		  <% else %>
			<td colspan="6"  align="right">Suma Total : <%= number_to_currency( total_gs, :format =>' %n ', :precision => 0 )%> </td>
		  <% end %>
		</tr>

		<tr>
			<td colspan="4"  align="center">Valido: 15 dias o hasta termino de stock </td>
		</tr>
	</table>
</div>

<style type="text/css">
	table {
		border-collapse: collapse;
	}
</style>
