<h1 align="right" id="header">Cierre de Caja</h1>
<div class="acessos">
	<%= link_to 'Nuevo', new_fechamento_caixa_path, :class => "button add" %>
</div>
<div class="group">
   <table>
      <tr>
         <td width="50" align="center">Cod.</td>
         <td width="80" align="center">Fecha</td>
         <td width="200" align="center">Usuario</td>
         <td width="200" align="center">Cuenta</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">

      <table>
<% @fechamento_caixas.each do |fechamento_caixa| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center" ><%=h fechamento_caixa.id %></td>
    <td width="80" align="center"><%=h fechamento_caixa.data.strftime("%d/%m/%Y") %></td>
    <td width="200" align="left"><%=h fechamento_caixa.usuario_nome %></td>
    <td width="200" align="left"><%=h fechamento_caixa.conta_nome %></td>
    <td><%= link_to 'Mirar', fechamento_caixa_path(fechamento_caixa) %></td>
    <% if current_user.tipo == 0%>
    <td><%= link_to 'Editar', edit_fechamento_caixa_path(fechamento_caixa) %></td>
    <td><%= link_to 'Borrar', fechamento_caixa, :confirm => 'Tiene Certeza?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>

</table>

  </div>
</div>

