<body onload="DataInicio(),DataFinal(),CampoInicio()">
   <h1 align="right" id="header">.</h1>
   Relatorio Pagos
   <div class="group">
      <h2>
         <%= form_tag resultado_pagos_relatorios_path, :method => "get" do%>
            <table>

               <tr>
                  <td> Fecha:</td>
                  <td>
                     <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                     Hasta
                     <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                  </td>
               </tr>


              <tr>
                <td align="right">Moneda :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :moeda, 0,  :Checked => "True"%>Dolar
                    <%= radio_button_tag :moeda, 1  %> Guaranies
                    <%= radio_button_tag :moeda, 2  %> Reais
                  </fieldset>
                </td>
              </tr>

              <tr>
                <td align="right">Tipo :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :detalhe, 0,  :Checked => "True"%>Resumen
                    <%= radio_button_tag :detalhe, 1  %> Detalhado
                  </fieldset>
                </td>
              </tr>

              <tr>
                <td align="right">Clase :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :clase_produto, 0,  :Checked => "True"%>Repuestos
                    <%= radio_button_tag :clase_produto, 1  %> Maquinario
                    <%= radio_button_tag :clase_produto, ''  %> Todos
                  </fieldset>
                </td>
              </tr>

               <tr>
                  <td></td>
                  <td>
                     <input  id      ="button"
                             type    ="submit"
                             value   ="            Informe           "
                             onclick = "Tipo('0')"/>

                     <input type     = "submit"
                            value    = "            Excel            "
                            onclick  = "Tipo('1')"/>
                  </td>
               </tr>

               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


