<body onload="DataFinal(),CampoInicio()">
   <h1 id="header">Listado de Pedido de Venta</h1>
   <div class="group">
      <h2>
         <%= form_tag resultado_pedidos_vendas_relatorios_path, :method => "get" do%>
            <table>

               <tr>
                  <td align="right"> Fecha : </td>
                  <td>
                     <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" type="text" />
                     Hasta
                     <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)" type="text"/>
                  </td>
               </tr>

               <tr>
                  <td align="right">Cliente :</td>
                  <td>
                     <%=   select("busca", "persona", Persona.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Vendedor :</td>
                  <td>
                     <%=   select("busca", "vendedor", Persona.all(:select     => ' id,nome,tipo_vendedor',
                              :conditions => ["tipo_vendedor = 1"],
                              :order      => '2').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
                </tr>

                <tr>
                 <td></td>
                 <td>
                   <%= check_box_tag :lancamento,'1', :onkeyup    => "Formatadata(this,event),EnterTab(event,'moeda')",
                                                  :onkeypress => "return bloqEnter(event)" %> Todos lo lanzamientos
                </td>
               </tr>

              <tr>
                <td align="right">Moneda :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :moeda, 0,  :Checked => "True"%>Dolar
                    <%= radio_button_tag :moeda, 1  %> Guaranies
                    <%= radio_button_tag :moeda, 2  %> Reais
                  </fieldset>
                </td>
              </tr>

              <tr>
                <td align="right">Status :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :status, 0,  :Checked => "True"%>En Abertos
                    <%= radio_button_tag :status, 1  %> Facturado
                    <%= radio_button_tag :status, 2  %> Cancelado
                    <%= radio_button_tag :status, ''  %> Todos

                  </fieldset>
                </td>
              </tr>


              <tr>
                <td align="right">Tipo :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :detalhe, 0,  :Checked => "True"%>Resumen
                    <%= radio_button_tag :detalhe, 
                    1  %> Detalhado
                  </fieldset>
                </td>
              </tr>

               <tr > 
                  <td></td>
                  <td>
                     <input  id      = "button"
                             class   = "button_info"
                             type    = "submit"
                             value   = "Informe"
                             onclick = "Tipo('0')"/>

                     <input type     = "submit"
                            id       = "button"
                            class    = "button_info"
                            value    = "Excel"
                            onclick  = "Tipo('1')"/>
                  </td>
               </tr>

               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


