
<div class="group">
   <table>
      <%entradaus = 0%>
      <%entradags = 0%>
      <%saidaus   = 0%>
      <%saidags   = 0%>
      <% @cheque_diferido.each do |diferido|%>
         <tr>
            <td width="50" align="center"> <%= diferido.original.strftime("%d/%m/%Y")%></td>
            <td width="50" align="center"> <%= diferido.data ?  diferido.data.strftime("%d/%m/%Y") : "00/00/0000"%></td>
            <td width="50" align="center"> <%= diferido.depositado ? diferido.depositado.strftime("%d/%m/%Y")  : "00/00/0000"%></td>
            <td width="120" align="left">  <%= diferido.persona_nome%></td>
            <td width="250" align="left"> <%= diferido.conta_nome%></td>
            <td width="150" align="left"> <%= diferido.titular%></td>
            <td width="150" align="left"> <%= diferido.banco%></td>
            <td width="40" align="center">  <%= diferido.cheque%></td>
            <% if params[:moeda].to_s == "0" %>
               <td width="70" align="right">  <%= number_to_currency(diferido.entrada_dolar.to_f, :format=>' %n ', :separeitor => "," )%></td>
               <td width="70" align="right">  <%= number_to_currency(diferido.saida_dolar.to_f, :format=>' %n ', :separeitor => "," )%></td>
               <td width="70" align="right"></td>
            <% else %>
               <td width="70" align="right">  <%= number_to_currency(diferido.entrada_guarani.to_f, :format=>' %n ', :precision => 0 )%></td>
               <td width="70" align="right">  <%= number_to_currency(diferido.saida_guarani.to_f, :format=>' %n ', :precision => 0 )%></td>
               <td width="70" align="right"></td>
            <% end %>
            <% entradaus +=  diferido.entrada_dolar.to_f %>
            <% entradags +=  diferido.entrada_guarani.to_f %>
            <% saidaus   +=  diferido.saida_dolar.to_f %>
            <% saidags   +=  diferido.saida_guarani.to_f %>
         </tr>

      <% end %>
      <tr class="head">
         <% if params[:moeda].to_s == "0" %>
            <td colspan="7"></td>
            <td width="70" align="right">  <%= number_to_currency( entradaus.to_f, :format=>' %n ', :separeitor => "," )%></td>
            <td width="70" align="right">  <%= number_to_currency( saidaus.to_f, :format=>' %n ', :separeitor => "," )%></td>
            <td width="70" align="right">  <%= number_to_currency( entradaus.to_f - saidaus.to_f, :format=>' %n ', :separeitor => "," )%></td>
         <% else %>
            <td colspan="7"></td>
            <td width="70" align="right">  <%= number_to_currency(entradags.to_f, :format=>' %n ', :precision => 0 )%></td>
            <td width="70" align="right">  <%= number_to_currency(saidags.to_f, :format=>' %n ', :precision => 0)%></td>
            <td width="70" align="right">  <%= number_to_currency( entradags.to_f - saidags.to_f, :format=>' %n ', :precision => 0)%></td>
         <% end %>
      </tr>

   </table>
</div>


<style type="text/css">
  table {font-size: 7px}

</style>
