<table class="head_grid">
          <tr>
            <td width="100" align="center">Setor</td>
            <td width="300" align="center">Empleado</td>
            <td width="10" align="center">M</td>
            <td width="100" align="center">Min.</td>
            <td width="50" align="center"></td>
            <td width="100" align="center">Max.</td>
            <td width="50" align="center"></td>
            <td width="100" align="center">Comisión Min%</td>
            <td width="100" align="center">Comisión Max%</td>
          </tr>
</table>

<div class="rolagem" dir="div">

    <table>
<% meta_detalhes.each do |detalhe| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="100" align="left"><%= detalhe.setor_nome %></td>
    <td width="300" align="left"><%= detalhe.persona_nome %></td>
    <% if @meta.moeda == 0 %>
      <td width="10" align="center">U$</td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_min_us,      :format =>' %n ', :separeitor => "," )%></td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_max_us,      :format =>' %n ', :separeitor => "," )%></td>

    <% elsif @meta.moeda == 1 %>
      <td width="10" align="center">Gs</td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_min_gs,      :format =>' %n ', :precision => 0 )%></td>
      <td width="50" align="center"><%= number_to_currency( ((100 * detalhe.valor_min_gs  ) / @meta.valor_min_gs) ,      :format =>' %n ', :precision => 0 )%> % </td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_max_gs,      :format =>' %n ', :precision => 0 )%></td>
      <td width="50" align="center"><%= number_to_currency( ((100 * detalhe.valor_max_gs  ) / @meta.valor_max_gs) ,      :format =>' %n ', :precision => 0 )%> % </td>
    <% else %>
      <td width="10" align="center">R$</td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_min_rs,      :format =>' %n ', :separeitor => "," )%></td>
      <td width="100" align="center"><%= number_to_currency( detalhe.valor_max_rs,      :format =>' %n ', :separeitor => "," )%></td>
    <% end %>
    <td width="100" align="center"><%= detalhe.comicao_min %></td>
    <td width="100" align="center"><%= detalhe.comicao_max %></td>
   
    <td><%= link_to 'Editar', edit_meta_detalhe_path(detalhe) %></td>
    <td><%= link_to 'Borrar', detalhe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
        
    </table>
</div>