
<%= form_for(@proveedore) do |f| %>
  <% if @proveedore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedore.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @proveedore.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <ul class="tabs">
      <li><a href="#tab1">Saldo Inicial Prov.  - [Edicion]</a></li>
   </ul>

   <%= f.hidden_field :tipo, :value => 1%>
   <%= f.hidden_field :clase_produto, :value => 0%>   
   <%= f.hidden_field :liquidacao, :value => 0%>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
            <tr>
              <td align="right">Fecha :</td>
              <td ><%= f.date_select :data,{},{:onblur => "DataCotacao('cliente_data_3i','cliente_data_2i','cliente_data_1i')"}  %></td>
              <%= hidden_field_tag( 'key' ) %>

              <td align="right">Vencimento :</td>
              <td ><%= f.date_select :vencimento%></td>

            </tr>

             <tr>
              <td align="right">Proveedor:</td>
              <td colspan="3"><%= f.collection_select :persona_id, Persona.all(:select => 'id,nome',:order => '2'),:id,:nome %>
            <tr>

            <tr>
              <td align="right"> Moneda :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                  <%= f.radio_button :moeda, 0 %> Dolar
                  <%= f.radio_button :moeda, 2 %> Real

                </fieldset>
               </td>
            </tr>

             <tr>
              <td align="right">Cuota :</td>
              <td colspan="3"><%= f.text_field :cota, :value => 0,:size => 5 %>

              <td align="right">Documento :</td>
              <td ><%= f.text_field :documento_numero_01, :size => 5 %>
              <%= f.text_field :documento_numero_02, :size => 5 %>
              <%= f.text_field :documento_numero, :size => 15 %></td>

            <tr>


            <tr>
              <%= field_gs 'Divida Gs.:',f,:divida_guarani,:onchange => "GsToUs('cliente_cotacao','cliente_divida_guarani','cliente_divida_dolar')" %>

              <%= field_us 'Divida U$:',f,:divida_dolar,:onchange => "UsToGs('cliente_cotacao','cliente_divida_dolar','cliente_divida_guarani')" %>

              <%= field_us 'Divida R$:',f,:divida_real,:onchange => "UsToGs('cliente_cotacao','cliente_divida_dolar','cliente_divida_guarani')" %>
            </tr>

            <tr>
              <%= field_gs 'Pago Gs.:',f,:pago_guarani,:onchange => "GsToUs('cliente_cotacao','cliente_cobro_guarani','cliente_cobro_dolar')" %>

              <%= field_us 'Pago U$:',f,:pago_dolar,:onchange => "UsToGs('cliente_cotacao','cliente_cobro_dolar','cliente_cobro_guarani')" %>

              <%= field_us 'Pago R$:',f,:pago_real,:onchange => "UsToGs('cliente_cotacao','cliente_cobro_dolar','cliente_cobro_guarani')" %>
            </tr>
            <tr>
              <td align="right" valign="top">Concepto :</td>
              <td colspan="5"><%= f.text_area   :descricao,:cols => 65, :rows => 5 %></td>
            </tr>

        </table>
      </div>
   <div class="buttons">
      <%= f.submit "Grabar", :class => "button" %>
      <%= link_to 'Volver', proveedores_path, :class => "button back" %>
    </div>

   </div>
<% end %>


