<h1 align="right" id="header">Compra</h1>
<%= link_to 'Nuevo', new_deposito_path %>
<div class="group">
  <table>
    <tr>
      <td width="300" align="center">Deposito</td>
      <td width="50" align="center">Unidade</td>

    </tr>
  </table>
  <div class="rolagem" dir="div">


    <table>

      <% for deposito in @depositos %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="300" align="left">    <%= h deposito.nome%></td>
          <td width="50" align="left">    <%= h deposito.unidade_id%></td>

          <td><%= link_to 'Edita', edit_deposito_path(deposito) %></td>
          <td><%= link_to 'Borrar', deposito, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>


  </div>
</div>
