<h1 id="header">Rodados</h1>


<%= form_for(@rodado) do |f| %>

  <% if @rodado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rodado.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @rodado.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>   <ul class="tabs">
      <li><a href="#tab1">Rodados - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">

         <table>
            <tr>
               <td align="right">Chapa :</td>
               <td><%= f.text_field :placa,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",
                    :size => 10 %></td>
            </tr>

            <tr>
               <td align="right">Marca :</td>
               <td><%= f.text_field :marcao,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",

                    :size => 20 %></td>
            </tr>

            <tr>
               <td align="right">Modelo :</td>
               <td><%= f.text_field :modelo,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",

                    :size => 20 %></td>
            </tr>

            <tr>
               <td align="right">Chassi :</td>
               <td><%= f.text_field :chassi,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",

                    :size => 20 %></td>
            </tr>

            <tr>
               <td align="right">Responsable :</td>
               <td><%= f.text_field :responsavel,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",

                    :size => 40 %></td>
            </tr>

            <tr>
               <td align="right">Capasidad :</td>
               <td><%= f.text_field :capacidade,
                    :onkeydown => "f(this)",
                    :onkeyup   => "f(this)",

                    :size => 15 %>
                    <%= f.check_box :mq %>Maquina?
                  </td>
            </tr>

         </table>
      </div>
   </div>
   <div class="button">
      <%= f.submit "   Grabar  ",:disable_with => "Aguarde..."  %> |
      <%= link_to 'Volver', rodados_path %>
   </div>

<% end %>
