<h1 align="right" id="header">Localidad</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_localidade_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="50" align="center">Status</td>
            <td width="350" align="center">Codigo</td>
            <td width="350" align="center">Ocupacao</td>
          </tr>
</table>

<div class="rolagem" dir="div">
<table>
<% @localidades.each do |loc| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= loc.status %></td>
    <td width="350" align="left"><%= loc.codigo %></td>
    <td width="350" align="left"><%= loc.ocupacao %></td>
    
    <td><%= link_to 'Editar', edit_localidade_path(loc) %></td>
    <td><%= link_to 'Borrar', loc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>