<h1 align="right" id="header">Compra</h1>
<%= link_to 'Nuevo', new_conta_path %>
<div class="group">
  <table>
    <tr>
      <td width="300" align="center">Conta</td>
      <td width="50" align="center">Unidade</td>
      <td width="100" align="center">Numero</td>
      <td width="50" align="center">Tipo</td>

    </tr>
  </table>
  <div class="rolagem" dir="div">


    <table>

      <% for conta in @contas %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="300" align="left">    <%= h conta.nome %></td>
          <td width="50" align="left">    <%= h conta.unidade_id%></td>
          <td width="100" align="left">    <%= h conta.numero%></td>
          <td width="50" align="left">    <%= h conta.tipo%></td>

          <td><%= link_to 'Editar', edit_conta_path(conta) %></td>
          <td><%= link_to 'Borrar', conta, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>



