<div>
   <table>
      <tr>
         <td>
            <fieldset>
               <table>
                  <tr>

                     <td align="right"> Ref. Personal 1.:</td>
                     <td><%= f.text_field :referencia1,
                          :size       => 25,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Tel. Nro.:</td>
                     <td><%= f.text_field :referencia_ci1,
                          :size       => 15,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Direcion :</td>
                     <td><%= f.text_field :referencia_cargo1,
                          :size       => 35,
                          :onkeypress => "return bloqEnter(event)"%></td>

                  </tr>

                  <tr>

                     <td align="right"> Ref. Personal 2.:</td>
                     <td><%= f.text_field :referencia2,
                          :size       => 25,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Tel. Nro.:</td>
                     <td><%= f.text_field :referencia_ci2,
                          :size       => 15,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Direcion :</td>
                     <td><%= f.text_field :referencia_cargo2,
                          :size       => 35,
                          :onkeypress => "return bloqEnter(event)"%></td>

                  </tr>

                  <tr>

                     <td align="right"> Ref. Comecial 3.:</td>
                     <td><%= f.text_field :referencia3,
                          :size       => 25,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Tel. Nro.:</td>
                     <td><%= f.text_field :referencia_ci3,
                          :size       => 15,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Direcion :</td>
                     <td><%= f.text_field :referencia_cargo3,
                          :size       => 35,
                          :onkeypress => "return bloqEnter(event)"%></td>

                  </tr>

                  <tr>

                     <td align="right">Ref. Comecial 4.:</td>
                     <td><%= f.text_field :referencia4,
                          :size       => 25,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Tel. Nro.:</td>
                     <td><%= f.text_field :referencia_ci4,
                          :size       => 15,
                          :onkeypress => "return bloqEnter(event)"%></td>

                     <td align="right">Direcion :</td>
                     <td><%= f.text_field :referencia_cargo4,
                          :size       => 35,
                          :onkeypress => "return bloqEnter(event)"%></td>

                  </tr>


               </table>
            </fieldset>
         </td>
      </tr>

   </table>
</div>

