<table>
   <tr>     
      <td valign="top">
       <fieldset>
       <table>
         <tr>
           <td width="95" align="right">Nombre :</td>
           <td><%= f.text_field :nome,
                                :size       => 55,
                                :onkeypress => "return bloqEnter(event)",
                                :onkeydown  => "f(this)",
                                :onkeyup    => "f(this)" %></td>


           <td align="right">Ruc :</td>
           <td><%= f.text_field :ruc,
                                :size => 15,
                                :onkeypress => "return bloqEnter(event)"%></td>

         </tr>

         <tr>
            <td colspan="4">
               <div id="FISICO" style="display:block;">
                  <table>
                        <tr>
                          <td  align="right">Cargo :</td>
                          <td width="400"><%= f.text_field :cargo,
                                               :size => 15,
                                               :onkeypress => "return bloqEnter(event)"%></td>

                          <td align="right">Organización :</td>
                          <td><%= f.text_field :lugar_trabalho,
                                               :size => 15,
                                               :onkeypress => "return bloqEnter(event)"%></td>

                        </tr>

                        <tr>
                          <td align="right">Nacionalidad :</td>
                          <td><%= f.text_field :nacionalidade,
                                               :size => 15,
                                               :onkeypress => "return bloqEnter(event)"%></td>

                          <td align="right">Profesión :</td>
                          <td><%= f.text_field :profisao,
                                               :size => 15,
                                               :onkeypress => "return bloqEnter(event)"%></td>

                        </tr>

                        <tr>
                          <td align="right">F. Nacimiento :</td>
                          <td><%= f.date_select :data_nascimento,
                                                :start_year => 1930%></td>

                          <td align="right">Estado Civil :</td>
                          <td><%= f.text_field :estado_civil,
                                                :size => 15%></td>

                        </tr>
                  </table>
               </div>

               <div id="JURIDICO" style="display:none;">
                  <table>
                        <tr>
                           <td width="80" align="right" valign="top">Actividad :</td>
                          <td><%= f.text_area :atividade,
                                               :rows => 5,
                                               :cols => 80%></td>


                        </tr>
                  </table>
               </div>

            </td>
         </tr>
      </table>
     </fieldset>
  </td>

  <td rowspan="6" valign="top">
     <div id="sidebar">
     <table>
        <tr>
           <td align="right" colspan="">Antig. :
           <%= f.date_select :antiguidade%></td>
        </tr>
        <tr>
              <td>
                <fieldset>
                  <legend>Tipo</legend>
                  <table>
                    <tr>
                      <td><%= f.radio_button :tipo, 0,:onblur => "PersonaSetaTipo('0'),PersonaExibeDivTipo()"%> Fisico</td>
                      <td><%= f.radio_button :tipo, 1,:onblur => "PersonaSetaTipo('1'),PersonaExibeDivTipo()"%> Juridico</td>
                    <input type="hidden" id="tipo" name="tipo" value="<%= @persona.tipo %>"/>
                    </tr>
                  </table>
                </fieldset>
              </td>
        </tr>
        <tr>
              <td>

                <fieldset>
                  <legend>Estado</legend>
                  <table>
                    <tr>
                      <td><%= f.radio_button :estado,0%>Activo</td>
                      <td><%= f.radio_button :estado,1%>Bloqueado</td>
                    </tr>
                  </table>
                </fieldset>

              </td>
                            <td>
                <fieldset>
                  <legend>Clasificacion</legend>
                  <table>
                    <tr>
                      <td><%= f.select :classificacao,
                          (
                          [
                            ["A", "A"],
                            ["B", "B"],
                            ["C", "C"],
                            ["D", "D"],
                            ["E", "E"]

                          ]
                        )%>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </td>


        </tr>

        <tr>
           <td>
              <div class="avatar">
              <table>
                 <tr>

                    <td>
                       <% if @persona.picture_content_type.present? %>
                          <%= image_tag @persona.picture.url,:size => "240x210" %>
                       <% else %>
                          <%= image_tag ('../images/defalt.jpg',:size => "240x210") %>
                       <% end %>
                    </td>

                 </tr>
              </table>
                 </div>
           </td>
        </tr>
        
        <tr>
           <td colspan="2"><%= f.file_field :picture,:size => 23 %><br/><hr/></td>
        </tr>
        <tr>

           <td colspan="2">Limite :
               <%= f.text_field :limite_credito,
                                :size       => 20,
                                :onkeypress => "return bloqEnter(event)"%>
          Saldo Disp.: <%= number_to_currency(@persona.limite_credito.to_f -  @cliente_saldo.to_f, :format=>' %n ', :separeitor => "," ) %>
          </td>
        </tr>

        <tr>           
           <td  colspan="2">Obs.<%= f.text_area :observacao,
                                                :rows => 5,
                                                :cols => 35%></td>

        </tr>


     </table>
        </div>
   </td>
 </tr>

   <tr>
     <td>
       <fieldset>
         <legend>Tipo Persona</legend>
         <table>
           <tr>
             <td><%= f.check_box :tipo_fornecedor%>Proveedor</td>
             <td><%= f.check_box :tipo_cliente%>Cliente</td>
             <td><%= f.check_box :tipo_fabricante%>Fabricante</td>
             <td><%= f.check_box :tipo_intermediario%>Corporativo</td>
             <td><%= f.check_box :tipo_laboratorio%>Laboratorio	</td>
           </tr>
           <tr>
             <td><%= f.check_box :tipo_vendedor%>Vendedor</td>
             <td><%= f.check_box :tipo_funcionario,
                                 :onclick => "javascript: PersonaExibeDiv('conteudo');"%>Empleado</td>
             <td><%= f.check_box :tipo_maiorista%>Mayorista</td>
             <td><%= f.check_box :tipo_despachante%>Despachante</td>
           </tr>

         </table>
       </fieldset>
     </td>
    </tr>


      <tr valign="top">
        <td>
          <fieldset>
            <legend>Direciones</legend>
            <table>

              <tr>
                <td align="right">Direcion :</td>
                <td colspan="3"><%= f.text_field :direcao,
                                     :size       => 60,
                                     :onkeypress => "return bloqEnter(event)"%></td>



                <td align="right">Barrio :</td>
                <td><%= f.text_field :bairro,
                                     :size      => 15,
                                     :onkeydown => "f(this)",
                                     :onkeyup   => "f(this)" %></td>

                <td align="right" valign="top">N.:</td>
                <td valign="top"><%= f.text_field :residencia_numero,
                                                  :size => 5%></td>


              </tr>

              <tr>
                <td align="right">Ciudad :</td>
                <td><%= f.collection_select :cidade_id, Cidade.all(:select => 'id,nome',
                                                                   :order => '2'),:id,
                                                                   :nome, {:onkeypress => "return bloqEnter(event)"} %></td>

                <td align="right">Depart.:</td>
                <td><%= f.collection_select :estado_id, Estado.all(:select => 'id,nome',
                                                                   :order => '2'),:id,
                                                                   :nome, {:onkeypress => "return bloqEnter(event)"} %></td>

                <td align="right">Pais :</td>
                <td colspan="3"><%= f.collection_select :pais_id, Paise.all(:select => 'id,nome',
                                                                   :order => '2'),:id,
                                                                   :nome, {:onkeypress => "return bloqEnter(event)"} %></td>


             </tr>
              <tr>
                <td align="right" valign="top">Complemento :</td>
                <td colspan="8"><%= f.text_area :direcao_complemento,
                                                 :cols => 95, :rows => 4%></td>
              </tr>
            </table>
          </fieldset>
        </td>
      </tr>

      <tr>
        <td>
          <fieldset>
            <legend>Contactos</legend>
            <table>

            <tr>

              <td align="right">Correo :</td>
              <td colspan="3"><%= f.text_field :email,
                                   :size       => 42,
                                   :onkeypress => "return bloqEnter(event)"%></td>

              <td align="right">Teléfono 1 :</td>
              <td><%= f.text_field :telefone,
                                   :size       => 15,
                                   :onkeypress => "return bloqEnter(event)"%></td>
              <td align="right">Teléfono 2 :</td>
              <td><%= f.text_field :telefone2,
                                   :size       => 15,
                                   :onkeypress => "return bloqEnter(event)"%></td>
              </tr>

              <tr>

              <td align="right">Fax Nro :</td>
              <td><%= f.text_field :fax,
                                   :size       => 15,
                                   :onkeypress => "return bloqEnter(event)"%></td>


              <td align="right">Célular :</td>
              <td><%= f.text_field :celular,
                                   :size       => 15,
                                   :onkeypress => "return bloqEnter(event)"%></td>

            </tr>
            </table>
          </fieldset>
        </td>
      </tr>

      <tr>
        <td>
          <fieldset>
            <legend>Bancos</legend>
                <table>
                    <tr>

                      <td align="right">Cta.:</td>
                      <td><%= f.text_field :conta,
                                           :size       => 25,
                                           :onkeypress => "return bloqEnter(event)"%></td>

                      <td align="right">Banco.:</td>
                      <td><%= f.text_field :banco,
                                           :size       => 15,
                                           :onkeypress => "return bloqEnter(event)"%></td>
                    </tr>

                    <tr>

                      <td align="right">Cta. Nro.:</td>
                      <td><%= f.text_field :conta_numero,
                                           :size       => 25,
                                           :onkeypress => "return bloqEnter(event)"%></td>

                      <td align="right">Oficial de Cta.:</td>
                      <td><%= f.text_field :oficial_conta,
                                           :size       => 15,
                                           :onkeypress => "return bloqEnter(event)"%></td>
                    </tr>

               </table>
          </fieldset>
        </td>
      </tr>



</table>
