<h1 align="right" id="header">Acientos Contables</h1>
Acientos Contables Debito Edicion
<% form_for(@diario_debe) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :diario_id, :value =>  @diario_debe.diario.id%>
  <%= f.hidden_field :cotacao, :value => @diario_debe.diario.cotacao %>
  <%= f.hidden_field :data, :value => @diario_debe.diario.data %>

<div class="group">
  <table>
      <tr>
        <td align="right">Codigo :</td>
        <td>              <%= text_field_tag( 'diario_debe[contabilidade]',
                                   nil,
                                   :id       => "diario_debe_contabilidade",
                                   :onchange => remote_function( :update     => "diario_debe_contabilidade",
                                                                 :url        => { :action     => :get_codigo_debe, :id => 1},
                                                                                  :with       => "'diario_debe_contabilidade='+this.value"),
                                                                                  :size       => 10
                                                              ) %>

           <%= f.collection_select :rubro_id, Rubro.all(:select => 'id,descricao',:order => '2'),:id,:descricao,
                                                                                     { :include_blank => true },
                                                                                     {:onblur => "DiarioDebeCampoKey()"}%>
                      <%= text_field_tag( 'key',
                                   nil,
                                   :id       => "key",
                                   :onfocus  => remote_function( :update     => "key",
                                                                 :url        => { :action     => :get_codigo_descricao_debe, :id => 1},
                                                                                  :with       => "'key='+this.value"),
                                                                                  :size       => 3
                                                              ) %>
        </td>
      </tr>

      <tr>
        <td align="right">Valor :</td>
        <td><%= f.text_field :valor_guarani,
                             :size     => 15,
                             :onchange => "DiarioGuaraniDolar()"%>Gs.

            <%= f.text_field :valor_dolar,
                             :size     => 15,
                             :onchange => "DiarioDolarGuarani()"%>U$. </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <fieldset>
            <legend>Clasificación</legend>
            <table>
              <tr>
                <td align="right"> Personas :</td>
                <td><%= f.collection_select :persona_id, Persona.all(:select => 'id,nome',:order => '2'),:id,:nome, { :include_blank => true } %></td>
              </tr>

              <tr>
                <td align="right"> Producto :</td>
                <td><%= f.collection_select :produto_id, Produto.all(:select => 'id,nome',:order => '2'),:id,:nome , { :include_blank => true }%></td>
              </tr>

              <tr>
                <td align="right"> Unidad :</td>
                <td><%= f.collection_select :unidade_id, Unidade.all(:select => 'id,unidade_nome',:order => '2'),:id,:unidade_nome , { :include_blank => true }%></td>
              </tr>

            </table>

          </fieldset>

        </td>
      </tr>
   </table>

</div>
   <%= f.submit 'Grabar' %>  <a href="/diarios/<%=  @diario_debe.diario.id%>">Volver</a>
<% end %>
