<h1 align="right" id="header">Servicios</h1>
<%= link_to 'Nuevo', new_servico_path %>
<div class="group">
  <h2>Servicios</h2>
  <table>
    <tr>
      <td width="70" align="center">Cod.</td>
      <td width="250" align="center">Descripcion</td>
      <td width="100" align="center">Valor</td>

    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>
      <% for servico in @servicos %>
        <tr class = "<%= cycle("cor1", "cor2")%>">    
          <td width="70" align="center"><%= servico.id %></td>
          <td width="250" align="left"><%= servico.nome %></td>
          <td width="100" align="right"><%= number_to_currency(servico.valor, :format=>' %n ', :separator => ",") %></td>
          <td><%= link_to 'Editar', edit_servico_path(servico) %></td>
          <td><%= link_to 'Borrar', servico, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

