<body onload="ImputFocus('tipo')">
<h1 align="right" id="header">Pulverizadores</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_controle_pulv_path, :class => "button add" %>
</div>

<div class="group">
  <table>
    <tr>
      <td width="30" align="center">Id</td>
      <td width="130" align="center">Data</td>
      <td width="400" align="center">Persona</td>
      <td width="130" align="center">Area</td>
    </tr>
  </table>
  <div class="rolagem" dir="div">


    <table>
      <% @controle_pulvs.each do |cp| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="30"  align="center">    <%= h cp.id %></td>
          <td width="150" align="center">    <%= h cp.data %></td>
          <td width="400" align="left"  >    <%= h cp.persona_nome %></td>
          <td width="80"  align="center">    <%= h cp.area %></td>

          <td><%= link_to 'Editar', edit_controle_pulv_path(cp) %></td>
          <td><%= link_to 'Borrar', cp, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>