<body onload="ImputFocus('inicio')">
   <h1 align="right" id="header">.</h1>
   <ul class="tabs">
      <li><a href="#tab1">Relatorio de Controle de Visitas</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
         <%= form_tag resultado_controle_visitas_relatorios_path, :method => "get" do%>
            <table>

                <tr>
                  <td align="right"> Fecha:</td>
                  <td>
                     <input name="inicio" id="inicio"  size="10" type="text"  onkeyup="Formatadata(this,event)" />
                     Hasta
                     <input name="final"  id="final"   size="10" type="text" onkeyup="Formatadata(this,event)"/>
                  </td>
                </tr>
                <tr>
                  <td align="right"> NC:</td>
                  <td>
                     <input name="nc_inicio" id="nc_inicio"  size="10" type="text"  value="0" />
                     Hasta
                     <input name="nc_final"  id="nc_final"   size="10" type="text" value="10"/>
                  </td>
                </tr>
                <tr>
                  <td align="right">Consultor :</td>
                  <td>
                     <%=   select("busca", "consultor", Persona.all(:select => 'id,nome',:conditions => ["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
                </tr>

                <tr>
                  <td align="right">Cliente :</td>
                  <td>
                     <%=   select("busca", "persona",  Persona.all(:select => 'id,nome', :order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
                </tr>

                <tr>
                  <td align="right">Direcion :</td>
                  <td>
                     <%=   select("busca", "cidade", Cidade.all(:select => 'id,nome', :order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })  %>
                  </td>
                </tr>


               <tr>
                  <td align="right">Tipo :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :status, 0,  :Checked => "True" %> Resumido
                       <%= radio_button_tag :status, 1 %> Detalhado
                    </fieldset>
                  </td>
               </tr>
               <tr>
                  <td align="right">Orden :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :ordem, 0,  :Checked => "True" %> Fecha 
                       <%= radio_button_tag :ordem, 1 %> Cliente
                    </fieldset>
                  </td>
               </tr>

               <tr height="35">
                  <td></td>
                  <td>
                     <input  id      ="button"
                             type    ="submit"
                             value   ="            Informe           "
                             onclick = "Tipo('0')"/>

                     <input type     = "submit"
                            value    = "            Excel            "
                            onclick  = "Tipo('1')"/>
                  </td>
               </tr>

               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>
            </table>
         <% end %>
   </div>
 </div>

</body>