<body onload="DataInicio(),DataFinal(),CampoInicio()">
   <h1 align="right" id="header">.</h1>
   Relatorio Gastos
   <div class="group">
      <h2>
         <%= form_tag resultado_gastos_relatorios_path, :method => "get" do%>
            <table>

               <tr height="35">
                  <td align="right"> Fecha:</td>
                  <td>
                     <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" />
                     Hasta
                     <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)"/>
                  </td>
               </tr>

               <tr>
                  <td align="right">Empleado :</td>
                  <td>
                     <%=   select("busca", "empregado", Persona.all(:select => 'id,nome',:conditions => ["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Proveedor :</td>
                  <td>
                     <%=   select("busca", "prov", Persona.all(:select => 'id,nome',:conditions => ["tipo_fornecedor = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>


               <tr>
                  <td align="right">Rodados :</td>
                  <td>
                     <%=   select("busca", "rodados", Rodado.all(:select => 'id,placa',:order => 'placa').collect {|p| [ p.placa, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Rubro :</td>
                  <td>
                     <%=   select("busca", "rubro", Rubro.all(:select => 'id,descricao',:order => 'descricao').collect {|p| [ p.descricao, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Unidad.:</td>
                  <td>
                     <%=   select("busca", "unidade", Unidade.all(:select => 'id,unidade_nome',:order => 'unidade_nome').collect {|p| [ p.unidade_nome, p.id ] }, { :include_blank => true })   %>
                  </td>
               </tr>


               <tr>
                  <td align="right">Obra Ref.:</td>
                  <td>
                     <%=   select("busca", "obra", Produto.all(:select => 'fabricante_cod',:order => 'fabricante_cod').collect {|p| [ p.fabricante_cod, p.fabricante_cod ] }, { :include_blank => true })   %>
                  </td>
               </tr>


               <tr>
                  <td align="right">Tipo Gasto :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :tipo_gasto, 0,  :Checked => "True"%> Legal
                       <%= radio_button_tag :tipo_gasto, 1 %> Legal Revertido
                       <%= radio_button_tag :tipo_gasto, 2 %> Comun
                       <%= radio_button_tag :tipo_gasto, 3 %> Comun Revertido
                       <%= radio_button_tag :tipo_gasto, '' %> Todos
                    </fieldset>
                  </td>
               </tr>

               <tr>
                 <td></td>
                 <td>
                   <%= check_box_tag :lancamento,'1', :onkeyup    => "Formatadata(this,event),EnterTab(event,'moeda')",
                                                  :onkeypress => "return bloqEnter(event)" %> Todos lo lanzamientos
                </td>
               </tr>

               <tr>
                  <td align="right">Moneda :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :moeda, 0,  :Checked => "True"%> Dolar                       
                       <%= radio_button_tag :moeda, 1 %> Guaranies
                       <%= radio_button_tag :moeda, 2 %> Reais
                    </fieldset>
                  </td>
               </tr>

               <tr>
                  <td align="right">Tipo :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :status, 0,  :Checked => "True"%> Contado                      
                       <%= radio_button_tag :status, 1 %> Credito
                       <%= radio_button_tag :status, 2 %> Todo
                    </fieldset>
                  </td>
               </tr>


               <tr>
                  <td align="right">Status :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :tp, 0,  :Checked => "True"%> Detalhado                       
                       <%= radio_button_tag :tp, 1 %> Resumido por Rubro
                       <%= radio_button_tag :tp, 2 %> Agrupado Por Obra(Detalhado)
                       <%= radio_button_tag :tp, 3 %> Agrupado Por Obra(Resumen)
                    </fieldset>
                  </td>
               </tr>


               <tr height="35">
                  <td></td>
                  <td>
                     <input  id      ="button"
                             type    ="submit"
                             value   ="            Informe           "
                             onclick = "Tipo('0')"/>

                     <input type     = "submit"
                            value    = "            Excel            "
                            onclick  = "Tipo('1')"/>
                  </td>
               </tr>

               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


