<table>
	<% tot_ctd = 0 %>
	<% tot_vl  = 0 %>
	<% p_ea    = 0 %>
	<% p_f     = 0 %>
	<% p_c     = 0 %>

	<% @pedidos_vendas.each do |pv| %>
		
		<tr>
			<td width="45" align="center"><%= pv.id.to_s.rjust(6,'0') %></td>
			<td width="45" align="center"><%= pv.documento_numero.to_s.rjust(6,'0') %></td>
			<td width="55" align="center"><%= pv.data.strftime("%d/%m/%Y") %></td>
			<td width="55" align="center"><%= pv.prazo_entrega.strftime("%d/%m/%Y") %></td>
			<td width="100" align="left"><%= truncate(pv.vendedor_nome, :length => 10 ) %></td>
			<td width="40" align="center"><%= pv.persona_id.to_s.rjust(8,'0') %></td>
			<td width="250" align="left"><%= truncate(pv.persona_nome, :length => 42 ) %></td>

			<!-- status pedido -->
			<% if pv.status == 0 %>
				<td width="70" align="left">En Aberto</td>
				<% p_ea    += 1 %>

			<% elsif pv.status == 1 %>			
				<td width="70" align="left">Facturado</td>
				<% p_f    += 1 %>
			<% else %>
				<td width="70" align="left">Cancelado</td>
				<% p_c    += 1 %>
			<% end %>

			<td width="45" align="right"><%= pv.qtd %></td>
			<% tot_ctd += pv.qtd.to_f %>

			<!-- total moedas -->
			<% if params[:moeda].to_s == '0' %>
				<td width="80" align="right"><%= number_to_currency(pv.tot_us.to_f, :format=>' %n ', :separeitor => "," ) %></td>			
				<% tot_vl  += pv.tot_us.to_f %>

			<% elsif params[:moeda].to_s == '1'%>
				<td width="80" align="right"><%= number_to_currency(pv.tot_gs.to_f, :format=>' %n ', :precision => 0 ) %></td>			
				<% tot_vl  += pv.tot_gs.to_f %>

			<% else %>
				<td width="80" align="right"><%= number_to_currency(pv.tot_rs.to_f, :format=>' %n ', :separeitor => "," ) %></td>			
				<% tot_vl  += pv.tot_rs.to_f %>
			<% end %>
		</tr>

		<!-- detalhe produtos pedido -->
		<% if params[:detalhe].to_s == '1' %>
			<% pedido_vendas_produtos = PresupuestoProduto.all(:conditions => ["presupuesto_id = ?", pv.id]) %>
			<tr>
				<td colspan="10">
					<table align="right">
						<tr class="head">
							<td></td>
							<td width="80" >Cod. Prod.</td>
							<td width="400">Producto</td>
							<td width="80" align="right">Unit.</td>
							<td width="80" align="right">Cantidad</td>
							<td width="70" align="right">Total</td>
						</tr>
						<tr class="head">
							<td colspan="7" align="right">
								------------------------------------------------------------------------------------------------------------------
							</td>
						</tr>
						<% pedido_vendas_produtos.each do |pvp| %>
						<tr>
							<td></td>
							<td width="80" align="left"><%= pvp.clase_id.to_s.rjust(2,'0')%>.<%= pvp.grupo_id.to_s.rjust(4,'0')%>.<%= pvp.produto_id.to_s.rjust(6,'0')%></td>
							<td width="400" align="left"><%= pvp.produto_nome %></td>							

							<!-- total moedas -->
							<% if params[:moeda].to_s == '0' %>
								<td width="80" align="right"><%= number_to_currency(pvp.unitario_dolar.to_f, :format=>' %n ', :separeitor => "," ) %></td>			
								<td width="80" align="right"><%= pvp.quantidade %></td>
								<td width="70" align="right"><%= number_to_currency(pvp.total_dolar.to_f, :format=>' %n ', :separeitor => "," ) %></td>			
								
							<% elsif params[:moeda].to_s == '1'%>
								<td width="80" align="right"><%= number_to_currency(pvp.unitario_dolar.to_f, :format=>' %n ', :precision => 0 ) %></td>			
								<td width="80" align="right"><%= pvp.quantidade %></td>
								<td width="70" align="right"><%= number_to_currency(pvp.total_dolar.to_f, :format=>' %n ', :precision => 0 ) %></td>			
								
							<% else %>
								<td width="80" align="right"><%= number_to_currency(pvp.unitario_dolar.to_f, :format=>' %n ', :separeitor => "," ) %></td>										
								<td width="80" align="right"><%= pvp.quantidade %></td>
								<td width="70" align="right"><%= number_to_currency(pvp.total_dolar.to_f, :format=>' %n ', :separeitor => "," ) %></td>										

							<% end %>

						</tr>					
						<% end %>
						<tr class="head">
							<td colspan="7" align="right">
								------------------------------------------------------------------------------------------------------------------
							</td>
						</tr>

					</table>
				</td>
			</tr>
		<% end %>

	<% end %>

	<!-- total -->
	<tr class="head" height="30">
		<td colspan="8"  align="right"> Total ==> </td>
		<td width="80" align="right"><%= tot_ctd.to_f %></td>

		<% if params[:moeda].to_s == '1' %>
			<td width="80" align="right"><%= number_to_currency( tot_vl.to_f, :format=>' %n ', :precision => 0 ) %></td>			
		<% else %>
			<td width="80" align="right"><%= number_to_currency( tot_vl.to_f, :format=>' %n ', :separeitor => ',' ) %></td>			
		<% end %>
	</tr>

	<tr class="head">
		<td align="left" colspan="2"> - En Abertos</td>
		<td width="80" align="right"> <%= p_ea %></td>
	</tr>

	<tr class="head">
		<td align="left" colspan="2"> - Facturados</td>
		<td width="80" align="right"> <%= p_f %></td>
	</tr>

	<tr class="head">
		<td align="left" colspan="2"> - Cancelatos</td>
		<td width="80" align="right"> <%= p_c %></td>
	</tr>

	<tr class="head">
		<td align="left" colspan="2"> - Total</td>
		<td width="80" align="right"> <%= p_ea.to_i + p_f.to_i + p_c.to_i %></td>

	</tr>

</table>