  
<div class="group">
   <table>
      <tr class="head">
         <td colspan="4">Vendas</td>
      </tr>
      <tr class="head">
         <td colspan="4">Contado</td>
      </tr>

      <% totalvendacontado        = 0 %>
      <% qtdvendacontado          = 0 %>
      <% qtdprodvendacontado      = 0 %>
         <% @vendas_contado.each do |venda| %>
			
			<% if params["tipo_produto"].to_s == "0" %>
            	<% vpcont = VendasProduto.all( :select => 'vendas_produtos.total_desconto,vendas_produtos.interes,vendas_produtos.preco_fixo_dolar,vendas_produtos.preco_fixo_guarani,vendas_produtos.id,vendas_produtos.produto_id,vendas_produtos.quantidade,vendas_produtos.produto_cod,vendas_produtos.produto_nome,vendas_produtos.total_dolar,vendas_produtos.total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcont_qtd = VendasProduto.sum('quantidade', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcont_totus = VendasProduto.sum('total_dolar', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcont_totgs = VendasProduto.sum('total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
			<% elsif params["tipo_produto"].to_s == "1" %>
            	<% vpcont = VendasProduto.all( :select => 'vendas_produtos.total_desconto,vendas_produtos.interes,vendas_produtos.preco_fixo_dolar,vendas_produtos.preco_fixo_guarani,vendas_produtos.id,vendas_produtos.produto_id,vendas_produtos.quantidade,vendas_produtos.produto_cod,vendas_produtos.produto_nome,vendas_produtos.total_dolar,vendas_produtos.total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcont_qtd = VendasProduto.sum('quantidade', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcont_totus = VendasProduto.sum('total_dolar', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcont_totgs = VendasProduto.sum('total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
			<% else %>
            	<% vpcont = VendasProduto.all( :select => 'total_desconto,interes,preco_fixo_dolar,preco_fixo_guarani,id,produto_cod,produto_id,quantidade,produto_nome,total_dolar,total_guarani', :conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcont_qtd = VendasProduto.sum('quantidade', :conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcont_totus = VendasProduto.sum('total_dolar',:conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcont_totgs = VendasProduto.sum('total_guarani', :conditions => ["venda_id = ?",venda.id]) %>
			<% end %>

			<% if  vpcont_qtd.to_f > 0 %>
	            <tr class = "<%= cycle("cor1", "cor2") %>">
    	           <td width="50"  align="center">   <%=  venda.id.to_s.rjust(6,'0') %></td>
    	           <td width="70"  align="center">   <%=  venda.data.strftime("%d/%m/%Y")%></td>
    	           <td width="130"  align="left">  <%=  truncate(venda.vendedor_nome, :length => 12 ) %></td>
    	           <td width="220" align="left">     <%=  truncate(venda.persona_nome , :length => 22 )%></td>
    	           <td width="200" align="left">     <%=  venda.documento_numero_01%> - <%= h venda.documento_numero_02%> - <%= h venda.documento_numero%></td>
    	           <% if venda.local_venda.to_i == 0 %>
    	           		<td width="70" align="left"><b>Interno</b> </td>
    	           <% else %>
    	           		<td width="70" align="left"><b>Externo</b> </td>
    	           <% end %>
    	           <td width="70" align="center">   <%=  vpcont_qtd.to_f %></td>

	               <% if params[:moeda] == '0'%>
	                  <td width="70" align="right">    <%=  number_to_currency(vpcont_totus, :format=>' %n ', :separeitor => ',' )  %></td>
		               <% totalvendacontado += vpcont_totus.to_f %>
	               <% else %>
	                  <td width="70" align="right">    <%=  number_to_currency(vpcont_totgs, :format=>' %n ', :precision => 0 )  %></td>
	    	           <% totalvendacontado += vpcont_totgs.to_f %>                  
	               <% end %>

		               <% qtdprodvendacontado   = qtdprodvendacontado + vpcont_qtd.to_f.to_f %>
	    	           <% qtdvendacontado          = qtdvendacontado + 1 %>               
	            </tr>

            <!--DETALHE FATURA CONTADO!-->
            <% if params[:filtro].to_s == "1" %>
            	<% vpcont.each do |produto| %>
            	<% tipo_prod = Produto.first(:conditions => ["id = ?", produto.produto_id]) %>
                  <tr>
                     <td align="center"><%= tipo_prod.tipo_produto %></td>
                     <td align="center">    <%= h produto.produto_cod%></td>
                     <td width="300" align="left" colspan="2">    <%= h produto.produto_nome%></td>
                     <td align="center">    <%= h number_to_currency(produto.total_desconto, :format=>' %n ', :precision => 2 )  %> %</td>
                     <td align="center">    <%= h number_to_currency(produto.interes, :format=>' %n ', :precision => 2 ) %> % </td>
                     <td align="center">    <%= h produto.quantidade%></td>

               <% if params[:moeda] == '0'%>
                  <td align="right">    <%=  number_to_currency(produto.total_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
               <% else %>
                  <td align="right">    <%=  number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
               <% end %>
                  </tr>
               <% end %>

               <tr height="20">
                  <td></td>
               </tr>

            <% end %>
         <% end %>      
	<% end %>


      <tr class="head">
         <td colspan="6">Total de Vendas Contado : <%= qtdvendacontado %></td>
         <td align="center"><%= qtdprodvendacontado.to_f %></td>
         <td align="right"><%= number_to_currency( totalvendacontado, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <div class="break">
      <tr>
         <td colspan="8" align="center">-----------------------------------------------------------------------------------------------------------------</td>
      </tr>
      </div>
      <tr class="head">
         <td colspan="4">Credito</td>
      </tr>


      <% totalvendacredito        = 0 %>
      <% qtdvendacredito          = 0 %>
      <% qtdprodvendacredito      = 0 %>
      <% @vendas_credito.each do |venda| %>
			<% if params["tipo_produto"].to_s == "0" %>
            	<% vpcred = VendasProduto.all( :select => 'vendas_produtos.total_desconto,vendas_produtos.interes,vendas_produtos.preco_fixo_dolar,vendas_produtos.preco_fixo_guarani,vendas_produtos.id,vendas_produtos.produto_id,vendas_produtos.quantidade,vendas_produtos.produto_cod,vendas_produtos.produto_nome,vendas_produtos.total_dolar,vendas_produtos.total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcred_qtd = VendasProduto.sum('quantidade', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcred_totus = VendasProduto.sum('total_dolar', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
            	<% vpcred_totgs = VendasProduto.sum('total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 0",venda.id]) %>
			<% elsif params["tipo_produto"].to_s == "1" %>
            	<% vpcred = VendasProduto.all( :select => 'vendas_produtos.total_desconto,vendas_produtos.interes,vendas_produtos.preco_fixo_dolar,vendas_produtos.preco_fixo_guarani,vendas_produtos.id,vendas_produtos.produto_id,vendas_produtos.quantidade,vendas_produtos.produto_cod,vendas_produtos.produto_nome,vendas_produtos.total_dolar,vendas_produtos.total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcred_qtd = VendasProduto.sum('quantidade', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcred_totus = VendasProduto.sum('total_dolar', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
            	<% vpcred_totgs = VendasProduto.sum('total_guarani', :joins => 'INNER JOIN produtos on vendas_produtos.produto_id = produtos.id', :conditions => ["vendas_produtos.venda_id = ? and produtos.tipo_produto = 1",venda.id]) %>
			<% else %>
            	<% vpcred = VendasProduto.all( :select => 'total_desconto,interes,preco_fixo_dolar,preco_fixo_guarani,id,produto_cod,produto_id,quantidade,produto_nome,total_dolar,total_guarani', :conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcred_qtd = VendasProduto.sum('quantidade', :conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcred_totus = VendasProduto.sum('total_dolar',:conditions => ["venda_id = ?",venda.id]) %>
            	<% vpcred_totgs = VendasProduto.sum('total_guarani', :conditions => ["venda_id = ?",venda.id]) %>
			<% end %>

			<% if  vpcred_qtd.to_f > 0 %>

	         <tr class = "<%= cycle("cor1", "cor2") %>">
             <td width="50"  align="center">   <%=  venda.id.to_s.rjust(6,'0') %></td>
             <td width="70"  align="center">   <%=  venda.data.strftime("%d/%m/%Y")%></td>
             <td width="130"  align="left">  <%=  truncate(venda.vendedor_nome, :length => 15 ) %></td>
             <td width="220" align="left">     <%=  truncate(venda.persona_nome , :length => 22 )%></td>
             <td width="200" align="left">     <%=  venda.documento_numero_01%> - <%= h venda.documento_numero_02%> - <%= h venda.documento_numero%></td>

              <% if venda.local_venda.to_i == 0 %>
	           		<td width="70" align="left"><b>Interno</b> </td>
	            <% else %>
	           		<td width="70" align="left"><b>Externo</b> </td>
	            <% end %>

  	            <td width="70" align="center">   <%= vpcred_qtd.to_f %></td>

               <% if params[:moeda] == '0'%>
	               <td width="70" align="right">    <%=  number_to_currency(vpcred_totus.to_f, :format=>' %n ', :separeitor => ',' )  %></td>
	               <% totalvendacredito += vpcred_totus.to_f %>
               <% else %>
	               <td width="70" align="right">    <%=  number_to_currency(vpcred_totgs, :format=>' %n ', :precision => 0 )  %></td>
	               <% totalvendacredito += vpcred_totgs.to_f %>                  
               <% end %>
	           <% qtdprodvendacredito  += vpcred_qtd.to_f %>
    	       <% qtdvendacredito         += 1 %>
         </tr>

         <% if params[:filtro].to_s == "1" %>
            <% vpcred.each do |produto| %>
               <tr>
                  <td align="center"></td>
                  <td align="center">    <%= produto.produto_cod%></td>
                  <td width="300" align="left" colspan="2">    <%= produto.produto_nome%></td>
                  <td align="center">    <%= h number_to_currency(produto.total_desconto, :format=>' %n ', :precision => 2 )  %> %</td>
                  <td align="center">    <%= h number_to_currency(produto.interes, :format=>' %n ', :precision => 2 ) %> % </td>                  
                  <td align="center">    <%= produto.quantidade%></td>
               <% if params[:moeda] == '0'%>
                  <td align="right">    <%=  number_to_currency(produto.total_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
               <% else %>
                  <td align="right">    <%=  number_to_currency(produto.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
               <% end %>
               </tr>
            <% end %>
            <tr height="20">
               <td></td>
            </tr>

         <% end %>
      <% end %>
   <% end %>

      <tr class="head">
         <td colspan="6">Total de Vendas Credito : <%= qtdvendacredito %></td>
         <td align="center"><%= qtdprodvendacredito.to_f %></td>
         <td align="right"><%= number_to_currency( totalvendacredito, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr>
         <td colspan="8" align="center">-----------------------------------------------------------------------------------------------------------------</td>
      </tr>

      <tr class="head">
         <td colspan="6">Total  ==></td>
         <td align="center"><%= number_to_currency( qtdprodvendacontado.to_f + qtdprodvendacredito.to_f , :format=>' %n ', :separeitor => ',')%></td>
         <td align="right"><%= number_to_currency( totalvendacontado.to_f + totalvendacredito.to_f , :format=>' %n ', :separeitor => ',' )%></td>
      </tr>


   </table>
</div>


