<table>
  <% totdbus = 0 %>
  <% tothbus = 0 %>
  <% totdbgs = 0 %>
  <% tothbgs = 0 %>
  <% totdbrs = 0 %>
  <% tothbrs = 0 %>
  <% @adelantos.each do |ad| %>
	<tr>
		<td width="30" align="center"><%= ad.id %></td>    
		<td width="80" align="center"><%= ad.data.strftime("%d/%m/%Y") %></td>
		<td width="250" align="left"><%= ad.persona_nome %></td>
		<td width="250" align="left"><%= ad.concepto %></td>
		<td width="150" align="left"><%= ad.conta_nome %></td>
		<td width="80" align="left"><%= ad.cheque %></td>
		
        <% if params[:moeda] == "0" %>
        
          <% if ad.status.to_i == 0 %>
            <td width="80" align="right"><%= number_to_currency(ad.valor_dolar.to_f, :format=>' %n ', :separeitor => ",") %></td>
            <td width="80" align="right">0,00</td>

            <% tothbus += ad.valor_dolar.to_f %>
          <% else %>
            <td width="80" align="right">0,00</td>
            <td width="80" align="right"><%= number_to_currency(ad.valor_dolar.to_f, :format=>' %n ', :separeitor => ",") %></td>

            <% totdbus += ad.valor_dolar.to_f %>
          <% end %>
          
        <% elsif params[:moeda] == "0" %>
        
          <% if ad.status.to_i == 0 %>          
            <td width="80" align="right"><%= number_to_currency(ad.valor_guarani.to_f, :format=>' %n ', :precision => 0 ) %></td>
            <td width="80" align="right">0</td>

            <% tothbgs += ad.valor_guarani.to_f %>
          <% else %>
            <td width="80" align="right">0</td>
            <td width="80" align="right"><%= number_to_currency(ad.valor_guarani.to_f, :format=>' %n ', :precision => 0 ) %></td>

            <% totdbgs += ad.valor_guarani.to_f %>
          <% end %>
        
        <% else %>
        
          <% if ad.status.to_i == 0 %>
            <td width="80" align="right"><%= number_to_currency(ad.valor_real.to_f, :format=>' %n ', :separeitor => ",") %></td>
            <td width="80" align="right">0,00</td>

            <% tothbrs += ad.valor_real.to_f %>
          <% else %>
            <td width="80" align="right">0,00</td>
            <td width="80" align="right"><%= number_to_currency(ad.valor_real.to_f, :format=>' %n ', :separeitor => ",") %></td>

            <% totdbrs += ad.valor_real.to_f %>
          <% end %>
        <% end %>
	</tr>
  <% end %>
  
  <tr class="head">
	<td colspan="6"></td>
      <% if params[:moeda] == "0" %>
        <td width="80" align="right"><%= number_to_currency(tothbus.to_f, :format=>' %n ', :separeitor => ",") %></td>
        <td width="80" align="right"><%= number_to_currency(totdbus.to_f, :format=>' %n ', :separeitor => ",") %></td>
      <% elsif params[:moeda] == "0" %>
        <td width="80" align="right"><%= number_to_currency(tothbgs.to_f, :format=>' %n ', :separeitor => ",") %></td>
        <td width="80" align="right"><%= number_to_currency(totdbgs.to_f, :format=>' %n ', :separeitor => ",") %></td>
      <% else %>
        <td width="80" align="right"><%= number_to_currency(tothbrs.to_f, :format=>' %n ', :separeitor => ",") %></td>
        <td width="80" align="right"><%= number_to_currency(totdbrs.to_f, :format=>' %n ', :separeitor => ",") %></td>


      <% end %>
  </tr>
  
</table>

<style type="text/css">
	table {
		font-size: 9px
	}
</style>
