<% if params[:tp] == "0" %>   
<div class="group">
   <table>
      <% totgt = 0 %>
      <% totlitros = 0 %>

      <% @gastos.each do |gt| %>
         <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="50"  align="center">   <%= gt.id.to_s.rjust(8,'0') %></td>
            <td width="40"  align="center">   <%= gt.unidade_id %></td>
            <td width="40"  align="center">   <%= gt.setor %></td>
            <td width="70"  align="center">   <%= gt.data.strftime("%d/%m/%Y") %></td>
            <td width="300" align="left">     <%= truncate(gt.persona_nome,:leght => 15) %></td>
            <td width="350" align="left">     <%= truncate(gt.rubro_descricao,:leght => 15) %></td>
            <td width="180" align="center">   <%= gt.documento_numero_01 %>-<%= gt.documento_numero_02 %>-<%= gt.documento_numero %> </td>            
            <td width="70" align="center">    <%= gt.rodado_nome %></td>
            <td width="50" align="center">    <%= gt.qtd.to_s+ 'L' %></td>
            <% totlitros += gt.qtd.to_f %>
            
            <% if params[:moeda] == '0' %>            
               <td width="70" align="right">    <%= number_to_currency( gt.total_dolar, :format =>' %n ', :separeitor => ',' ) %> </td>
               <% totgt +=  gt.total_dolar %>
            <% elsif params[:moeda] == '1' %>
               <td width="70" align="right">    <%= number_to_currency( gt.total_guarani, :format =>' %n ', :precision => 0 ) %> </td>
               <% totgt +=  gt.total_guarani %>            
            <% else %>   
               <td width="70" align="right">    <%= number_to_currency( gt.total_real, :format =>' %n ', :separeitor => ',' ) %> </td>
               <% totgt +=  gt.total_real %>            
            <% end %> 
         </tr>
      <% end %>
         <tr class="head" height="30">
            <td colspan="8"></td>

            <td><%= totlitros %> L</td>            
            <% if params[:moeda] == '1' %>
               <td width="70" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :precision => 0 ) %> </td>            
            <% else %>
               <td width="70" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :separeitor => ',' ) %> </td>               
            <% end %>
         </tr>

         <tr>
            <td colspan="9">
               <table>
                  <tr class="head">
                     <td colspan="2">Resultados Por Sectores</td>
                  </tr>
                  <% tot_r_gs = 0 %>
                  <% @group_setores.each do |gs|%>
                  <tr>
                     <td width="20"></td>
                     <td width="200" > - <%= gs.setor_nome %>(<%= gs.setor %>)</td>
                     
                     <% if params[:moeda] == '1' %>
                        <td width="70" align="right">    <%= number_to_currency( gs.tot_gs, :format =>' %n ', :precision => 0 ) %> </td>
                        <% tot_r_gs += gs.tot_gs.to_f %>
                     <% elsif params[:moeda] == '2' %>
                        <td width="70" align="right">    <%= number_to_currency( gs.tot_rs, :format =>' %n ', :separeitor => ',' ) %> </td>
                        <% tot_r_gs += gs.tot_rs.to_f %>
                     <% else %>
                        <td width="70" align="right">    <%= number_to_currency( gs.tot_us, :format =>' %n ', :separeitor => ',' ) %> </td>
                        <% tot_r_gs += gs.tot_us.to_f %>               
                     <% end %>
                  </tr>
                  <% end %>
                  <tr class="head">
                     <td></td>
                     <td> - Total  ==></td>
                                    
                     <% if params[:moeda] == '1' %>
                        <td width="70" align="right">    <%= number_to_currency( tot_r_gs, :format =>' %n ', :precision => 0 ) %> </td>                       
                     <% elsif params[:moeda] == '2' %>
                        <td width="70" align="right">    <%= number_to_currency( tot_r_gs, :format =>' %n ', :separeitor => ',' ) %> </td>
                     <% else %>
                        <td width="70" align="right">    <%= number_to_currency( tot_r_gs, :format =>' %n ', :separeitor => ',' ) %> </td>
                     <% end %>
                  </tr>

               </table>
            </td>

         </tr>
   </table>
</div>


<% elsif params[:tp] == "1" %>   


<div class="group">
   <table>
      <% totgt = 0 %>
      <% @gastos.each do |gt| %>
         <% if gt.total_compra.to_f  > 0 %>
         <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="70"  align="center">   <%= gt.id %></td>
            <td width="1050" align="left">     <%= gt.descricao %></td>
            <% if params[:moeda] == '1' %>
               <td width="100" align="right">     <%= number_to_currency( totais = ( gt.total_compra.to_f ), :format =>' %n ', :precision => 0  ) %></td>            
            <% else %>
               <td width="100" align="right">     <%= number_to_currency( totais = ( gt.total_compra.to_f ), :format =>' %n ', :separeitor => ',' ) %></td>
            <% end %>
         <% end %>   
             <% totgt += totais.to_f %>
      <% end %>
         <tr class="head" height="30">
            <td colspan="2"></td>
            
            <% if params[:moeda] == '1'%>
               <td width="100" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :precision => 0 ) %> </td>                           
            <% else %>
               <td width="100" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :separeitor => ',' ) %> </td>
            <% end %>
         </tr>
   </table>
</div>
<% elsif params[:tp] == "2" %>
   
  <%= render :partial => 'relatorios/forms/listado_gasto_por_obra_detalhado' %>

<% else %>   
  <%= render :partial => 'relatorios/forms/listado_gasto_por_obra_resumido' %>

<% end %>
