
   
<div class="group">
  <table>
    <tr class="head">
      <td colspan="4">Vendas</td>
    </tr>
    <tr class="head">      
      <td colspan="4">Contado</td>
    </tr>
    
    <% totalvendacontado_us        = 0 %>
    <% qtdvendacontado_us          = 0 %>
    <% qtdprodvendacontado_us      = 0 %>

    <% totalvendacontado_gs        = 0 %>
    <% qtdvendacontado_gs          = 0 %>
    <% qtdprodvendacontado_gs      = 0 %>

    <% for venda in @vendas_contado %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80"  align="center">   <%=  venda.id%></td>
            <td width="80"  align="center">   <%=  venda.data.strftime("%d/%m/%Y")%></td>
            <td width="200"  align="center">  <%=  venda.vendedor_nome%></td>
            <td width="400" align="left">     <%=  venda.persona_nome%></td>
            <td width="400" align="left">     <%=  venda.documento_numero_01%> - <%= h venda.documento_numero_02%> - <%= h venda.documento_numero%></td>
            <td width="100" align="left"> </td>
            <td width="100" align="center">   <%=  format("%.3f", venda.quantidade.to_f)%></td>
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=  number_to_currency(venda.total_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalvendacontado_us        += venda.total_dolar.to_f %>
              <% qtdprodvendacontado_us      += venda.quantidade.to_f %>
              <% qtdvendacontado_us          += 1 %>
            <% else %>
              <td width="100" align="right">    <%=  number_to_currency(venda.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalvendacontado_gs        += venda.total_guarani.to_f %>
              <% qtdprodvendacontado_gs      += venda.quantidade.to_f %>
              <% qtdvendacontado_gs          += 1 %>
            <% end %>
          </tr>
    <% end %>
      
    <tr class="head">
      <% if params[:moeda].to_s == '0'%>
        <td colspan="6">Total de Vendas Contado : <%= qtdvendacontado_us %></td>
        <td align="center"><%= format( "%.3f", qtdprodvendacontado_us.to_f )%></td>
        <td align="right"><%= number_to_currency( totalvendacontado_us, :format=>' %n ', :separeitor => ',')%></td>
      <% else %>  
        <td colspan="6">Total de Vendas Contado : <%= qtdvendacontado_gs %></td>
        <td align="center"><%= format( "%.3f", qtdprodvendacontado_gs.to_f )%></td>
        <td align="right"><%= number_to_currency( totalvendacontado_gs, :format=>' %n ', :precision => 0 )%></td>
      <% end %>  
    </tr>

    <tr>
      <td colspan="8" align="center">-------------------------------------------------------------------------------------------------------------------------------------</td>
    </tr>


    <tr class="head">      
      <td colspan="3">Credito</td>
    </tr>


    <% totalvendacredito_us        = 0 %>
    <% qtdvendacredito_us          = 0 %>
    <% qtdprodvendacredito_us      = 0 %>

    <% totalvendacredito_gs        = 0 %>
    <% qtdvendacredito_gs          = 0 %>
    <% qtdprodvendacredito_gs      = 0 %>

    <% for venda in @vendas_credito %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80" align="center">    <%= h venda.id%></td>
            <td width="80" align="center">    <%= h venda.data.strftime("%d/%m/%Y")%></td>
            <td width="200"  align="center">  <%=  venda.vendedor_nome%></td>
            <td width="400" align="left">     <%= h venda.persona_nome%></td>
            <td width="400" align="left">     <%= h venda.documento_numero_01%> - <%= h venda.documento_numero_02%> - <%= h venda.documento_numero%></td>
            <td width="100" align="left"></td>
            <td width="100" align="left"></td>
            <td width="100" align="center">   <%= format("%.3f", venda.quantidade.to_f)%></td>
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=  number_to_currency(venda.total_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalvendacredito_us        += venda.total_dolar.to_f %>
              <% qtdprodvendacredito_us      += venda.quantidade.to_f %>
              <% qtdvendacredito_us          += 1 %>
            <% else %>
              <td width="100" align="right">    <%=  number_to_currency(venda.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalvendacredito_gs        += venda.total_guarani.to_f %>
              <% qtdprodvendacredito_gs      += venda.quantidade.to_f %>
              <% qtdvendacredito_gs          += 1 %>
            <% end %>
          </tr>
    <% end %>

    <tr class="head">
      <% if params[:moeda].to_s == '0'%>
        <td colspan="6">Total de Vendas Credito : <%= qtdvendacredito_us %></td>
        <td align="center"><%= format( "%.3f", qtdprodvendacredito_us.to_f )%></td>
        <td align="right"><%= number_to_currency( totalvendacredito_us, :format=>' %n ', :separeitor => ',')%></td>
      <% else %>  
        <td colspan="6">Total de Vendas Credito : <%= qtdvendacredito_gs %></td>
        <td align="center"><%= format( "%.3f", qtdprodvendacredito_gs.to_f )%></td>
        <td align="right"><%= number_to_currency( totalvendacredito_gs, :format=>' %n ', :precision => 0 )%></td>
      <% end %>  
    </tr>

    <tr class="head">
      <td colspan="4">Cobros</td>
    </tr>

    <tr class="head">
      <td colspan="4">Diferidos</td>
    </tr>

    <% totalcobrodiferido_us        = 0 %>
    <% qtdcobrodiferido_us          = 0 %>

    <% totalcobrodiferido_gs        = 0 %>
    <% qtdcobrodiferido_gs          = 0 %>

    <% for cobro in @cobros_diferido %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80" align="center">    <%= h cobro.id%></td>
            <td width="80" align="center">    <%= h cobro.data.strftime("%d/%m/%Y")%></td>
            <td width="400" align="left">     <%= h cobro.persona_nome%></td>
            <td width="400" align="left">     <%= h cobro.numero_recibo%></td>                        
            <td width="400" align="center">   <%= h cobro.cheque%></td>
            <td width="400" align="center">   <%= h cobro.diferido.strftime("%d/%m/%Y")%></td>            
            <td width="100" align="right"></td>
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=h number_to_currency(cobro.valor_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalcobrodiferido_us += cobro.valor_dolar.to_f %>
              <% qtdcobrodiferido_us   += 1 %>
            <% else %>  
              <td width="100" align="right">    <%=h number_to_currency(cobro.valor_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalcobrodiferido_gs += cobro.valor_guarani.to_f %>
              <% qtdcobrodiferido_gs   += 1 %>
            <% end %>  
          </tr>
    <% end %>

    <tr class="head">
      <% if params[:moeda].to_s == '0'%>
        <td colspan="7">Total Diferido : <%= qtdcobrodiferido_us%></td>
        <td align="right"><%= number_to_currency( totalcobrodiferido_us, :format=>' %n ', :separeitor => ',' )%></td>
      <% else %>  
        <td colspan="7">Total Diferido : <%= qtdcobrodiferido_gs%></td>
        <td align="right"><%= number_to_currency( totalcobrodiferido_gs, :format=>' %n ', :precision => 0 )%></td>
      <% end %>  
    </tr>

    <tr>
      <td colspan="8" align="center">-------------------------------------------------------------------------------------------------------------------------------------</td>
    </tr>

    <tr class="head">
      <td colspan="3">En Efectivo</td>
    </tr>

    <% totalcobroefetivo_us        = 0 %>
    <% qtdcobroefetivo_us          = 0 %>

    <% totalcobroefetivo_gs        = 0 %>
    <% qtdcobroefetivo_gs          = 0 %>

    <% for cobro in @cobros %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80" align="center">    <%= h cobro.id%></td>
            <td width="80" align="center">    <%= h cobro.data.strftime("%d/%m/%Y")%></td>
            <td width="400" align="left">     <%= h cobro.persona_nome%></td>
            <td width="400" align="left">     <%= h cobro.numero_recibo%></td>                        
            <td width="400" align="center">   <%= h cobro.cheque%></td>
            <td width="100" align="right"></td>
            <td width="100" align="right"></td>            
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=h number_to_currency(cobro.valor_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalcobroefetivo_us += cobro.valor_dolar.to_f %>
              <% qtdcobroefetivo_us   += 1 %>
            <% else %>  
              <td width="100" align="right">    <%=h number_to_currency(cobro.valor_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalcobroefetivo_gs += cobro.valor_guarani.to_f %>
              <% qtdcobroefetivo_gs   += 1 %>
            <% end %>  
          </tr>
    <% end %>

    <tr class="head">
      <% if params[:moeda].to_s == '0'%>
        <td colspan="7">Total En Efectivo : <%= qtdcobroefetivo_us %></td>
        <td align="right"><%= number_to_currency(totalcobroefetivo_us, :format=>' %n ', :separeitor => ',' ) %></td>
      <% else %>  
        <td colspan="7">Total En Efectivo : <%= qtdcobroefetivo_gs %></td>
        <td align="right"><%= number_to_currency(totalcobroefetivo_gs, :format=>' %n ', :precision => 0 ) %></td>
      <% end %>  
    </tr>

    <tr>
      <td colspan="8" align="center">-------------------------------------------------------------------------------------------------------------------------------------</td>
    </tr>

    <tr class="head">
      <td colspan="4">Gastos</td>
    </tr>
    <tr class="head">      
      <td colspan="4">Contado</td>
    </tr>
    
    <% totalgastocontado_us        = 0 %>
    <% qtdgastocontado_us          = 0 %>
    <% qtdprodgastocontado_us      = 0 %>

    <% totalgastocontado_gs        = 0 %>
    <% qtdgastocontado_gs          = 0 %>
    <% qtdprodgastocontado_gs      = 0 %>

    <% for gasto in @gastos_contado %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80"  align="center">   <%=  gasto.id%></td>
            <td width="80"  align="center">   <%=  gasto.data.strftime("%d/%m/%Y")%></td>
            <td width="200"  align="center"></td>
            <td width="400" align="left">     <%=  gasto.persona_nome%></td>
            <td width="400" align="left">     <%=  gasto.documento_numero_01%> - <%= h gasto.documento_numero_02%> - <%= h gasto.documento_numero%></td>
            <td width="100" align="left"> </td>
            <td width="100" align="left"> </td>            
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=  number_to_currency(gasto.valor_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalgastocontado_us        += gasto.valor_dolar.to_f %>
              <% qtdgastocontado_us          += 1 %>
            <% else %>  
              <td width="100" align="right">    <%=  number_to_currency(gasto.valor_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalgastocontado_gs        += gasto.valor_guarani.to_f %>
              <% qtdgastocontado_gs          += 1 %>
            <% end %>  
          </tr>
    <% end %>
      
    <tr class="head">
      <% if params[:moeda].to_s == '0'%>
        <td colspan="6">Total de Gastos Contado : <%= qtdgastocontado_us %></td>
        <td align="center"></td>
        <td align="right"><%= number_to_currency( totalgastocontado_us, :format=>' %n ', :separeitor => ',' )%></td>
      <% else %>  
        <td colspan="6">Total de Gastos Contado : <%= qtdgastocontado_gs %></td>
        <td align="center"></td>
        <td align="right"><%= number_to_currency( totalgastocontado_gs, :format=>' %n ', :precision => 0 )%></td>
      <% end %>  
    </tr>


    <tr>
      <td colspan="8" align="center">-------------------------------------------------------------------------------------------------------------------------------------</td>
    </tr>

    <tr class="head">
      <td colspan="4">Gastos</td>
    </tr>
    <tr class="head">      
      <td colspan="4">Credito</td>
    </tr>
    
    <% totalgastocredito_us        = 0 %>
    <% qtdgastocredito_us          = 0 %>
    <% qtdprodgastocredito_us      = 0 %>
    <% totalgastocredito_gs        = 0 %>
    <% qtdgastocredito_gs          = 0 %>
    <% qtdprodgastocredito_gs      = 0 %>

    <% for gastocrd in @gastos_credito %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="80"  align="center">   <%=  gastocrd.id%></td>
            <td width="80"  align="center">   <%=  gastocrd.data.strftime("%d/%m/%Y")%></td>
            <td width="200"  align="center"></td>
            <td width="400" align="left">     <%=  gastocrd.persona_nome%></td>
            <td width="400" align="left">     <%=  gastocrd.documento_numero_01%> - <%= h gastocrd.documento_numero_02%> - <%= h gastocrd.documento_numero%></td>
            <td width="100" align="left"> </td>
            <td width="100" align="left"> </td>            
            <% if params[:moeda].to_s == '0'%>
              <td width="100" align="right">    <%=  number_to_currency(gastocrd.valor_dolar, :format=>' %n ', :separeitor => ',' )  %></td>
              <% totalgastocredito_us        += gastocrd.valor_dolar.to_f %>
              <% qtdgastocredito_us          += 1 %>
            <% else %>  
              <td width="100" align="right">    <%=  number_to_currency(gastocrd.valor_guarani, :format=>' %n ', :precision => 0 )  %></td>
              <% totalgastocredito_gs        += gastocrd.valor_guarani.to_f %>
              <% qtdgastocredito_gs          += 1 %>
            <% end %>  

          </tr>
    <% end %>
      
    <tr class="head">
      <% if params[:moeda].to_s == '0' %>
        <td colspan="6">Total de Gastos Credito : <%= qtdgastocredito_us %></td>
        <td align="center"></td>
        <td align="right"><%= number_to_currency( totalgastocredito_us, :format=>' %n ', :separeitor => ',')%></td>
      <% else %>
        <td colspan="6">Total de Gastos Credito : <%= qtdgastocredito_gs %></td>
        <td align="center"></td>
        <td align="right"><%= number_to_currency( totalgastocredito_gs, :format=>' %n ', :precision => 0 )%></td>
      <% end %>
    </tr>


    <tr>
      <td colspan="8" align="center">---------------------------------------------------------------------------Resumen----------------------------------------------------------------------</td>
    </tr>

    <% if params[:moeda].to_s == '0' %>
      <tr class="head">
        <td colspan="7">Caja Anterior :</td>
        <td align="right"><%= number_to_currency( @financas_anterior.to_f, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total Ventas/Cobros :</td>
        <td align="right"><%= number_to_currency( entrada = ( totalvendacontado_us.to_f  + totalcobroefetivo_us.to_f ), :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total Gastos :</td>
        <td align="right"><%= number_to_currency( saida = ( totalgastocontado_us.to_f ), :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total General del Dia :</td>
        <td align="right"><%= number_to_currency( @financas_anterior.to_f + entrada.to_f - saida.to_f, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>
    <% else %>    
      <tr class="head">
        <td colspan="7">Caja Anterior :</td>
        <td align="right"><%= number_to_currency( @financas_anterior.to_f, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total Ventas/Cobros :</td>
        <td align="right"><%= number_to_currency( entrada = ( totalvendacontado_gs.to_f  + totalcobroefetivo_gs.to_f ), :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total Gastos :</td>
        <td align="right"><%= number_to_currency( saida = ( totalgastocontado_gs.to_f ), :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

      <tr class="head">
        <td colspan="7">Total General del Dia :</td>
        <td align="right"><%= number_to_currency( @financas_anterior.to_f + entrada.to_f - saida.to_f, :format=>' %n ', :separeitor => ',' )%></td>
      </tr>

    <% end %>    
  </table>
</div>

