<% if params[:tp] == "0" %>   
<div class="group">
   <table>
      <% totgt = 0 %>
      <% @gastos.each do |gt| %>
         <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="50"  align="center">   <%= gt.id %></td>
            <td width="50"  align="center">   <%= gt.unidade_id %></td>
            <td width="70"  align="center">   <%= gt.data.strftime("%d/%m/%Y") %></td>
            <td width="300" align="left">     <%= truncate(gt.persona_nome,:leght => 15) %></td>
            <td width="350" align="left">     <%= truncate(gt.rubro_descricao,:leght => 15) %></td>
            <td width="180" align="center">   <%= gt.documento_numero_01 %> - <%= gt.documento_numero_02 %> - <%= gt.documento_numero %></td>
            <td width="70" align="center">    <%= gt.rodado_nome %></td>
            
            <% if params[:moeda] == '0' %>            
               <td width="70" align="right">    <%= number_to_currency( gt.total_dolar, :format =>' %n ', :separeitor => ',' ) %> </td>
               <% totgt +=  gt.total_dolar %>
            <% elsif params[:moeda] == '1' %>
               <td width="70" align="right">    <%= number_to_currency( gt.total_guarani, :format =>' %n ', :precision => 0 ) %> </td>
               <% totgt +=  gt.total_guarani %>            
            <% else %>   
               <td width="70" align="right">    <%= number_to_currency( gt.total_real, :format =>' %n ', :separeitor => ',' ) %> </td>
               <% totgt +=  gt.total_real %>            
            <% end %> 
         </tr>
      <% end %>
         <tr class="head" height="30">
            <td colspan="7"></td>
            <% if params[:moeda] == '1' %>
               <td width="70" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :precision => 0 ) %> </td>            
            <% else %>
               <td width="70" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :separeitor => ',' ) %> </td>               
            <% end %>
         </tr>
   </table>
</div>


<% elsif params[:tp] == "1" %>   


<div class="group">
   <table>
      <% totgt = 0 %>
      <% @gastos.each do |gt| %>
         <% if gt.total_compra.to_f  > 0 %>
         <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="70"  align="center">   <%= gt.id %></td>
            <td width="1050" align="left">     <%= gt.descricao %></td>
            <% if params[:moeda] == '1' %>
               <td width="100" align="right">     <%= number_to_currency( totais = ( gt.total_compra.to_f ), :format =>' %n ', :precision => 0  ) %></td>            
            <% else %>
               <td width="100" align="right">     <%= number_to_currency( totais = ( gt.total_compra.to_f ), :format =>' %n ', :separeitor => ',' ) %></td>
            <% end %>
         <% end %>   
             <% totgt += totais.to_f %>
      <% end %>
         <tr class="head" height="30">
            <td colspan="2"></td>
            
            <% if params[:moeda] == '1'%>
               <td width="100" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :precision => 0 ) %> </td>                           
            <% else %>
               <td width="100" align="right">    <%= number_to_currency( totgt, :format =>' %n ', :separeitor => ',' ) %> </td>
            <% end %>
         </tr>
   </table>
</div>
<% elsif params[:tp] == "2" %>
   
  <%= render :partial => 'relatorios/forms/listado_gasto_por_obra_detalhado' %>

<% else %>   
  <%= render :partial => 'relatorios/forms/listado_gasto_por_obra_resumido' %>

<% end %>
