<table>
	<% totus = 0 %>
	<% subus = 0 %>
	<% @consumicao.each do |ci|%>
	<% produto = ConsumicaoInternaProduto.all(:conditions => ["consumicao_interna_id = ?",ci.id])%>
	<tr class="head">
		<td align="center" width="50"><%= ci.id%></td>
		<td align="center" width="70"><%= ci.data.strftime("%d/%m/%Y")%></td>
		<td align="left" width="100"><%= ci.vendedor_nome%></td>
		<td align="left" width="300"><%= ci.concepto%></td>

	</tr>
	<% produto.each do |cip|%>

	<tr>
		<td align="center" width="40"><%= cip.id%></td>
		<td align="left" colspan="2"><%= cip.produto_nome %></td>
		<td align="center" width="80"><%= cip.quantidade %></td>
		<td align="right" width="80"><%= number_to_currency(  cip.total_dolar, :format=>' %n ', :separeitor => ",") %></td>
	</tr>
	<% subus += cip.total_dolar %>
	<% totus += cip.total_dolar %>

	<% end %>

	<tr class="head">
		<td align="right" colspan="4"> total ==></td>
		<td align="right">  <%= number_to_currency( subus.to_f, :format=>' %n ', :separeitor => ",") %></td>
	</tr>
	<% subus = 0 %>
    
	<% end %>
	<tr class="head">
		<td align="right" colspan="4"> total ==></td>

		<td align="right"><%= number_to_currency( totus.to_f, :format=>' %n ', :separeitor => ",") %></td>
	</tr>

</table>
