<h2 align="center">Detalhes Cobros</h2>

<h5>
  Cliente : <%= @cobro.persona_nome %>

</h5>



<div class="group">
  <table>
    <tr class="head">
      <td width="80" align="center">Fecha</td>      
      <td width="250" align="center">Clientes</td>
      <td width="250" align="center">Documento</td>
      <td width="100" align="center">N. Doc.</td>
      <td width="80" align="center">Couta</td>
      <td width="80" align="center">Vencimento</td>
      <% if @cobro.moeda == 0 %>
         <td width="100" align="center">Total U$</td>
      <% else %>
         <td width="100" align="center">Total Gs.</td>
      <% end %>

    </tr>
  </table>
  <div class="rolagem" dir="div">

    <table>

      <% @cobros_detalhes.each do |cobros_detalhe| %>
        <tr class = "<%= cycle( "cor1", "cor2" )%>">              
          <td width="80"  align="center"><%= cobros_detalhe.data.strftime("%d/%m/%Y")%></td>          
          <td width="250" align="left"><%= cobros_detalhe.persona_nome%></td>
          <td width="250" align="left"><%= cobros_detalhe.documento_nome%></td>
          <td width="100" align="center"><%= cobros_detalhe.documento_numero%></td>
          <td width="80"  align="center"><%= cobros_detalhe.cota%></td>
          <td width="80"  align="center"><%= cobros_detalhe.vencimento.strftime("%d/%m/%Y")%></td>
          <% if @cobro.moeda == 0 %>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.cobro_dolar, :format =>' %n ', :separator => ",")%></td>
          <% else %>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.cobro_guarani, :format =>' %n ', :precision => 0)%></td>
          <% end %>
        </tr>
        <% end %>
        <tr class="head">
          <td colspan="6"></td>
          <td align="right"><%= number_to_currency( @total_cobro_guarani, :format =>' %n ', :precision => 0)%></td>
        </tr>
      
    </table>

  </div>
</div>


