  <table>
    <tr>
      <td width="50"align="center">Cod.</td>
      <td width="300"align="center">Persona</td>
      <td width="100"align="center">Ruc</td>
      <td width="100"align="center">Clasificacion</td>
      <td width="100"align="center">Tipo</td>
      <td width="100"align="center">Estado</td>
    </tr>
    </table>

      <div class="rolagem" id="div">
        <table>
          <% for persona in @personas %>
            <tr class = "<%= cycle("cor1", "cor2")%>">
              <td width="50"align="center"> <%=h persona.id.to_s.rjust(6,'0') %></td>
              <td width="400"align="left">  <%=h persona.nome %></td>
              <td width="100"align="center"><%=h persona.ruc %></td>
              <td width="100"align="center"><%=h persona.classificacao %></td>
              <td width="100"align="center"><%=h persona.tipo %></td>
              <td width="100"align="center"><%=h persona.estado %></td>              
              <td width="100"align="center"><%=h persona.estado %></td>    
        <% if current_user.tipo == 0 || current_user.tipo == 1 %>
          <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
          <td><%= link_to 'Borrar', persona, :confirm => 'Tiene Certeza?', :method => :delete %></td>         
        <% end %>
            </tr>
          <% end %>
        </table>

       
      </div>
