<div class="group">

   <table>

      <% totentrada = 0 %>
      <% totsaida   = 0 %>
	  <% unit_us    = 0 %>
	  <% unit_gs    = 0 %>
	  <% toten_us   = 0 %>
	  <% totsa_us   = 0 %>
	  <% toten_gs   = 0 %>
	  <% totsa_gs   = 0 %>

      <tr>
        <td width="30" align="center"></td>
        <td width="40" align="center"></td>
        <td width="150" align="left"></td>
        <td width="10"  align="center"></td>
        <td width="80"  align="center"></td>
        <td width="410" align="left">SALDO ANTERIOR</td>      
        <td width="70" align="right"></td>
        <td width="70" align="right"></td>
        <td width="70" align="right"></td>
        <td width="70" align="right"></td>
        <td width="70" align="right"></td>
        <td width="70" align="right"><%=h format( "%.1f", @saldo_anterior.to_f ) %> </td>
      </tr>

      <% @stocks.each do |produto|  %>

         <tr>
            <td width="30" align="center">  <%=h produto.cod_processo %></td>
            <td width="40" align="center">  <%=h produto.data.strftime("%d/%m/%Y")%> </td>
            <td width="150" align="left">   <%=h truncate( produto.persona_nome, :length => 18 ) %> </td>
            <td width="10"  align="center"> <%=h produto.status%> </td>
            <td width="80"  align="center">  <%=h produto.deposito_nome%> </td>
            <td width="410" align="left">   <%=h truncate( produto.produto_nome, :length => 60 ) %> </td>      
			<% if params[:moeda] == "0" %>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_dolar.to_f , :format=>' %n ', :separeitor => ',') %> </td>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_dolar * (produto.entrada ).to_f , :format=>' %n ', :separeitor => ',') %> </td>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_dolar * (produto.saida ).to_f , :format=>' %n ', :separeitor => ',') %> </td>
			   <% unit_us    += produto.unitario_dolar.to_f %>	
			   <% toten_us   += ( produto.unitario_dolar.to_f * produto.entrada.to_f ) %>	
			   <% totsa_us   += ( produto.unitario_dolar.to_f * produto.saida.to_f )%>	

			<% else %>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_guarani.to_f , :format=>' %n ', :precision => 0 ) %> </td>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_guarani.to_f * (produto.entrada), :format=>' %n ', :precision => 0 ) %> </td>
               <td width="70" align="right">  <%=h number_to_currency( produto.unitario_guarani.to_f * (produto.saida), :format=>' %n ', :precision => 0 ) %> </td>
   			   <% unit_gs    += produto.unitario_guarani.to_f %>
			   <% toten_gs   += ( produto.unitario_guarani.to_f * produto.entrada.to_f ) %>	
			   <% totsa_gs   += ( produto.unitario_guarani.to_f * produto.saida.to_f )%>	

			<% end %>
            <td width="70" align="right">  <%=h format( "%.1f",produto.entrada.to_f ) %> </td>
            <td width="70" align="right">  <%=h format( "%.1f",produto.saida.to_f ) %> </td>

            <% totentrada += produto.entrada.to_f %>
            <% totsaida   += produto.saida.to_f %>

            <td width="70" align="right">  <%=h format( "%.1f", (@saldo_anterior.to_f + (totentrada.to_f - totsaida.to_f) ) ) %> </td>
         </tr>
      <% end %>
      <tr class="head" height="20">
         <td colspan="6">Anterior : <%= @saldo_anterior %></td>
		 <% if params[:moeda] == "0" %>
         	<td align="right"><%= number_to_currency( unit_us.to_f * (totentrada.to_f) , :format=>' %n ', :separeitor => ',') %></td>         
         	<td align="right"><%= number_to_currency( toten_us, :format=>' %n ', :separeitor => ',') %></td>         
         	<td align="right"><%= number_to_currency( totsa_us, :format=>' %n ', :separeitor => ',') %></td>         

         <% else %>
         	<td align="right"><%= number_to_currency( unit_gs.to_f * (totentrada.to_f) , :format=>' %n ', :precision => 0 ) %></td>         
         	<td align="right"><%= number_to_currency( toten_gs, :format=>' %n ', :precision => 0 ) %></td>         
         	<td align="right"><%= number_to_currency( totsa_gs, :format=>' %n ', :precision => 0 ) %></td>         
         <% end %>
         <td align="right"><%= format( "%.1f",totentrada ) %></td>
         <td align="right"><%= format( "%.1f",totsaida ) %></td>
         <td align="right"><%= format( "%.1f", ( @saldo_anterior.to_f + totentrada ) - totsaida  ) %></td>
      </tr>
   </table>
</div>



