
<div class="group">

  <table >
    <% totentrada     = 0 %>
    <% totsaida       = 0 %>
    <% custentrada_gs = 0 %>
    <% custentrada_us = 0 %>
    <% custsaida_gs   = 0 %>
    <% custsaida_us   = 0 %>
    <% qtd            = 0 %>
    <% stock          = @saldo_anterior.to_f %>
    <% prod           = 0 %>
    <% number_to_currency( stock.to_f, :format=>' %n ', :separeitor => ',' ) %>

    <% @stocks.each do |produto| %>

      <!-- partial de recalculo de stock -->
      <%= render :partial => "recalculo_custo_promedio", :locals => { :produto => produto.produto_id }%>

      <% if prod.to_i == produto.produto_id.to_i %>
        <% stock += ( produto.entrada.to_f - produto.saida.to_f ) %>
      <% else %>  
        <% stock = ( produto.entrada.to_f - produto.saida.to_f ) %>
      <% end %>  
      
      <tr>
        <td width="40" align="center"> <%=h produto.cod_processo.to_s.rjust(6,'0') %> </td>
        <td width="40" align="center"> <%=h produto.data.strftime("%d/%m/%Y")%> </td>
        <td width="25"  align="center"> <%=h produto.deposito_id.to_s.rjust(2,'0') %> </td>
        <td width="40"  align="center"> <%=h produto.produto_id.to_s.rjust(6,'0') %> </td>
        <td width="250" align="left">   <%=h truncate( produto.produto_nome, :length => 38 ) %> </td>
        <td width="35" align="right"> <%=h format( "%.2f", produto.entrada.to_f ) %> </td>
        <td width="35" align="right"> <%=h format( "%.2f", produto.saida.to_f ) %> </td>
        <td width="35" align="right"> <%=h format( "%.2f", stock.to_f  ) %> </td>
        <% if params[:moeda].to_s == '0' %>
          <td width="70" align="right"> <%=h number_to_currency( produto.unitario_dolar.to_f, :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( produto.promedio_dolar.to_f, :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( produto.entrada.to_f * produto.unitario_dolar.to_f, :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( ( produto.promedio_dolar.to_f * produto.saida.to_f ) , :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( ( produto.promedio_dolar.to_f * stock.to_f), :format=>' %n ', :separeitor => ',' )  %> </td>
        <% else %>
          <td width="70" align="right"> <%=h number_to_currency( produto.unitario_guarani.to_f, :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( produto.promedio_guarani.to_f, :format=>' %n ', :separeitor => ',' )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( produto.entrada.to_f * produto.unitario_guarani.to_f, :format=>' %n ', :precision => 0 )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( ( produto.promedio_guarani.to_f * produto.saida.to_f ) , :format=>' %n ', :precision => 0 )  %> </td>
          <td width="70" align="right"> <%=h number_to_currency( ( produto.promedio_guarani.to_f * stock.to_f), :format=>' %n ', :precision => 0 )  %> </td>
        <% end %>
      </tr>
      <% totentrada      =  totentrada.to_f + produto.entrada.to_f %>
      <% totsaida        =  totsaida.to_f + produto.saida.to_f %>
      <% custentrada_gs  += ( produto.entrada.to_f * produto.unitario_guarani.to_f) %>
      <% custentrada_us  += ( produto.entrada.to_f * produto.unitario_dolar.to_f) %>
      <% custsaida_gs    += ( produto.saida.to_f * produto.promedio_guarani.to_f ) %>
      <% custsaida_us    += ( produto.saida.to_f * produto.promedio_dolar.to_f ) %>
      <% qtd          = qtd        + 1 %>
      <% prod         = produto.produto_id %>
      
    <% end %>
      <tr class="head" height="20">
        <td colspan="5">Anterior : <%= @saldo_anterior %></td>
        <td align="right"><%= format( "%.2f",totentrada ) %></td>
        <td align="right"><%= format( "%.2f",totsaida ) %></td>
        <td align="right"><%= format( "%.2f", ( @saldo_anterior.to_f + totentrada ) - totsaida  ) %></td>
        <td colspan="2"></td>
        <% if params[:moeda].to_s == '0'%>
          <td align="right"><%= number_to_currency( custentrada_us.to_f, :format=>' %n ', :separeitor => ',' ) %></td>
          <td align="right"><%= number_to_currency( custsaida_us.to_f, :format=>' %n ', :separeitor => ',' ) %></td>
        <% else %>
          <td align="right"><%= number_to_currency( custentrada_gs.to_f, :format=>' %n ', :precision => 0 ) %></td>
          <td align="right"><%= number_to_currency( custsaida_gs.to_f, :format=>' %n ', :precision => 0 ) %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="5">Cantidad : <%= qtd %></td>
      </tr>
  </table>
</div>

