<body onload="ImputFocus('cod')">
<h1 align="right" id="header">.</h1>

<%= form_for(@stock) do |f| %>
  <%= f.hidden_field :persona_nome, :value => 'AJUSTE' %>
  <%= f.hidden_field :taxa%>


  Stock Inicial
  <div class="group_cd">
    <table>
      <tr height="35">
        <td align="right">Fecha</td>
        <td> <%= f.date_select :data ,{},{:onblur => "StockCotacao()"} %></td>
             <%= hidden_field_tag( 'key' ) %>
      </tr>

      <tr height="35">

       
      </tr>

      <tr height="35">
         <td align="right">Deposito:</td>
         <td><%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>
          <td align="right">Saldo :</td>
         <td><%= text_field_tag( 'saldo' ) %></td>

      </tr>

      <tr height="35">
         <td align="right">Producto:</td>
         <td colspan="4">


             <%= f.collection_select :produto_id, Produto.all(:select => 'id,nome',:order => '2'),:id,:nome %>
        </td>
      </tr>

      <tr height="35">
         <td align="right">Entrada:</td>
         <td><%= f.text_field :entrada,
                              :size => 15%></td>
         <td align="right">Saida:</td>

         <td><%= f.text_field :saida,
                              :size => 15%> <%= f.submit " Grabar ", :class => 'button' %></td>

      </tr>
        <%= field_gs 'Costo Gs.:',f, :unitario_guarani,:onchange  => "GsToUs('stock_unitario_guarani','stock_unitario_dolar','stock_cotacao')"%>
      
        <%= field_us 'U$.:',f,  :unitario_dolar,:onchange  => "UsToGs('stock_unitario_dolar','stock_unitario_guarani','stock_cotacao')"%>      
    </table>
  </div>      
<% end %>

