<body onload="DataFinal(),CampoInicio()">
  <h1 align="right" id="header">.</h1>
  Ivanterio
  <div class="group">
    <h2>
      <%= form_tag resultado_iventario_stocks_path, :method => "get" do%>
        <table>          
          <tr>
            <td align="right"> Fecha:</td>
            <td><input name       = "inicio"
                       id         = "inicio"
                       size       = "10"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'final')" />
                Hasta
                <input name       = "final"
                       id         = "final"
                       size       = "10"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'campo_clase')" /></td>
          </tr>

          <tr>
            <td align="right">Clase :</td>
            <td>
              <%= text_field_tag( 'campo_clase',
                                   nil,
                                   :id       => "campo_clase",
                                   :onchange => {:remote => true,
                                                 :update => "campo_clase",
                                                                 :url        => { :action => :get_clase, :id => 1},
                                                                 :with       => "'campo_clase='+this.value"},
                                                                 :size       => 5,
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_clase')"
                                                              ) %>

              <%=   select("busca", "clase", Clase.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] },                 
                                                                                          { :include_blank => true },
                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                            :onkeyup       => "EnterTab(event,'campo_grupo')" })   %></td>
          </tr>

          <tr>
            <td align="right">Grupo :</td>

            <td>
              <%= text_field_tag( 'campo_grupo',
                                   nil,
                                   :id       => "campo_grupo",
                                   :onchange => {:remote => true,
                                                 :update => "campo_grupo",
                                                                 :url        => { :action => :get_grupo, :id => 1},
                                                                 :with       => "'campo_grupo='+this.value"},
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_grupo')",
                                                                 :size       => 5
                              ) %>

              <%=   select("busca", "grupo", Grupo.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] }, 
                                                                                          { :include_blank => true },
                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                            :onkeyup       => "EnterTab(event,'campo_produto')" })   %></td>
          </tr>


          <tr>
            <td align="right">Producto :</td>

            <td>
              <%= text_field_tag( 'campo_produto',
                                   nil,
                                  :id       => "campo_produto",
                                  :onchange => {:remote => true,
                                                :update => "campo_produto",
                                                                :url        => { :action => :get_produto, :id => 1},
                                                                :with       => "'campo_produto='+this.value"},
                                                                :size       => 5,
                                                                :onkeypress => "return bloqEnter(event)",
                                                                :onkeyup    => "EnterTab(event,'busca_produto')"

                                ) %>


              <%=   select("busca", "produto", Produto.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, 
                                                                                                          { :include_blank => true },
                                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                                            :onkeyup       => "EnterTab(event,'busca_deposito')" })   %></td>
          </tr>

          <tr>
            <td align="right">Deposito :</td>

            <td>
              <%=   select("busca", "deposito", Deposito.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, 
                                                                                                            { :include_blank => true },
                                                                                                            { :onkeypress    => "return bloqEnter(event)",
                                                                                                              :onkeyup       => "EnterTab(event,'filtro')" })   %></td>
          </tr>

          <tr>
            <td></td>
            <td>
              <fieldset>
                <legend>Filtros</legend>
                <input id         = "filtro"
                       name       = "filtro"
                       type       = "radio"
                       value      = "0"
                       checked
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Todos

                <input id    ="filtro"
                       name  ="filtro"
                       type  ="radio"
                       value ="1"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Con Saldo

              </fieldset>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <fieldset>
                <legend>Ordenado Por</legend>
                <input id         = "order"
                       name       = "order"
                       type       = "radio"
                       value      = "0"
                       checked
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Descripcion

                <input id    ="order"
                       name  ="order"
                       type  ="radio"
                       value ="1"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'button')" />Codigo

              </fieldset>
            </td>
          </tr>


          <tr>
            <td></td>
            <td>
              <input  id      ="button"
                      type    ="submit"
                      value   ="              Informe             "
                      onclick = "Tipo('0')"/>

              <input type     = "submit"
                     value    = "            Excel            "
                     onclick  = "Tipo('1')"/>


            <input  id      ="button"
                    type    ="submit"
                    value   ="              Planilha             "
                    onclick = "Tipo('2')"/>
            </td>

          </tr>

          <input type  = "hidden"
                 name  = "tipo"
                 id    = "tipo"
                 size  = "5"
                 value = "0"/>
        </table>
      <% end %>

    </h2>
  </div>
</body>


