<body onload="DataFinal(),CampoInicio()">
  <h1 align="right" id="header">.</h1>
  Rentabilidad
  <div class="group">
    <h2>
      <%= form_tag resultado_rentabilidade_stocks_path, :method => "get" do%>
        <table>
          <tr>
            <td align="right"> Fecha:</td>
            <td><input name       = "inicio"
                       id         = "inicio"
                       size       = "10"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'final')" />
                Hasta
                <input name       = "final"
                       id         = "final"
                       size       = "10"
                       onkeypress = "return bloqEnter(event)"
                       onkeyup    = "Formatadata(this,event),EnterTab(event,'campo_clase')" /></td>
          </tr>

          <tr>
            <td align="right">Clase :</td>
            <td>
              <%= text_field_tag( 'campo_clase',
                                   nil,
                                   :id       => "campo_clase",
                                   :onchange => {:remote => true,
                                                 :update     => "campo_clase",
                                                                 :url        => { :action => :get_clase, :id => 1},
                                                                 :with       => "'campo_clase='+this.value"},
                                                                 :size       => 5,
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_clase')"
                                                              ) %>

              <%=   select("busca", "clase", Clase.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] },
                                                                                          { :include_blank => true },
                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                            :onkeyup       => "EnterTab(event,'campo_grupo')" })   %></td>
          </tr>

          <tr>
            <td align="right">Grupo :</td>

            <td>
              <%= text_field_tag( 'campo_grupo',
                                   nil,
                                   :id       => "campo_grupo",
                                   :onchange => {:remote => true,
                                                 :update     => "campo_grupo",
                                                                 :url        => { :action => :get_grupo, :id => 1},
                                                                 :with       => "'campo_grupo='+this.value"},
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_grupo')",
                                                                 :size       => 5
                              ) %>

              <%=   select("busca", "grupo", Grupo.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] },
                                                                                          { :include_blank => true },
                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                            :onkeyup       => "EnterTab(event,'campo_produto')" })   %></td>
          </tr>


          <tr>
            <td align="right">Producto :</td>

            <td>
              <%= text_field_tag( 'campo_produto',
                                   nil,
                                  :id       => "campo_produto",
                                  :onchange => {:remote => true,
                                                :update => "campo_produto",
                                                                :url        => { :action => :get_produto, :id => 1},
                                                                :with       => "'campo_produto='+this.value"},
                                                                :size       => 5,
                                                                :onkeypress => "return bloqEnter(event)",
                                                                :onkeyup    => "EnterTab(event,'busca_produto')"

                                ) %>


              <%=   select("busca", "produto", Produto.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] },
                                                                                                          { :include_blank => true },
                                                                                                          { :onkeypress    => "return bloqEnter(event)",
                                                                                                            :onkeyup       => "EnterTab(event,'busca_deposito')" })   %></td>
          </tr>

          <tr>
            <td align="right">Deposito :</td>

            <td>
              <%=   select("busca", "deposito", Deposito.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] },
                                                                                                            { :include_blank => true },
                                                                                                            { :onkeypress    => "return bloqEnter(event)",
                                                                                                              :onkeyup       => "EnterTab(event,'filtro')" })   %></td>
          </tr>


               <tr>
                  <td align="right">Tipo :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :modelo, 0,  :Checked => "True" %> Resumen
                       <%= radio_button_tag :modelo, 1 %> Detalhado
                    </fieldset>
                  </td>
               </tr>

               <tr>
                  <td align="right">Tipo De Producto:</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :prod, 0,  :Checked => "True" %> Mercaderia
                       <%= radio_button_tag :prod, 1 %> Servicios
                       <%= radio_button_tag :prod, 2 %> Todos
                    </fieldset>
                  </td>
               </tr>


          <tr>
	          <td></td>
              <td>
                   <%= check_box_tag :lancamento,'1', :onkeyup    => "Formatadata(this,event),EnterTab(event,'moeda')",
                                                  :onkeypress => "return bloqEnter(event)" %> Todos lo lanzamientos

                   <%= check_box_tag :legal,'1' %> Solo Legal?
              </td>

           </tr>

               <tr>
                  <td align="right">Moneda :</td>
                  <td>
                    <fieldset>
                       <%= radio_button_tag :moeda, 0,  :Checked => "True" %> Dolar
                       <%= radio_button_tag :moeda, 1 %> Guaranies
                    </fieldset>
                  </td>
               </tr>


          <tr>
            <td></td>
            <td>
              <input  id      ="button"
                      type    ="submit"
                      value   ="              Informe             "
                      onclick = "Tipo('0')"/>

              <input type     = "submit"
                     value    = "            Excel            "
                     onclick  = "Tipo('1')"/>
            </td>
          </tr>

          <input type  = "hidden"
                 name  = "tipo"
                 id    = "tipo"
                 size  = "5"
                 value = "0"/>
        </table>
      <% end %>

    </h2>
  </div>
</body>


