<% tot_saldo  = 0 %>
<% tot_us     = 0 %>
<table>
  <%= @stocks.each do |p| %>
    <!-- partial de recalculo de stock -->
    <%= render :partial => "recalculo_custo_promedio", :locals => { :produto => p.id }%>

    <tr>      
      <td width="100"><%= p.clase_id.to_s.rjust(2,"0")%>.<%= p.grupo_id.to_s.rjust(4,"0")%>.<%= p.id.to_s.rjust(6,"0")%></td>
      <td width="400"><%= truncate( p.nome, :length => 90 ) %></td>
      <td width="80" align="right"><%= p.saldo.to_f %></td>
      <td width="80" align="right">  <%=h number_to_currency( p.custo_us.to_f, :format=>' %n ', :separeitor => ',') %> </td>      
      <td width="80" align="right">  <%=h number_to_currency( p.saldo.to_f * p.custo_us.to_f, :format=>' %n ', :separeitor => ',') %> </td>
    </tr>
    <% tot_saldo += p.saldo.to_f %>
    <% tot_us    += p.saldo.to_f * p.custo_us.to_f %>

  <% end %>
  <tr height="30" class="head">
    <td colspan="2"></td>
    <td width="80" align="right">  <%=h number_to_currency( tot_saldo.to_f, :format=>' %n ', :separeitor => ',') %> </td>          
    <td width="80" align="right"></td>
    <td width="80" align="right">  <%=h number_to_currency( tot_us.to_f, :format=>' %n ', :separeitor => ',') %> </td>          
  </tr>
</table>

