<h1 align="right" id="header">Bicos</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_metodo_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="50" align="center">Codigo</td>
            <td width="350" align="center">Descri.</td>
          </tr>
</table>


<div class="rolagem" dir="div">
<table>
<% @metodos.each do |metodo| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= metodo.id.to_s.rjust(6,'0') %></td>
    <td width="350" align="left"><%= metodo.nome %></td>    
    <td><%= link_to 'Editar', edit_metodo_path(metodo) %></td>
    <td><%= link_to 'Borrar', metodo, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
  </tr>
<% end %>
</table>
</div>

    