<h1 class="group">
  <b>Data:</b>
  <%= @controle_pulv.data.strftime("%d/%m/%Y") %>

  <b>Persona:</b>
  <%= @controle_pulv.persona_id %>

  <b>Area:</b>
  <%= @controle_pulv.area %>
</h1>

<div class="group">
  <%= render :partial=>"/controle_pulv_maqs/index_maq", :locals=>{:controle_pulv_maqs => @controle_pulv.controle_pulv_maqs}%>
</div>

<%= render :partial=>"/controle_pulv_maqs/new_maq", :locals=>{ :controle_pulv_maq => ControlePulvMaq.new(:controle_pulv_id=>@controle_pulv.id) } %> 

<%= link_to 'Edit', edit_controle_pulv_path(@controle_pulv) %> |
<%= link_to 'Back', controle_pulvs_path %>
