<h1 align="right" id="header">Sueldos</h1>

<%= form_for(@sueldo) do |f| %>
   <ul class="tabs">
      <li><a href="#tab1">Sueldos - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
          <table>
            <tr>
              <td align="right">Pediodo :</td>
              <td align="right"><%= f.date_select :data_inicio %>  hasta <%= f.date_select :data_final %></td>
            </tr>
            
            <tr>
              <td align="right"> Moneda :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                  <%= f.radio_button :moeda, 0 %> Dolar
                  <%= f.radio_button :moeda, 2 %> Real
                </fieldset>
              </td>
            </tr>

            <tr>
              <td align="right">Empleado :</td>
              <td><%= f.collection_select :persona_id, Persona.all( :select     => 'id,nome,tipo_funcionario',
                                                                    :conditions => ["tipo_funcionario = 1"],
                                                                    :order      => '2'),:id,:nome %></td>
            </tr>
          </table>
      </div>
      <div class="buttons">
          <%= f.submit 'Seguir', :class => "button" %>
          <%= link_to 'Volver', sueldos_path, :class => "button back" %>    
      </div>
    </div>

<% end %>

