<div class="group">
  <table class="head_grid">
    <tr>
      <td width="80" align="center">Fecha</td>
      <td width="400" align="center">Concepto</td>
      <td width="120" align="center">Doc.</td>
      <td width="30" align="center">Cuota</td>
      <td width="100" align="center">Divida</td>
      <td width="100" align="center">Pago</td>
      <td width="100" align="center">Saldo</td>

    </tr>
  </table>
  <div class="rolagem_cobro" dir="div">


    <table>
      <% div = 0 %>
      <% cob = 0 %>
      <% @pendentes.each do |p| %>
          <%  anterior_dolar     = Cliente.sum(:cobro_dolar, :conditions => ["persona_id = ? AND documento_numero_01 = ? AND documento_numero_02 = ? AND documento_numero = ? AND cota = ? ",p.persona_id,p.documento_numero_01,p.documento_numero_02,p.documento_numero,p.cota]) %>
          <%  anterior_guarani   = Cliente.sum(:cobro_guarani, :conditions => ["persona_id = ? AND documento_numero_01 = ? AND documento_numero_02 = ? AND documento_numero = ? AND cota = ?",p.persona_id,p.documento_numero_01,p.documento_numero_02,p.documento_numero,p.cota]) %>

          <%  anterior_real   = Cliente.sum(:cobro_real, :conditions => ["persona_id = ? AND documento_numero_01 = ? AND documento_numero_02 = ? AND documento_numero = ? AND cota = ?",p.persona_id,p.documento_numero_01,p.documento_numero_02,p.documento_numero,p.cota]) %>

          <%  saldo_dolar   = p.divida_dolar - anterior_dolar %>
          <%  saldo_guarani = p.divida_guarani - anterior_guarani %>
          <%  saldo_real = p.divida_real - anterior_real %>

        <tr class = "<%= cycle( "cor1", "cor2" )%>"
              onMouseOver="javascript:this.style.backgroundColor='#949494'"
              onMouseOut="javascript:this.style.backgroundColor=''"
              onClick="Fecha( '<%= p.vencimento %>',
                              '<%= p.data %>',
                              '<%= p.documento_numero_01 %>',
                              '<%= p.documento_numero_02 %>',
                              '<%= p.documento_numero %>',
                              '<%= p.cota %>',
                              '<%= number_to_currency( saldo_dolar.to_f, :format=>' %n ', :separator => ',') %>',
                              '<%= number_to_currency( saldo_guarani, :format=>' %n ', :precision => 0) %>',
                              '<%= number_to_currency( saldo_real.to_f, :format=>' %n ', :separator => ',') %>'
                              )">
          <td width="80" align="center"> <%= p.data.strftime("%d/%m/%Y")%></td>
          <td width="400" align="left"> <%= p.descricao %></td>
          <td width="120" align="center"> <%= p.documento_numero_01 %>-<%= p.documento_numero_02 %>-<%= p.documento_numero %></td>
          <td width="30" align="center"> <%= p.cota %></td>
          <% if @sueldo.moeda == 0 %>
            <td width="100" align="right">   <%=h number_to_currency(p.divida_dolar, :format=>' %n ', :separeitor => ',') %></td>
            <td width="100" align="right">   <%=h number_to_currency(anterior_dolar, :format=>' %n ', :separeitor => ',') %></td>
            <td width="100" align="right">   <%=h number_to_currency(saldo_dolar, :format=>' %n ', :separeitor => ',')  %></td>
            <% div += p.divida_dolar %>
            <% cob += anterior_dolar %>

          <% elsif @sueldo.moeda == 1 %>
            <td width="100" align="right">   <%=h number_to_currency(p.divida_guarani, :format=>' %n ', :precision => 0) %></td>
            <td width="100" align="right">   <%=h number_to_currency(anterior_guarani, :format=>' %n ', :precision => 0) %></td>
            <td width="100" align="right">   <%=h number_to_currency(saldo_guarani, :format=>' %n ', :precision => 0)  %></td>
            <% div += p.divida_guarani %>
            <% cob += anterior_guarani %>

          <% else %>
            <td width="100" align="right">   <%=h number_to_currency(p.divida_real, :format=>' %n ', :separeitor => ',') %></td>
            <td width="100" align="right">   <%=h number_to_currency(anterior_real, :format=>' %n ', :separeitor => ',') %></td>
            <td width="100" align="right">   <%=h number_to_currency(saldo_real, :format=>' %n ', :separeitor => ',')  %></td>
            <% div += p.divida_real %>
            <% cob += anterior_real %>
          <% end %>
        </tr>
      <% end %>      
    </table>
  </div>
  <table class="head_grid">
    <tr>
      <td width="630"></td>
      <% if @sueldo.moeda == 1 %>
        <td width="100" align="right"><%=h number_to_currency(div, :format=>' %n ', :precision => 0) %></td>
        <td width="100" align="right"><%=h number_to_currency(cob, :format=>' %n ', :precision => 0) %></td>
        <td width="100" align="right"><%=h number_to_currency(div.to_f - cob.to_f, :format=>' %n ', :precision => 0) %></td>
      <% else %>
        <td width="100" align="right"><%=h number_to_currency(div, :format=>' %n ', :separeitor => ',') %></td>
        <td width="100" align="right"><%=h number_to_currency(cob, :format=>' %n ', :separeitor => ',') %></td>
        <td width="100" align="right"><%=h number_to_currency(div.to_f-cob.to_f, :format=>' %n ', :separeitor => ',') %></td>        
      <% end %>
    </tr>
  </table>
</div>


<script type="text/javascript">

function Fecha(vencimento,data,documento_numero_01,documento_numero_02,documento_numero,cota,saldo_dolar,saldo_guarani,saldo_real)
  {
    document.getElementById('sueldos_detalhe_vencimento').value           = vencimento;
    document.getElementById('sueldos_detalhe_data').value                 = data;
    document.getElementById('sueldos_detalhe_documento_numero_01').value  = documento_numero_01;
    document.getElementById('sueldos_detalhe_documento_numero_02').value  = documento_numero_02;
    document.getElementById('sueldos_detalhe_documento_numero').value     = documento_numero;
    document.getElementById('sueldos_detalhe_cota').value                 = cota;
    document.getElementById('sueldos_detalhe_debito_us').value          = saldo_dolar;
    document.getElementById('sueldos_detalhe_debito_gs').value          = saldo_guarani;
    document.getElementById('sueldos_detalhe_debito_rs').value          = saldo_real;
  }
  

</script>
