<h1 align="right" id="header">Sueldos</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_sueldo_path , :class => 'button add'%>    
</div>
<div class="group">
  <table>
    <tr>
      <td width="100"align="center">Codigo</td>
      <td width="100"align="center">Mes</td>
      <td width="550"align="center">Empleado</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>

      <% @sueldos.each do |sueldo| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="100" align="center"><%= sueldo.id %></td>
          <td width="100" align="center"><%= sueldo.mes %>/<%= sueldo.ano %></td>
          <td width="550" align="left"><%= sueldo.persona_nome %></td>
          <td><%= link_to 'Editar', edit_sueldo_path(sueldo) %></td>
          <td><%= link_to 'Borrar', sueldo, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

