
<h1 id="header">Sueldos Detalhes</h1>
<div class="group">
  <table >
    <tr class = "<%= cycle("cor1", "cor2") %>">
      <td align="right">Periodo :</td>
      <td><%= @sueldo.data_inicio.strftime("%d/%m/%Y") %> - <%= @sueldo.data_final.strftime("%d/%m/%Y") %> - Dias(<%=  @sueldo.data_final.to_date - @sueldo.data_inicio.to_date %>)</td>
      <td align="right">Empleado :</td>
      <td><%= @sueldo.persona_nome %> </td>

    </tr>
    <tr class = "<%= cycle("cor1", "cor2") %>">
      <td align="right">Salario :</td>
      <td width="250" align="right"><%= number_to_currency(@sueldo.salario, :format=>' %n ', :separeitor => ',')  %> </td>
      <td align="right">Salario Min.:</td>
      <td width="250" align="right"><%= number_to_currency(@sueldo.salario_minimo, :format=>' %n ', :separeitor => ',') %> </td>
    </tr>
  </table>
</div>

<fieldset>
  <legend>Pendencias</legend>
  <%= render :partial=>"pendentes" %>
</fieldset>

<%= render :partial=>"/sueldos_detalhes/new_saldo_liquiq", :locals=>{:sueldos_detalhe=>SueldosDetalhe.new(:sueldo_id=>@sueldo.id)} %>

<fieldset>
  <legend>Extracto</legend>
  <%= render :partial=>"index_sueldos_detalhes", :locals=>{:sueldos_detalhes => @sueldo.sueldos_detalhes  } %>
</fieldset>

<div class="buttons">
  <a href="/sueldos/<%=@sueldo.id%>/form_sueldos_detalhes" class="button add" >Nuevo</a>
  <a href="javascript:void(0)" onClick="ComprovanteSueldo()" class="button print">Comprobante</a>   
  <%= link_to 'Volver', edit_sueldo_path(@sueldo), :class => "button back" %> 
  <input type="hidden" id="id" name="id" value="<%=params[:id]%>" />
  <%= link_to 'Salir', {:action => 'index'}, :class => "button delete" %>    
</div>

<script>
  function ComprovanteSueldo()                //
  {
    window.open('/sueldos/' + document.getElementById('id').value + "/comprovante", 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400') ;
  }
</script>

