<!--modelo simples E02!-->
<body onload="ExibeDivCompraDetalheFatura()">
   <%= form_for(@compra) do |f| %>
      
   <% if @compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @compra.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.hidden_field :tipo_compra, :value => 1 %>
      <%= f.hidden_field :cotacao_real, :value => 2500 %>

      <ul class="tabs">
         <li><a href="#tab1">Gastos - [Edicion]</a></li>
      </ul>


      <div class="tab_container">
         <div id="tab1" class="tab_content">
            
            <table >
               <tr>
                  <td>
                     <fieldset>
                        <table>
                           <tr>
                              <td align="right">Fecha:</td>
                              
                           <td colspan="3"> <%= f.date_select :data %></td>
                           </tr>

                           <tr>
                              <td align="right">Cotizacion :</td>
                              <td> <%= text_field :compra,:cotacao ,
                                                        :size     => 10,
                                                        :value    => @compra.cotacao.to_i,
                                                          :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                                                                               type: 'POST',
                                                                               data: 'data=' + $('#compra_data_3i').val()+'/'+
                                                                                               $('#compra_data_2i').val()+'/'+
                                                                                               $('#compra_data_1i').val(),
                                                                                               success: function(data){
                                                                                                                $('#compra_cotacao').val(data);} })"%>

                              <td align="right">Unidade:</td>
                              <td><%= f.collection_select :unidade_id, Unidade.all(:select => 'id,unidade_nome',:order => '1'),:id,:unidade_nome %></td>
                           </tr>
                        </table>
                     </fieldset>
                  </td>

                  <td>
                     <table>
                        <tr>
                           <td>
                              <table>

                                 <tr>
                                    <td>
                                       <fieldset>
                                          <legend>Moneda</legend>
                                          <%= f.radio_button :moeda, 1,  :Checked => "True",  :onblur => "MoedaCompra('1')" %> Gs.
                                          <br/>
                                          <%= f.radio_button :moeda, 0,:onblur => "MoedaCompra('0')"%> Dolar

                                          <input type="hidden" id="moeda" value="<%= @compra.moeda %>"/>
                                       </fieldset>
                                       <%= f.check_box :adcionais%>Gastos Adcionales
                                    </td>

                                    <td width="200">
                                       <fieldset>
                                          <legend>Tipo</legend>
                                          <%= f.radio_button :tipo, 0,
                                                             :Checked => "True",
                                                             :onblur  => "TipoCompra('0'),
                                                                          ExibeDivCompraDetalheFatura(),CompraTipoDocumento()"%> Contado
                                          <br/>
                                          <%= f.radio_button :tipo, 1,
                                                             :onblur => "TipoCompra('1'),
                                                                         ExibeDivCompraDetalheFatura(),CompraTipoDocumento()" %> Credito

                                          <input type="hidden" id="tipo" value="<%= @compra.tipo %>"/>
                                       </fieldset>
                                       <br>
                                    </td>                                    

                            <td rowspan="2" valign="top">
                              <fieldset>
                                <legend>Sector</legend>

                                 <%= f.collection_select :clase_produto, Setor.all( :select => 'id,nome',
                                                                                           :order  => '1' ),:id,
                                                                                            :nome %>

                              </fieldset>
                           </td>
                           </td>

                                 </tr>

                              </table>

                           </td>
                        </tr>
                     </table>

                  </td>
               </tr>
            </table>

            <table >
                <tr>
                   <td colspan="4">
                      <fieldset>
                           <table>
                              <tr>
                                 <td align="right">Nombre :</td>
                                 <td colspan="3">
                                    <%= f.text_field :persona_nome,:size => 87 %> 
                                    <%= link_to '',{:controller => 'personas',:action => 'new'}, :popup => ['new_window','height=700,width=1000'] , :class => "links add"%>                                    
                                    Pulse F2 para buscar.
                                    <%= f.hidden_field :despachante_id, :value => 0  %>
                                 </td>
                              </tr>
                              <tr>
                                 <td align="right">Rubro:</td>
                                 <td><%= f.collection_select :rubro_id, 
                                           Rubro.all( :select => 'id,descricao',
                                                      :order  => '2' ),:id,
                                                      :descricao,{},
                                                       {:class => "selc_medium"} %></td>

                              </tr>
                               
                              <tr>
                                 <td align="right">Rodados:</td>
                                 <td><%= f.collection_select :rodado_id,
                                           Rodado.all( :select => 'id,placa',
                                                       :order  => '2' ),:id,:placa, 
                                                       {:include_blank => true },
                                                       {:class         => "selc_medium"} %></td>

                              </tr>


                              <tr>
                                 <td align="right">Vendedor:</td>
                                 <td><%= f.collection_select :empregado_id, 
                                            Persona.all( :conditions => ["tipo_funcionario = 1"],
                                                         :select => 'id,nome',
                                                         :order  => '1' ),:id,
                                                         :nome, { :include_blank => true },
                                                         {:class         => "selc_medium"} %>

                                  </td>

                              </tr>


                              <!--    DOCUMENTO       !-->

                              <tr>
                                 <td>Tipo Gasto :</td>
                                 <td>
                                    <fieldset>
                                       <%= f.radio_button :tipo_gasto, 0,  :Checked => "True"%> Legal
                                       <%= f.radio_button :tipo_gasto, 1 %> Legal Revertido
                                       <%= f.radio_button :tipo_gasto, 2 %> Comun
                                       <%= f.radio_button :tipo_gasto, 3 %> Comun Revertido
                                    </fieldset>
                                 </td>
                               </tr>


                              <tr>
                                 <td align="right">Documento:</td>
                                 <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                                           :order  => '1' ),:id,
                                                                                            :nome %>

                                  Numero:                                                                                    
                                    <%= f.text_field :documento_numero_01,:size => 3%>-
                                    <%= f.text_field :documento_numero_02,:size => 3%>-
                                    <%= f.text_field :documento_numero,   :size => 10 %>
                                  Timbrado :     
                                    <%= f.text_field :documento_timbrado,:size => 15 %>                               
                                </td>
                              </tr>

                               <tr>
                                  <td colspan="4">
                                     <div id="MOEDA_FATURA_DOLAR" style="display:none;">
                                    <table>

                                 <tr>
                                    <td colspan="4">
                                        <fieldset>
                                           <table>
                                              <tr>
                                                <%= field_us 'Exentas U$ :', f, :exentas_dolar %>

                                                <%= field_us 'Gravadas 5% U$ :', f, :gravadas_05_dolar,
                                                                                    :onchange => "CompraGravada05Dolar('compra_gravadas_05_dolar','compra_imposto_05_dolar')" %>

                                                 <%= field_us 'Gravadas 10% U$ :', f, :gravadas_10_dolar,
                                                  :onchange     => "CompraGravada10Dolar('compra_gravadas_10_dolar','compra_gravadas_05_dolar','compra_exentas_dolar','compra_imposto_10_dolar','compra_total_dolar')" %>
                                              </tr>

                                              <tr>
                                                <td></td>
                                                <td></td>
                                                <%= field_us 'Impuestos 5% U$ :', f, :imposto_05_dolar %>

                                                <%= field_us 'Impuestos 10% U$ :', f, :imposto_10_dolar %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total U$ :', f, :total_dolar %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total Desconto U$ :', f, :desconto_dolar %>
                                             </tr>
                                           </table>
                                        </fieldset>
                                      </td>
                                   </tr>
                                  </table>
                                     </div>

                                     <div id="MOEDA_FATURA_GUARANI" style="display:none;">
                                  <table>                                      
                                  <tr>
                                    <td colspan="4">
                                        <fieldset>
                                           <table>
                                                <tr>
                                                   <td>
                                                      <table>
                                                         <tr>
                                                            <%= field_gs 'Exentas Gs.:', f, :exentas_guarani %>

                                                            <%= field_gs 'Gravadas 5% Gs.:', f, :gravadas_05_guarani, 
                                                                                                :onchange => "CompraGravada05Gs()" %>

                                                            <%= field_gs 'Gravadas 10% Gs.:', f, :gravadas_10_guarani,
                                                                                                 :onchange => "CompraGravada10Gs()" %>
                                                         </tr>

                                                         <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <%= field_gs 'Impuestos 5% Gs.:', f, :imposto_05_guarani %>

                                                            <%= field_gs 'Impuestos 10% Gs.:', f, :imposto_10_guarani %>
                                                         </tr>

                                                         <tr>
                                                            <td colspan="4"></td>
                                                            <%= field_gs 'Total Gs.:', f, :total_guarani %>
                                                         </tr>

                                                         <tr>
                                                            <td colspan="4"></td>
                                                            <%= field_gs 'Total Desconto Gs.:', f, :desconto_guarani %>
                                                         </tr>
                                                     </table>
                                                   </td>
                                                </tr>
                                           </table>
                                        </fieldset>
                                      </td>
                                   </tr>
                                  </table>
                                     </div>

                                    <div id="MOEDA_FATURA_REAL" style="display:none;">
                                  <table>
                                  <tr>
                                     <td colspan="4">

                                        <fieldset>
                                           <table>
                                              <tr>
                                                 <%= field_us 'Exentas R$ :', f, :exentas_real %>

                                                 <%= field_us 'Gravadas 5% R$ :', f, :gravadas_05_real,
                                                                                     :onchange => "CompraGravada05Dolar('compra_gravadas_05_real','compra_imposto_05_real')" %>

                                                 <%= field_us 'Gravadas 10% R$ :', f, :gravadas_10_real, 
                                                                                      :onchange => "CompraGravada10Dolar('compra_gravadas_10_real','compra_gravadas_05_real','compra_exentas_real','compra_imposto_10_real','compra_total_real')" %>
                                             </tr>

                                             <tr>
                                                <td></td>
                                                <td></td>
                                                <%= field_us 'Impuestos 5% R$ :', f, :imposto_05_real %>

                                                <%= field_us 'Impuestos 10% R$ :', f, :imposto_10_real %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total R$ :', f, :total_real %>
                                             </tr>

                                             <tr>
                                                <td colspan="4"></td>
                                                <%= field_us 'Total Desconto R$ :', f, :desconto_real %>
                                             </tr>
                                           </table>
                                        </fieldset>
                                      </td>
                                     </tr>
                                      </table>

                                     </div>                                   
                                  </td>
                              </tr> 
                           </table>

                      </fieldset>
                   </td>
                </tr>
                <tr>
                   <td align="right" valign="top">Concepto :</td>
                   <td>
                      <%= f.text_area :descricao, :cols => 140, :rows => 4%>
                   </td>
                </tr>
            </table>
          </div>
           <div class="buttons">
            <%= link_to 'Volver', index_gasto_compras_path, :class => "button back" %> 
            <%= f.submit "Seguir",:disable_with => "Aguarde...", :class => "button"  %> 
           </div>
          
        </div>
   </div>

   <%end%>
</body>

<%= javascript_include_tag 'form_compra' %>
