
<%= form_for(compras_produto) do |f| %>
    <% if compras_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compras_produto.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% compras_produto.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :compra_id %>
  <%= f.hidden_field :status,    :value => @compra.status %>
  <%= f.hidden_field :cotacao,   :value => @compra.cotacao.to_i%>
  <%= f.hidden_field :moeda,     :value => @compra.moeda%>
  <%= f.hidden_field :data,      :value => @compra.data %>
  <%= f.hidden_field :persona_id,:value => @compra.persona_id%>
  <%= f.hidden_field :persona_nome,:value => @compra.persona_nome%>
  <%= f.hidden_field :produto_id %>
  <%= f.hidden_field :codigo %>
  <%= f.hidden_field :fabricante_cod %>
  <%= f.hidden_field :clase_id %>
  <%= f.hidden_field :grupo_id %>
  <%= f.hidden_field :sub_grupo_id %>
  <%= f.hidden_field :tipo_compra, :value => @compra.tipo_compra %>
  <%= f.hidden_field :clase_produto, :value => @compra.clase_produto %>
  <%= f.hidden_field :custo_dolar %>
  <%= f.hidden_field :custo_guarani %>
  <%= f.hidden_field :custo_contabil_dolar %>
  <%= f.hidden_field :custo_contabil_guarani %>


<ul class="tabs">
         <li><a href="#tab1">Compras - [Edicion]</a></li>
      </ul>


      <div class="tab_container">
         <div id="tab1" class="tab_content">

      <table>
        <tr>
          <td align="right">Producto :</td>
          <td colspan="4">
            <%= text_field_tag( 'key',
                                 nil,
                                 :id       => "key",
                                 :onchange => {:remote => true,
                                               :update => "key",
                                                               :url        => { :action => :get_produto, :id => 1},
                                                               :with       => "'key='+this.value"},
                                                               :size       => 5
                                                            ) %>

            <%= f.text_field :produto_nome,
                             :onkeydown => "f(this)",
                             :onkeyup   => "f(this)",
                             :size      => 70 %>        
            <%= link_to '', {:controller => 'produtos',:action => 'new'}, :popup => ['new_window','height=500,width=1000'], :class => "links add" %>
          </td>

          <td>Saldo : <%= text_field_tag :saldo,nil,
                             :size    => 10 %></td>

        </tr>

        <tr>
          <td align="right">Cantidad :</td>
          <td><%= f.text_field :quantidade,
                             :size    => 5,
                             :onfocus => "LimpaCampoCompraImportacao()"%></td>

          <td align="right">Iva:</td>
          <td><%= f.text_field :iva_taxa,
                             :size => 5 %> % </td>
                             
          <% if @compra.moeda.to_i == 0  %>
               <%= field_us 'Ultimo Custo U$ :',f,:ultimo_custo_us,:readonly => "readonly"  %>
               <%= f.hidden_field :ultimo_custo_gs %>
	        <% else %>		                             
               <%= field_gs 'Ultimo Custo Gs :',f,:ultimo_custo_gs,:readonly => "readonly"  %>
               <%= f.hidden_field :ultimo_custo_us %>
          <% end %>		                             
        </tr>

        <% if @compra.moeda.to_i == 0  %>
        <tr>
          <%= field_us 'Unit. U$ :',f,:unitario_dolar,:onblur => "ComprasProdutoTotalDolar(),
                                                                       ComprasProdutoIvaDolar(),
                                                                       ComprasProdutoUnitGs()" %>

          <%= field_us 'Total U$ :',f,:total_dolar,:readonly => "readonly"  %>

          <%= field_us 'Iva U$ :',f,:iva_dolar,:readonly => "readonly"  %>
        </tr>

            <%= f.hidden_field :unitario_guarani %>
            <%= f.hidden_field :total_guarani %>
            <%= f.hidden_field :iva_guarani %>

        <% else %>

        <tr>
          <%= field_gs 'Unit. Gs :',f,:unitario_guarani,:onblur => "ComprasProdutoTotalGs(),
                                                                         ComprasProdutoIvaGs(),
                                                                         ComprasProdutoUnitDolar()"  %>

          <%= field_gs 'Total Gs :',f,:total_guarani,:readonly => "readonly"%>
               
          <%= field_gs 'Ival Gs :',f,:iva_guarani,:readonly => "readonly"%>
            </tr>
            <%= f.hidden_field :unitario_dolar %>
            <%= f.hidden_field :total_dolar %>
            <%= f.hidden_field :iva_dolar %>

        <% end %>


        <tr>
          <td align="right">Balcao :</td>
          <td><%= f.text_field :porcen_balcao,
                               :size    => 5,
                               :precision => 0%> % </td>

          <td align="right">Mayorista :</td>
          <td><%= f.text_field :porcen_maiorista,
                               :size    => 5%> % </td>

          <td align="right">Corporativo :</td>
          <td><%= f.text_field :porcen_minorista,
                               :size    => 5,
                               :precision => 0 %> % </td>
        </tr>

        <tr>
          <td align="right">Deposito:</td>
          <td><%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',
                                                                 :order => '2'),:id,
                                                                 :nome %></td>
          <td>
            <%= f.submit "   Grabar   ",:disable_with => "Aguarde...", :class => "button"   %>
          </td>
        </tr>
      </div>
    </div>



      </table>
<% end %>

  <script>
  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('/produtos/busca_compra_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}


//COMPRAS_PRODUTOS============================================================//
function ComprasProdutoUnitGs()                                         //
{
    var cotz = document.getElementById('compras_produto_cotacao').value 
    var unit = eval( parseFloat( document.getElementById('compras_produto_unitario_dolar').value.replace(/\./g, "").replace(",", ".") ) * cotz)  ;
    document.getElementById('compras_produto_unitario_guarani').value = ( number_format(unit,0, ',', '.') );

    var tot = eval( parseFloat( document.getElementById('compras_produto_total_dolar').value.replace(/\./g, "").replace(",", ".") ) * cotz)  ;
    document.getElementById('compras_produto_total_guarani').value = ( number_format(tot,0, ',', '.') );

    var iva = eval( parseFloat( document.getElementById('compras_produto_iva_dolar').value.replace(/\./g, "").replace(",", ".") ) * cotz)  ;
    document.getElementById('compras_produto_iva_guarani').value = ( number_format(iva,0, ',', '.') );

}

function ComprasProdutoUnitDolar()                                      //
{
    var cotz = document.getElementById('compras_produto_cotacao').value 
    var unit = eval( parseFloat( document.getElementById('compras_produto_unitario_guarani').value.replace(/\./g, "").replace(",", ".") ) / cotz)  ;
    document.getElementById('compras_produto_unitario_dolar').value = ( number_format(unit,2, ',', '.') );

    var tot = eval( parseFloat( document.getElementById('compras_produto_total_guarani').value.replace(/\./g, "").replace(",", ".") ) / cotz)  ;
    document.getElementById('compras_produto_total_dolar').value = ( number_format(tot,2, ',', '.') );

    var iva = eval( parseFloat( document.getElementById('compras_produto_iva_guarani').value.replace(/\./g, "").replace(",", ".") ) / cotz)  ;
    document.getElementById('compras_produto_iva_dolar').value = ( number_format(iva,2, ',', '.') );
}

function ComprasProdutoTotalDolar()                                     //
{   
    var unit  = parseFloat( document.getElementById('compras_produto_unitario_dolar').value.replace(/\./g, "").replace(",", ".") )
    var total = ( ( unit ) * parseFloat( document.getElementById('compras_produto_quantidade').value.replace(/\./g, "").replace(",", ".") ) )  ;
    document.getElementById('compras_produto_total_dolar').value = ( number_format(total,2, ',', '.') );
    document.getElementById('compras_produto_custo_dolar').value = ( number_format(unit,2, ',', '.') );

    var cambio = eval( parseFloat( document.getElementById('compras_produto_unitario_dolar').value.replace(/\./g, "").replace(",", ".") ) * document.getElementById('compras_produto_cotacao').value )  ;
    document.getElementById('compras_produto_custo_guarani').value = ( number_format(cambio,0, ',', '.') );

}

function ComprasProdutoTotalGs()                                        //
{
    var unit  = parseFloat( document.getElementById('compras_produto_unitario_guarani').value.replace(/\./g, "").replace(",", ".") )
    var total = eval( ( unit ) * parseFloat( document.getElementById('compras_produto_quantidade').value.replace(/\./g, "").replace(",", ".") ) )  ;
    document.getElementById('compras_produto_total_guarani').value = ( number_format(total,0, ',', '.') );
    document.getElementById('compras_produto_custo_guarani').value = ( number_format(unit,0, ',', '.') );

    var cambio = eval( parseFloat( document.getElementById('compras_produto_unitario_guarani').value.replace(/\./g, "").replace(",", ".") ) / document.getElementById('compras_produto_cotacao').value  )  ;
    document.getElementById('compras_produto_custo_dolar').value = ( number_format(cambio,2, ',', '.') );

}

function ComprasProdutoIvaDolar()                                       //
{
    var cambio = document.getElementById('compras_produto_cotacao').value  ;

  if ( document.getElementById('compras_produto_iva_taxa').value == '80' ){

      var taxa_exenta  = ( ( parseFloat( document.getElementById('compras_produto_custo_dolar').value.replace(/\./g, "").replace(",", ".") ) / 1.02 ) * 0.80 )
    var taxa_10 = ( parseFloat( document.getElementById('compras_produto_custo_dolar').value.replace(/\./g, "").replace(",", ".") )- taxa_exenta )

      iva     = eval( ( taxa_10 / 11 ) );
      document.getElementById('compras_produto_iva_dolar').value = ( number_format(iva,3, ',', '.') );

      document.getElementById('compras_produto_custo_contabil_dolar').value = ( number_format((unit - iva),2, ',', '.') );
      document.getElementById('compras_produto_custo_contabil_guarani').value = ( number_format( ( ( unit - iva ) * cambio),0, ',', '.') );

  }
  else{

    var unit  = parseFloat( document.getElementById('compras_produto_custo_dolar').value.replace(/\./g, "").replace(",", ".") )
        
    var taxa  = ( ( parseFloat( document.getElementById('compras_produto_iva_taxa').value ) / 100 ) + 1.00 ) * 10;
    iva     = eval( ( unit / taxa ) );
    document.getElementById('compras_produto_iva_dolar').value = ( number_format(iva,3, ',', '.') );

    document.getElementById('compras_produto_custo_contabil_dolar').value = ( number_format((unit - iva),2, ',', '.') );
    document.getElementById('compras_produto_custo_contabil_guarani').value = ( number_format( ( ( unit - iva ) * cambio),0, ',', '.') );
  }

}

function ComprasProdutoIvaGs()                                          //
{
    var cambio = document.getElementById('compras_produto_cotacao').value  ;

  if ( document.getElementById('compras_produto_iva_taxa').value == '80' ) {

      var taxa_exenta  = ( ( parseFloat( document.getElementById('compras_produto_custo_guarani').value.replace(/\./g, "").replace(",", ".") ) / 1.02 ) * 0.80 )
    var taxa_10 = ( parseFloat( document.getElementById('compras_produto_custo_guarani').value.replace(/\./g, "").replace(",", ".") )- taxa_exenta )

      iva     = eval( ( taxa_10 / 11 ) );
      document.getElementById('compras_produto_iva_guarani').value = ( number_format(iva,3, ',', '.') );

    document.getElementById('compras_produto_custo_contabil_guarani').value = ( number_format( (unit - iva),0, ',', '.') );
    document.getElementById('compras_produto_custo_contabil_dolar').value = ( number_format( ( (unit - iva) / cambio),2, ',', '.') );

  }
  else{
    var unit  = parseFloat( document.getElementById('compras_produto_custo_guarani').value.replace(/\./g, "").replace(",", ".") )

    var taxa  = ( ( parseInt( document.getElementById('compras_produto_iva_taxa').value ) / 100 ) + 1.00 ) * 10;
    iva     = eval( ( unit / taxa ) );
    document.getElementById('compras_produto_iva_guarani').value = ( number_format(iva,0, ',', '.') );

    document.getElementById('compras_produto_custo_contabil_guarani').value = ( number_format( (unit - iva),0, ',', '.') );
    document.getElementById('compras_produto_custo_contabil_dolar').value = ( number_format( ( (unit - iva) / cambio),2, ',', '.') );
 }
}

//FIM ABRI POPUP----------------------------------------------------------------

</script>
