<%= form_for(@bico) do |f| %>
  <% if @bico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bico.errors.count, "error") %> prohibited this bico from being saved:</h2>

      <ul>
      <% @bico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <ul class="tabs">
      <li><a href="#tab1"> Bico - [Edicion]</a></li>
   </ul>


    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Nome :</td>
                    <td><%= f.text_field :nome %></td>                        
                  
                    <td align="right">Código :</td>
                    <td><%= f.text_field :codigo_tec %></td>       
                  </tr>                 
                  <tr>
                    <td align="right">Vazao :</td>
                    <td><%= f.text_field :vazao %></td>                        
                  </tr>
                </table>
                
              </fieldset>
            </td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', bicos_path, :class => "button back" %>
      </div>

    </div>
<% end %>
