<h1 align="right" id="header">Bicos</h1>
<div class="acessos">
   <%= link_to 'Nuevo', new_bico_path, :class => "button add" %>
</div>

<table class="head_grid">
          <tr>
            <td width="50" align="center">Codigo</td>
            <td width="350" align="center">Bico</td>
            <td width="80" align="center">Vazao</td>
          </tr>
</table>

<div class="rolagem" dir="div">
<table>
<% @bicos.each do |bico| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= bico.codigo_tec %></td>
    <td width="350" align="left"><%= bico.nome %></td>
    <td width="80" align="center"><%= bico.vazao %></td>
    
    <td><%= link_to 'Editar', edit_bico_path(bico) %></td>
    <td><%= link_to 'Borrar', bico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

        
   

