<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @bico.nome %>
</p>

<p>
  <b>Vazao:</b>
  <%= @bico.vazao %>
</p>

<p>
  <b>Codigo tec:</b>
  <%= @bico.codigo_tec %>
</p>


<%= link_to 'Edit', edit_bico_path(@bico) %> |
<%= link_to 'Back', bicos_path %>
