<div class="group">
   <table>
      <tr>
         <td width="40" align="center">Cod.</td>
         <td width="70" align="center">Fecha</td>
         <td width="250" align="center">Cliente</td>
         <td width="100" align="center">Operación</td>
         <td width="120" align="center">Doc. N.</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">
      <table>
         <% @nota_creditos.each do |nc| %>
         
         	<% if nc.operacao == 0 %>
         		<% op = 'Devoluciones'%>
         	<% else %>
         		<% op = 'Descuentos'%>
         	<% end %>
               <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td width="40" align="center"  >    <%= h nc.id%></td>
                  <td width="70" align="center"  >    <%= h nc.data.strftime("%d/%m/%Y")%></td>
                  <td width="250" align="left">    <%= h truncate( nc.persona_nome, :length => 25 ) %></td>
                  <td width="100" align="center">    <%= h op %></td>
                  <td width="120" align="center">    <%= h nc.documento_numero_02 %>-<%= h nc.documento_numero_02 %>-<%= h nc.documento_numero %></td>
                  <td><%= link_to 'Editar', edit_nota_credito_path(nc) %></td>
                  <td><%= link_to 'Borrar', nc, :confirm => 'Tiene Certeza?', :method => :delete %></td>
               </tr>
         <% end %>
      </table>
   </div>
</div>

<%= will_paginate @nota_creditos, :update => 'pagina', :options => {:prev_label => '<< Anterior',:next_label => 'Próximo >>'}%>





