<table>
   <tr>
      <td width="70" align="center">Cod.</td>
      <td width="70" align="center">Cod. Fabri.</td>
      <td width="500" align="center">Produto</td>
      <td width="100" align="center">Ubicacion</td>
      <td width="70" align="center">Saldo</td>
      <td width="70" align="center">Desc.</td>
      <% if current_user.tipo == 0 %>
        <td width="70" align="center">Costo Gs.</td>
        <td width="70" align="center">U$.</td>
      <% end %>      
      <td width="70" align="center">Final Gs.</td>
      <td width="70" align="center">U$.</td>
      <td width="70" align="center">7 Cuotas Gs.</td>
      <td width="70" align="center">U$.</td>
      <td width="70" align="center">12 Cuotas Gs.</td>
      <td width="70" align="center">U$.</td>


   </tr>
</table>

<div class="rolagem" id="div">
   <table>

      <% for produto in @produtos %>
         <% last_custo        = Stock.all(:conditions => ['status = 0 and produto_id = ?',produto.id] ,:order => 'id desc limit 1') %>

         <%if params[:filtro].to_s == "0"%>

            <% if produto.stock.to_f > 0 %>
               <tr class = "<%= cycle( "cor1", "cor2" )%>">
                  <td width="70" align="center"> <%=h produto.id%> </td>
                  <td width="70" align="center"> <%=h produto.fabricante_cod%> </td>
                  <td width="500" align="left">   <%=link_to  produto.nome, {:controller => 'produtos',:action => 'imagem', :id => produto.id}, :popup => ['new_window','height=700,width=900']%> </td>
                  <td width="100" align="center"> <%=h produto.locacao%> </td>
                  <% if produto.stock.to_i <= 0 %>
                     <td width="70"  align="center"><font color="red"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
                  <%else%>
                     <td width="70"  align="center"><font color="green"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
                  <%end%>
                  <td width="70" align="left">  <%=h produto.desconto%> %</td>

                  <% if current_user.tipo == 0 %>
                    <td width="70" align="right" bgcolor="#E8E8E8" onmouseover="bgColor='#949494'" onmouseout="bgColor='#E8E8E8'"> 
                       <font color="#E8E8E8"> <%=h number_to_currency( last_custo.last ?  ( last_custo.last.unitario_guarani.to_f ) : "0",       :format =>' %n ', :precision  => 0 ) %> </font>
                    </td>

                    <td width="70" align="right" bgcolor="#E8E8E8" onmouseover="bgColor='#949494'" onmouseout="bgColor='#E8E8E8'"> 
                      <font color="#E8E8E8"><%=h number_to_currency( last_custo.last  ? ( last_custo.last.unitario_dolar.to_f )  : "0",         :format =>' %n ', :separeitor => "," ) %></font>
                    </td>
                  <% end %>
                  <td width="70" align="right"> <font color="#0000FF">  <%=h number_to_currency( produto.preco_venda_guarani,         :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#0000FF">  <%=h number_to_currency( produto.preco_venda_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>
                  <td width="70" align="right"> <font color="#FF6600">  <%=h number_to_currency( produto.preco_maiorista_guarani,       :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#FF6600">  <%=h number_to_currency( produto.preco_maiorista_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>
                  <td width="70" align="right"> <font color="#CC33CC">  <%=h number_to_currency( produto.preco_minorista_guarani,       :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#CC33CC">  <%=h number_to_currency( produto.preco_minorista_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>

               </tr>
            <% end %>

         <% else %>

            <tr class = "<%= cycle( "cor1", "cor2" )%>">
                  <td width="70" align="center"> <%=h produto.id%> </td>
                  <td width="70" align="center"> <%=h produto.fabricante_cod%> </td>
                  <td width="500" align="left">   <%=link_to  produto.nome, {:controller => 'produtos',:action => 'imagem', :id => produto.id}, :popup => ['new_window','height=700,width=900']%> </td>
                  <td width="100" align="center"> <%=h produto.locacao%> </td>
                  <% if produto.stock.to_i <= 0 %>
                     <td width="70"  align="center"><font color="red"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
                  <%else%>
                     <td width="70"  align="center"><font color="green"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
                  <%end%>
                  <td width="70" align="left">  <%=h produto.desconto%> %</td>

                  <% if current_user.tipo == 0 %>
                    <td width="70" align="right" bgcolor="#E8E8E8" onmouseover="bgColor='#949494'" onmouseout="bgColor='#E8E8E8'"> 
                       <font color="#E8E8E8"> <%=h number_to_currency( last_custo.last ?  ( last_custo.last.unitario_guarani.to_f ) : "0",       :format =>' %n ', :precision  => 0 ) %> </font>
                    </td>

                    <td width="70" align="right" bgcolor="#E8E8E8" onmouseover="bgColor='#949494'" onmouseout="bgColor='#E8E8E8'"> 
                      <font color="#E8E8E8"><%=h number_to_currency( last_custo.last  ? ( last_custo.last.unitario_dolar.to_f )  : "0",         :format =>' %n ', :separeitor => "," ) %></font>
                    </td>
                  <% end %>
                  <td width="70" align="right"> <font color="#0000FF">  <%=h number_to_currency( produto.preco_venda_guarani,         :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#0000FF">  <%=h number_to_currency( produto.preco_venda_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>
                  <td width="70" align="right"> <font color="#FF6600">  <%=h number_to_currency( produto.preco_maiorista_guarani,       :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#FF6600">  <%=h number_to_currency( produto.preco_maiorista_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>
                  <td width="70" align="right"> <font color="#CC33CC">  <%=h number_to_currency( produto.preco_minorista_guarani,       :format =>' %n ', :precision  => 0 ) %> </font> </td>
                  <td width="70" align="right"> <font color="#CC33CC">  <%=h number_to_currency( produto.preco_minorista_dolar,         :format =>' %n ', :separeitor => "," ) %> </font> </td>
            </tr>

         <% end %>
      <% end %>
   </table>
</div>






