<div class="group">
   <table>
      <tr>
         <td width="80" align="center">Cod.</td>
         <td width="80" align="center">Fecha</td>
         <td width="450" align="center">Producto</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">
      <table>
         <tr>
         </tr>


         <% @producaos.each do |producao| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <% if producao.status.to_i !=  1 %>
                  <td width="80" align="center" bgcolor="#fa3e40"><%= producao.id %></td>
                  <td width="80" align="center" bgcolor="#fa3e40"><%= producao.data.strftime("%d/%m/%y") %></td>
                  <td width="450" align="left" bgcolor="#fa3e40"><%= producao.produto_nome %></td>
                  <td bgcolor="#fa3e40"><%= link_to 'Editar', edit_producao_path(producao) %></td>
                  <td bgcolor="#fa3e40"><%= link_to 'Borrar', producao, :confirm => 'TIene Certeza ?', :method => :delete %></td>
               <% else %>
                  <td width="80" align="center"><%= producao.id %></td>
                  <td width="80" align="center"><%= producao.data.strftime("%d/%m/%y") %></td>
                  <td width="450" align="left"><%= producao.produto_nome %></td>
                  <td><%= link_to 'Editar', edit_producao_path(producao) %></td>
                  <td><%= link_to 'Borrar', producao, :confirm => 'TIene Certeza ?', :method => :delete %></td>
               <% end %>
            </tr>
         <% end %>
      </table>
   </div>
</div>