
<h1 align="right" id="header">Productos para la Produción</h1>

<ul class="tabs">
   <li><a href="#tab1">Produción - [Edicion]</a></li>
</ul>

<div class="tab_container">
   <div id="tab1" class="tab_content">
      <div class="group">

         <table>
            <tr>
               <td>Producto a Produzir :</td>
               <td><%=@producao.produto_nome%></td>

               <td>Cantidad :</td>
               <td><%=@producao.quantidade%></td>
            </tr>
         </table>
      </div>
      <br/>
      <div class="grid">
         <%= render :partial=>"producao_produtos/index", :locals=>{:producao => @producao,:producao_produtos => @producao.producao_produtos} %>
      </div>

      <%= render :partial=>"producao_produtos/new_produto" , :locals=>{:producao => @producao, :producao_produto => ProducaoProduto.new}%>

   </div>
   <div class="buttons">
   		<%= link_to 'Volver', edit_producao_path(@producao), :class => "button back" %> 
   		<%= link_to 'Seguir', producao_final_producao_path(@producao),:class => "button next" %>
	</div>
</div>

<script>


   document.onkeydown=function(e)
   {
      //BOTAO F4
      if(e.which == 115)
         location.href="/vendas/novo_produto/"+ document.getElementById('id').value;
      //LISTA DE PRODUTOS
      if(e.which == 113)
         window.open('/produtos/busca_producao_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=50, WIDTH=2500, HEIGHT=400');

   }
</script>
