<h1 align="right" id="header">Grupos</h1>
Grupos Edicion
<%= form_for(@grupo) do |f| %>

    <% if @grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @grupo.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    
<div class="group">  
  <table>
    <tr>
      <td><b>Descripcion :</b></td>
      <td><%= f.text_field :descricao,
                           :size => 40 %></td>
      <td><b>Cod. Implantacion :</b></td>
      <td><%= f.text_field :cod_impl,
                           :size      => 5 %></td>

    </tr>

    <tr>
      <td align="right">Balcao :</td>
      <td><%= f.text_field :porcen_balcao,
                           :size => 15 %>%</td>
    </tr>

    <tr>
      <td align="right">Mayorista :</td>
      <td><%= f.text_field :porcen_mayo,
                           :size => 15 %>%</td>
    </tr>

    <tr>
      <td align="right">Corporativo :</td>
      <td><%= f.text_field :porcen_mino,
                           :size => 15 %>%</td>
    </tr>

  </table>

</div>
<%= f.submit "Grabar" %> |
<%= link_to 'Volver', grupos_path %>
<% end %>