<h1 id="header">Marca</h1>
<%= form_for(@sub_grupo) do |f| %>
  <% if @sub_grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_grupo.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @sub_grupo.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <ul class="tabs">
      <li><a href="#tab1">Sub-Grupo - [Edicion]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
        <div class="group">
          <table>
            <tr>
              <td><b>Descripcion :</b></td>
              <td><%= f.text_field :descricao,
                                   :size => 40 %></td>
              <td><b>Cod. Implantacion :</b></td>
              <td><%= f.text_field :cod_impl,
                                   :size      => 5 %></td>

            </tr>
          </table>
        </div>
      </div>
      <div class="buttons">
        <%= f.submit "   Grabar  ", :disable_with => "Aguarde...", :class => "button" %> 
        <%= link_to 'Back', sub_grupos_path, :class => "button back" %>
      </div>
    </div>      

<% end %>