<body onload="ImputFocus('cliente_data_3i')">

<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <ul class="tabs">
      <li><a href="#tab1">Saldo Inicial Clientes - [Edicion]</a></li>
   </ul>

   <%= f.hidden_field :tipo, :value => 1%>
   <%= f.hidden_field :documento_numero_01, :value => '000'%>
   <%= f.hidden_field :documento_numero_02, :value => '000'%>
   <%= f.hidden_field :clase_produto, :value => 0%>   
   <%= f.hidden_field :liquidacao, :value => 0%>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
            <tr>
              <td align="right">Fecha :</td>
              <td ><%= f.date_select :data,{},{:onblur => "DataCotacao('cliente_data_3i','cliente_data_2i','cliente_data_1i')"}  %></td>
              <%= hidden_field_tag( 'key' ) %>

              <td align="right">Vencimento :</td>
              <td ><%= f.date_select :vencimento%></td>

            </tr>

            <tr>
              <td align="right">Cotización :</td>
              <td> <%= text_field :cliente,:cotacao ,
                                            :size     => 10,
                                            :value    => @cliente.cotacao.to_i,
                                            :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                                                                   type: 'POST',
                                                                   data: 'data=' + $('#key').val(),
                                                                   success: function(data){
                                                                             $('#cliente_cotacao').val(data);} })"%>
              </td>

              <td align="right">Cotización :</td>
              <td> <%= text_field :cliente,:cotacao_real ,
                                            :size     => 10,
                                            :value    => @cliente.cotacao_real.to_i,
                                            :onfocus  => " $.ajax({url: '/buscas/cotz_rs_compra',
                                                                   type: 'POST',
                                                                   data: 'data=' + $('#key').val(),
                                                                   success: function(data){
                                                                             $('#cliente_cotacao_real').val(data);} })"%>
              </td>
            <tr>
              <td align="right">Cliente :</td>
              <td colspan="3"><%= f.collection_select :persona_id, Persona.all(:select => 'id,nome',:order => '2'),:id,:nome %>
            <tr>

            <tr>
              <td align="right"> Moneda :</td>
              <td>
                <fieldset>
                  <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                  <%= f.radio_button :moeda, 0 %> Dolar
                  <%= f.radio_button :moeda, 2 %> Real

                </fieldset>
               </td>
            </tr>
            <tr>
              <td align="right">Doc.</td>
              <td>   <%= f.text_field :documento_numero_01,:size => 3 %> - 
                    <%= f.text_field :documento_numero_02,:size => 3 %> -
                    <%= f.text_field :documento_numero,:size => 15 %></td>
            </tr>
             <tr>
              <td align="right">Cuota :</td>
              <td><%= f.text_field :cota, :value => 0,:size => 5 %>
            <tr>

            <tr>
              <td></td>
              <td><%= f.check_box :saca %> En Saca</td>
            </tr>

            <tr>
              <td class="label">Producto.: </td>
              <td colspan="3"><%= f.text_field :saca_prod, :size => 59 %></td>

              <td class="label">Cantidad: </td>
              <td><%= f.text_field :saca_qtd, :size => 15 %></td>
            </tr>

            <tr>
              <%= field_gs 'Saca Gs.:',f,:saca_preco_gs,
                           :onchange   => "GsToUsRs('cliente_cotacao','cliente_cotacao_real','cliente_saca_preco_gs','cliente_saca_preco_us','cliente_saca_preco_rs'),CalcSaca('cliente_saca_qtd','cliente_saca_preco_us','cliente_saca_preco_gs','cliente_saca_preco_rs','cliente_divida_dolar','cliente_divida_guarani','cliente_divida_real')" %>

              <%= field_us ' U$:',f,:saca_preco_us,
                                :onchange   => "UsToGsRs('cliente_cotacao','cliente_cotacao_real','cliente_saca_preco_us','cliente_saca_preco_gs','cliente_saca_preco_rs'),
                                CalcSaca('cliente_saca_qtd','cliente_saca_preco_us','cliente_saca_preco_gs','cliente_saca_preco_rs','cliente_divida_dolar','cliente_divida_guarani','cliente_divida_real')" %>

              <%= field_us ' R$:',f,:saca_preco_rs,
                           :onchange   => "RsToUsGs('cliente_cotacao','cliente_cotacao_real','cliente_saca_preco_gs','cliente_saca_preco_us','cliente_saca_preco_rs'),
                                CalcSaca('cliente_saca_qtd','cliente_saca_preco_us','cliente_saca_preco_gs','cliente_saca_preco_rs','cliente_divida_dolar','cliente_divida_guarani','cliente_divida_real')" %>
            </tr>


            <tr>
              <%= field_gs 'Divida Gs.:',f,:divida_guarani,
                           :onchange   => "GsToUsRs('cliente_cotacao','cliente_cotacao_real','cliente_divida_guarani','cliente_divida_dolar','cliente_divida_real')" %>

              <%= field_us 'U$:',f,:divida_dolar,
                                :onchange   => "UsToGsRs('cliente_cotacao','cliente_cotacao_real','cliente_divida_dolar','cliente_divida_guarani','cliente_divida_real')" %>

              <%= field_us 'R$:',f,:divida_real,
                           :onchange   => "RsToUsGs('cliente_cotacao','cliente_cotacao_real','cliente_divida_guarani','cliente_divida_real','cliente_divida_reais')"  %>
            </tr>

            <tr>
              <%= field_gs 'Pago Gs.:',f,:cobro_guarani,
                           :onchange   => "GsToUsRs('cliente_cotacao','cliente_cotacao_real','cliente_cobro_guarani','cliente_cobro_dolar','cliente_cobro_real')" %>

              <%= field_us 'U$:',f,:cobro_dolar,
                                :onchange   => "UsToGsRs('cliente_cotacao','cliente_cotacao_real','cliente_cobro_dolar','cliente_cobro_guarani','cliente_cobro_real')" %>

              <%= field_us 'R$:',f,:cobro_real,
                           :onchange   => "RsToUsGs('cliente_cotacao','cliente_cotacao_real','cliente_cobro_guarani','cliente_cobro_real','cliente_cobro_reais')"%>
            </tr>
            <tr>
              <td align="right" valign="top">Concepto :</td>
              <td colspan="5"><%= f.text_area   :descricao,:cols => 65, :rows => 5 %></td>
            </tr>

        </table>
      </div>
   <div class="buttons">
      <%= f.submit "Grabar", :class => "button" %>
      <%= link_to 'Volver', clientes_path, :class => "button back" %>
    </div>

   </div>
<% end %>

</body>
<script type="text/javascript">
  function CalcSaca(qtd,us,gs,rs,div_us,div_gs,div_rs){
    var sus = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(us).value.replace(/\./g, "").replace(",", ".") ) );    
    document.getElementById(div_us).value = ( number_format( sus, 2, ',', '.') )

    var sgs = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(gs).value.replace(/\./g, "").replace(",", ".") ) );
    document.getElementById(div_gs).value = ( number_format( sgs, 0, ',', '.') )

    var srs = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(rs).value.replace(/\./g, "").replace(",", ".") ) );
    document.getElementById(div_rs).value = ( number_format( srs, 2, ',', '.') )


}
</script>