
  <table>
    <tr>
      <td width="40" align="center">Cod.</td>
      <td width="60" align="center">Fecha</td>
      <td width="50" align="center">Cod. Cli.</td>
      <td width="450" align="center">Cliente</td>
      <td width="60" align="center">Venc.</td>
      <td width="80" align="center">Cod. Proc.</td>
      <td width="80" align="center">Doc.</td>
      <td width="40" align="center">Cuota</td>
      <td width="100" align="center">Divida Us.</td>
      <td width="100" align="center">Divida Gs.</td>
      <td width="80" align="center">Pagare</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
  <table>
	<% @busca_carpeta.each do |bc|%>
    <tr class = "<%= cycle("cor1", "cor2")%>" >
		<td width="40" align="center"><%= bc.id %></td>
		<td width="60" align="center"><%= bc.data.to_date.strftime("%d/%m/%y") %></td>
		<td width="50" align="center"><%= bc.persona_id %></td>
		<td width="450" align="left"><%= bc.persona_nome %></td>
		<td width="60" align="center"><%= bc.vencimento.to_date.strftime("%d/%m/%y") %></td>
		<td width="80" align="center"><%= bc.cod_proc %></td>
		<td width="80" align="center"><%= bc.documento_numero %></td>
		<td width="40" align="center"><%= bc.cota %></td>
    <td width="100" align="right"><%=h number_to_currency(  bc.divida_dolar, :format =>' %n ', :separeitor => ',') %></td>
    <td width="100" align="right"><%=h number_to_currency(  bc.divida_guarani, :format =>' %n ', :precision => 0) %></td>
        <% if bc.pagare.to_i == 1 %>
			<td width="80" align="center"><font color="blue">Local  </font></td>
		<% elsif bc.pagare.to_i == 2 %>   
			<td width="80" align="center"><font color="green">Banco  </font></td>
		<% else %>
			<td width="80" align="center">No Hecho</td>		
		<% end %>		
		<td align="center"><%= link_to 'Editar', "/clientes/edit_carpeta/#{bc.id}" %></td>


	</tr>
	<% end %>
</table>
  </div>
</div>
