<h1 align="right" id="header">Documento</h1>

<body onload="ImputFocus('compras_documento_data_3i')">
	<%= form_for(@compras_documento) do |f| %>
	<% if @compras_documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compras_documento.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @compras_documento.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<ul class="tabs">
		<li>
			<a href="#tab1">Documento - [Edicion]</a>
		</li>
	</ul>

	<div class="tab_container">
		<div id="tab1" class="tab_content">

			<table>
				<tr>
					<td colspan="2">

					<!--DADOS PROVEEDORE   !-->
					<table>
						<tr>
							<td>
							<fieldset>
								<table>

									<tr>
										<td align="right">Fecha:</td>
                  <td colspan="3"> <%= f.date_select :data %></td>  
									</tr>

									<tr>
										<td align="right">Cotizacion :</td>
                    <td> <%= text_field  :compras_documento, :cotacao,
                                     :size     => 10,
                                     :value    => @compras_documento.cotacao.to_i,
                                     :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                                                    type: 'POST',
                                                    data: 'data=' + $('#compras_documento_data_3i').val()+'/'+
                                                    $('#compras_documento_data_2i').val()+'/'+
                                                    $('#compras_documento_data_1i').val(),
                                                    success: function(data){
                                                      $('#compras_documento_cotacao').val(data);} })"%>
                </td>

									</tr>

									<tr>
										<td align="right">Proveedor:</td>
										<td width="580"><%= f.collection_select :persona_id, Persona.all( :select => 'id,nome',
                      :order  => 'nome' ),:id,
                      :nome%></td>

									</tr>
                              <tr>
                                 <td align="right">Rubro:</td>
                                 <td><%= f.collection_select :rubro_id, Rubro.all( :select => 'id,descricao',
                                                                                           :order  => '1' ),:id,
                                                                                                            :descricao %></td>

                              </tr>

									<tr>
										<td></td>
										<td>
										<fieldset>
											<%= f.radio_button :tipo_compra, 0,  :Checked => "True"%> Mercaderia
											<%= f.radio_button :tipo_compra, 1%> Gastos
											<%= f.radio_button :tipo_compra, 2%> Importacion
											<%= f.radio_button :tipo_compra, 3%> Compra de Bens
										</fieldset>
										</td>
									</tr>
								</table>
							</fieldset>
							</td>
						</tr>
					</table>
					</td>
				</tr>

				<tr>
					<!--DOCUMENTOS   !-->
					<td>
					<table>
						<tr>
							<td>
							<fieldset>
								<legend>
									Tipo :
								</legend>
								<table>
									<tr>
										<td> <%= f.radio_button :tipo, 0,  :Checked => "True",  :onblur => "TipoCompra('0'),TipoDocumentoCompra()"%> Contado</td>
									</tr>

									<tr>
										<td> <%= f.radio_button :tipo, 1,  :onblur => "TipoCompra('1'),TipoDocumentoCompra()" %> Credito</td>
										<input type="hidden" id="tipo" value="<%= @compras_documento.tipo %>"/>

									</tr>
								</table>
							</fieldset>
							</td>
						</tr>
					</table>
					</td>

					<td>
					<table>
						<tr>
							<td>
							<fieldset>
								<table>

									<tr>
										<td align="right">Documento:</td>
										<td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                      :order => '1' ),:id,
                      :nome %></td>
										<td align="right">Tipo Doc. :</td>
										<td><%= f.select :tipo_documento,
                      (
                      [
                        ["MERCADERIAS", "MERCADERIAS"],
                        ["DESPACHO", "DESPACHO"],
                        ["FLETES", "FLETES"],
                        ["SEGUROS", "SEGUROS"],
                        ["OUTROS", "OUTROS"]

                      ]
                      )%></td>
									</tr>

									<tr>
										<td align="right">Numero:</td>
										<td><%= f.text_field :documento_numero_01,
                      :size   => 5%>-
										<%= f.text_field :documento_numero_02,
                      :size => 5%>-

										<%= f.text_field :documento_numero,
  :size => 15 %></td>

										<td align="right">Timbrado:</td>
										<td><%= f.text_field :persona_timbrado,
                      :size => 15%></td>

									</tr>
								</table>
							</fieldset>
							</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>

			<!--FATURA   !-->
			<table>
				<tr>
					<td>
					<fieldset>
						<legend>
							Moneda
						</legend>
						<%= f.radio_button :moeda, 0, :Checked => "True", :onblur => "DocTipoCompra('0'),ExibeDivCompra()" %> Dolar
						<%= f.radio_button :moeda, 1, :onblur  => "DocTipoCompra('1'),ExibeDivCompra()"%> Gs.
						<input type="hidden" id="tipomoeda" name="tipomoeda" value="<%= @compras_documento.tipo%>"/>
					</fieldset>
					</td>
				</tr>
			</table>

			<!--DETALHES DOLAR -------------------------------------------------------------!-->

			<div id="DOLAR" style="display: none;">

				<table>
					<tr>

						<td>
						<fieldset>

							<table>
								<tr>
									<%= field_us 'Exentas US$ :',f,:exentas_dolar%>

									<%= field_us 'Gravadas 5% US$ :',f,:gravadas_05_dolar,:onblur   => "CompraDocGravada05Dolar()"%>

									<%= field_us 'Gravadas 10% US$ :',f,:gravadas_10_dolar,:onblur   => "CompraDocGravada10Dolar()"%>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<%= field_us 'Impuestos 5% US$ :',f,:imposto_05_dolar%>

									<%= field_us 'Impuestos 10% US$ :',f,:imposto_10_dolar%>
								</tr>

								<tr>
									<td colspan="4"></td>
									<%= field_us 'Total US$ :',f,:total_dolar %>
								</tr>
							</table>
						</fieldset>
						</td>
					</tr>
				</table>
			</div>

			<!--DETALHES GUARANI------------------------------------------------------------ !-->

			<div id="GUARANI" style="display: none;">
				<table>
					<tr>
						<td>
						<fieldset>
							<table>
								<tr>
									<%= field_gs 'Exentas Gs.:',f,:exentas_guarani %>

									<%= field_gs 'Gravadas 5% Gs.:',f,:gravadas_05_guarani,:onblur   => "CompraDocGravada05Gs()" %>

									<%= field_gs 'Gravadas 10% Gs.:',f,:gravadas_10_guarani,:onblur   => "CompraDocGravada10Gs()" %>
								</tr>

								<tr>
									<td></td>
									<td></td>
									<%= field_gs 'Impuestos 5% Gs.:',f,:imposto_05_guarani %>

									<%= field_gs 'Impuestos 10% Gs.:',f,:imposto_10_guarani %>
								</tr>

								<tr>
									<td colspan="4"></td>
									<%= field_gs 'Total Gs.:',f,:total_guarani %>
								</tr>
							</table>
						</fieldset>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="buttons">
	     <%= link_to 'Volver',compras_documentos_path, :class => "button back" %>
		<%= f.submit "   Grabar  ",:disable_with => "Aguarde...", :class => "button"  %> 
	</div>
	<% end %>
</body>
