<h1 align="right" id="header">Nota de Credito</h1>

   <ul class="tabs">
      <li><a href="#tab1">Nota de Credito - [Financas]</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">

           <% form_for(@nota_credito) do |f| %>

              <% if @nota_credito.tipo == 0 %>
                 <fieldset> 
                 <legend>Contado</legend>
                   <table>
                     <tr>
                       <td align="right">Conta:</td>
                       <td><%= f.collection_select :conta_id, Conta.all( :select => 'id,nome',
                                                                         :order  => '1' ),:id,
                                                                                          :nome %></td>
                       <td align="right">Cheque :</td>
                       <td><%= f.text_field :cheque,
                                            :size => 15 %></td>
                     </tr>

                        <tr>
                           <td align="right"> Moneda :</td>
                           <td>
                              <fieldset>
                                 <%= f.radio_button :financa_moeda, 0,  :Checked => "True"  %> Dolar
                                 <%= f.radio_button :financa_moeda, 1%> Gs.
                              </fieldset>
                           </td>
                        </tr>

                     
                     <tr>
                       <td colspan="2"></td>
                      <td>Diferido : </td>
                      <td><%= f.date_select :diferido %></td>
                    </tr>
                 </table>
               </fieldset>
              <% end %>
              <table>
                <tr>
                  <td align="right">N. : </td>
                  <td>
                    <%= f.text_field :documento_numero_01, :size => 1 ,:value => @nota_credito.documento_numero_01 %> -
                    <%= f.text_field :documento_numero_02, :size => 1 ,:value => @nota_credito.documento_numero_02%> -
                    <%= f.text_field :documento_numero,:size => 15 ,:value => @nota_credito.documento_numero%>
                  </td>
                </tr>
                <tr>
                	<% if @nota_credito.operacao == 0 %>
                     <%=  field_us 'Valor U$:',f,:total_dolar, :value => number_to_currency(@total_nota_dolar ,    :format=>' %n ', :separator => ",") %>
                     <%=  field_gs 'Valor Gs.:',f,:total_guarani, :value => number_to_currency(@total_nota_guarani ,    :format=>' %n ', :precision => 0) %>
                   <% else %>                               
                     <%=  field_us 'Valor U$:',f,:total_dolar %>
                     <%=  field_gs 'Valor Gs.:',f,:total_guarani %>
                   <% end %>                               
                </tr>
                <tr>
                  <td align="right" valign="top">Concepto :</td>
                  <td colspan="4"><%= f.text_area :concepto, :cols => '54', :rows=>"3"%></td>                  
                </tr>
              </table>
   <%=  f.hidden_field :documento_id,     :value => '6' %>
   <%=  f.hidden_field :documento_nome,   :value => 'NOTA DE CREDITO' %>
   </div>

<div class="buttons">
     <a href="/nota_creditos/<%= @nota_credito.id.to_i %>" class="button back">Volver </a> 
     <%= f.submit "Finalizar", :confirm => 'Tiene Certeza ?', :class => "button" %>
</div>
</div>

<% end %>

