<body onload="ImputFocus('entrada_saida_func_data_3i')">
	<h1 align="right" id="header">Entrada Salida de Empleados</h1>
	<ul class="tabs">
		<li>
			<a href="#tab1">Entrada Salida de Empleados - [Edicion]</a>
		</li>
	</ul>
	<div class="tab_container">
		<div id="tab1" class="tab_content">
			<fieldset>
			  Data:
			  <%=h @entrada_saida_func.data.strftime("%d/%m/%Y") %> | 
			  Cod. Obra <%=h @entrada_saida_func.produto_id %> |
			  Descricao <%=h @entrada_saida_func.produto_nome %> 		
			</fieldset>

		<%= render :partial=>"/entrada_saida_func_detalhes/index", :locals=>{:entrada_saida_func_detalhes => @entrada_saida_func.entrada_saida_func_detalhes} %>
    <div class="group">
		 <%= render :partial=>"/entrada_saida_func_detalhes/new_esfd", :locals=>{:entrada_saida_func_detalhe=>EntradaSaidaFuncDetalhe.new(:entrada_saida_func_id=>@entrada_saida_func.id)} %>
	</div>


	</div>
	<div class="buttons">
		<%= link_to 'Volver', edit_entrada_saida_func_path(@entrada_saida_func), :class => 'button back' %> 
		<%= link_to 'Salir', entrada_saida_funcs_path, :class => 'button' %>
		<%= link_to 'Relatorio', "/entrada_saida_funcs/relatorio/#{@entrada_saida_func.id}", :class => 'button print' %>

	</div>
</div>
