  <div class="group">

  <table>
    <tr >
      <td width="80" align="center">Cod.</td>
      <td width="80" align="center">Fecha</td>
      <td width="400" align="center">Producto</td>
      <td width="100" align="center">Cantidad</td>
      <td width="100" align="center">Costo Dolar</td>
      <td width="100" align="center">Costo Gs.</td>

    </tr>

  </table>
   
  <div class="rolagem" dir="div">


    <table>
      <% @stocks.each do |stock| %>
         <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="80" align="center">     <%= h stock.produto_id%></td>
          <td width="80" align="center">     <%= h stock.data.strftime("%d/%m/%Y")%></td>
          <td width="400" align="left">    <%= h stock.produto_nome%></td>
          <td width="100" align="center">    <%= h stock.entrada%></td>
          <td width="100" align="right">    <%= h number_to_currency(stock.unitario_dolar,   :format=>' %n ', :separator => ",")%></td>
          <td width="100" align="right">    <%= h number_to_currency(stock.unitario_guarani, :format=>' %n ', :precision => 0 )%></td>
          <td><a href="/stocks/edit/<%=stock.id%>" >Editar</a></td>
          <td><%= link_to 'Borrar', stock, :confirm => 'Tiene Certeza?', :method => :delete %></td>

         </tr>
      <%end%>

    </table>
  </div>
 </div>