<h1 align="right" id="header">Nota Remicion</h1>
<%= link_to 'Nuevo', new_recepcao_nota_remicao_path, :id => 'novo'%>
<div class="group">
   <table>
      <tr>
         <td width="100" align="center">Cod.</td>
         <td width="100" align="center">Fecha</td>
         <td width="200" align="center">Origem</td>
         <td width="250" align="center">Destino</td>
         <td width="80" align="center">Autorizacion</td>
      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>
         <% @recepcao_nota_remicaos.each do |nota| %>
            <% if nota.estado == 0 %>
               <% estado = 'No' %>
            <% else %>
               <% estado = 'Si' %>
            <% end %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="100" align="center"> <%= nota.id %></td>
               <td width="100" align="center"> <%= nota.data.strftime("%d/%m/%Y") %></td>
               <td width="200" align="left"> <%= nota.origem_unidade_nome %></td>
               <td width="250" align="left"> <%= nota.destino_unidade_nome %></td>
               <td width="80" align="center"> <%= estado %></td>
               
               <td><%= link_to 'Editar', edit_recepcao_nota_remicao_path(nota) %></td>
               <td><%= link_to 'Borrar', nota, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>

