<h1 align="right" id="header">Nota-Remicion Productos</h1>

Nota-Remicion Productos

<div class="group_cd">
  <table>
    <tr>
      <td align="right">Fecha :</td>
      <td><%= @recepcao_nota_remicao.data.strftime("%d/%m/%Y") %></td>
    </tr>

    <tr>
      <td align="right">Origem :</td>
      <td><%= @recepcao_nota_remicao.origem_unidade_nome %></td>
      <% if @recepcao_nota_remicao.motivo == 0 %>
            <td align="right">Destino :</td>
            <td><%= @recepcao_nota_remicao.destino_unidade_nome %></td>
      <% else %>
            <td align="right">Destino :</td>
            <td><%= @recepcao_nota_remicao.destino_persona_nome %></td>
      <% end %>
    </tr>


  </table>
</div>

<br/>
<%= render :partial=>"index_produtos", :locals=>{:recepcao_nota_remicao_produtos => @recepcao_nota_remicao.recepcao_nota_remicao_produtos} %>
<br/>
<%= render :partial=>"form_produtos", :locals=>{:recepcao_nota_remicao_produto=>RecepcaoNotaRemicaoProduto.new(:recepcao_nota_remicao_id=>@recepcao_nota_remicao.id)} %>

<%= link_to 'Volver', edit_recepcao_nota_remicao_path(@recepcao_nota_remicao) %> |
<a href="javascript:void(0)" onClick="Listado()">Listado</a> |
<a href="javascript:void(0)" onClick="Comprovante()">Comprovante</a> |

<%= hidden_field_tag :id, @recepcao_nota_remicao.id %>

<script>

  function Listado()                //
  {
    window.open('/recepcao_nota_remicaos/detalhes_produtos_print/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }

  function Comprovante()            //
  {
    window.open('/recepcao_nota_remicaos/comprovante/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }

  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('/produtos/busca_remicao_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}

//FIM ABRI POPUP----------------------------------------------------------------

</script>
