
<% @clientes.each do |c|%>

<%

        #filtros
        pers      = "AND C.PERSONA_ID = #{c.id} "
        doc       = "AND C.DOCUMENTO_NUMERO = '#{params[:doc]}'" unless params[:doc].blank?
        liq_open  = "AND C.LIQUIDACAO = 0 #{pers} #{doc}"                     if params[:filtro] == "0"
        liq_close = "AND C.LIQUIDACAO = 1 #{pers} #{doc}"                     if params[:filtro] == "1"
        liq_all   = "#{pers} #{doc}"                                          if params[:filtro] == "2"
        city      = "AND P.cidade_id = #{params[:busca]["direcao"]}" unless params[:busca]["direcao"].blank?
        vend      = "AND C.vendedor_id = #{params[:busca]["vendedor"]}" unless params[:busca]["vendedor"].blank?

        #moeda
        if params[:lancamento].to_s != "1"
           if params[:moeda] == "0"
              moeda = "AND C.MOEDA = 0"
           elsif params[:moeda] == "1"
              moeda = "AND C.MOEDA = 1"
          else
              moeda = "AND C.MOEDA = 2"
           end
        end
        #setor
        if params[:clase] == "0"
            clase     = "AND C.CLASE_PRODUTO = 0"
        elsif params[:clase] == "1"
            clase     = "AND C.CLASE_PRODUTO = 1"
        else
            clase     = ""
        end
        #persona funcionario
        if params[:tipo_rs].to_s == "0"
           sub_cons = "AND P.TIPO_FUNCIONARIO = 0"
        elsif params[:tipo_rs] == "1"
           sub_cons = "AND P.TIPO_FUNCIONARIO = 1"
        else 
         sub_cons = ""
        end
        #data/vencimento
        if !params[:inicio_faturacao].blank?
            #FITRO POR DATA FATURACAO
            cond = "C.data  BETWEEN  '#{params[:inicio_faturacao]}' AND '#{params[:final_faturacao]}' #{liq_open} #{liq_close} #{liq_all} #{moeda} #{clase} #{sub_cons} #{city} #{vend}"
        else
            #FITRO POR DATA FATURACAO VENCIMENTO
            cond = "C.vencimento  BETWEEN  '#{params[:inicio_vencimento]}' AND '#{params[:final_vencimento]}' #{liq_open} #{liq_close} #{liq_all} #{moeda} #{clase} #{sub_cons} #{city} #{vend}"
        end



    sql="SELECT       
                  CAST(1 AS INTEGER) AS ORDEM,
                  P.NOME AS PERSONA_NOME,                  
                  C.DOCUMENTO_NUMERO,                      
                  C.COTA,                
                  MIN(C.DATA) AS DATA_FAC,                                
                  MAX(P.RUC) AS RUC,
                  MAX(P.TELEFONE) AS TELEFONE,
                  MAX(P.CLASSIFICACAO) AS CLASSIFICACAO,
                  MAX(P.DIRECAO) AS DIRECAO,
                  MAX(P.CIDADE) AS CIDADE,
                  MAX(P.OBSERVACAO) AS OBSERVACAO,
                  MAX(P.ID) AS PERSONA_ID,
                  MAX(C.VENCIMENTO) AS VENCIMENTO,      
                  MAX(C.LIQUIDACAO) AS LIQUIDACAO,    
                  SUM(C.DIVIDA_DOLAR) AS SUM_DD,
                  SUM(C.COBRO_DOLAR) AS SUM_CD,      
                  SUM(C.DIVIDA_GUARANI) AS SUM_DG,
                  SUM(C.COBRO_GUARANI) AS SUM_CG,
                  SUM(C.DIVIDA_REAL) AS SUM_DR,
                  SUM(C.COBRO_REAL) AS SUM_CR     


         FROM 
            CLIENTES C
         INNER JOIN 
            PERSONAS P
            ON C.PERSONA_ID = P.ID  
         WHERE 
            #{cond}
         GROUP BY
            2,3,4


          UNION ALL

          SELECT      
                  CAST(2 AS INTEGER) AS ORDEM,              
                  P.NOME AS PERSONA_NOME,                  
                  C.DOCUMENTO_NUMERO,                      
                  C.COTA,                
                  MIN(C.DATA) AS DATA_FAC,                                
                  MAX(P.RUC) AS RUC,
                  MAX(P.TELEFONE) AS TELEFONE,
                  MAX(P.CLASSIFICACAO) AS CLASSIFICACAO,
                  MAX(P.DIRECAO) AS DIRECAO,
                  MAX(P.CIDADE) AS CIDADE,
                  MAX(P.OBSERVACAO) AS OBSERVACAO,
                  MAX(P.ID) AS PERSONA_ID,
                  MAX(C.VENCIMENTO) AS VENCIMENTO,      
                  MAX(C.LIQUIDACAO) AS LIQUIDACAO,    
                  SUM(C.DIVIDA_DOLAR) AS SUM_DD,
                  SUM(C.PAGO_DOLAR) AS SUM_CD,      
                  SUM(C.DIVIDA_GUARANI) AS SUM_DG,
                  SUM(C.PAGO_GUARANI) AS SUM_CG,
                  SUM(C.DIVIDA_REAL) AS SUM_DR,
                  SUM(C.PAGO_REAL) AS SUM_CR     
         FROM 
              PROVEEDORES C
         INNER JOIN 
              PERSONAS P
              ON C.PERSONA_ID = P.ID  
         WHERE 
              #{cond}
         GROUP BY
              2,3,4
         

           ORDER BY
              1,4,2,3,14"
resul_c = Cliente.find_by_sql(sql)

%>

   <table>
      <tr class="head">
         <td colspan="10"><%= c.id %> - <%= c.nome %> - Ruc/CI <%= c.ruc %> - Tel.: <%= c.telefone %></td>
      </tr>

      <tr class="head">
         <td colspan="5">Receber :</td>
      </tr>

      <!-- cli --> 
      <% rc_div = 0 %>
      <% rc_cob = 0 %>

      <% resul_c.each do |rs| %>
         <% if rs.ordem.to_i == 1 %>
            <tr>
               <td colspan="2">  </td>
               <td width="80" align="center"><%=h rs.data_fac.to_date.strftime("%d/%m/%Y") %> </td>
               <td width="50" align="center"><%=h rs.documento_numero %> </td>
               <td width="50" align="center"><%=h rs.cota %> </td>

               <!-- dolar -->
               <% if params[:moeda].to_i == 0 %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dd, :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cd,  :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dd.to_f - rs.sum_cd.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dd.to_f - rs.sum_cd.to_f ) ), :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right"></td>

                  <% rc_div += rs.sum_dd.to_f %>
                  <% rc_cob += rs.sum_cd.to_f %>

               <!-- guaranies  -->
               <% elsif params[:moeda].to_i == 1 %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dg, :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cg,  :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dg.to_f - rs.sum_cg.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dg.to_f - rs.sum_cg.to_f ) ), :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70" align="right"></td>

                  <% rc_div += rs.sum_dg.to_f %>
                  <% rc_cob += rs.sum_cg.to_f %>

               <!-- reais  -->
               <% else %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dr, :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cr,  :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dr.to_f - rs.sum_cr.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dr.to_f - rs.sum_cr.to_f ) ), :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right"></td>

                  <% rc_div += rs.sum_dr.to_f %>
                  <% rc_cob += rs.sum_cr.to_f %>

               <% end %>


               <td width="80" align="center">   <%= dias %> </td>          
               <td width="80" align="center">   <%=h number_to_currency(rs.vencimento.strftime("%d/%m/%Y"),  :format=>' %n ', :separeitor => ',' )%> </td>
            </tr>

         <% end %>         
      <% end %>

      <!-- tot receber -->
      <tr height="30" class="head">
         <td colspan="5"></td>
         <td width="70" align="right">   <%=h number_to_currency(rc_div, :format=>' %n ', :separeitor => ',' )%> </td>
         <td width="70" align="right">   <%=h number_to_currency(rc_cob,  :format=>' %n ', :separeitor => ',' )%> </td>
         <td width="70">Saldo ==> </td>
         <td width="70" align="right">   <%=h number_to_currency(rc_div.to_f - rc_cob.to_f, :format=>' %n ', :separeitor => ',' )%> </td>

      </tr>



      <!-- prov -->
      <tr class="head">
         <td colspan="5">Pagar :</td>
      </tr>


      <% pg_div = 0 %>
      <% pg_cob = 0 %>

      <% resul_c.each do |rs|%>
         <% if rs.ordem.to_i == 2 %>
            <tr>
               <td colspan="2">  </td>
               <td width="80" align="center"><%=h rs.data_fac.to_date.strftime("%d/%m/%Y") %> </td>
               <td width="50" align="center"><%=h rs.documento_numero %> </td>
               <td width="50" align="center"><%=h rs.cota %> </td>
               <!-- dolar -->
               <% if params[:moeda].to_i == 0 %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dd, :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cd,  :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dd.to_f - rs.sum_cd.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dd.to_f - rs.sum_cd.to_f ) ), :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right"></td>

                  <% pg_div += rs.sum_dd.to_f %>
                  <% pg_cob += rs.sum_cd.to_f %>

               <!-- guaranies  -->
               <% elsif params[:moeda].to_i == 1 %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dg, :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cg,  :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dg.to_f - rs.sum_cg.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dg.to_f - rs.sum_cg.to_f ) ), :format=>' %n ', :precision => 0 )%> </td>
                  <td width="70" align="right"></td>

                  <% pg_div += rs.sum_dg.to_f %>
                  <% pg_cob += rs.sum_cg.to_f %>

               <!-- reais  -->
               <% else %>

                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_dr, :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right">   <%=h number_to_currency(rs.sum_cr,  :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70">Saldo ==> </td>

                  <% if params[:int].to_s  == "1" %>

                     <% dias    = 0 %>          
                     <% interes = 0 %>

                  <% else %>
                     
                     <% dias = ( Date.today - rs.vencimento.to_date ) if rs.liquidacao == 0 && ( Date.today - rs.vencimento.to_date ) >= 0 %>          
                     <% interes = ( ( dias.to_i * empresa.taxa_interes.to_f ) * (rs.sum_dr.to_f - rs.sum_cr.to_f ) ) / 100  %>

                  <% end %>

                  <td width="70" align="right">   <%=h number_to_currency(coninteres = ( interes.to_f + (rs.sum_dr.to_f - rs.sum_cr.to_f ) ), :format=>' %n ', :separeitor => ',' )%> </td>
                  <td width="70" align="right"></td>

                  <% pg_div += rs.sum_dr.to_f %>
                  <% pg_cob += rs.sum_cr.to_f %>

               <% end %>

               <td width="80" align="center">   <%= dias %> </td>          
               <td width="80" align="center">   <%=h number_to_currency(rs.vencimento.strftime("%d/%m/%Y"),  :format=>' %n ', :separeitor => ',' )%> </td>

            </tr>

         <% end %>
      <% end %>

      <!-- tot pagar -->
      <tr height="30" class="head">
         <td colspan="5"></td>
         <td width="70" align="right">   <%=h number_to_currency(pg_div, :format=>' %n ', :separeitor => ',' )%> </td>
         <td width="70" align="right">   <%=h number_to_currency(pg_cob, :format=>' %n ', :separeitor => ',' )%> </td>
         <td width="70">Saldo ==> </td>
         <td width="70" align="right">   <%=h number_to_currency(pg_div.to_f - pg_cob.to_f, :format=>' %n ', :separeitor => ',' )%> </td>
      </tr>

      <!-- resultado -->
      <tr height="30" class="head">
         <td colspan="14" align="left">Resultado del Arreglo</td>
      </tr>

      <tr class="head">
         <td></td>
         <td colspan="3"> - Receber : </td>
         <td width="70" align="right">   <%=h number_to_currency(rc_div.to_f - rc_cob.to_f, :format=>' %n ', :separeitor => ',' )%> </td>
      </tr>


      <tr class="head">
         <td></td>
         <td colspan="3"> - Pagar : </td>
         <td width="70" align="right">   <%=h number_to_currency(pg_div.to_f - pg_cob.to_f, :format=>' %n ', :separeitor => ',' )%> </td>
      </tr>


      <tr class="head">
         <td></td>
         <td  colspan="3"> - Saldo : </td>
         <td width="70" align="right">   <%=h number_to_currency( (rc_div.to_f - rc_cob.to_f) - (pg_div.to_f - pg_cob.to_f), :format=>' %n ', :separeitor => ',' )%> </td>
      </tr>

   </table>

<% end %>
