<body onload="ImputFocus('pedido_compra_data_3i')">
<h1 align="right" id="header">Pedido de Compras</h1>

<%= form_for(@pedido_compra) do |f| %>
  
  <% if @pedido_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido_compra.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @pedido_compra.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <ul class="tabs">
         <li><a href="#tab1">Pedido Compras - [Edicion]</a></li>
      </ul>


      <div class="tab_container">
         <div id="tab1" class="tab_content">
           <table>
               <tr>
                   <td>
                     <fieldset>
                        <table>
                           <tr>
                              <td align="right">Fecha:</td>
                              <td colspan="3"><%= f.date_select :data,{},{:onblur => "DataCotacao('pedido_compra_data_3i','pedido_compra_data_2i','pedido_compra_data_1i')"}  %></td>
                              <%= hidden_field_tag( 'key' ) %>
                              <td align="right">Entrega:</td>
                              <td colspan="3"><%= f.date_select :data_entrega%></td>
                           </tr>

                           <tr>
                              <td align="right">Cotización :</td>
                              <td><%= text_field :pedido_compra,:cotacao ,
                                               { :size     => 10,
                                                 :dir      => "rtl",
                                                 :value    => @pedido_compra.cotacao.to_i,
                                                 :onfocus  => {:remote => true,
                                                               :update => "key",
                                                 :url      => { :action => :get_moeda},
                                                 :with     => "'key='+ key.value "} } %>
                              </td>

                              <td align="right">Unidade:</td>
                              <td><%= f.collection_select :unidade_id, Unidade.all(:select => 'id',:order => '1'),:id,:id %></td>
                              
                              <td colspan="5" align="right">
                                <table>
                                  <tr>
                                    <td>
                                       <fieldset>
                                          <legend>Status</legend>
                                          <%= f.radio_button :status, 0, :Checked => "True"%> Pendente
                                          <%= f.radio_button :status, 1 %> Entrege <br/><br/>

                                       </fieldset>
                                    </td>
                                  </tr>
                                </table>
                              </td>     
                              
                           </tr>
                        </table>
                     </fieldset>                   
                   </td>                 
                                      
                   <td>

                     <table>
                        <tr>

                           <td>
                              <table>
                                 <tr>
                                    <td>
                                       <fieldset>
                                          <legend>Moneda</legend>
                                          <%= f.radio_button :moeda, 1, :onblur  => "MoedaCompra('1')" %> Gs. <br/><br/>
                                          <%= f.radio_button :moeda, 0, :Checked => "True",:onblur => "MoedaCompra('0')"%> Dolar

                                       </fieldset>
                                    </td>
                                 </tr>
                              </table>
                           </td>     


                           <td>
                              <fieldset>
                                 <legend>Clase Producto</legend>
                                 <%= f.radio_button :clase_produto, 0,  :Checked => "True"%> Repuestos
                                 <br/>                                 
                                 <%= f.radio_button :clase_produto, 1%> Maquinario
                                 <br/>                                 
                                 <%= f.radio_button :clase_produto, 2%> Todos
                              </fieldset>
                           </td>                           

                        </tr>     
                     </table>
                   </td>
               </tr>         
               
               <tr>
                 <td colspan="2">
                   <fieldset>
                   <table> 
                       <tr>
                          <td align="right">Documento:</td>
                          <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                                           :order  => '1' ),:id,
                                                                                                            :nome %></td>
                       </tr>

                       <tr>
                         <td align="right">Requerente :</td>
                         <td colspan="3">
                         <%= f.collection_select :requerente_id, Persona.all( :select => 'id,nome',
                                                                               :conditions => ["tipo_funcionario = 1"],
                                                                               :order  => '2' ),:id, :nome %>
                         </td>                  
                       </tr>

                                     
                       <tr>
                         <td align="right">Proveedor :</td>
                         <td colspan="3">
                         <%= f.collection_select :persona_id, Persona.all( :select => 'id,nome',
                                                                               :conditions => ["tipo_fornecedor = 1"],
                                                                               :order  => '2' ),:id, :nome %>
                           <%= link_to '',{:controller => 'personas',:action => 'new'}, :popup => ['new_window','height=700,width=1000'] , :class => "links add"%>
                         </td>                  
                       </tr>
                   </table>
                   </fieldset>                   
                 </td>
               </tr>
               <tr>
                   <td align="left" valign="top" colspan="2">Concepto :<%= f.text_area :descricao, :cols => 75, :rows => 5%></td>
               </tr>
                     
           </table>         
         </div>
         <div class="buttons">
            <%= link_to 'Volver', pedido_compras_path, :class => "button back" %>
            <%= f.submit 'Seguir',:disable_with => "Aguarde...", :class => "button" %>             
         </div>
      </div>
</body>      
<% end %>


