<div class="group">

  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="80" align="center">Fecha</td>
      <td width="80" align="center">Entrega</td>
      <td width="450" align="center">Proveedor</td>
      <td width="100" align="center">Status</td>

    </tr>
  </table>
  
  <div class="rolagem" dir="div">
    <table>
      <% @pc.each do |pc| %>
        <% if pc.status == 0 %>
          <% status = 'Pendiente' %>
        <% else %>
          <% status = 'Entrege' %>
        <% end %>
        <tr class= "<%= cycle( "cor1", "cor2" )%>">
		  <td width="50" align="center"> <%= pc.id %> </td>
		  <td width="80" align="center"> <%= pc.data.strftime("%d/%m/%Y") %> </td>
		  <td width="80" align="center"> <%= pc.data_entrega.strftime("%d/%m/%Y") %> </td>
		  <td width="450" align="left">  <%= pc.persona_nome %> </td>
		  <td width="100" align="center">  <%= status %> </td>
    	  <td><%= link_to 'Editar', edit_pedido_compra_path(pc) %></td>
		  <td><%= link_to 'Borrar', pc, :confirm => 'Tiene Certeza?', :method => :delete %></td>		  
  	    </tr>
      <% end %>
    </table>
  </div>
</div>
