<h1 align="right" id="header">Pedido de Compras</h1>
<ul class="tabs">
    <li><a href="#tab1">Pedido Compras Productos - [Edicion]</a></li>
</ul>      
     
<div class="tab_container">
     <div id="tab1" class="tab_content">
     
      <div class="group">
      Fecha: <%= @pedido_compra.data.strftime("%d/%m/%Y") %>   Proveedor : <%= @pedido_compra.persona_nome %>         
      </div>
     <br/>
      <div class="grid">
         <%= render :partial=>"pedido_compra_produtos/index", :locals=>{:pedido_compra => @pedido_compra,:pedido_compra_produtos => @pedido_compra.pedido_compra_produtos} %>
      </div>

      <%= render :partial=>"pedido_compra_produtos/new_produto" , :locals=>{:pedido_compra_produto=>PedidoCompraProduto.new(:pedido_compra_id=>@pedido_compra.id)}%>

     </div>
     <div class="buttons">
         <%= link_to 'Volver', edit_pedido_compra_path(@pedido_compra), :class => "button back"%>
         <%= link_to 'Genera Informe', "/pedido_compras/print_pedido/#{@pedido_compra.id}", :class => "button print"%>         
         <%= link_to 'Salir', pedido_compras_path, :class => "button delete"%>         
     </div>
</div>

<script>

  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('/produtos/busca_pedido_compra_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}
     
//FIM ABRI POPUP----------------------------------------------------------------


</script>

