<h1 align="right" id="header">Deposito</h1>
Deposito - Edicion
<%= form_for(@deposito) do |f| %>

  <% if @deposito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deposito.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @deposito.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <table>
      <tr>
        <td align="right"><b>Deposito :</b></td>
        <td><%= f.text_field :nome, :onkeydown => "f(this)",
            :onkeyup => "f(this)"  %></td>

      </tr>

      <tr>
        <td align="right"><b>Unidade:</b></td>
        <td><%= f.collection_select :unidade_id, Unidade.all(:select => 'id',:order => '1'),:id,:id %></td>
      </tr>

      <tr>
        <td align="right"><b>Direcion :</b></td>
        <td><%= f.text_field :direcao, :onkeydown => "f(this)",
            :onkeyup => "f(this)" %></td>
        <td><b>Ciudad :</b></td>
        <td><%= f.collection_select :cidade_id, Cidade.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>
      </tr>
      <tr>
        <td align="right"><b>Barrio :</b></td>
        <td><%= f.text_field :bairro, :onkeydown => "f(this)",
            :onkeyup => "f(this)" %></td>
      </tr>
      <tr>
        <td align="right" valign="top"><b>Complemento :</b></td>
        <td><%= f.text_area :complemento,:size => '30x3', :onkeydown => "f(this)",
            :onkeyup => "f(this)" %></td>
      </tr>
    </table>
  </div>

  <%= link_to 'Volver', depositos_path %> | <%= f.submit "Grabar" %>
<% end %>


