
<% form_for(recepcao_nota_remicao_produto) do |f| %>
  <%= f.error_messages %>
        <%= f.hidden_field :recepcao_nota_remicao_id %>
        <%= f.hidden_field :estado,        :value => @recepcao_nota_remicao.estado %>
        <%= f.hidden_field :data,          :value => @recepcao_nota_remicao.data %>
        <%= f.hidden_field :deposito_id,   :value => @recepcao_nota_remicao.deposito_id %>
        <%= f.hidden_field :deposito_nome, :value => @recepcao_nota_remicao.deposito_nome %>
        <%= f.hidden_field :produto_id %>
        <%= f.hidden_field :persona_id,    :value => @nota_remicao.destino_unidade_id %>
        <%= f.hidden_field :persona_nome,  :value => @nota_remicao.destino_unidade_nome %>
        <%= f.hidden_field :clase_id %>
        <%= f.hidden_field :grupo_id %>
        <%= f.hidden_field :custo_contabil_dolar %>
        <%= f.hidden_field :custo_contabil_guarani %>

        <div class="group_cd">
             <table>
               <tr height="35">
                 <td align="right">Producto :</td>
                 <td colspan="4"><%= f.text_field( :produto_cod,
                                                   :onblur   => remote_function( :update     => "recepcao_nota_remicao_produto_produto_cod",
                                                                                 :url        => { :action     => :get_produto_cod, :id => 1,:data => @recepcao_nota_remicao.data},
                                                                                 :with       => "'recepcao_nota_remicao_produto_produto_cod='+this.value"),
                                                                                 :size       => 5,
                                                                                 :onkeypress => "return bloqEnter(event)") %>
                                 <%= f.text_field :produto_nome,
                                                  :size => 50%>
                 </td>
                   <td align="right">Saldo :</td>
                   <td><%= f.text_field :saldo,
                                        :size => 15%></td>
               </tr>

               <tr height="35">
                   <td align="right">Costo Gs.:</td>
                   <td><%= f.text_field :custo_guarani,
                                        :size => 15%></td>
                   
                   <td>U$. <%= f.text_field :custo_dolar,
                                            :size => 15%></td>

               </tr>

               <tr height="35">
                   <td align="right">Venda Gs.:</td>
                   <td><%= f.text_field :valor_guarani,
                                        :size => 15%></td>

                   <td>U$. <%= f.text_field :valor_dolar,
                                            :size => 15%></td>

               </tr>
               <tr height="35">
                   <td align="right">Cantidad :</td>
                   <td colspan="2"><%= f.text_field :quantidade,
                                        :size => 15%> <%= f.submit '   Grabar   ' %></td>
               </tr>

             </table>
        </div>
    
<% end %>
