<div class="groupvenda">
   <body onload="VendasfinancaAbreDiv('<%= @vendas_financa.tipo %>')">
      <% form_for(@vendas_financa) do |f| %>
         <%= f.error_messages %>

         <%= f.hidden_field :venda_id %>
         <%= f.hidden_field :cotacao,      :value => @vendas_financa.venda.cotacao.to_i %>
         <%= f.hidden_field :data,         :value => @vendas_financa.venda.data%>
         <%= f.hidden_field :persona_nome, :value => @vendas_financa.venda.persona_nome%>
         <%= f.hidden_field :persona_id,   :value => @vendas_financa.venda.persona_id %>
         <%= f.hidden_field :ruc,          :value => @vendas_financa.venda.ruc%>
         <%= f.hidden_field :direcao,      :value => @vendas_financa.venda.direcao%>
         <%= f.hidden_field :cidade_nome,  :value => @vendas_financa.venda.cidade_nome%>
         <%= f.hidden_field :cidade_id,    :value => @vendas_financa.venda.cidade_id %>
         <%= f.hidden_field :bairro,       :value => @vendas_financa.venda.bairro%>
         <%= f.hidden_field :vendedor_id,  :value => @vendas_financa.venda.vendedor_id%>
         <%= f.hidden_field :vendedor_nome,:value => @vendas_financa.venda.vendedor_nome%>
         <%= f.hidden_field :clase_produto,:value => @vendas_financa.venda.clase_produto%>

         <input type="hidden" id="data" value="<%=@vendas_financa.venda.data.strftime("%d").to_i%>"/>
         <input type="hidden" id="mes" value="<%=@vendas_financa.venda.data.strftime("%m").to_i%>"/>
         <input type="hidden" id="ano" value="<%=@vendas_financa.venda.data.strftime("%Y").to_i%>"/>
         <table>
            <tr>
             <% if current_user.tipo != 2  %>
          	   <tr>
      	    	 <td align="right">Fecha :</td>
                 <td><%= f.date_select :data %></td>
      	       </tr>
      	     <%else%>
                 <%= f.hidden_field :data,          :value => @venda.data%>  	 
      	     <% end %>
      	 	
               <td>
                  <fieldset>
                     <legend>Moneda</legend>
                     <table>
                        <tr>
                           <td>
                              <%= f.radio_button :moeda, 1,  :Checked => "True",  :onblur => "VendasfinancaMoeda('1')" %> Gs.
                              <%= f.radio_button :moeda, 0,:onblur => "VendasfinancaMoeda('0')"%> Dolar
                              <input type="hidden" id="moeda" name="moeda" value="<%= @vendas_financa.moeda %>"/>
                           </td>
                        </tr>
                     </table>
                  </fieldset>
               </td>

               <td>
                  <fieldset>
                     <legend>Tipo :</legend>
                     <table>
                        <tr>
                           <td>
                           	<%= f.select :tipo, ([["CONTADO", 0], ["CREDITO", 1]]),{},{:onblur  => "VendasfinancaAbreDiv(this)"} %>      	 	
                           </td>
                        </tr>
                     </table>
                  </fieldset>
               </td>
            </tr>
         </table>
         <%= f.hidden_field :tipo_ordem , :value => 0  %>




         <!-- DIV DETALHES AO CONTADO===================================================  -->


         <div id="TIPO_CONTADO" style="display: none;">

            <table>
               <tr>
                  <td>
                     <div class="group_cd" >
                        <input id    = "valor_dolar_contado"
                               name  = "valor_dolar"
                               type  = "hidden"
                               value = "<%= number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",") %>"/>

                        <input id    = "valor_guarani_contado"
                               name  = "valor_guarani"
                               type  = "hidden"
                               value = "<%= number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0) %>"/>
                        <table>
                           <tr>
                              <td align="right">Recebido :</td>
                              <td><input id          = "recebido"
                                         name        = "recebido"
                                         type        = "text"
                                         size        ="16"
                                         onkeyup     = "maskIt(this,event,'###.###.###.###,##',true)"
                                         dir         ="rtl"
                                         onkeypress  = "return bloqEnter(event)"
                                         onblur      = "VendasFinancaTroco()" /></td>

                           </tr>

                           <tr>
                              <td colspan="2">
                                 <div id="TIPO_CONTADO_DOLAR" style="display: none;">
                                    <table>
                                       <tr>
                                          <td align="right">Valor U$ :</td>
                                          <td><%= f.text_field :valor_dolar_contado,
                                               :size   => 16,
                                               :onkeyup  =>"maskIt(this,event,'###.###.###.###,##',true)",
                                               :dir      =>"rtl",
                                               :onchange => "VendaFinancaContadoDolarGuarani()"%></td>

                                       </tr>
                                    </table>
                                 </div>

                                 <div id="TIPO_CONTADO_GUARANI" style="display: none;">
                                    <table>
                                       <tr>
                                          <td align="right">Valor Gs. :</td>
                                          <td><%= f.text_field :valor_guarani_contado,
                                               :size     => 16,
                                               :onkeyup  =>"maskIt(this,event,'###.###.###.###',true)",
                                               :dir      =>"rtl",
                                               :onchange => "VendaFinancasContadoGuaraniDolar()"%></td>
                                       </tr>
                                    </table>
                                 </div>

                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>

                  <td valign="top">

                     <div >
                        <table>
                           <tr height="110">
                              <td>
                                 <h1><font size="6"color="green">Vuelto U$.: <SPAN ID="mostra_dolar"></SPAN> </font><br/>
                                    <font size="6"color="red">Vuelto Gs.: <SPAN ID="mostra_guarani"></SPAN> </font><br/></h1>

                                 <input id   = "troco_dolar"
                                        name = "troco_dolar"
                                        type = "hidden"/>

                                 <input id   = "troco_guarani"
                                        name = "troco_guarani"
                                        type = "hidden"/>
                              </td>
                           </tr>

                        </table>
                     </div>
                  </td>
               </tr>
            </table>

            <table>
               <tr>
                  <td align="right">Cuenta :</td>
                  <td><%= f.collection_select :conta_id, Conta.all( :select     =>' id,nome',:conditions => ["tipo = 0"],:order      => '2'), :id,:nome,{},{:onkeyup     => "EnterTab(event,'vendas_financa_cheque')"} %></td>



                  <td align="right">Cheque:</td>
                  <td><%= f.text_field :cheque,
                       :size => 15,
                       :onkeypress  => "return bloqEnter(event)",
                       :onkeyup     => "EnterTab(event,'vendas_financa_diferido_3i')"%></td>

                  <td align="right">Diferido:</td>
                  <td><%= f.date_select( :diferido, {},{:onkeyup     => "EnterTab(event,'vendas_financa_transportadora_id')"} )%></td>
               </tr>

               <tr>
                  <td align="right">Banco : </td>
                  <td><%= f.text_field :banco,:size => 25%></td>

                  <td align="right">Titular : </td>
                  <td colspan="3"><%= f.text_field :titular,:size => 48%></td>
               </tr>

            </table>


         </div>


         <!-- DIV DETALHES CREDITO ====================================================== -->
         <input id   = "total_dolar"
                name = "total_dolar"
                type = "hidden"
                value="<%= number_to_currency(@produto_sum_dolar , :format=>' %n ', :separator => ",")%>" />

         <input id   = "total_guarani"
                name = "total_guarani"
                type = "hidden"
                value="<%= number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0) %>" />

         <div id="TIPO_CREDITO" style="display:none;">
            <table>
               <tr>
                  <td>Cuotas :</td>
                  <td><%= f.text_field :cota,         :size => 3 %></td>

                  <td>
                     <div id="TIPO_CREDITO_DOLAR" style="display: none;">
                        <table>
                           <tr>
                              <td align="right">Valor U$ : </td>
                              <td><%= f.text_field :cota_dolar_01,
                                   :size     => 15,
                                   :onkeyup  =>"maskIt(this,event,'###.###.###.###,##',true)",
                                   :dir      =>"rtl" %></td>

                           </tr>
                        </table>
                     </div>

                     <div id="TIPO_CREDITO_GUARANI" style="display: none;">
                        <table>
                           <tr>
                              <td align="right">Valor Gs. : </td>
                              <td><%= f.text_field :cota_guarani_01,
                                   :onkeyup  =>"maskIt(this,event,'###.###.###.###',true)",
                                   :size     => 15,
                                   :dir      =>"rtl" %></td>


                           </tr>
                        </table>
                     </div>
                  </td>

                  <td align="right">Venci. : </td>
                  <td><%= f.date_select :data_cota_01 %></td>
               </tr>
            </table>
         </div>
         <!--    FINANCEIRO   CONTADO    !-->


         <!-- DIV DETALHES AO FATURA ==================================================-->
         <table>
            <tr>
               <td></td>
               <td>
                  <table>
                     <tr>
                        <td>
                           <fieldset>
                              <legend>Factura?</legend>
                              <%= f.radio_button :fatura, 0,
                                :Checked     => 'True',
                                :onkeypress  => "return bloqEnter(event)",
                                :onkeyup     => "f(this),EnterTab(event,'vendas_financa_fatura_1')"
                           %> No
                              <%= f.radio_button :fatura, 1,
                                :onkeypress  => "return bloqEnter(event)",
                                :onkeyup     => "f(this),EnterTab(event,'vendas_financa_documento_numero_01')"
                           %> Si

                           </fieldset>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>


            <tr>
               <td align="right">Factura N.:</td>

               <td><%= f.text_field :documento_numero_01,
                    :size => 3,
                    :onkeypress  => "return bloqEnter(event)",
                    :onkeyup     => "f(this),EnterTab(event,'vendas_financa_documento_numero_02')"%> -
                  <%= f.text_field :documento_numero_02,
                    :size        => 3,
                    :onkeypress  => "return bloqEnter(event)",
                    :onkeyup     => "f(this),EnterTab(event,'vendas_financa_documento_numero')"%> -
                  <%= f.text_field :documento_numero,
                    :size        => '10',
                    :onkeypress  => "return bloqEnter(event)",
                    :onkeyup     => "f(this),EnterTab(event,'vendas_financa_submit')"%></td>
               <td align="right"><%= f.submit "     Grabar     " %></td>
            </tr>


         </table>

      <% end %>


   </body>
</div>