<body onload="VendasProdutoFocoCod()">
<% form_for(@vendas_produto) do |f| %>
  <%= f.error_messages %>

  <div class="group">
    <%= f.hidden_field :venda_id %>
    <%= f.hidden_field :produto_id %>
    <%= f.hidden_field :fabricante_cod %>
    <%= f.hidden_field :codigo %>
    <%= f.hidden_field :tipo %>
    <%= f.hidden_field :clase_id %>
    <%= f.hidden_field :grupo_id %>
    <%= f.hidden_field :sub_grupo_id %>
    <%= f.hidden_field :saldo %>
    <%= f.hidden_field :cotacao, :value => @vendas_produto.venda.cotacao.to_i %>
    <%= f.hidden_field :persona_id,    :value => @vendas_produto.venda.persona_id %>
    <%= f.hidden_field :persona_nome,  :value => @vendas_produto.venda.persona_nome %>
    <%= f.hidden_field :clase_produto,  :value => @vendas_produto.venda.clase_produto %>
    <input type="hidden" id="moeda" name="moeda" value="<%= @vendas_produto.venda.moeda %>" />
    <table>

      <tr height="35">
        <td align="right">Deposito :</td>
        <td><%= f.collection_select(  :deposito_id, Deposito.all(:order => '2'),:id,:nome,{},{:onkeyup => "EnterTab(event,'venda_produto_produto_busca_')"} )%></td>

          <td align="right">Codigo :</td>
          <td> <%= text_field_tag( 'codigo',
                                    nil,
                                    :id     => "codigo",
                                    :onchange => remote_function( :update     => "codigo",
                                                                  :url        => { :action     => :get_codigo_barra_produto, :id => @vendas_produto.venda.id },
                                                                  :with       => "'codigo='+this.value"),
                                                                  :size       => 5,
                                                                  :onkeyup    => "f(this),EnterTab(event,'vendas_produto_quantidade')",
                                                                  :onkeypress => "return bloqEnter(event)"
            ) %>
          </td>


        <td align="right">Producto :</td>

        <td><%= hidden_field_tag( :produto_busca ,nil) %>

            <%= f.hidden_field :produto_cod%>
            <%= f.hidden_field :produto_nome%>

            <%= text_field_with_auto_complete  :venda_produto_produto_busca,nil,
                                               { :onchange => remote_function( :update       => "venda_produto_produto_busca_",
                                                                               :url          => { :action => :get_produto,:id => @vendas_produto.venda.id},
                                                                               :with         => "'produto_busca='+this.value"),
                                                                               :size         => 50,
                                                                               :value        => @vendas_produto.produto_nome,
                                                                               :onkeyup      => "f(this),EnterTab(event,'vendas_produto_quantidade')",
                                                                               :onkeypress   => "return bloqEnter(event)"},
                                                                             { :url          => formatted_produtos_path(:js),
                                                                               :method       => :get,
                                                                               :param_name   => 'busca'
                                                                               }
             %></td>


        <td align="right">Cantidad :</td>
        <td><%= f.text_field :quantidade,
                             :size       => 8,
                             :onkeyup    => "EnterTab(event,'vendas_produto_total_desconto')",
                             :onkeypress => "return bloqEnter(event)",
                             :onblur     => " VendasProdutoTotalDolar(),
                                              VendasProdutoTotalGs(),
                                              VendasProdutoIvaGs(),
                                              VendasProdutoIvaDolar()"%></td>

        <td align="right">Saldo : <font color="red"><SPAN id="red"></SPAN> </font>
                                  <font color="green"><SPAN id="green"></SPAN> </font>
        </td>

      </tr>

      <tr height="35">

        <td align="right">Total Desc.:</td>
        <td><%= f.text_field :total_desconto,
                             :size       => 5,
                             :onkeyup    => "EnterTab(event,'vendas_produto_interes')",
                             :onkeypress => "return bloqEnter(event)",
                             :onblur   => " VendasProdutoTotalDolar(),
                                              VendasProdutoTotalGs(),
                                              VendasProdutoIvaGs(),
                                              VendasProdutoIvaDolar(),
                                              VendasProdutoTotalDesconto()"%> %</td>


        <td align="right">Maximo Desc.:</td>
        <td><%= f.text_field :desconto,
                             :size    => 5,
                             :onkeyup => "EnterTab(event,'vendas_produto_interes')",
                             :onkeypress => "return bloqEnter(event)",
                             :onchange   => " VendasProdutoTotalDolar(),
                                              VendasProdutoTotalGs(),
                                              VendasProdutoIvaGs(),
                                              VendasProdutoIvaDolar()",
                             :readonly => "readonly"%> %</td>

        <td align="right">Interes:</td>
        <td><%= f.text_field :interes,
                             :size       => 5,
                             :onkeyup    => " EnterTab(event,'vendas_produto_unitario_guarani')",
                             :onkeypress => " return bloqEnter(event)",
                             :onchange   => " VendasProdutoTotalDolar(),
                                              VendasProdutoTotalGs(),
                                              VendasProdutoIvaGs(),
                                              VendasProdutoIvaDolar(),
                                              VendasProdutoInteres() "%> %</td>


            <%= f.hidden_field :taxa %>

        </tr>



  <% if @vendas_produto.venda.moeda == 0  %>
        <tr height="35">
            <%= field_us 'Unit. U$ :',f,:unitario_dolar,
                                        :onkeypress => " return bloqEnter(event)",
                                        :onblur     => " VendasProdutoUnitGs(),                                                         
                                                         VendasProdutoTotalDolar(),
                                                         VendasProdutoTotalGs(),
                                                         VendasProdutoIvaGs(),
                                                         VendasProdutoIvaDolar(),
                                                         VendasProdutoPorcentagemInversa()" %>
            <%= f.hidden_field :total_guarani%>
            <%= field_us 'Total U$ :',f,:total_dolar,
                                        :readonly => "readonly",            
                                        :onblur => "VendasProdutoPorcentagemInversa(),
                                                    VendasProdutoIvaGs(),
                                                    VendasProdutoIvaDolar()" %>


            <%= f.hidden_field :unitario_guarani %>
            <%= f.hidden_field :preco_dolar %>
            <%= f.hidden_field :preco_guarani %>
            <%= f.hidden_field :preco_fixo_dolar %>
            <%= f.hidden_field :preco_fixo_guarani %>
            <%= f.hidden_field :iva_dolar%>
            <%= f.hidden_field :iva_guarani%>
             <td>
                <%= f.submit "Adicionar", :class => "button" %>                
             </td>

          </tr>

      <% else %>


          <tr height="35">
            <%= field_gs 'Unit. Gs.:',f,:unitario_guarani,
                                        :onblur => " VendasProdutoUnitDolar(),
                                                     VendasProdutoTotalDolar(),
                                                     VendasProdutoTotalGs(),
                                                     VendasProdutoIvaGs(),
                                                     VendasProdutoIvaDolar(),
                                                     VendasProdutoPorcentagemInversa()" %>


            <%= field_gs 'Total. Gs.:',f,:total_guarani,
                                         :onblur => "VendasProdutoPorcentagemInversa(),
                                                     VendasProdutoIvaGs(),
                                                     VendasProdutoIvaDolar()" %>


            <%= f.hidden_field :iva_dolar%>
            <%= f.hidden_field :iva_guarani%>
            <%= f.hidden_field :preco_dolar %>
            <%= f.hidden_field :preco_guarani %>
            <%= f.hidden_field :preco_fixo_dolar %>
            <%= f.hidden_field :preco_fixo_guarani %>            
            <%= f.hidden_field :total_dolar%>
            <%= f.hidden_field :unitario_dolar%>

             <td>
                <%= f.submit " Adicionar ", :class => "button" %>                
             </td>

          </tr>

      <% end %>

    </table>

  <% end %>

</div>
</body>



