<table>
	<tr  class="<%= cycle("cor1", "cor2") %>">

		<td width="50" align="center"> <%= index_produto.fabricante_cod %> </td>
		<td width="350" align="left"> <%= index_produto.produto_nome %> <%= index_produto.lotes %>  </td>
		<td width="80" align="right"> <%= format("%.3f",index_produto.quantidade.to_f) %> </td>

		<% if @venda.moeda == 0 %>
			<td width="80" align="right"><%= number_to_currency(index_produto.unitario_dolar, :format=>' %n ', :separeitor =>  "," ) %> </td>
			<td width="80" align="right"><%= number_to_currency(index_produto.total_dolar, :format=>' %n ', :separeitor =>  "," ) %> </td>
			<td width="80" align="right"><%= number_to_currency( index_produto.quantidade.to_f * index_produto.iva_dolar.to_f , :format=>' %n ', :separeitor =>  "," ) %> </td>
		<% elsif @venda.moeda == 1 %>
			<td width="80" align="right"><%= number_to_currency(index_produto.unitario_guarani, :format=>' %n ', :precision => 0) %> </td>
			<td width="80" align="right"><%= number_to_currency(index_produto.total_guarani, :format=>' %n ', :precision => 0) %> </td>
			<td width="80" align="right"><%= number_to_currency(index_produto.quantidade.to_f * index_produto.iva_guarani.to_f , :format=>' %n ', :precision => 0 ) %> </td>

		<% else %>
			<td width="80" align="right"><%= number_to_currency(index_produto.unitario_real, :format=>' %n ', :separeitor =>  "," ) %> </td>
			<td width="80" align="right"><%= number_to_currency(index_produto.total_real, :format=>' %n ', :separeitor =>  "," ) %> </td>
			<td width="80" align="right"><%= number_to_currency( index_produto.quantidade.to_f * index_produto.iva_real.to_f, :format=>' %n ', :separeitor =>  "," ) %> </td>
		<% end %>

		<td width="80" align="right"><%= index_produto.total_desconto %></td>
		<td><%= link_to 'Editar', edit_vendas_produto_path(index_produto) %></td>
		<td><%= link_to 'Borrar', index_produto, :confirm => 'Tiene Certeza?', :method => :delete %></td>
	</tr>
</table>
