<%= form_for(@safra_produto) do |f| %>
  <% if @safra_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safra_produto.errors.count, "error") %> prohibited this safra_produto from being saved:</h2>

      <ul>
      <% @safra_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <ul class="tabs">
    <li><a href="#tab1">Produto - [Edicion]</a></li>
  </ul>

    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="200">
              <fieldset>
                <legend>Produto :</legend>
                  <table>
                    <tr>
                      <td align="right">Produto :</td>
                      <td colspan="1"><%= f.collection_select :produto_id, Produto.all( :select => ' id,nome',
                               :order  => '2' ), :id,
                              :nome %>
                      </td>
                    </tr>
                  </table>
                </fieldset>
              </td> 
            </tr>
          </table>
        </div>   
        <div class="buttons">
          <%= f.submit :value => "Seguir", :class => "button" %>
          <%= link_to 'Volver', controle_pulvs_path, :class => "button back" %>
        </div>
<% end %>

  </div>