<div class="group">
   <table>
      <tr>
         <td width="50" align="center">Data</td>
         <td width="500" align="center">Producto</td>
         <td width="100" align="center">Valor</td>
      </tr>
   </table>

   <div class="rolagem_cobro" dir="div">
      <table>

         <% vendas_entrada_produtos.each do |vep| %>
            <tr class = "<%= cycle("cor2", "cor1") %>">
               <td width="50" align="center"><%= vep.data_emicao.strftime("%d/%m/%Y") %></td>
               <td width="500" align="left"><%= vep.produto_nome %></td>
               <td width="100" align="right">   <%= h number_to_currency(vep.total_dolar, :format=>' %n ', :separeitor => ',')  %></td>
               <td><%= link_to 'Editar', edit_vendas_entrada_produto_path(vep) %></td>
               <td><%= link_to 'Borrar', vep, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>