<body onload="window.print()">


   <table align="left"  valign="top" >

      <tr>
         <td>
            <FONT  size="5">
              <b>            	
               <%= $empresa_nome %>
              <b>               
            </FONT>
         </td>

         <td  align="right">
            <FONT  size="5">
              <b>            	
               Orden de Servico   N. <%=@venda.id%>
              <b>               
            </FONT>
         </td>
      </tr>

      <tr>
         <td>
            <FONT  size="4">
               Ruc 6014995-7
            </FONT>
         </td>
      </tr>

      <tr>
         <td>
            <FONT  size="4">
               <b>
	              Tel: 0673-220578 / 0983-633712
               <b>

            </FONT>
         </td>
      </tr>


      <tr>
         <td>
            <FONT  size="4">
               Santa Rita - Alto Paraná
            </FONT>
         </td>
      </tr>

      <tr>
         <td colspan="2">
            <FONT  size="3">
               --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </FONT>
         </td>
      </tr>



      <tr>
         <td>
            <table>

               <tr>

                  <td>
                     <FONT  size="3">
                        Cliente :
                     </FONT>
                  </td>

                  <td align="left"  colspan="4">
                     <FONT  size="3">
                     	<b>
                        <%= @venda.persona_nome %>
                        </b>
                     </FONT>
                  </td>

                  <td align="right">
                     <FONT  size="3">
                        Cod :
                     </FONT>
                  </td>

                  <td align="left">
                     <FONT  size="3">
                     	<b>
                          <%= @venda.persona_cod %>
                        </b>
                     </FONT>
                  </td>



                  <td align="right">
                     <FONT  size="3">
                        Ruc/C.I. :
                     </FONT>
                  </td>

                  <td align="left">
                     <FONT  size="3">
                     	<b>
                          <%= @venda.ruc %>
                        <b>
                     </FONT>
                  </td>

                  <td align="right">
                     <FONT  size="3">
                        Tel.
                     </FONT>
                  </td>

                  <td align="left">
                     <FONT  size="3">
                     	<b>
                          <%= @venda.telefone %>
                        <b>
                     </FONT>
                  </td>


               </tr>


               <tr>
                  <td>
                     <FONT  size="3">
                        Vendedor :
                     </FONT>
                  </td>

                  <td align="left">
                     <FONT  size="3">
                        <%= @venda.vendedor_nome %>
                     </FONT>
                  </td>

               </tr>

            </table>
         </td>


      </tr>

      <%if @venda.moeda == 0
         moeda = "DOLAR"
      else
         moeda = "GUARANI"
      end
   %>


      <tr>
         <td align="left">
            <FONT  size="3">
               MONEDA: <%=moeda%>
            </FONT>
         </td>
         <td align="right">
            <FONT  size="3">
               EMISION: <%=@venda.data.strftime("%d/%m/%Y")%> <%=Time.now.strftime("%H:%M:%S")%>
            </FONT>
         </td>
      </tr>

      <tr>
         <td colspan="2">
            <FONT  size="3">
               --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </FONT>
         </td>
      </tr>


      <tr>
         <td align="left">
            <FONT  size="3">
               Modelo : <%=@venda.modelo%>
               Marca : <%=@venda.marca%>
            </FONT>
         </td>
         <td align="right">
            <FONT  size="3">
               Acessorios: <%=@venda.acessorio%>
            </FONT>
         </td>
      </tr>

      <tr height="80">
         <td align="left" colspan="4" valign="top">
            <FONT  size="3">
               Solicitacion : <%=@venda.solicitacao%>
            </FONT>
         </td>
      </tr>


      <tr height="150">
         <td colspan="2" align="center" valign="top">
            <FONT  size="3">

               <table align="center">
                  <tr>
                     <td colspan="5">
                        <FONT  size="3">
                           --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        </FONT>
                     </td>
                  </tr>
               </table>

            </FONT>
         </td>
      </tr>

      <tr>
         <td colspan="2">
            <FONT  size="3">
               --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </FONT>
         </td>
      </tr>


      <tr>
         <td colspan="2" align="center">
            <FONT  size="3">
            	Si éste aparato no es retirado dentro de 60 días será rematado para curbrir los gastos de reparación  
            </FONT>
         </td>
      </tr>

      <tr>
         <td colspan="2">
            <FONT  size="3">
               --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </FONT>
         </td>
      </tr>


   </table>

</body>





