
<% form_for(@vendas_entrada_produto) do |f| %>
   <%= f.error_messages %>

   <%= f.hidden_field :venda_id %>
   <%= f.hidden_field :clase_id %>
   <%= f.hidden_field :grupo_id %>
   <%= f.hidden_field :cotacao,       :value => @vendas_entrada_produto.venda.cotacao.to_i %>
   <%= f.hidden_field :moeda,         :value => @vendas_entrada_produto.venda.moeda.to_i %>
   <%= f.hidden_field :data,          :value => @vendas_entrada_produto.venda.data %>
   <%= f.hidden_field :persona_id,    :value => @vendas_entrada_produto.venda.persona_id %>
   <%= f.hidden_field :persona_nome,  :value => @vendas_entrada_produto.venda.persona_nome %>
   <%= f.hidden_field :clase_produto, :value => @vendas_entrada_produto.venda.clase_produto %>

   <table>
      <tr>
         <td align="right">Fecha Emicion:</td>
         <td><%= f.date_select :data_emicao %></td>

      </tr>
      <tr>
         <td align="right">Documento:</td>
         <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
               :order  => '1' ),:id,
              :nome %></td>
      </tr>

      <tr>
         <td align="right">Producto:</td>
         <td>
                  <%= text_field_tag( 'codigo',
                     nil,
                     :id     => "codigo",
                     :onchange => remote_function( :update     => "codigo",
                        :url        => { :action     => :get_codigo_entrada_produto },
                        :with       => "'codigo='+this.value"),
                     :size       => 5

                  ) %>
         
         <%= f.collection_select :produto_id, Produto.all( :select => 'id,nome',:conditions => ["clase_id = 2"]
               :order  => '2' ),:id,
               :nome %></td>

         <td>Cantidad :
            <%= f.text_field :quantidade,:size => 5 %>
         </td>
      </tr>

      <tr>
         <td align="right">Deposito :</td>
         <td><%= f.collection_select(  :deposito_id, Deposito.all(:order => '2'),:id,:nome,{},{:onkeyup => "EnterTab(event,'venda_produto_produto_busca_')"} )%></td>
               <td align="right">Iva :</td>
               <td width="230"><%= f.select :taxa,
                    (
                     [
                        [0, 0],
                        [5, 5],
                        [10,10],
                        [70,70],
                        [80,80]
                     ]
                  ),{},{:onkeyup    => "EnterTab(event,'vendas_entrada_produto_documento_numero_01)')",
                   		:onkeypress => "return bloqEnter(event)"}%>
               </td>


      </tr>

      <tr>
         <td align="right">Numero:</td>
         <td><%= f.text_field :documento_numero_01,:size => 3%>-
            <%= f.text_field :documento_numero_02,:size => 3%>-
            <%= f.text_field :documento_numero,   :size => 10 %></td>

         <td align="right"> Timbrado :</td>
         <td colspan="1"><%= f.text_field :documento_timbrado,:size => 15 %></td>

      </tr>
      <% if @vendas_entrada_produto.venda.moeda == 0 %>
         <tr>
            <td colspan="4">
               <div id="MOEDA_FATURA_DOLAR">
                  <fieldset>
                     <table>
                        <tr>
                           <%= field_us 'Exentas U$ :',f,:exentas_dolar %>

                           <%= field_us 'Gravadas 5% U$ :',f,:gravadas_05_dolar,:onblur  => "VendaEntradaGravada05Dolar()" %>

                           <%= field_us 'Gravadas 5% U$ :',f,:gravadas_10_dolar,:onblur  => "VendaEntradaGravada10Dolar()" %>
                        </tr>

                        <tr>
                           <td></td>
                           <td></td>
                           <%= field_us 'Impuestos 5% U$ :',f,:imposto_05_dolar %>

                           <%= field_us 'Impuestos 10% U$ :',f,:imposto_10_dolar %>
                        </tr>

                        <tr>
                           <td colspan="4"></td>
                           <%= field_us 'Total U$ :',f,:total_dolar %>
                        </tr>

                     </table>
                  </fieldset>
               </div>
            </td>
         </tr>

      <% else %>

         <tr>
            <td colspan="4">
               <div id="MOEDA_FATURA_GUARANI">
                  <fieldset>
                     <table>
                        <tr>
                           <td>
                              <table>
                                 <tr>
                                    <%= field_gs 'Exentas Gs.:',f,:exentas_guarani %>

                                    <%= field_gs 'Gravadas 5% Gs.:',f,:gravadas_05_guarani,:onblur  => "VendaEntradaGravada05Gs()" %>

                                    <%= field_gs 'Gravadas 10% Gs.:',f,:gravadas_10_guarani,:onblur => "VendaEntradaGravada10Gs()" %>
                                 </tr>

                                 <tr>
                                    <td></td>
                                    <td></td>
                                    <%= field_gs 'Impuestos 5% Gs.:',f,:imposto_05_guarani%>

                                    <%= field_gs 'Impuestos 10% Gs.:',f,:imposto_10_guarani%>
                                 </tr>

                                 <tr>
                                    <td colspan="4"></td>
                                    <%= field_gs 'Total Gs.:',f,:total_guarani%>
                                 </tr>

                              </table>
                           </td>
                        </tr>
                     </table>
                  </fieldset>
               </div>
            </td>
         </tr>
      <% end %>
   </table>

   <tr>
      <td align="right" valign="top">Concepto :</td>
      <td>
         <%= f.text_area :descricao, :cols => 85, :rows => 4%>
      </td>
         <%= f.submit "   Grabar  ",:disable_with => "Aguarde..." %> |
         <a href="/vendas/vendas_entrada_produto/<%= @vendas_entrada_produto.venda.id.to_i %>" class="clean-gray"><< Volver</a> |
   </tr>
<% end %>
