<h1 align="right" id="header">Volto De Mercaderia</h1>
<div class="acessos">   
  <%= link_to 'Nuevo',{ :action => 'new_entrada'},:id => 'novo' %>    
</div>

<div class="group">
   <table>
      <tr>
         <td width="80" align="center">Cod.</td>
         <td width="80" align="center">Fecha</td>
         <td width="150" align="center">Factura</td>
         <td width="400" align="center">Cliente</td>
         <td width="300" align="center">Producto</td>
         <td width="100" align="center">Cantidad</td>

      </tr>
   </table>
   <div class="rolagem" dir="div"><table>
  <tr>
  </tr>

<% @vendas_entrada_produtos.each do |vd| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="80" align="center"><%= vd.id %></td>
    <td width="80" align="center"><%= vd.data %></td>    
    <td width="150" align="center"><%= vd.documento_numero %></td>    
    <td width="400" align="left"><%= vd.persona_nome %></td>    
    <td width="300" align="left"><%= vd.produto_nome %></td>    
    <td width="100" align="right"><%= vd.quantidade %></td>    
    <td><%= link_to 'Editar', edit_vendas_entrada_produto_path(vd) %></td>
    <td><%= link_to 'Borrar', vd, :confirm => 'Tiene Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

  </div>


