<div class="group">
   <table class="head_grid">
      <tr>
         <td width="50" align="center"></td>
         <td width="80" align="center">Fecha</td>
         <td width="200" align="center">Responsable</td>
         <td width="400" align="center">Producto</td>
         <td width="80" align="center">Requisitado</td>
         <td width="80" align="center">Devolvido</td>
         <td width="100" align="center">Unit.</td>
         <td width="100" align="center">Total</td>
      </tr>
   </table>
   <div class="rolagem_cobro" dir="div">
      <table>
         <% entrada = 0 %>
         <% saida   = 0 %>
         <% indice  = 1 %>
         <% @total  = 0 %>

         <% manutencao_maquina_produtos.each do |manutencao_maquina_produto| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="50" align="center"><%=h indice %></td>
               <td width="80" align="center"><%=h manutencao_maquina_produto.data.strftime("%d/%m/%Y") %></td>
               <td width="200" align="left"><%=h manutencao_maquina_produto.responsavel_nome %></td>
               <td width="400" align="left"><%=h manutencao_maquina_produto.produto_nome %></td>
               <% if  manutencao_maquina_produto.status == 0 %>
                  <td width="80" align="right"><%=h manutencao_maquina_produto.quantidade %></td>
                  <td width="80" align="right">0</td>
                  <% saida +=  manutencao_maquina_produto.quantidade %>
                  <% @total += ( manutencao_maquina_produto.quantidade * manutencao_maquina_produto.unitario_dolar )%>
               <% else %>
                  <td width="80" align="right">0</td>
                  <td width="80" align="right"><%= manutencao_maquina_produto.quantidade %></td>
                  <% entrada +=  manutencao_maquina_produto.quantidade %>
                  <% @total -= ( manutencao_maquina_produto.quantidade *  manutencao_maquina_produto.unitario_dolar) %>
               <% end %>

               <td width="100" align="right"><%= number_to_currency( manutencao_maquina_produto.unitario_dolar, :format =>' %n ', :separator => ",")   %></td>
               <td width="100" align="right"><%=h number_to_currency( manutencao_maquina_produto.quantidade * manutencao_maquina_produto.unitario_dolar, :format =>' %n ', :separator => ",") %></td>
               <td><%= link_to 'Editar', edit_manutencao_maquina_manutencao_maquina_produto_path(manutencao_maquina,manutencao_maquina_produto) %></td>
               <td><%= link_to 'Borrar',[manutencao_maquina,manutencao_maquina_produto] , :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>
            <% indice += 1 %>

         <% end %>
      </table>
   </div>
   <table>
      <tr>
         <td width="735"></td>
         <td width="80" align="right"><%= number_to_currency( saida, :format =>' %n ', :separator => ",") %></td>
         <td width="80" align="right"><%= number_to_currency( entrada, :format =>' %n ', :separator => ",") %></td>
         <td width="100" align="right"></td>
         <td width="100" align="right"><%= number_to_currency( @total, :format =>' %n ', :separator => ",")%></td>
      </tr>
   </table>

</div>
