  <%= form_for(sueldos_detalhe) do |f| %>
  <%= f.hidden_field :sueldo_id %>
  <%= f.hidden_field :persona_id, :value => @sueldo.persona_id %>
  <%= f.hidden_field :persona_nome, :value => @sueldo.persona_nome %>
  <%= f.hidden_field :data, :value => @sueldo.data_final %>
  <%= f.hidden_field :moeda, :value => @sueldo.moeda %>
  <%= f.hidden_field :vencimento %>
  <div class="group_cd">
    <table>
      <tr>
        <td align="right">Doc.:</td>
        <td><%= f.text_field :documento_numero_01, :size => 5 %>-<%= f.text_field :documento_numero_02, :size => 5 %>-<%= f.text_field :documento_numero, :size => 15 %></td>

        <td>Cuota.:</td>
        <td><%= f.text_field :cota, :size => 5 %></td>
          <% if @sueldo.moeda == 0 %>
            <%= field_us 'Valor Us.:',f,:debito_us %>
            <%= f.hidden_field :debito_gs %>
            <%= f.hidden_field :debito_rs %>
          <% elsif @sueldo.moeda == 1 %>
           <%= field_gs 'Valor G$:',f,:debito_gs %>
            <%= f.hidden_field :debito_us %>
            <%= f.hidden_field :debito_rs %>
          <% else %>
           <%= field_us 'Valor R$:',f,:debito_rs %>
            <%= f.hidden_field :debito_gs %>
            <%= f.hidden_field :debito_us %>
          <% end %>

      </tr>
      <tr>        
        <td align="right">Estado:</td>
        <td colspan="3">
          <fieldset>
            <legend>Liquidacion</legend>
            <%= f.radio_button :estado,0, :Checked => "True"%> Parte
            <%= f.radio_button :estado,1  %> Cancelacion
          </fieldset>
          </td>
          <td align="right">Tipo :</td>
                      <td><%= f.select :tipo,
                          ([["ADELANTO", "ADELANTO"],
                            ["PRESTAMO", "PRESTAMO"]

                            ]) %>
                      </td>        

      </tr>

      <tr>
        <td valign="top" align="right">Descripcion :</td>
        <td colspan="4"><%= f.text_area :descricao,:cols => 55, :rows => 2 %></td>
        <td><%= f.submit "   Grabar   ",:disable_with => "Aguarde...", :class => "button"  %></td>

      </tr>

    </table>
    </div>      
  <% end %>
</body>