<h1 align="right" id="header">Documentos</h1>
<%= link_to 'Nuevo', new_documento_path, :id => 'novo' %>
<div class="group">
  <table>
    <tr>
      <td width="30" align="center">Cod.</td>
      <td width="300" align="center">Documento</td>
      <td width="30" align="center">Sigla</td>
    </tr>
  </table>
  <div class="rolagem" dir="div">


    <table>
      <% for documento in @documentos %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="30" align="center">    <%= h documento.id %></td>
          <td width="300" align="left">    <%= h documento.nome %></td>
          <td width="30" align="center">    <%= h documento.sigla %></td>
          
          <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
          <td><%= link_to 'Borrar', documento, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

