<h1 align="right" id="header">Documento</h1>
<%= link_to 'Volver', documentos_path %>
<%= form_for(@documento) do |f| %>

  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this asset from being saved:</h2>
      <ul>
        <% @documento.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="group">
    <table>
      <tr>
        <td>Nome :</td>
        <td><%= f.text_field :nome %></td>

        <td>Sigla :</td>
        <td><%= f.text_field :sigla, :size => 5  %></td>

      </tr>
    </table>
  </div>
  <p>
<%= link_to 'Volver', documentos_path %>  |  <%= f.submit "Grabar" %>
  </p>
<% end %>


