<table class="head_grid">
          <tr>
            <td width="50" align="center">Fecha</td>
            <td width="350" align="center">Modelo</td>
            <td width="80" align="center">Hora/maq</td>
            <td width="80" align="center">Bico</td>
            <td width="80" align="center">Vazao</td>
            <td width="80" align="center">Autonomia</td>
            <td width="80" align="center">Velocidade</td>
          </tr>
</table>

<div class="rolagem" dir="div">

    <table>
<% controle_pulv_maqs.each do |controle_pulv_maq| %>
  <tr class = "<%= cycle("cor1", "cor2") %>">
    <td width="50" align="center"><%= controle_pulv_maq.data.strftime("%d/%m/%Y") %></td>
    <td width="350" align="left"><%= controle_pulv_maq.rodado_nome %></td>
    <td width="80" align="center"><%= controle_pulv_maq.hora_maq %></td>
    <td width="80" align="center"><%= controle_pulv_maq.bico_01_id %></td>
    <td width="80" align="center"><%= controle_pulv_maq.vazao_01 %></td>
    <td width="80" align="center"><%= controle_pulv_maq.autonomia_01 %></td>
    <td width="80" align="center"><%= controle_pulv_maq.velocidade_01 %></td>
   
    <td><%= link_to 'Edit', edit_controle_pulv_maq_path(controle_pulv_maq) %></td>
    <td><%= link_to 'Destroy', controle_pulv_maq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
        
    </table>
</div>

