<div class="group">
  <table class="head_grid">
    <tr>
      <td width="80" align="center">Fecha</td>      
      <td width="250" align="center">Documento</td>
      <td width="100" align="center">N. Doc.</td>
      <td width="80" align="center">Couta</td>
      <td width="80" align="center">Vencimento</td>
      <td width="100" align="center">Valor</td>      
      <td width="100" align="center">Int.</td>      
      <td width="100" align="center">Desc.</td>      
      <td width="100" align="center">Total</td>
    </tr>
  </table>
  <div class="rolagem_cobro" dir="div">

    <table>
      <% valor = 0 %>
      <% int   = 0 %>
      <% desc  = 0 %>
      <% saldo = 0 %>
      <% for cobros_detalhe in cobros_detalhes %>
        <tr class = "<%= cycle( "cor1", "cor2" )%>">              
          <td width="80"  align="center"><%= cobros_detalhe.data.strftime("%d/%m/%Y")%></td>          
          <td width="250" align="left"><%= cobros_detalhe.documento_nome%></td>
          <td width="100" align="center"><%= cobros_detalhe.documento_numero%></td>
          <td width="80"  align="center"><%= cobros_detalhe.cota%></td>
          <td width="80"  align="center"><%= cobros_detalhe.vencimento.strftime("%d/%m/%Y")%></td>
          <% if @cobro.moeda == 0 %>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.valor_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.interes_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.desconto_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.cobro_dolar, :format =>' %n ', :separator => "," ) %></td>
             <% valor += cobros_detalhe.valor_dolar %>
             <% int   += cobros_detalhe.interes_dolar %>
             <% desc  += cobros_detalhe.desconto_dolar %>
             <% saldo += cobros_detalhe.cobro_dolar %>
          <% elsif @cobro.moeda == 1 %>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.valor_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.interes_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.desconto_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.cobro_guarani, :format =>' %n ', :precision => 0 ) %></td>
             <% valor += cobros_detalhe.valor_guarani %>
             <% int   += cobros_detalhe.interes_guarani %>
             <% desc  += cobros_detalhe.desconto_guarani %>
             <% saldo += cobros_detalhe.cobro_guarani %>
          <% else %>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.valor_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.interes_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.desconto_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( cobros_detalhe.cobro_real, :format =>' %n ', :separator => "," ) %></td>
             <% valor += cobros_detalhe.valor_real %>
             <% int   += cobros_detalhe.interes_real %>
             <% desc  += cobros_detalhe.desconto_real %>
             <% saldo += cobros_detalhe.cobro_real %>             
          <% end %>
          <td><%= link_to 'Editar', edit_cobros_detalhe_path(cobros_detalhe) %></td>
          <td><%= link_to 'Borrar', cobros_detalhe, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <table class="head_grid">
      <tr>
        <td width="600"></td>
        <% if @cobro.moeda == 1 %>
             <td width="100" align="right"><%= number_to_currency( valor, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( int, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( desc, :format =>' %n ', :precision => 0  ) %></td>
             <td width="100" align="right"><%= number_to_currency( saldo, :format =>' %n ', :precision => 0 ) %></td>
        <% else %>
             <td width="100" align="right"><%= number_to_currency( valor, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( int, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( desc, :format =>' %n ', :separator => "," ) %></td>
             <td width="100" align="right"><%= number_to_currency( saldo, :format =>' %n ', :separator => "," ) %></td>
        <% end %>    
      </tr>
  </table>
  
</div>


