<div class="group">
   <table>
      <tr>
         <td width="50" align="center">Cod.</td>
         <td width="100" align="center">Fecha</td>
         <td width="200" align="center">Coenta</td>
         <td width="100" align="center">Valor Gs.</td>
         <td width="100" align="center">Valor U$.</td>
         <td width="100" align="center">Valor R$.</td>
         <td width="100" align="center">Rubro</td>
      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>
         <% @egressos.each do |egresso| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="50" align="center"><%=h egresso.id %></td>
               <td width="100" align="center"><%=h egresso.data.strftime("%d/%m/%Y") %></td>
               <td width="200" align="left"><%=h egresso.conta_nome %></td>
               <td width="100" align="right"><%=h number_to_currency(egresso.valor_guarani , :format=>' %n ', :precision => 0)%></td>
               <td width="100" align="right"><%=h number_to_currency(egresso.valor_dolar , :format=>' %n ', :separator => ",")%></td>
               <td width="100" align="right"><%=h number_to_currency(egresso.valor_real , :format=>' %n ', :separator => ",")%></td>
               <td width="100" align="left"><%=h egresso.rubro_nome %></td>
               <td><%= link_to 'Comprobante', egresso %></td>
               <td><%= link_to 'Editar', edit_egresso_path(egresso) %></td>
               <td><%= link_to 'Borrar', egresso, :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>
