<h1 align="right" id="header">Grupos</h1>

<%= link_to 'Nuevo', :action => 'new', :id => 'novo'%>
<div class="group">
  <h2>Grupos</h2>
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="200" align="center">Descripcion</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>
      <% for classe in @grupos %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50" align="center"><%=h classe.id %></td>
          
          <td width="500" align="left"><%=h classe.descricao %></td>
          <td><%= link_to 'Editar', edit_grupo_path(classe) %></td>
          <td><%= link_to 'Borrar', classe, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
