<div class="group">
  
  <table>
    <tr>
      <td width="50" align="center">Numero</td>
      <td width="50" align="center">Fecha</td>
      <td width="70" align="center">Cod. Proc.</td>
      <td width="550" align="center">Descripcion</td>
      <td width="180" align="center">Doc.</td>
      <td width="100" align="center">Debito</td>
      <td width="100" align="center">Credito</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>
      <% @diarios.each do |diario| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50" align="center"><%= diario.id %></td>
          <td width="50" align="center"><%= diario.data.strftime("%d/%m/%Y") %></td>
          <td width="70" align="center"><%= diario.tabela_id %></td>
          <td width="550" align="left"><%= truncate(diario.descricao, :leght => '155') %></td>          
          <td width="150" align="center"><%= diario.documento_numero_01 %>-<%= diario.documento_numero_02 %>-<%= diario.documento_numero %></td>          
          <td width="100" align="right"><%= number_to_currency( diario.deb_us, :format=>' %n ', :separeitor => ',')   %></td>
          <td width="100" align="right"><%= number_to_currency( diario.hab_us, :format=>' %n ', :separeitor => ',' )   %></td>
  		  <% if diario.deb_us.to_f !=  diario.hab_us.to_f %>
             <td><font color="red"><span class="delete"></span></font></td>
          <% else %>  
             <td><font color="green"><span class="save"></span></font></td>
          <% end %>  
          
          <td><%= link_to 'Editar', edit_diario_path(diario) %></td>
          <td><%= link_to 'Borrar', diario, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= will_paginate @diarios, :update => 'pagina', :options => {:prev_label => '<< Anterior',:next_label => 'Próximo >>'}%>
