<%= form_for(@equipo) do |f| %>
  <% if @equipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipo.errors.count, "error") %> prohibited this equipo from being saved:</h2>

      <ul>
      <% @equipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <ul class="tabs">
      <li><a href="#tab1">Equipos - [Edicion]</a></li>
   </ul>


    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Desc. :</td>
                    <td><%= f.text_field :descricao, :size => 60 %></td>                        
                  </tr>

                  <tr>
                    <td align="right">Sigla :</td>
                    <td><%= f.text_field :sigla, :size => 10 %></td>       
                  </tr>

                  <tr>
                    <td align="right">Fecha Ult. Calibr. :</td>
                    <td><%= f.date_select :data_calibracao %></td>       

                    <td align="right">Prox. Fecha Ult. Calibr. :</td>
                    <td><%= f.date_select :prox_data_calibracao %></td>       
                  </tr>                 

                  <tr>
                    <td align="right">Status :</td>
                    <td>
                      <%= f.radio_button :status, 0, :checked => true %>Activo
                      <%= f.radio_button :status, 1%>Desactivo
                    </td>       
                  </tr>

                </table>
                
              </fieldset>
            </td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Back', equipos_path, :class => "button back" %>
      </div>
    </div>
<% end %>
