<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @equipo.descricao %>
</p>

<p>
  <b>Sigla:</b>
  <%= @equipo.sigla %>
</p>


<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
