<table>
   <tr>
      <td width="50"align="center">Cod.</td>
      <td width="400"align="center">Persona</td>
      <td width="100"align="center">Ruc</td>
      <td width="100"align="center">Clasificacion</td>
   </tr>
</table>

<div class="rolagem" id="div">
   <table>
      <% for persona in @personas %>
         <%if $empresa == 'E01'%>
            <%cod = persona.cod_velho%>
         <% else %>
            <%cod = persona.id%>
         <% end %>
         <tr class       ="<%= cycle("cor1", "cor2")%>"
             onMouseOver ="javascript:this.style.backgroundColor='#949494'"
             onMouseOut  ="javascript:this.style.backgroundColor=''"
             onclick     ="Fecha( '<%= persona.id %>',
                                  '<%= cod %>',
                                  '<%= persona.nome %>',
                                  '<%=h persona.classificacao %>',
                                  '<%=h persona.ruc %>',
                                  '<%=h persona.cliente %>',
                                  '<%=h persona.direcao %>',
                                  '<%=h persona.cidade_id %>',
                                  '<%=h persona.cidade %>',
                                  '<%=h persona.bairro %>' )">


            <td width="50"align="center"> <%= cod %></td>
            <td width="400"align="left">  <%= persona.nome %></td>
            <td width="100"align="center"><%= persona.ruc %></td>
            <td width="100"align="center"><%= persona.classificacao %></td>
         </tr>
      <% end %>
   </table>

   <%= will_paginate @personas, :update => 'pagina',:prev_label => '<< Anterior',:next_label => 'Próximo >>'%>

</div>
