<%= form_for(@controle_pulv_maq) do |f| %>
  <% if @controle_pulv_maq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controle_pulv_maq.errors.count, "error") %> prohibited this controle_pulv_maq from being saved:</h2>

      <ul>
      <% @controle_pulv_maq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <ul class="tabs">
      <li><a href="#tab1">Controle de Maquina - [Edicion]</a></li>
   </ul>

    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
              <tr>
                <td width="1000">
                  <fieldset>
                    <legend>Cadastro Maquina :</legend>
                    <table>
                      <tr>
                        <td align="right">Fecha :</td>
                        <td><%= f.date_select :data %></td>                        
                      </tr>

                      <tr>
                        <td align="right">Modelo :</td>
                        <td colspan="3"><%= f.text_field :modelo, :size => 60 %></td>                        

                        <td align="right">Hora/maq :</td>
                        <td><%= f.text_field :hora_maq, :size => 10 %></td>                        
                      </tr>

                      <tr>
                        <td align="right">Bico 1 :</td>
                        <td><%= f.text_field :bico_01, :size => 10 %></td>                        

                        <td align="right">Vazao 1 :</td>
                        <td><%= f.number_field :vazao_01, :size => 10 %></td>                        

                        <td align="right">Autonomia 1 :</td>
                        <td><%= f.text_field :autonomia_01, :size => 10 %></td>                        

                        <td align="right">Velocidade 1 :</td>
                        <td><%= f.number_field :velocidade_01, :size => 10 %></td>                        
                      </tr>

                      <tr>
                        <td align="right">Bico 2 :</td>
                        <td><%= f.text_field :bico_02, :size => 10 %></td>                        

                        <td align="right">Vazao 2 :</td>
                        <td><%= f.number_field :vazao_02, :size => 10 %></td>                        

                        <td align="right">Autonomia 2 :</td>
                        <td><%= f.text_field :autonomia_02, :size => 10 %></td>                        

                        <td align="right">Velocidade 2 :</td>
                        <td><%= f.number_field :velocidade_02, :size => 10 %></td>                        
                      </tr>

                     <tr>
                        <td align="right">Estado Maquina :</td>
                        <td>
                          <select align="right">
                            <option>OTIMO</option>
                            <option>BOM</option>
                            <option>REGULAR</option>
                            <option>PESSIMO</option>
                          </select>
                        </td>

                        <td></td>
                       <td colspan="2">
                        <%= f.check_box :etiqueta %>ETIQUETAS 
                        <%= f.check_box :calibracao %>CALIBRACION
                        <%= f.check_box :regular %>REGULAGEM
                       </td>
                       <td></td>
                       <td></td>

                     </tr>
                    </table>

  <div class="actions">
    <%= f.submit :value => " Atualizar ", :class => "button" %>
  </div>
   </fieldset>
</div>
<% end %>
