

<% form_for(compras_gasto) do |f| %>
   <%= f.error_messages %>
   <%= f.hidden_field :compra_id%>


   <ul class="tabs">
      <li><a href="#tab1">Gastos</a></li>
   </ul>
   <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
            <tr>
               <td align="right">Rubro:</td>
               <td><%= f.collection_select :rubro_id, Rubro.all( :select => 'id,descricao',
                                                                 :order  => '1' ),:id,:descricao %></td>

            </tr>
            <% if @compra.moeda == 0 %>
                <tr>
                   <td colspan="4">
                         <fieldset>
                            <table>
                               <tr>
                                  <td align="right">Exentas U$ :</td>
                                  <td><%= f.text_field :exentas_dolar,
                                                       :size    => 10,
                                                       :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                       :dir     =>"rtl"%></td>

                                  <td align="right">Gravadas 5% U$ :</td>
                                  <td><%= f.text_field :gravadas_05_dolar,
                                                       :size    => 10,
                                                       :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                       :dir     =>"rtl",
                                                       :onblur  => "CompraGastoGravada05Dolar()" %></td>

                                 <td align="right">Gravadas 10% U$ :</td>
                                 <td><%= f.text_field :gravadas_10_dolar,
                                                      :size    => 10,
                                                      :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                      :dir     =>"rtl",
                                                      :onblur  => "CompraGastoGravada10Dolar()" %></td>
                              </tr>

                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td align="right">Impuestos 5% U$ :</td>
                                 <td><%= f.text_field :imposto_05_dolar,
                                                      :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                      :dir     =>"rtl",
                                                      :size    => 10%></td>

                                 <td align="right">Impuestos 10% U$ :</td>
                                 <td><%= f.text_field :imposto_10_dolar,
                                                      :size    => 10,
                                                      :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                      :dir     =>"rtl"%></td>
                              </tr>

                              <tr>

                                 <td align="right" colspan="5">Total U$ :</td>
                                 <td><%= f.text_field :total_dolar,
                                                      :size    => 10,
                                                      :onKeyUp =>"maskIt(this,event,'###.###.###,##',true)",
                                                      :dir     =>"rtl"%></td>

                              </tr>

                            </table>
                         </fieldset>
                   </td>
                </tr>
           <% else %>
                <tr>
                   <td colspan="4">
                         <fieldset>
                            <table>
                                 <tr>
                                    <td>
                                       <table>
                                          <tr>
                                             <td align="right">Exentas Gs.:</td>
                                             <td><%= f.text_field :exentas_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :dir     =>"rtl",
                                                                  :precision => 0,
                                                                  :size    => 10 %></td>

                                             <td align="right">Gravadas 5% Gs.:</td>
                                             <td><%= f.text_field :gravadas_05_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :dir     =>"rtl",
                                                                  :precision => 0,
                                                                  :size    => 10,
                                                                  :onblur  => "CompraGastoGravada05Gs()"%></td>

                                             <td align="right">Gravadas 10% Gs.:</td>
                                             <td><%= f.text_field :gravadas_10_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :dir     =>"rtl",
                                                                  :precision => 0,
                                                                  :size    => 10,
                                                                  :onblur  => "CompraGastoGravada10Gs()"%></td>
                                          </tr>

                                          <tr>
                                             <td></td>
                                             <td></td>
                                             <td align="right">Impuestos 5% Gs.:</td>
                                             <td><%= f.text_field :imposto_05_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :precision => 0,
                                                                  :dir     =>"rtl",
                                                                  :size    =>10 %></td>

                                             <td align="right">Impuestos 10% Gs.:</td>
                                             <td><%= f.text_field :imposto_10_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :precision => 0,
                                                                  :dir     =>"rtl",
                                                                  :size    => 10 %></td>
                                          </tr>

                                          <tr>

                                             <td align="right" colspan="5">Total Gs.:</td>
                                             <td><%= f.text_field :total_guarani,
                                                                  :onKeyUp =>"maskIt(this,event,'###.###.###',true)",
                                                                  :precision => 0,
                                                                  :dir     =>"rtl",
                                                                  :size    => 10 %></td>
                                          </tr>

                                      </table>
                                    </td>
                                 </tr>
                            </table>
                         </fieldset>
                   </td>
                </tr>
           <% end %>
        </table>
      </div>
   <div class="buttons">
      <a class="button back" href="/compras/compras_gasto/<%=@compra.id%>" >Volver</a>
      <%= f.submit "    Grabar    ",:disable_with => "Aguarde...", :class => "button"  %>
   </div>
   </div>


<% end %>
