<body onload="window.print()">


   <table align="left"  valign="top">

      <tr>
         <td>
            <table>
               <tr>
                  <td>
                     <FONT FACE="times new roman" size="4">
                        San Lorenzo S.A. Muebles y Eletrodomesticos
                     </FONT>
                  </td>

                  <td  align="right">
                     <FONT FACE="times new roman" size="5">
                        COMPROBANTE DE COMPRA   N. <%=@compra.id%>
                     </FONT>
                  </td>

            </table>
         </td>
      </tr>


   </tr>
   <tr>
      <td colspan="2">
         <FONT FACE="times new roman" size="3">
            --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
         </FONT>
      </td>
   </tr>



   <tr>
      <td>
         <table>
            <tr>
               <td align="right">
                  <FONT FACE="times new roman" size="3">
                     Fecha :
                  </FONT>
               </td>

               <td align="left">
                  <FONT FACE="times new roman" size="3">
                     <%= @compra.data.strftime("%d/%m/%Y") %>
                  </FONT>
               </td>

            </tr>

            <tr>
               <td align="right">
                  <FONT FACE="times new roman" size="3">
                     Proveedor :
                  </FONT>
               </td>

               <td align="left">
                  <FONT FACE="times new roman" size="3">
                     <%= @compra.persona_nome %>
                  </FONT>
               </td>

            </tr>

            <tr>
               <td align="right">
                  <FONT FACE="times new roman" size="3">
                     N. Factura :
                  </FONT>
               </td>

               <td align="left">
                  <FONT FACE="times new roman" size="3">
                     <%= @compra.documento_numero_01 %> - <%= @compra.documento_numero_02 %> - <%= @compra.documento_numero %>
                  </FONT>
               </td>
            </tr>

            <%if @compra.moeda == 0
               moeda   = "DOLAR"
               importe = @total_dolar
            else
               moeda = "GUARANI"
               importe = @total_guarani
            end%>

            <%if @compra.tipo == 0
               tipo = 'CONTADO'
            else
               tipo = 'CREDITO'
            end%>


            <tr>
               <td align="right">
                  <FONT FACE="times new roman" size="3">
                     Compra :
                  </FONT>
               </td>
               <td>
                  <FONT FACE="times new roman" size="3">
                     <%= tipo %>
                  </FONT>
               </td>

            </tr>


            <tr>
               <td align="right">
                  <FONT FACE="times new roman" size="3">
                     Moneda:
                  </FONT>
               </td>
               <td>
                  <FONT FACE="times new roman" size="3">
                     <%=moeda%>
                  </FONT>
               </td>

            </tr>

         </table>
      </td>
   </tr>

   <tr>
      <td colspan="4">
         <FONT FACE="times new roman" size="3">
            --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
         </FONT>
      </td>
   </tr>
   <tr>
      <td colspan="4" align="center">
         <FONT FACE="times new roman">
            ITENS DEL COMPROBANTE
         </FONT>
      </td>
   </tr>

   <tr>
      <td colspan="4">
         <FONT FACE="times new roman" size="3">
            --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
         </FONT>
      </td>
   </tr>

   <tr>
      <td>
         <table>
            <tr>
               <td width="50">Cod</td>
               <td width="350">Producto</td>
               <td width="100">Cantidade</td>
               <td width="100">Unit.</td>
               <td width="100">Total</td>
               <td width="80">Iva</td>
            </tr>
            <% qtd  = 0 %>
            <% unit = 0 %>
            <% tot  = 0 %>
            <% iva  = 0 %>

            <% @produtos.each do |prod| %>
               <% cod = Produto.find_by_id(prod.produto_id) %>
               <tr>
                  <td width="50"><%= cod.cod_velho %></td>
                  <td width="350"><%= prod.produto_nome %></td>
                  <td width="100" align="center"><%= prod.quantidade.to_i %></td>
                  <% if prod.moeda == 0  %>
                     <td width="100" align="right"><%= number_to_currency( prod.unitario_dolar, :format=>' %n ', :separator => ",") %></td>
                     <td width="100" align="right"><%= number_to_currency( prod.total_dolar, :format=>' %n ', :separator => ",") %></td>
                     <td width="100"align="right"><%= number_to_currency( prod.iva_dolar, :format=>' %n ', :separator => ",") %></td>
                     <% qtd  = qtd  +  prod.quantidade%>
                     <% unit = unit + prod.unitario_dolar%>
                     <% tot  = tot  + prod.total_dolar%>
                     <% iva  = iva  + prod.iva_dolar%>

                  <% else %>
                     <td width="100" align="right"><%= number_to_currency( prod.unitario_guarani, :format=>' %n ', :precision => 0) %></td>
                     <td width="100" align="right"><%= number_to_currency( prod.total_guarani, :format=>' %n ', :precision => 0) %></td>
                     <td width="100"align="right"><%= number_to_currency( prod.iva_guarani, :format=>' %n ', :precision => 0) %></td>
                     <% qtd  = qtd  +  prod.quantidade%>
                     <% unit = unit + prod.unitario_guarani%>
                     <% tot  = tot  + prod.total_guarani%>
                     <% iva  = iva  + prod.iva_guarani%>
                  <% end %>
               </tr>
            <% end %>
               
            <tr>
               <td colspan="2" ></td>
               <% if @compra.moeda == 0  %>
                  <td width="100" align="center"><%= number_to_currency( qtd, :format=>' %n ', :separator => ",") %></td>
                  <td width="100" align="right"><%= number_to_currency( unit, :format=>' %n ', :separator => ",") %></td>
                  <td width="100" align="right"><%= number_to_currency( tot, :format=>' %n ', :separator => ",") %></td>
                  <td width="100" align="right"><%= number_to_currency( iva, :format=>' %n ', :separator => ",") %></td>
               <% else %>
                  <td width="100" align="center"><%= number_to_currency( qtd, :format=>' %n ', :precision => 0) %></td>
                  <td width="100" align="right"><%= number_to_currency( unit, :format=>' %n ', :precision => 0) %></td>
                  <td width="100" align="right"><%= number_to_currency( tot, :format=>' %n ', :precision => 0) %></td>
                  <td width="100" align="right"><%= number_to_currency( iva, :format=>' %n ', :precision => 0) %></td>

               <% end %>
            </tr>
         </table>
      </td>
   </tr>
</table>
</body>





