<h1 align="right" id="header">Prorateo</h1>
<ul class="tabs">
   <li><a href="#tab1">Prorateo </a></li>
</ul>
<div class="tab_container">
   <br/>
   <table class="head_grid">
      <tr>
         <% if @compra.tipo_compra == 2 %>
            <td width="30"></td>
            <td width="50" align="center">Cod.</td>
            <td width="450" align="center">Producto</td>
            <td width="50" align="center">Cantidad</td>
            <td width="80" align="center">Unid. </td>
            <td width="80" align="center">Costo Tot.</td>
            <td width="80" align="center"> Costo Unit. </td>
            <td width="80" align="center"> % </td>
            <td width="80" align="center">Iva</td>
            <td width="80" align="center">Desc.</td>
            <td width="80" align="center">Flete</td>
            <td width="80" align="center">Despacho</td>
            <td width="80" align="center">Outros</td>
         <% else %>
            <td width="30"></td>
            <td width="50" align="center">Cod.</td>
            <td width="450" align="center">Producto</td>
            <td width="50" align="center">Cantidad</td>
            <td width="80" align="center">Costo Comerc. </td>
            <td width="80" align="center">Costo Tot.</td>
            <td width="80" align="center"> Costo Fisc.</td>
            <td width="80" align="center">Iva</td>
            <td width="80" align="center">Desc. Unit. </td>
            <td width="80" align="center">Flete Uni.</td>
            <td width="80" align="center">Outros Unit.</td>
            <td width="80" align="center"> % </td>
         <% end %>
      </tr>
   </table>

   <div class="rolagem" dir="div">

      <table>
         <% indice         = 1  %>
         <% quant          = 0  %>
         <% custous        = 0  %>
         <% totivad        = 0  %>
         <% totprodus      = 0  %>
         <% totdescontodus = 0  %>
         <% totfretedus    = 0  %>
         <% totdespachodus = 0  %>
         <% totivaus       = 0  %>
         <% totoutrosdus   = 0  %>
         <% totprodgs      = 0  %>
         <% totivags       = 0  %>
         <% totdescontodgs = 0  %>
         <% totfretedgs    = 0  %>
         <% totdespachodgs = 0  %>
         <% totoutrosdgs   = 0  %>


         <% @compras_produto.each do |compras_produto| %>

            <%
            sum            = ComprasProduto.sum(:total_dolar, :conditions => ['compra_id = ?',compras_produto.compra_id])
            porcentagem    = ( ( compras_produto.total_dolar.to_f * 100 ) / sum )
            compras_produto.update_attribute :porcentagem_produto, porcentagem.to_f

            desconto_dolar    = ( ( ( @compra.desconto_dolar * porcentagem ) / 100 )/ compras_produto.quantidade )
            compras_produto.update_attribute :desconto_dolar, desconto_dolar.to_f
            frete_dolar       = ( ( ( @compra.frete_dolar * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :frete_dolar, frete_dolar.to_f
            outros_dolar      = ( ( ( @compra.outros_dolar * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :outros_dolar, outros_dolar.to_f
            seguro_dolar      = ( ( ( @compra.outros_dolar * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :seguro_dolar, seguro_dolar.to_f

            if @compra.tipo_compra == 2
               despacho_dolar    = ( ( ( @compra.despacho_dolar  * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :despacho_dolar, despacho_dolar.to_f

               iva_despacho_dolar = ( ( ( @compra.iva_despacho_dolar.to_f * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :iva_despacho_dolar, iva_despacho_dolar.to_f

               iva_dolar         = ( ( ( @compra.iva_total_dolar * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :iva_dolar, ( iva_dolar + iva_despacho_dolar )

               custo_contabil_dolar = ( ( compras_produto.custo_dolar + ( frete_dolar + despacho_dolar.to_f + outros_dolar.to_f + seguro_dolar.to_f ) ) - ( iva_dolar.to_f + desconto_dolar.to_f ) )
               compras_produto.update_attribute :custo_contabil_dolar, custo_contabil_dolar.to_f

               unit_dolar = ( ( compras_produto.custo_dolar + ( frete_dolar + despacho_dolar.to_f + outros_dolar.to_f + seguro_dolar.to_f ) ) - ( desconto_dolar.to_f ) )
               compras_produto.update_attribute :unitario_dolar, unit_dolar.to_f

            else
               custo_contabil_dolar = ( ( compras_produto.custo_dolar.to_f + ( frete_dolar.to_f + despacho_dolar.to_f + outros_dolar.to_f + seguro_dolar.to_f ) )- ( desconto_dolar.to_f ) )
               compras_produto.update_attribute :custo_contabil_dolar, (custo_contabil_dolar.to_f - iva_dolar.to_f)

               unit_dolar = ( ( compras_produto.custo_dolar.to_f + ( frete_dolar.to_f + despacho_dolar.to_f + outros_dolar.to_f + seguro_dolar.to_f ) )- ( desconto_dolar.to_f ) )
               compras_produto.update_attribute :unitario_dolar, unit_dolar.to_f

               compras_produto.update_attribute :total_dolar, unit_dolar.to_f * compras_produto.quantidade
               taxa = ( ( ( compras_produto.iva_taxa.to_f / 100 ) + 1.00 ) * 10 )
               iva_dolar = ( unit_dolar / taxa )
               compras_produto.update_attribute :iva_dolar, ( iva_dolar )

            end


            #GUARANI------------------------------------------------------------------------------------------------

            desconto_guarani    = ( ( ( @compra.desconto_guarani * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :desconto_guarani, desconto_guarani.to_f
            frete_guarani       = ( ( ( @compra.frete_guarani * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :frete_guarani, frete_guarani.to_f
            outros_guarani      = ( ( ( @compra.outros_guarani * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :outros_guarani, outros_guarani.to_f
            seguro_guarani      = ( ( ( @compra.seguro_guarani * porcentagem ) / 100 ) / compras_produto.quantidade )
            compras_produto.update_attribute :seguro_guarani, seguro_guarani.to_f

            if @compra.tipo_compra == 2
               despacho_guarani    = ( ( ( @compra.despacho_guarani * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :despacho_guarani, despacho_guarani.to_f

               iva_despacho_guarani = ( ( ( @compra.iva_despacho_guarani.to_f * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :iva_despacho_guarani, iva_despacho_guarani.to_f

               iva_guarani         = ( ( ( ( @compra.iva_total_guarani ) * porcentagem ) / 100 ) / compras_produto.quantidade )
               compras_produto.update_attribute :iva_guarani, ( iva_guarani + iva_despacho_guarani )
               
               custo_contabil_guarani = ( ( compras_produto.custo_guarani + ( frete_guarani + despacho_guarani.to_f + outros_guarani.to_f + seguro_guarani.to_f ) ) - ( iva_guarani.to_f + desconto_guarani.to_f ) )
               compras_produto.update_attribute :custo_contabil_guarani, custo_contabil_guarani.to_f

               unit_guarani = ( ( compras_produto.custo_guarani + ( frete_guarani + despacho_guarani.to_f + outros_guarani.to_f + seguro_guarani.to_f ) ) - ( desconto_guarani.to_f ) )
               compras_produto.update_attribute :unitario_guarani, unit_guarani.to_f

            else

               unit_guarani = ( ( compras_produto.custo_guarani.to_f + ( frete_guarani.to_f + despacho_guarani.to_f + outros_guarani.to_f + seguro_guarani.to_f ) )- ( desconto_guarani.to_f ) )
               compras_produto.update_attribute :unitario_guarani, unit_guarani.to_f

               compras_produto.update_attribute :total_guarani, unit_guarani.to_f * compras_produto.quantidade

               taxa = ( ( ( compras_produto.iva_taxa.to_f / 100 ) + 1.00 ) * 10 )

               iva_guarani = ( unit_guarani.to_f / taxa )
               compras_produto.update_attribute :iva_guarani, ( iva_guarani )

               custo_contabil_guarani = ( ( compras_produto.custo_guarani.to_f + ( frete_guarani.to_f + despacho_guarani.to_f + outros_guarani.to_f + seguro_guarani.to_f ) )- ( desconto_guarani.to_f ) )
               compras_produto.update_attribute :custo_contabil_guarani, (custo_contabil_guarani.to_f - iva_guarani.to_f)

            end

         %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <% pd = Produto.find_by_id( compras_produto.produto_id )%>
               <% if   @compra.tipo_compra == 2%>
                  <% pd = Produto.find_by_id( compras_produto.produto_id  )%>
                  <td width="30" align="center">    <%=  indice %></td>
                  <td width="50" align="center">    <%=  pd.id %></td>
                  <td width="450" align="left">   <a href="#" onclick="CustoProdutoCompra('/compras_custos/relatorio_custo_produto?inicio=<%= compras_produto.data.strftime("%d/%m/%Y") %>&final=<%= compras_produto.data.strftime("%d/%m/%Y") %>&campo_produto=&busca[produto]=<%= compras_produto.produto_id %>&commit=Buscar')" ><%=h compras_produto.produto_nome%></a></td>
                  <td width="50" align="center">  <%=h compras_produto.quantidade%></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.unitario_dolar,       :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.total_dolar,          :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.custo_contabil_dolar, :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h format( "%.6f",porcentagem.to_f )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.iva_dolar,                     :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.desconto_dolar,       :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.frete_dolar,          :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.despacho_dolar,       :format =>' %n ', :separator => "," )  %></td>
                  <td width="80" align="right">   <%=h number_to_currency( compras_produto.outros_dolar,         :format =>' %n ', :separator => "," )  %></td>
               <% else %>
                  <% if @compra.moeda == 0%>
                     <td width="30" align="center">    <%=  indice %></td>
                     <td width="50" align="center">    <%=  pd.id %></td>
                     <td width="450" align="left">   <a href="#" onclick="CustoProdutoCompra('/compras_custos/relatorio_custo_produto?inicio=<%= compras_produto.data.strftime("%d/%m/%Y") %>&final=<%= compras_produto.data.strftime("%d/%m/%Y") %>&campo_produto=&busca[produto]=<%= compras_produto.produto_id %>&commit=Buscar')" ><%=h compras_produto.produto_nome%></a></td>
                     <td width="50" align="center">  <%=h compras_produto.quantidade%></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.unitario_dolar,       :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.total_dolar,          :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.custo_contabil_dolar, :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.iva_dolar,            :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.desconto_dolar,       :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.frete_dolar,          :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.outros_dolar,          :format =>' %n ', :separator => "," )  %></td>
                     <td width="80" align="right">   <%=h format( "%.6f",porcentagem.to_f )  %></td>

                  <% else %>
                     <td width="30" align="center">    <%=  indice %></td>
                     <td width="50" align="center">    <%=  pd.id %></td>
                     <td width="450" align="left">   <a href="#" onclick="CustoProdutoCompra('/compras_custos/relatorio_custo_produto?inicio=<%= compras_produto.data.strftime("%d/%m/%Y") %>&final=<%= compras_produto.data.strftime("%d/%m/%Y") %>&campo_produto=&busca[produto]=<%= compras_produto.produto_id %>&commit=Buscar')" ><%=h compras_produto.produto_nome%></a></td>
                     <td width="50" align="center">  <%=h compras_produto.quantidade%></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.unitario_guarani,       :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.unitario_guarani * compras_produto.quantidade,          :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.custo_contabil_guarani, :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.iva_guarani  * compras_produto.quantidade,                       :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.desconto_guarani,       :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.frete_guarani,          :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h number_to_currency( compras_produto.outros_guarani,          :format =>' %n ',:precision => 0 )  %></td>
                     <td width="80" align="right">   <%=h format( "%.6f",porcentagem.to_f )  %></td>

                  <% end %>
               <% end %>
            </tr>

            <% indice       = indice + 1 %>
            <% quant          += compras_produto.quantidade.to_f %>
            <% custous        += compras_produto.quantidade.to_f * compras_produto.custo_contabil_dolar.to_f %>
            <% totprodus      += compras_produto.total_dolar.to_f %>
            <% totdescontodus += compras_produto.desconto_dolar.to_f %>
            <% totfretedus    += compras_produto.quantidade.to_f * compras_produto.frete_dolar.to_f %>
            <% totdespachodus += compras_produto.quantidade.to_f * compras_produto.despacho_dolar.to_f %>
            <% totoutrosdus   += compras_produto.quantidade.to_f * compras_produto.outros_dolar.to_f %>
            <% totivaus       += compras_produto.quantidade.to_f * ( compras_produto.iva_dolar.to_f) %>

            <% totprodgs      += compras_produto.unitario_guarani.to_f * compras_produto.quantidade.to_f %>
            <% totdescontodgs += compras_produto.desconto_guarani.to_f * compras_produto.quantidade.to_f %>
            <% totfretedgs    += compras_produto.frete_guarani.to_f * compras_produto.quantidade.to_f%>
            <% totdespachodgs += compras_produto.despacho_guarani.to_f * compras_produto.quantidade.to_f %>
            <% totoutrosdgs   += compras_produto.outros_guarani.to_f * compras_produto.quantidade.to_f %>
            <% totivags       += compras_produto.iva_guarani.to_f * compras_produto.quantidade.to_f %>

            <% if @compra.tipo_compra == 2 %>
               <% iva_custo_dolar = compras_produto.iva_despacho_dolar %>
               <% iva_custo_guarani = compras_produto.iva_despacho_guarani %>
               <% documento = 'COMPRAS IMPORTACION' %>
            <% else %>
               <% iva_custo_dolar = ( compras_produto.iva_dolar.to_f / compras_produto.quantidade.to_f ) %>
               <% iva_custo_guarani = ( compras_produto.iva_guarani.to_f / compras_produto.quantidade.to_f ) %>
               <% documento = 'COMPRAS' %>
            <% end %>
         <% end %>
      </table>


   </div>




   <table>
      <% if   @compra.tipo_compra == 2 %>
         <tr>
            <td width="580" align="right"> <%=h number_to_currency( quant,           :format =>' %n ', :precision => 0 )  %></td>
            <td width="175" align="right"> <%=h number_to_currency( totprodus,       :format =>' %n ', :separator => "," )  %></td>
            <td width="70" align="right"> <%=h number_to_currency( custous,   :format =>' %n ', :separator => "," )  %></td>
            <td width="165" align="right"> <%=h number_to_currency( totivaus,          :format =>' %n ', :separator => "," )  %></td>
            <td width="80" align="right">  <%=h number_to_currency( totdescontodus,  :format =>' %n ', :separator => "," )  %></td>
            <td width="80" align="right">  <%=h number_to_currency( totfretedus,     :format =>' %n ', :separator => "," )  %></td>
            <td width="80" align="right">  <%=h number_to_currency( totdespachodus,  :format =>' %n ', :separator => "," )  %></td>
            <td width="80" align="right">  <%=h number_to_currency( totoutrosdus,    :format =>' %n ', :separator => "," )  %></td>
         </tr>
      <% else %>
         <% if @compra.moeda == 0 %>
            <tr>
               <td width="740" align="right"> <%=h number_to_currency( totprodus,       :format =>' %n ', :separator => "," )  %></td>
               <td width="80" align="right"></td>
               <td width="80" align="right"> <%=h number_to_currency( totivaus,        :format =>' %n ', :separator => "," )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totdescontodus,  :format =>' %n ', :separator => "," )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totfretedus,     :format =>' %n ', :separator => "," )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totoutrosdus,    :format =>' %n ', :separator => "," )  %></td>
            </tr>
         <% else %>
            <tr>
               <td width="740" align="right"> <%=h number_to_currency( totprodgs,       :format =>' %n ', :precision => 0 )  %></td>
               <td width="80" align="right"></td>
               <td width="80" align="right"> <%=h number_to_currency( totivags,        :format =>' %n ', :precision => 0 )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totdescontodgs,  :format =>' %n ', :precision => 0 )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totfretedgs,     :format =>' %n ', :precision => 0 )  %></td>
               <td width="80" align="right">  <%=h number_to_currency( totoutrosdgs,    :format =>' %n ', :precision => 0 )  %></td>
            </tr>
         <% end %>

       <% end %>
       </table>

     <div class="buttons">
        <a href="/compras/<%=params[:id]%>/total_documento" class="button back">Volver</a> 
        <a href="/compras/<%=params[:id]%>/compras_financa" class="button next">Serguir</a> 
        <a href="/compras/<%=params[:id]%>/prorateo.xls" class="button"> Gerar(Excel)</a>
    </div>
  </div>





<style type="text/css">
   table { font-size: 10px}

</style>
