<table>
  <tr>
    <td width="150" align="center">Cod.</td>

    <td width="150" align="center">Cod. Fabri.</td>
    <td width="700" align="center">Producto</td>

  </tr>
</table>

<div class="rolagem" id="div">
    <table>
      <% for produto in @produtos %>
        <tr class = "<%= cycle("cor1", "cor2")%>">
          <td width="150" align="center" ><%= produto.clase_id.to_s.rjust(2, '0')<< '.' << produto.grupo_id.to_s.rjust(4, '0') << '.' <<  produto.id.to_s.rjust(8, '0' )%> 
          <td width="150" align="center"> <%=h produto.fabricante_cod %> </td>
          <td width="700" align="left">   <%=h produto.nome %> </td>
          <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
          <td><%= link_to 'Borrar', produto, :confirm => 'Tiene Certeza?', :method => :delete %></td>
          <td><a href="/produtos/relatorio_detalhes_produto/<%= produto.id.to_i %>">DP</a></td>
        </tr>
      <% end %>
    </table>
</div>

<%= will_paginate @produtos, :update => 'pagina', :options => {:prev_label => '<< Anterior',:next_label => 'Próximo >>'}%>
