<h1>Listing empresas</h1>

<table>
  <tr>
    <th>Base calc preco venda</th>
  </tr>

<% @empresas.each do |empresa| %>
  <tr>
    <td><%=h empresa.base_calc_preco_venda %></td>
    <td><%= link_to 'Show', empresa %></td>
    <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
    <td><%= link_to 'Destroy', empresa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New empresa', new_empresa_path %>