<<<<<<< HEAD
<h1 align="right" id="header">Pagos Financas</h1>


<% form_for(@pagos_financa) do |f| %>
=======
<%= form_for(@pagos_financa) do |f| %>
>>>>>>> 91ec53da52d59a21ba519661cbc43de549c343e7
  <td><%= f.hidden_field :pago_id,:value      => @pagos_financa.pago.id%></td>
  <td><%= f.hidden_field :data,:value         => @pagos_financa.pago.data%></td>
  <td><%= f.hidden_field :moeda,:value        => @pagos_financa.pago.moeda%></td>
  <td><%= f.hidden_field :persona_id,:value   => @pagos_financa.pago.persona_id%></td>
  <td><%= f.hidden_field :persona_nome,:value => @pagos_financa.pago.persona_nome%></td>
<<<<<<< HEAD
  <td><%= f.hidden_field :cotacao, :value     => @pagos_financa.pago.cotacao.to_i%></td>
  <br/>
  <div class="group_cd">
    <table>
      <tr>
         <td align="right">Conta :</td>
        <td><%= f.collection_select :conta_id, Conta.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>

         <td align="right">Cheque:</td>
        <td><%= f.text_field :cheque, :size => 15%></td>
        <td align="right">Diferido:</td>
        <td><%= f.date_select :diferido  %></td>
      </tr>

      <tr>      
          <%= field_us 'Valor U$ :',f,:valor_dolar,:onblur => "UsToGs('pagos_financa_cotacao','pagos_financa_valor_dolar','pagos_financa_valor_guarani')" %>
         
          <%= field_gs 'Valor Gs.:',f,:valor_guarani,:onblur => "GsToUs('pagos_financa_cotacao','pagos_financa_valor_guarani','pagos_financa_valor_dolar')"%>
        <td>Documento:</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                  :order  => '1' ),:id,
                                                                                   :nome %></td>

      </tr>
        <td align="right">Nr. Recibo:</td>
        <td><%= f.text_field :numero_recibo, :size => 15%></td>

        <td valign="top">Descripcion :</td>
        <td colspan="3"><%= f.text_area :descricao,
                             :cols => 55, :rows => 5,
                             :value => 'PAGO ' + @pagos_financa.pago.persona_nome%></td>

    </table>
  </div>


  <%= f.submit "  Grabar  " %> | <a href="/pagos/pago_final/<%=@pagos_financa.pago.id%>" > << Volver</a>  | <a href="/pagos" > Fin</a>
=======
  <div class="group_cd">
    <table>

        <tr>
          <td></td>
          <td>
              <table>
                <tr>
                  <td>
                    <fieldset>
                      <legend>Moneda</legend>
                      <% if @pagos_financa.pago.moeda == 0 %>
                        <%= f.radio_button :moeda, 1 %> Gs.
                        <%= f.radio_button :moeda, 0,  :Checked => "True" %> Dolar
                        <%= f.radio_button :moeda, 2 %> Real
                      <% elsif @pagos_financa.pago.moeda == 1 %>
                        <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                        <%= f.radio_button :moeda, 0 %> Dolar
                        <%= f.radio_button :moeda, 2 %> Real
                      <% else %>
                        <%= f.radio_button :moeda, 1 %> Gs.
                        <%= f.radio_button :moeda, 0 %> Dolar
                        <%= f.radio_button :moeda, 2,  :Checked => "True" %> Real
                      <% end %>

                    </fieldset>
                  </td>
                </tr>
              </table>
          </td>
        </tr>

      <tr>
         <td class="label">Conta :</td>
        <td><%= f.collection_select :conta_id, Conta.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>

        <td class="label">Cheque:</td>
        <td><%= f.text_field :cheque, :size => 15%></td>
        <td class="label">Diferido:</td>
        <td><%= f.date_select :diferido  %></td>
      </tr>
          
      <tr>
          <%= field_us 'Valor U$ :',f,:valor_dolar  %>

          <%= field_gs 'Gs.:',f,:valor_guarani %>

          <%= field_us 'R$ :',f,:valor_real %>

      </tr>
      <tr>
        <td class="label">Documento:</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                  :order  => '1' ),:id,
                                                                                   :nome %></td>
        <td class="label" valign="top" rowspan="4">Descripcion :</td>
        <td colspan="3" rowspan="4"><%= f.text_area :descricao,
                             :cols => 55, :rows => 5 %></td>
        
      </tr>

        <td class="label">Nr. Recibo:</td>
        <td><%= f.text_field :numero_recibo, :size => 15%></td>


    </table>
  </div>
<div class="buttons">
  <%= f.submit "  Grabar  ", :class => "button" %> 
  <a href="/pagos/<%= @pagos_financa.pago.id%>/pago_final" class="button back">Volver</a> 
</div>
>>>>>>> 91ec53da52d59a21ba519661cbc43de549c343e7
<% end %>
