<body onload="IngressoFocoData()">
  <h1 align="right" id="header">Ingresos</h1>
  Ingressos - Edicion

  <% form_for(@ingresso) do |f| %>
    <%= f.error_messages %>
  <div class="group_cd">
    <table>
      <tr>

        <td align="right">Fecha :</td>
        <td><%= f.date_select :data ,{},{:onblur => "IngressoDataCotacao()"}%></td>
        <%= hidden_field_tag( 'key' ) %>
      </tr>

      <tr>
        <td align="right">Cotización :</td>
        <td>             <%= text_field :ingresso,
                                        :cotacao ,
                                        { :size    => 15,
                                          :value   => @ingresso.cotacao.to_i,
                                          :onfocus => remote_function(:update => "key",
                                                                      :url    => { :action => :get_moeda},
                                                                                   :with   => "'key='+ key.value ") } %>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <fieldset>
            <legend>Moneda</legend>
            <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
            <%= f.radio_button :moeda, 0 %> Dolar

          </fieldset>
        </td>
      </tr>

      <tr>
        <td align="right">Documento :</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => ' id,
                                                                               nome',
                                                                  :order  => '2' ), :id,
                                                                                    :nome %></td>
      </tr>


      <tr>
        <td align="right">Cuenta :</td>
        <td><%= f.collection_select :conta_id, Conta.all( :select => ' id,
                                                                       nome',
                                                          :order  => '2' ), :id,
                                                                            :nome %></td>
        <td align="right">Diferido :</td>
        <td><%= f.date_select :diferido%></td>

      </tr>

      <tr>
         <td align="right"></td>
         <td><%= f.check_box :cheque_status %> Cheque?</td>
      </tr>

      <tr>
        <td align="right">Cheque :</td>
        <td><%= f.text_field  :cheque,
                              :size     => 15 %></td>


      </tr>
      <tr>
        <td align="right">Titular :</td>
        <td><%= f.text_field  :titular,
                              :size     => 15 %></td>

        <td align="right">Banco :</td>
        <td><%= f.text_field  :banco,
                              :size     => 15 %></td>


      </tr>


      <tr>
         <%= field_gs 'Valor Gs.:',f,:valor_guarani,:onchange => "GsToUs('ingresso_cotacao','ingresso_valor_guarani','ingresso_valor_dolar')" %>

         <%= field_us 'Valor U$:',f,:valor_dolar,:onchange => "UsToGs('ingresso_cotacao','ingresso_valor_dolar','ingresso_valor_guarani')" %>
      </tr>

      <tr>
        <td align="right">Rubros :</td>
        <td><%= f.collection_select :rubro_id, Rubro.all( :select => ' id,
                                                                       descricao',
                                                          :order  => '2' ), :id,
                                                                            :descricao %></td>
      </tr>

      <tr>
        <td align="right" valign="top">Concepto :</td>
        <td colspan="3"><%= f.text_area :concepto,
                              :size      => '48x4',
                              :value     => 'INGRESOS',
                              :onkeydown => "f(this)",
                              :onkeyup   => "f(this)"%></td>
      </tr>


    </table>
  </div>
  <div class="buttons">
  <%= f.submit "   Grabar  ",:disable_with => "Aguarde..." , :class => "button" %>

  <%= link_to 'Volver', ingressos_path, :class => "button back" %>
      
  </div>
  <% end %>

</body>
