<h1 align="right" id="header">Cidades</h1>
<%= link_to 'Nuevo', new_cidade_path %>
<div class="group">
  <h2>Cidades</h2>
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="200" align="center">Cidade</td>
      <td width="200" align="center">Estado</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <% for cidade in @cidades %>
      <table>
        <tr class = "<%= cycle("cor1", "cor2")%>"  onMouseOver="javascript:this.style.backgroundColor='#949494'" onMouseOut="javascript:this.style.backgroundColor=''"onclick="cidades(<%=h cidade.id %>)">

          <td width="50" align="center" ><%=h cidade.id %></td>
          <td width="200" align="left"><%=h cidade.nome %></td>
          <td width="200" align="left"><%=h cidade.estado %></td>
        </tr>
      </table>

    <% end %>

  </div>
</div>


