
<h1 align="right" id="header">Plan de Cuenta</h1>
<br/>
<%= form_for(@plano_de_conta) do |f| %>

   <% if @plano_de_conta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plano_de_conta.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @plano_de_conta.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="group">
      <table>
        <tr height="40">
            <td  align="right">Codigo : </td>
            <td><%= f.text_field :codigo,
                                 :size => 15%></td>

            </tr>

            <tr height="40">
            <td  align="right">Descripcion : </td>
            <td><%= f.text_field :descricao,
                                 :size      => 50,
                                 :onkeydown => "f(this)",
                                 :onkeyup   => "f(this)"%></td>
            </tr>

            <tr height="40">
            <td  align="right">Activo en Rubos : </td>
            <td><%= f.check_box :rubro %></td>
            </tr>

      </table>
   </div>

   <%= f.submit "Grabar" %> |
   <%= link_to 'Volver', plano_de_contas_path %>
<% end %>
