<h1 align="right" id="header">Presupuestos</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_presupuesto_path ,:class => 'button add'%>    
</div>
<div class="group">
   <table>
      <tr>
         <td width="80" align="center">Cod.</td>
         <td width="80" align="center">Fecha</td>
         <td width="450" align="center">Cliente</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">
      <table>
         <tr>
         </tr>


         <% @presupuestos.each do |presupuesto| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <td width="80" align="center"><%= presupuesto.id %></td>
               <td width="80" align="center"><%= presupuesto.data.strftime("%d/%m/%y") %></td>
               <td width="450" align="left"><%= presupuesto.persona_nome %></td>
               <td><%= link_to 'Editar', edit_presupuesto_path(presupuesto) %></td>
               <td><%= link_to 'Borrar', presupuesto, :confirm => 'TIene Certeza ?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>

