
<% form_for(compras_produto) do |f| %>
  <%= f.hidden_field :compra_id %>
  <%= f.hidden_field :cotacao,   :value => @compra.cotacao%>
  <%= f.hidden_field :moeda,     :value => @compra.moeda%>
  <%= f.hidden_field :data,      :value => @compra.data %>
  <%= f.hidden_field :produto_id %>
  <%= f.hidden_field :codigo %>
  <%= f.hidden_field :fabricante_cod %>
  <%= f.hidden_field :clase_id %>
  <%= f.hidden_field :grupo_id %>
  <%= f.hidden_field :sub_grupo_id %>
  <%= f.hidden_field :tipo_compra, :value => @compra.tipo_compra %>

<ul class="tabs">
   <li><a href="#tab1">Producto - [Edicion]</a></li>
</ul>


<div class="tab_container">
   <div id="tab1" class="tab_content">


    <table>
      <tr>
         <td align="right">Procduto :</td>
        <td colspan="4">
            <%= text_field_tag( 'key',
                                 nil,
                                 :id       => "key",
                                 :onblur => remote_function( :update     => "key",
                                                               :url        => { :action => :get_produto, :id => 1},
                                                               :with       => "'key='+this.value"),
                                                               :size       => 5
                                                            ) %>

            <%= f.text_field :produto_nome,
                             :onkeydown => "f(this)",
                             :onkeyup   => "f(this)",
                             :size      => 70 %></td>
      </tr>

      <tr>
        <td align="right">Cantidad :</td>
        <td><%= f.text_field :quantidade,
                             :size    => 5,
                             :onfocus => "LimpaCampoCompraImportacao()"%></td>
      </tr>

      <tr>
        <td align="right">Iva:</td>
        <td><%= f.text_field :iva_taxa,
                             :size => 5 %> % </td>
      </tr>

      <% if @compra.moeda.to_i == 0  %>

            <%= f.hidden_field :custo_contabil_dolar %>
            <tr>
               <td align="right">Unit. U$ :</td>
               <td><%= f.text_field :unitario_dolar,
                                    :size => 15,
                                    :onblur => "CompraTotalDolar(),
                                                CompraIvaDolar(),
                                                CompraCustoContabilDolar()" %></td>
               <td align="right">Total U$:</td>
               <td><%= f.text_field :total_dolar,
                                    :size     => 15,
                                    :readonly => "readonly" %> </td>

               <td align="right">Iva U$:</td>
               <td><%= f.text_field :iva_dolar,
                                    :size     => 15,
                                    :readonly => "readonly" %> </td>
            </tr>

      <% else %>

            <%= f.hidden_field :custo_contabil_guarani %>
            <tr>
               <td align="right">Unit. Gs :</td>
               <td><%= f.text_field :unitario_guarani,
                                    :size   => 15,
                                    :onblur => "CompraTotalGs(),
                                                CompraIvaGs(),
                                                CompraCustoContabilGs()" %></td>
               <td align="right">Total Gs.:</td>
               <td><%= f.text_field :total_guarani,
                                    :size     => 15,
                                    :readonly => "readonly" %> </td>

               <td align="right">Iva Gs.:</td>
               <td><%= f.text_field :iva_guarani,
                                    :size     => 15,
                                    :readonly => "readonly" %> </td>

            </tr>

      <% end %>
            <tr>
              <td align="right"> % :</td>
              <td><%= f.text_field :porcentagem,
                                   :size     => 15,
                                   :onchange => "VendaPorcentagemGs()" %> </td>

              <td align="right"> Precio Venta Gs. :</td>
              <td><%= f.text_field :preco_venda_guarani,
                                   :size     => 15,
                                   :onchange => "VendaPorcentagemInversa()"  %> </td>

            </tr>

            <tr>
              <td align="right">Deposito:</td>
              <td><%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',
                                                                     :order => '2'),:id,
                                                                                    :nome %></td>
            </tr>
       </table>
    </div>
  </div>
  <div class="buttons">
      <%=  link_to 'Volver', compra_path(@compra),:class => "button back" %>
      <%= f.submit "   Grabar   ",:disable_with => "Aguarde...",:class => "button"  %> 
  </div>

<% end %>

  <script>
  //ABRI POPUP-----------------------------------------------------------------
document.onkeydown=function(e)
{
    if(e.which == 113)
        window.open('/produtos/busca_compra_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=400');
}

//FIM ABRI POPUP----------------------------------------------------------------

</script>
