<table   class="head_grid">
   <tr>
      <td width="80" align="center">Cod.</td>
      <td width="80" align="center">Cod. Fabr.</td>
      <td width="150" align="center">Ubicacion</td>
      <td width="500" align="center">Producto</td>
      <td width="80" align="center">Saldo</td>
      <td width="100" align="center">Total Des.</td>
      <td width="100" align="center">Precio Gs.</td>
      <td width="100" align="center">Precio U$.</td>
   </tr>
</table>

<div class="rolagem" id="div">
   <table>

      <% @produtos.each do |produto| %>
         <% if params[:cliente].to_s == '0' %>
            <% preco_us =  produto.preco_venda_dolar %>
            <% preco_gs =  produto.preco_venda_guarani %>
         <% elsif params[:cliente].to_s == '1'%>
            <% preco_us =  produto.preco_maiorista_dolar %>
            <% preco_gs =  produto.preco_maiorista_guarani %>
         <% else %>
            <% preco_us =  produto.preco_minorista_dolar %>
            <% preco_gs =  produto.preco_minorista_guarani %>
         <% end %>

         <tr class = "<%= cycle( "cor1", "cor2" )%>"
             onMouseOver="javascript:this.style.backgroundColor='#949494'"
             onMouseOut="javascript:this.style.backgroundColor=''"
             onClick="Fecha( '<%= produto.nome %>',
                '<%= produto.barra %>',
                '<%= produto.id %>',
                '<%= number_to_currency(preco_gs.to_f, :format=>' %n ', :precision => 0) %>',
                '<%= produto.id %>')">
                <% if $empresa == 'E01' %>
               <td width="80" align="center"> <%=h produto.cod_velho%> </td>
            <% else %>
               <td width="80" align="center"> <%=h produto.id%> </td>
               <td width="80" align="center"> <%=h produto.fabricante_cod%> </td>
            <% end %>
            <td width="150" align="left">   <%=h produto.locacao%> </td>
            <td width="500" align="left">   <%=h produto.nome%> </td>
            <% if produto.stock.to_i <= 0 %>
               <td width="80"  align="center"><font color="red"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
            <%else%>
               <td width="80"  align="center"><font color="green"> <%=h format( "%.3f",produto.stock.to_f ) %></font> </td>
            <%end%>
            <td width="100"  align="center"> <%=h produto.desconto %> % </td>
            <td width="100" align="right">   <%=h number_to_currency( preco_gs, :format=>' %n ', :precision => 0) %> </td>
            <td width="100" align="right">   <%=h number_to_currency( preco_us,   :format=>' %n ', :separator => ",") %> </td>
         </tr>
      <% end %>
   </table>
</div>



<%= will_paginate @produtos, :update => 'pagina',:prev_label => '<< Anterior',:next_label => 'Próximo >>'%>



