<h1 align="right" id="header">Productos</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_produto_path,:class => 'button add' %> 
  <a href="#" onclick="GeraPdf()", class="button print">Gerar Pdf</a>
</div>
<body onload="CampoBuscaTipo()">
   <div class="group">
      <h2>
         <%= form_tag dinamic_busca_produtos_path, :method => "get" do %>
        
          <tr>
            <td align="right">Clase :</td>
            <td>
              <%= text_field_tag( 'campo_clase',
                                   nil,
                                   :id       => "campo_clase",
                                   :onchange =>                 {:remote     => true,
                                                                 :update     => "campo_clase",
                                                                 :url        => { :action => :get_clase, :id => 1},
                                                                 :with       => "'campo_clase='+this.value"},
                                                                 :size       => 5,
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_clase')" ) %>

              <%=   select("filtro01", "clase", Clase.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] },
                                                                                          { :include_blank => true })   %></td>
          </tr>

          <tr>
            <td align="right">Grupo :</td>

            <td>
              <%= text_field_tag( 'campo_grupo',
                                   nil,
                                   :id       => "campo_grupo",
                                   :onchange =>                 {:remote     => true,
                                                                 :url        => { :action => :get_grupo, :id => 1},
                                                                 :with       => "'campo_grupo='+this.value"},
                                                                 :onkeypress => "return bloqEnter(event)",
                                                                 :onkeyup    => "EnterTab(event,'busca_grupo')",
                                                                 :size       => 5 ) %>

              <%=   select("filtro02", "grupo", Grupo.all(:select => 'id,descricao').collect {|p| [ p.descricao, p.id ] },
                                                                                          { :include_blank => true })   %></td>
          </tr>

            <select name="tipo" id="tipo">
               <option>FABRICANTE</option>
               <option>DESCRIPCION</option>
               <option>CODIGO</option>
            </select>

            <input id="busca" name="busca" type="text" onkeydown = "f(this)" onkeypress ="return bloqEnter(event)"  />
            <input type="button" class="button" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
            <%= image_tag("load.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :id => "spinner",
                          :width => 21,
                          :height => 21,
                          :style =>"display: none;" ) %>

         <% end %>

      </h2> 
      <div id="pagina">
      </div>



      <script language="javascript">

         function GeraPdf(){
            clase_id = document.getElementById('filtro01_clase').value
            grupo_id = document.getElementById('filtro02_grupo').value
            tipo     = document.getElementById('tipo').value
            valor    = document.getElementById('busca').value
            //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

            location.href="/produtos/index_print?campo_clase=&filtro01[clase]="+clase_id+"&campo_grupo=&filtro02[grupo]="+grupo_id+"&tipo="+tipo+"&busca="+valor+"&commit=buscar";

 }

         function pesquisa(valor)

         {
            clase_id = document.getElementById('filtro01_clase').value
            grupo_id = document.getElementById('filtro02_grupo').value
            tipo     = document.getElementById('tipo').value
            //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

            url="/produtos/dinamic_busca?campo_clase=&filtro01[clase]="+clase_id+"&campo_grupo=&filtro02[grupo]="+grupo_id+"&tipo="+tipo+"&busca="+valor+"&commit=buscar";

            ajax(url);

         }


         function ajax(url)

         {

                  $('#spinner').show();


            //alert(nick);

            //alert(dest);

            //alert(msg);



            req = null;

            // Procura por um objeto nativo (Mozilla/Safari)

            if (window.XMLHttpRequest) {

               req = new XMLHttpRequest();

               req.onreadystatechange = processReqChange;

               req.open("GET",url,true);

               req.send(null);

               // Procura por uma versão ActiveX (IE)

            } else if (window.ActiveXObject) {

               req = new ActiveXObject("Microsoft.XMLHTTP");

               if (req) {



                  req.onreadystatechange = processReqChange;

                  req.open("GET",url,true);



                  req.send();

               }

            }

         }



         function processReqChange()

         {



            // apenas quando o estado for "completado"

            if (req.readyState == 4) {



               // apenas se o servidor retornar "OK"



               if (req.status ==200) {



                  // procura pela div id="pagina" e insere o conteudo

                  // retornado nela, como texto HTML


                  onSuccess:$('#spinner').hide();
                  document.getElementById('pagina').innerHTML = req.responseText;



               } else {

                  alert("Houve um problema ao obter os dados:n" + req.statusText);

               }

            }

         }
      </script>
   </div>
</body>
