

<%= form_for(@empresa) do |f| %>
    <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% @empresa.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<ul class="tabs">
		<li>
			<a href="#tab1">Config. Empresa - [Edicion]</a>
		</li>
	</ul>

	<div class="tab_container">
		<div id="tab1" class="tab_content">

	  <p>
	    <%= f.label :empresa %><br />
	    <%= f.text_field :nome, :size => 50 %>

	    <%= f.label :ruc %>
	    <%= f.text_field :ruc, :size => 10 %>
	  </p>
	  <p>
	    <%= f.label :direcao %><br />
	    <%= f.text_field :direcao, :size => 66 %>
	  </p>
	  <p> <hr> </p>

	  <p>
	    <%= f.label :base_calc_preco_venda %><br />
	    <%= f.text_field :base_calc_preco_venda, :size => 10 %>
	  </p>
	  <p>
	    <%= f.label :taxa_interes %><br />
	    <%= f.text_field :taxa_interes, :size => 10, :dir => "rtl" %>
	  </p>

	  <p><hr> <b>Config. Venda</b> </p>

	  <p>
	    <%= f.label :venda_persona_nome %><br />
	    <%= f.text_field :venda_persona_id, :size => 10, :placeholder => 'id' %>
	    <%= f.text_field :venda_persona_nome, :size => 50, :placeholder => 'nome' %>
	    <%= f.text_field :venda_persona_ruc, :size => 15, :placeholder => 'ruc' %>
	  </p>

	  <p>
			<fieldset>
	      <legend>Moneda</legend>
	      <%= f.radio_button :venda_moeda, 1, :checked => true %> Gs.
	      <%= f.radio_button :venda_moeda, 0%> U$
	      <%= f.radio_button :venda_moeda, 2 %> R$
      </fieldset>
	  </p>
		<p><hr> <b>Config. Modulos</b> </p>
			<p>
				<fieldset>
				<legend>Modulo Laboratorio</legend>
			    <%= f.radio_button :modulo_laboratorio, 't' %> Ativo
			    <%= f.radio_button :modulo_laboratorio, 'f', :checked => true %> Desativo
				</fieldset>				
			</p>

			<p>
				<fieldset>
				<legend>Modulo Granos</legend>
			    <%= f.radio_button :modulo_granos, 't' %> Ativo
			    <%= f.radio_button :modulo_granos, 'f', :checked => true %> Desativo
				</fieldset>				
			</p>
			<p>
				<fieldset>
				<legend>Modulo Producao</legend>
			    <%= f.radio_button :modulo_producao, 't' %> Ativo
			    <%= f.radio_button :modulo_producao, 'f', :checked => true %> Desativo
				</fieldset>				
			</p>

		</div>
	  <div class="buttons">
	    <%= f.submit 'Grabar', :class => "button" %>
	    <%= link_to 'volver', empresas_path,:class => "button back" %>
	  </div>
	</div>
<% end %>

