<h1 align="right" id="header">Rubros Contables</h1>
<%= link_to 'Nuevo', new_rubro_path %>
<div class="group">
   <table>
      <tr>
         <td width="100"align="center"></td>
         <td width="550"align="center">Descripcion</td>
      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>

         <% for rubro in @rubros %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
              <td width="100" align="center"><%= rubro.id %></td>
               <td width="550" ><%= rubro.descricao %></td>
               <td><%= link_to 'Editar', edit_rubro_path(rubro) %></td>
               <td><%= link_to 'Borrar', rubro, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
            </tr>
         <% end %>
      </table>
   </div>
</div>


