<style type="text/css">
	body { 
	font-family:Lucida Console, Courier, Monotype;
	} 
</style>
	<table align="left"  valign="top">

		<tr>
			<td>
			<FONT  size="5">
				<%= $empresa_nome %>
			</FONT>
			</td>

			<td  align="right">
			<FONT size="5">
				COMPROBANTE DE VENTA   N. <%= @venda.id%>
			</FONT>
			</td>

		</tr>

		<tr>
			<td colspan="2" align="center">
			<FONT size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>

		<tr>
			<td>
			<table>

				<tr>
					<td>
					<FONT  size="4">
						Vendedor :
					</FONT>
					</td>

					<td align="left">
					<FONT  size="4">
						<%= @venda.vendedor_nome %>
					</FONT>
					</td>
				</tr>

				<tr>
					<td>
					<FONT  size="4">
						Cliente :
					</FONT>
					</td>

					<td align="left"  colspan="4">
					<FONT  size="4">
						<%= @venda.persona_nome %>
					</FONT>
					</td>

					<td align="right">
					<FONT  size="4">
						Cod :
					</FONT>
					</td>

					<td align="left">
					<FONT  size="4">
						<%= @venda.persona_cod %>
					</FONT>
					</td>

					<td align="right">
					<FONT  size="4">
						Ruc/C.I. :
					</FONT>
					</td>

					<td align="left">
					<FONT  size="4">
						<%= @venda.ruc %>
					</FONT>
					</td>

				</tr>

			</table>
			</td>

			<td align="right">
			<FONT  size="4">
				EMISION: <%= @venda.data.strftime("%d/%m/%Y") %> <%= Time.now.strftime("%H:%M:%S")%>
			</FONT>
			</td>

		</tr>

		<% if @venda.moeda == 0
    moeda = "DOLARES"
  else
    moeda = "GUARANIES"
  end %>

		<tr>
			<td align="left">
			<FONT  size="4">
				MONEDA: <%= moeda%>
			</FONT>
			</td>
			<td align="right">
			<FONT  size="4">
				VENCIMENTO : <%= (@venda.data.to_date + 30).strftime("%d/%m/%Y") %>
			</FONT>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
			<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>

		<tr height="490">
			<td colspan="2" align="center" valign="top">
			<FONT  size="4">

				<table align="center">
					<tr>
						<td width="50" align="center">
						<FONT  size="4">
							Codigo
						</font>
						</td>
						<td width="50" align="center">
						<FONT  size="4">
							Ubicacion
						</font>
						</td>
						<td width="300" align="center">
						<FONT  size="4">
							Producto
						</font>
						</td>
						<td width="50" align="center">
						<FONT  size="4">
							Cantidad
						</font>
						</td>
						<td width="50" align="center">
						<FONT  size="4">
							Unit.
						</font>
						</td>
						<td width="50" align="center">
						<FONT  size="4">
							Total
						</font>
						</td>
					</tr>
					<tr>
						<td colspan="6" align="center">
						<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
						</FONT>
						</td>
					</tr>
					<% @venda_produto.each do |produto| %>
					<% prod = Produto.find_by_id(produto.produto_id)  %>
					<tr>
						<td align="center">
						<FONT  size="4">
							<%= produto.fabricante_cod %>
						</font>
						</td>
						<td align="center">
						<FONT  size="4">
							<%= prod.locacao %>
						</font>
						</td>
						<td align="left">
						<FONT  size="4">
							<%= produto.produto_nome %>
						</font>
						</td>
						<td align="center">
						<FONT  size="4">
							<%= produto.quantidade %>
						</font>
						</td>
						<% if  @venda.moeda == 0 %>
						<td align="right">
						<FONT  size="4">
							<%= number_to_currency(produto.unitario_dolar, :format=>' %n ', :separeitor => ',') %>
						</font>
						</td>
						<td align="right">
						<FONT  size="4">
							<%= number_to_currency(produto.total_dolar, :format=>' %n ', :separeitor => ',') %>
						</font>
						</td>
						<% else %>
						<td align="right">
						<FONT  size="4">
							<%= number_to_currency(produto.unitario_guarani, :format=>' %n ', :precision => 0) %>
						</font>
						</td>
						<td align="right">
						<FONT  size="4">
							<%= number_to_currency(produto.total_guarani, :format=>' %n ', :precision =>0) %>
						</font>
						</td>
						<% end %>
					</tr>

					<%end%>
				</table>

			</FONT>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
			<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="right">
			<FONT  size="4">
				<b> <% if @venda.moeda == 0 %>
				Total =>  <%= number_to_currency(@produto_sum_us, :format=>' %n ', :separeitor => ',') %>
				<% else %>
				Total =>  <%= number_to_currency(@produto_sum_gs, :format=>' %n ', :precision => 0) %>
				<% end %></b>
			</FONT>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
			<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>
        <% if @venda.tipo == 1 %>
        <tr height="20">
           <td>
           </td>
        </tr>
		<tr>
			<td colspan="4">

			<table>

				<tr>  			     
					<td colspan="4" align="center">	
					    <FONT  size="5">
					          PAGARE A LA ORDEN
      			        </FONT>					
					</td>
				</tr>

		<tr>
			<td colspan="4" align="center">
			<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>


				<tr>  			     
					<td  colspan="4" align="left">	
					    <FONT  size="4">
					          <b><%= $empresa_nome %>, <%= @venda.data.strftime("%d")%> de  <%= @venda.data.strftime("%B")%> del <%= @venda.data.strftime("%Y")%> </b>
      			        </FONT>					
					</td>
					<td align="right">
					   <FONT  size="1">
					    Nr. <%=  @venda.id%>
   			           </FONT>					
					</td>
				</tr>


				<tr>
					<td align="left">
					   <FONT  size="4">
					    Venci.: <%= @venci.data_cota_01.strftime("%d/%m/%Y")%>
   			           </FONT>					
					</td>

					<td align="right">
					    <FONT  size="4">					 
				        <b> 
				        <% if @venda.moeda == 0 %>
				              Por US$  <%= number_to_currency(@fin_sum_us, :format=>' %n ', :separeitor => ',') %>
				        <% else %>
				              Por GS <%= number_to_currency(@fin_sum_gs, :format=>' %n ', :precision => 0) %>
				        <% end %>
				        </b>
   			           </FONT>									        
					</td>
   			      </FONT>					
				</tr>

		        <tr>
			       <td colspan="4" align="center">
			            <FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			            </FONT>
			       </td>
		        </tr>
		        <tr height="150">
			       <td colspan="4" align="center">
			            <FONT  size="4">
Así mismo La Empresa podrá optar en recibir dicha suma en guaraníes al cambio corriente en el mercado libre tipo vendedor del día del pago efectivo, más los intereses y accesorios legales que correspondan en su caso en dólares  Estadounidenses o en Guaraníes también al cambio corriente en el mercado libre tipo de vendedor del día del pago efectivo, por igual valor recibido en MERCADERIAS, a mi (nuestra) entera satisfacción, según factura:                                                                          
Interés: Queda pactado un interés del 1,5% mensual, pagadero por la empresa, en forma unilateral, podrá determinar la variación, en mas de dicho porcentajes de acuerdo al promedio ponderado de las tasas activas del mercado por cada tipo de operación.
Mora: La falta de pago a su vencimiento del capital y/o de los intereses pactados y/o cualquier accesorios relacionado con este pagare, me (nos) constituirá en mora automática de pleno derecho (Art. 424 del Código Civil) sin necesidad de interpelación judicial o extra judicial alguna.
Cláusula Penal: El simple vencimiento establecerá la mora, autorizando la ineclusión de mi Nombre Personal o Razón Social que represente, a la base de datos de Informconf conforme a lo establecido en la Ley 1682/01, como también para que se pueda proveer la información a terceros interesados.
Jurisdicción y Domicilio: El/los obligado/s fija/n domicilios especial/es y a todos los efectos legales en el/ los lugar/ es más abajo, donde se tendrán por valides todas las comunicaciones y/o notificaciones extrajudiciales que se llegaren a participar. Las partes, a todos sus efectos legales, convienen en aceptar en forma voluntaria y de mutuo acuerdo, la competencia y jurisdicción de cualquiera de los Juzgados y Tribunales que conforman la VI Circunscripción Judicial del Alto Paraná, a elección del acreedor, en caso de tener que efectuarse alguna reclamación por la vía judicial, declarando cualquier otra que pudiera corresponder.
  			            </FONT>
			       </td>
		        </tr>
		<tr>
			<td colspan="4" align="center">
			<FONT  size="4">
				--------------------------------------------------------------------------------------------------------------------------------------
			</FONT>
			</td>
		</tr>


		        <tr>
                   <td >Firma : _________________________________________</td>
                   <td >Firma :__________________________________________ </td>

		        </tr>
		        <tr>
                   <td >DEUDOR :  <%= @venda.persona_nome%></td>
                   <td > CO-DEUDOR : </td>

		        </tr>
		        <tr>
                   <td >Aclaracion de Firma : __________________________________________</td>
                   <td >Aclaracion de Firma : __________________________________________</td>

		        </tr>

			</table>

			</td>
		</tr>
	   <% end %>	
	</table>
</body>

