<!-- Form para manutencao e  servicos equipamentos !-->
<table>      
   <tr>
      
      <td align="right">Fecha:</td>
      <td><%= f.date_select :data,{},{:onblur => "DataVenda()"} %></td>

      <%= hidden_field_tag( 'key' ) %>
   </tr>
   
   <tr>
      <td align="right">Cotizacion :</td>
        <td> <%= text_field  :venda, :cotacao,
          :size     => 10,
          :value    => @venda.cotacao.to_i,
          :onfocus  => " $.ajax({url: '/buscas/cotz_us_compra',
                            type: 'POST',
                            data: 'data=' + $('#venda_data_3i').val()+'/'+
                            $('#venda_data_2i').val()+'/'+
                            $('#venda_data_1i').val(),
                            success: function(data){
                              $('#venda_cotacao').val(data);} })"%>
      </td>                         
    <tr>
   <tr>
      <td><td><%= f.check_box :tipo_venda,:onchange => "toggleDiv('mydiv');"%>Orden de Servicion?</td></td>
            <%= hidden_field_tag( 'tipo',@venda.tipo_venda ) %>

   </tr>

   <tr>
      <td></td>
      <td>
         <table>
            <tr>
               <td>
                  <fieldset>
                     <legend>Tipo Producto</legend>
                     <%= f.radio_button :clase_produto, 0,  :Checked => "True"%>Repuestos
                     <%= f.radio_button :clase_produto, 1  %> Maquinario
                  </fieldset>
               </td>
            </tr>
         </table>
      </td>
   </tr>


   <tr>
      <td align="right">Pedido Nº</td>
      <td><%= f.text_field :pedido_id, :size => 15%></td>
   </tr>

   <tr>
      <td></td>
      <td>
         <table>
            <tr>
               <td>
                  <fieldset>
                     <legend>Local Venda</legend>
                     <%= f.radio_button :local_venda, 0,  :Checked => "True"%> Interna
                     <%= f.radio_button :local_venda, 1  %> Externa
                  </fieldset>
               </td>
            </tr>
         </table>
      </td>
   </tr>

   <tr>
     <% if params[:action] == 'new'%>
      <input type="hidden" id="vendedor" name="vendedor" value="<%= current_user.usuario_nome %>"/>
     <%end%> 
      <td align="right">Vendedor :</td>
      <td>


      
      <%= f.collection_select :vendedor_nome, Persona.all( :select     => ' id,nome,tipo_vendedor',
        :conditions => ["tipo_vendedor = 1"],
        :order      => '2'),:nome,:nome %>
      Responsable :
      <%= f.collection_select :mecanico_id, Persona.all( :select     => ' id,nome,tipo_funcionario',
        :conditions => ["tipo_funcionario = 1"],
        :order      => '2'),:id,:nome, { :include_blank => true } %>
      </td>
   </tr>

   <tr>
      <td></td>
      <td>
         <table>
            <tr>
               <td>
                  <fieldset>
                     <legend>Moneda</legend>
                     <%= f.radio_button :moeda, 0,  :Checked => "True"%> Dolar
                     <%= f.radio_button :moeda, 1  %> Guaranies
                  </fieldset>
               </td>
            </tr>
         </table>
      </td>
   </tr>

   <tr>
      <td></td>
      <td>
         <fieldset>
            <legend>Cliente :</legend>
            <table>
               <tr>


                  <td align="right">Codigo :</td>
                  <td> <%= text_field_tag( 'codigo',nil,:id         => "codigo",
                                                        :onchange   => {:remote      => true,
                                                                        :update      => "codigo",
                                                        :url        => { :action     => :get_codigo, :id => 1},
                                                                         :with       => "'codigo='+this.value"},
                                                                         :size       => 5,
                                                                         :onkeypress => "return bloqEnter(event)",
                                                                         :value      => @venda.persona_id ) %>
                  </td>


                  <td align="right">Cliente :</td>
                  <td colspan="4">
                     <%= f.text_field :persona_nome,:size => 50%> Pulse F2 para Buscar.
                     <%= f.hidden_field :persona_id %>
                     <%= f.hidden_field :persona_cod %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Ruc:</td>
                  <td><%= f.text_field :ruc,
                    :size     => 15,
                    :readonly => "readonly" %></td>

                  <td align="right">Clasificación :</td>
                  <td><%= f.text_field :classificacao,
                    :size     => 1,
                    :readonly => "readonly",
                    :style    => "text-align:center" %></td>
               </tr>


               <tr>
                  <td align="right">Ciudad:</td>
                  <td><%= f.text_field :cidade_nome,
                    :size     => 20,
                    :readonly => "readonly" %></td>

                  <%= f.hidden_field :cidade_id %>

                  <td align="right">Direcion :</td>
                  <td><%= f.text_field :direcao,
                    :size     => 20,
                    :readonly => "readonly" %></td>

                  <td align="right">Bairro :</td>
                  <td><%= f.text_field :bairro,
                    :size     => 20,
                    :readonly => "readonly",
                    :style    => "text-align:center" %></td>


               </tr>

               <tr>
                  <td align="right">Limit Credito :</td>
                  <td><%= f.text_field :limite_credito,
                    :size     => 15,
                    :readonly => "readonly" %></td>

                  <td align="right">Saldo Disponible :</td>
                  <td><%= f.text_field :saldo_disponivel,
                    :size     => 15,
                    :readonly => "readonly" %></td>

                  <%= f.hidden_field :tipo_maiorista%>
                 
               </tr>
            </table>
         </fieldset>
      </td>
   </tr>
      
   <tr>
   	<td></td>
   	<td align="left">
      <div id="mydiv" style="display:none;">      		   	       
        <table>
      	   <tr>
              <td>		
                 <fieldset>
                    <legend>Datos de la Maquina</legend>
                       <table>
                          <tr>
                             <td align="right">Modelo :</td>
                             <td><%= f.text_field :modelo, :size => 30,
                                                  :onkeydown => "f(this)",
                                                  :onkeyup => "f(this)"%></td>

                             <td align="right">Marca :</td>
                             <td><%= f.text_field :marca, :size => 20,
                                                  :onkeydown => "f(this)",
                                                  :onkeyup => "f(this)" %></td>


                             <td align="right">Serie :</td>
                             <td><%= f.text_field :serie, :size => 20,
                                                  :onkeydown => "f(this)",
                                                  :onkeyup => "f(this)" %></td>

                          </tr>

                          <tr>
                             <td>Chassi :</td>
                             <td><%= f.text_field :chassi, :size => 20,
                                                  :onkeydown => "f(this)",
                                                   :onkeyup => "f(this)" %></td>

                             <td>Color :</td>
                             <td><%= f.text_field :cor, :size => 20,
                                                  :onkeydown => "f(this)",
                                                   :onkeyup => "f(this)" %></td>

                             <td>Acessorios :</td>
                             <td><%= f.text_field :acessorio, :size => 20,
                                                  :onkeydown => "f(this)",
                                                  :onkeyup => "f(this)" %></td>

                          </tr>
                       </table>
                       
                    <fieldset>
                      <legend>Solicitacion </legend>
                         <table>
                            <tr>
                               <td>
                                  <%= f.text_area :solicitacao, :cols => 70, :rows => 3,
                                                  :onkeydown => "f(this)",
                                                  :onkeyup => "f(this)" %> </td>
                                                  
                               <td align="right">Fecha Entrega:</td>
                               <td><%= f.date_select :data_entrega %></td>

                            </tr>
                         </table>
                    </fieldset>   		
   	          </td>
           </tr>
        </table>
      </div>		
   </td>
 </tr>
 <% if current_user.tipo == 0 %>
     <tr>
         <td></td>
         <td>   
         <fieldset>
             <legend>Autorizacion</legend>
                 <%= f.radio_button :status, 1,  :Checked => "True"%>No
                 <%= f.radio_button :status, 0  %> Si
         </fieldset>
         </td>
     </tr>

     <tr>
         <td align="right">Motivo :</td>
       <td>
       <%= f.text_area :autori_motivo, :cols => 70, :rows => 3,
                       :onkeydown => "f(this)",
                       :onkeyup => "f(this)" %> </td>
     </tr>

 <% end %>     
</table>
