<!-- form base balcao! -->
<div class="group">
  <%= form_for(vendas_produto) do |f| %>
    <%= f.hidden_field :venda_id %>
    <%= f.text_field :produto_nome, :class => 'large', :placeholder => 'Producto' %>
    <div class="left">    	
    	<%= f.text_field :barra, :class => 'medium', :placeholder => 'barra' %>
    	<br>

    	<div class="valores">
          <div class="texts">
            <span>Cantidad:</span>
            <%= f.text_field :quantidade, :class => 'small' %>            
          </div>
        	<br>
          <div class="texts">
            <span>Unit.:</span>
            <%= f.text_field :unitario_guarani, :class => 'small' %>
            </div>
          <br>
          <div class="texts">
          	<span>Sub-Total:</span>
            <%= f.text_field :unitario_guarani, :class => 'small' %>
          </div>

    	</div>
    </div>
    

    <div class="right">    	
    		<table width="510">
    			<tr>
    				<td></td>
    			</tr>
    		</table>
    </div>

  <% end %>
</div>



