<!-- form base !-->
<div class="left">
   <%= form_for(vendas_financa) do |f| %>

      <%= f.hidden_field :venda_id %>
      <%= f.hidden_field :cotacao,      :value => @venda.cotacao.to_i %>
      <%= f.hidden_field :persona_nome, :value => @venda.persona_nome ,:readonly => "readonly"%>
      <%= f.hidden_field :persona_id,   :value => @venda.persona_id %>
      <%= f.hidden_field :ruc,          :value => @venda.ruc%>
      <%= f.hidden_field :direcao,      :value => @venda.direcao%>
      <%= f.hidden_field :cidade_nome,  :value => @venda.cidade_nome%>
      <%= f.hidden_field :cidade_id,    :value => @venda.cidade_id %>
      <%= f.hidden_field :bairro,       :value => @venda.bairro%>
      <%= f.hidden_field :vendedor_id,  :value => @venda.vendedor_id%>
      <%= f.hidden_field :vendedor_nome,:value => @venda.vendedor_nome%>
      <%= f.hidden_field :clase_produto,:value => @venda.clase_produto %>
      <%= f.hidden_field :data, :value => @venda.data %>    
      <%= f.hidden_field :tipo_ordem , :value => 0  %>

    <!-- Tipo e moeda -->
    <fieldset>
      <table>      	 	
        <tr>
          <td></td>
          <td><b>Tipo:</b> 0 = Contado | 1 = Credito</td>
          <td></td>
          <td><b>Moneda:</b> 0 = Dolar | 1 = Guaranies | 2 = Real</td>

        </tr>
        <tr>
          <td align="right"><font size="5"> Tipo: </font></td>
          <td width="400">
            <%= f.text_field :tipo, :class => 'mini', :value       => 0,
                                                      :onblur      => "VendasfinancaAbreDiv(this)",
                                                      :onkeypress  => "return bloqEnter(event)",
                                                      :onkeyup     => "EnterTab(event,'vendas_financa_moeda')" %>

            <div id="tipo_descr_contado" style="display: none;"> 
              <font size="5">
                CONTADO
              </font>
            </div>

            <div id="tipo_descr_credito" style="display: none;"> 
              <font size="5">
                CREDITO
              </font>
            </div>
          </td>
          <td align="right"><font size="5"> Moneda: </font></td>
          <td>
            <%= f.text_field :moeda, 
                             :class => 'mini', 
                             :value => 1, 
                             :onblur      => "VendasfinancaAbreDiv(this)",
                             :onkeypress  => "return bloqEnter(event)",
                             :onkeyup     => "EnterTabVenda()" %>

            <div id="moeda_us" style="display: none;"> 
              <font size="5">
                DOLAR
              </font>
            </div>

            <div id="moeda_gs" style="display: none;"> 
              <font size="5">
                GUARANIES
              </font>
            </div>
            <div id="moeda_rs" style="display: none;"> 
              <font size="5">
                REAIS
              </font>
            </div>
          </td>
         </tr>        
      </table>
    </fieldset>
            

      <!-- DIV DETALHES AO CONTADO===================================================  -->


      <div id="TIPO_CONTADO" style="display: none;" >
         <table>
            <tr>
               <td valign="top" width="460">
                  <div >
                     <input id    = "valor_dolar_contado"
                            name  = "valor_dolar"
                            type  = "hidden"
                            value = "<%= number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",") %>"/>

                     <input id    = "valor_guarani_contado"
                            name  = "valor_guarani"
                            type  = "hidden"
                            value = "<%= number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0) %>"/>
                     <table>
                        <tr>
                           <td colspan="2">
                              <div id="TIPO_CONTADO_DOLAR" style="display: none;">
                                 <table>

                                    <tr>
                                       <td align="right">Desc. U$ :</td>
                                       <td>
                                       	<%= f.text_field :porcen_desconto_us,                                       	
                                                            :onchange   => "VendaFinancaDescUs()",
                                                            :size     => 5,
                                                            :class => "money_us",
                                                            :dir      => "rtl"%> %
                                                            
                                       	<%= f.text_field :desconto_dolar,
                                                            :size     => 14,
                                                            :class => "money_us",
                                                            :dir      =>"rtl",
                                                            :onchange => "VendaFinancaValorDescUs()"%></td>

                                    </tr>


                                    <tr>
                                       <td align="right">Valor U$ :</td>
                                       <td><%= f.text_field :valor_dolar_contado,
                                                            :size     => 16,
                                                            :value    => number_to_currency(@produto_sum_dolar, :format=>' %n ', 
                                                            :separator => ","),
                                                            :class     => "money_us",
                                                            :dir       =>"rtl"%></td>

                                    </tr>


                                    <tr>
                                       <td align="right">Recebido U$ :</td>
                                       <td><%= f.text_field :recebido_dolar,
                                                            :size      => 16,
                                                            :class     => "money_us",
                                                            :dir       =>"rtl",
                                                            :onchange  => "VendasFinancaTrocoUs()"%></td>

                                    </tr>

                                 </table>
                              </div>

                              <!-- GS -->
                              <div id="TIPO_CONTADO_GUARANI" style="display: none;">
                                <fieldset>
                                  <legend>Gs.:</legend>
                                  <table valign="top">
                                    <tr>
                                      <td height="55" align="right">Desc. Gs.:</td>
                                      <td>
                                       	<%= f.text_field :porcen_desconto_gs,
                                                            :size     => 5,
                                                            :class => "money_gs",
                                                            :precision => 0,
                                                            :value     => 0,
                                                            :dir       =>"rtl",
                                                            :onchange  => "VendaFinancaDescGs()",
                                                            :onkeypress  => "return bloqEnter(event)",
                                                            :onkeyup     => "EnterTab(event,'vendas_financa_desconto_guarani')"%> %
                                                            
                                       	<%= f.text_field :desconto_guarani,
                                                            :size     => 16,
                                                            :class => "money_gs",
                                                            :value     => 0,
                                                            :precision => 0,
                                                            :dir      =>"rtl",
                                                            :onblur => "VendaFinancaValorDescGs()",
                                                            :onkeypress  => "return bloqEnter(event)",
                                                            :onkeyup     => "EnterTab(event,'vendas_financa_valor_guarani_contado')"%></td>
                                    </tr>


                                    <tr height="53">
                                       <td align="right">Valor Gs. :</td>
                                       <td width="300"><%= f.text_field :valor_guarani_contado,
                                                            :size     => 16,
                                                            :value    => number_to_currency(@produto_sum_guarani, :format=>'%n', :precision => 0),
                                                            :dir         =>"rtl",                     
                                                            :class => "money_gs",                      
                                                            :onkeypress  => "return bloqEnter(event)",
                                                            :onkeyup     => "EnterTab(event,'vendas_financa_recebido_guarani')" %></td>
                                    </tr>



                                    <tr>
                                       <td height="55" align="right">Recebido Gs. :</td>
                                       <td><%= f.text_field :recebido_guarani,
                                                            :size     => 16,
                                                            :class => "money_gs",
                                                            :precision => 0,
                                                            :dir      =>"rtl",
                                                            :onblur => "VendasFinancaTrocoGs()",
                                                            :onkeypress  => "return bloqEnter(event)",
                                                            :onkeyup     => "EnterTab(event,'vendas_financa_conta_id')" %></td>

                                    </tr>
                                    
                                  </table>
                                </fieldset>
                              </div>

                           </td>
                        </tr>
                     </table>
                  </div>
               </td>

               <td valign="top" rowspan="2">
                <fieldset>
                  <legend>Vuelto</legend>
       		       	<table>
           				    <td width="400">
                          <div>
                            <table>
                              <tr height="230">
                                <td>
                                  <font size="12" color="green">U$.: <SPAN ID="mostra_dolar">0,00</SPAN> </font><br/>
                                  <font size="12" color="red">Gs.: <SPAN ID="mostra_guarani">0</SPAN> </font><br/>
                                  <font size="12" color="blue">R$.: <SPAN ID="mostra_guarani">0,00</SPAN> </font><br/>

                                  <input id   = "troco_dolar"
                                         name = "troco_dolar"
                                         type = "hidden"/>

                                  <input id   = "troco_guarani"
                                         name = "troco_guarani"
                                         type = "hidden"/>
                                </td>
                              </tr>
                            </table>
                          </div>
                   			</td>
                 		  </tr>
            	    </table>
                  </fieldset>
               </td>
            </tr>

            <tr>
              <td>
                
        <table>
          <tr>
              <td>
                <fieldset>
                <div>
                  <table>
                    <tr>
                      <td align="right">Cuenta :</td>
                      <td width="251"><%= f.collection_select :conta_id, Conta.all( :select     =>' id,nome',:conditions => ["tipo = 0"],:order      => '1'), :id,:nome,{},{:onkeypress  => "return bloqEnter(event)",:onkeyup => "EnterTab(event,'vendas_financa_cheque_status')"} %></td>
 
                      <td align="right"></td>
                      <td><%= f.check_box :cheque_status,
                                           :onkeypress  => "return bloqEnter(event)",
                                           :onchange => "toggleDiv('mydiv'),toggleDiv('mydiv2');",
                                           :onkeyup     => "EnterTab(event,'vendas_financa_fatura_0')"%> Cheque?</td>
                    </tr>
                    <tr>
                      <td>Vendedor:</td>
                      <td>    
                        <%= f.collection_select :vendedor_id, Persona.all( :select     => ' id,nome,tipo_vendedor',
                          :conditions => ["tipo_vendedor = 1"],
                          :order      => '2'),:nome,:nome %>
                      </td>
                    </tr>     
                  </table>
 
                  <div id="mydiv" style="display:none;">
                    <table>

                      <tr>
                        <td align="right">Valor Us.: </td>
                        <td><%= f.text_field :cheque_valor_dolar,
                                             :size => 15,
                                             :value    => number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ","),
                                             :class => "money_us",
                                             :onblur => "UsToGs('vendas_financa_cotacao','vendas_financa_cheque_valor_dolar','vendas_financa_cheque_valor_guarani'),VendasVultos()",
                                             :dir      =>"rtl" %></td>

                        <td align="right">Valor Gs.: </td>
                        <td><%= f.text_field :cheque_valor_guarani,
                                             :size => 15,
                                             :value    => number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0),
                                             :class => "money_us",
                                             :onblur => "GsToUs('vendas_financa_cotacao','vendas_financa_cheque_valor_guarani','vendas_financa_cheque_valor_dolar'),VendasVultos()",
                                             :dir      =>"rtl" %></td>
                      </tr>

                      <tr>
                        <td align="right">Cheque:</td>
                        <td><%= f.text_field :cheque,
                                             :size => 15,
                                             :onkeypress  => "return bloqEnter(event)",
                                             :onkeyup     => "EnterTab(event,'vendas_financa_fatura')"%></td>
 
                        <td align="right">Diferido:</td>
                        <td><%= f.date_select( :diferido, {},{:onkeyup     => "EnterTab(event,'vendas_financa_transportadora_id')"} )%></td>
                      </tr>

                      <tr>
                        <td align="right">Banco : </td>
                        <td><%= f.text_field :banco,:size => 15%></td>

                        <td align="right">Titular : </td>
                        <td colspan="3"><%= f.text_field :titular,:size => 25 %></td>
                      </tr>
                    </table>
                  </div>
                </div>
                </fieldset>

            
            </td>

               <td valign="top">
                 <div id="mydiv2" style="display:none;">

                  <div class="group">

                 <table>
                    <tr>
                      <td align="right">Vuelto Cuenta :</td>
                      <td><%= f.collection_select :vuelto_conta_id, Conta.all( :select     =>' id,nome', :order      => '1'), :id,:nome,{},{:onkeyup     => "EnterTab(event,'vendas_financa_cheque')"} %></td>

                      <td align="right"></td>
                      <td><%= f.check_box :vuelto_cheque_status %> Cheque?</td>

                    </tr>

                    <tr>
                      <td align="right"> Vuelto Cheque:</td>
                      <td><%= f.text_field :vuelto_cheque,
                                           :size => 15,
                                           :onkeypress  => "return bloqEnter(event)",
                                           :onkeyup     => "EnterTab(event,'vendas_financa_diferido_3i')" %></td>

                      <td align="right"> Vuelto Diferido:</td>
                      <td><%= f.date_select( :vuelto_diferido, {},{:onkeyup     => "EnterTab(event,'vendas_financa_transportadora_id')"} )%></td>
                    </tr>


                    <tr>
                      <td align="right"> Vuelto Valor Us.: </td>
                      <td><%= f.text_field :vuelto_valor_dolar,:size => 15%></td>
                     </tr>
                
                     <tr>
                       <td align="right"> Vuelto  Valor Gs.: </td>
                       <td><%= f.text_field :vuelto_valor_guarani,:size => 15%></td>
                     </tr>
                 </table>
                 </div>
                 </div>
            </td>


          </tr>
         </table>

              </td>
            </tr>
         </table>
         
         
</div>
      <!-- DIV DETALHES CREDITO ====================================================== -->
      <input id   = "total_dolar"
             name = "total_dolar"
             type = "hidden"
             value="<%= number_to_currency(@produto_sum_dolar , :format=>' %n ', :separator => ",")%>" />

      <input id   = "total_guarani"
             name = "total_guarani"
             type = "hidden"
             value="<%= number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0) %>" />

      <div id="TIPO_CREDITO"  style="display:none;" >
      	<table>
      	<tr>
      		<td>
      		  <div class="group">      				
                <table>         	
                        <%= f.hidden_field :plano_condicao %>
                        <%= f.hidden_field :plano_taxa %>
                        <%= f.hidden_field :plano_status %>
                        <%= f.hidden_field :plano_data %>
                        <%= f.hidden_field :plano_data %>                  
                        <%= f.hidden_field :interes_us %>                  
                        <%= f.hidden_field :interes_gs %>                  
                  
                  </tr>
         	
                  <tr>
                    <td>Cuotas :</td>
                    <td><%= f.text_field :cota,         :value => @count.to_i + 1,:size => 3 %></td>

                    <td>
                     <div id="TIPO_CREDITO_DOLAR" style="display: none;">
                       <table>
                        <tr>
                           <td align="right">Valor U$ : </td>
                           <td><%= f.text_field :cota_dolar_01,
                            :size     => 15,
                            :value    => number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",") ,
                            :onkeyup  =>"maskIt(this,event,'###.###.###.###,##',true)",
                            :dir      =>"rtl" %></td>

                        </tr>
                     </table>
                  </div>

                  <div id="TIPO_CREDITO_GUARANI" style="display: none;">
                     <table>
                           <tr>
                             <td align="right">Valor Gs. : </td>
                             <td><%= f.text_field :cota_guarani_01,
                               :onkeyup  =>"maskIt(this,event,'###.###.###.###',true)",
                               :size     => 15,
                               :value    => number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0),
                               :dir      =>"rtl" %></td>

                           </tr>
                          </table>
                        </div>
                       </td>

                       <td align="right">Venci. : </td>
                       <td><%= f.date_select :data_cota_01 %></td>
                     </tr>
                   </table>
      			</div>
      		</td>
      	</tr>
      	</table>

      <br/>

      </div>


      <!-- DIV DETALHES AO FATURA ==================================================-->
      
      <table>
      	<tr>
      		<td width="878">
             <div>
             	<fieldset>
                <table>
                   <tr>
                      <td></td>
                      <td>
                         <table>
                            <tr>
                               <td>
                                  <fieldset>
                                     <legend>Factura?</legend>
                                     <%= f.radio_button :fatura, 0,
                                      :Checked     => 'True',
                                      :onkeypress  => "return bloqEnter(event)",
                                      :onkeyup     => "EnterTab(event,'vendas_financa_submit')"%> No
                                     <%= f.radio_button :fatura, 1,
                                    :onkeypress  => "return bloqEnter(event)",
                                    :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero_01')"%> Si

                                  </fieldset>
                               </td>
                            </tr>
                         </table>
                      </td>
                   </tr>

                   <tr>
                      <td align="right">Factura a Nombre de.:</td>

                      <td colspan="2"><%= f.text_field :fatura_legal,
                                                       :size => 37,
            :value => @venda.persona_nome,
            :onkeypress  => "return bloqEnter(event)",
            :onkeyup     => "f(this),EnterTab(event,'vendas_financa_documento_numero_02')"%>
                      </td>
                      
                      <td colspan="2">Ruc.:<%= f.text_field :fatura_legal_ruc,
                        :size => 15,
                        :value => @venda.ruc,
                        :onkeypress  => "return bloqEnter(event)",
                        :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero_02')"%>
                      </td>

                   </tr>
                   <% if current_user.tipo == 2 %>
                   <% numero = Fatura.maximum(:documento_numero,:conditions => ["documento_numero_02 = '002'"])%>
                   <tr>
                      <td align="right">Factura N.:</td>

                      <td><%= f.text_field :documento_numero_01,
                                           :size => 3,
                                           :value => '001',
                                           :onkeypress  => "return bloqEnter(event)",
                                           :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero_02')"%> -
                                           
                         <%= f.text_field :documento_numero_02,
                            :size        => 3,
                            :value       => '002',
                            :onkeypress  => "return bloqEnter(event)",
                            :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero')"%> -
                         <%= f.text_field :documento_numero,
                            :size        => 16,
                            :value       => (numero.to_i + 1).to_s.rjust(7,'0'),
                            :onkeypress  => "return bloqEnter(event)",
                            :onkeyup     => "EnterTab(event,'vendas_financa_submit')"%></td>
                      <td colspan='2' align="right"><%= f.submit "     Grabar     ", :class=>'button' %></td>
                      <% else %>

                   <% numero = Fatura.maximum(:documento_numero,:conditions => ["documento_numero_02 = '001'"])%>
                   <tr>
                      <td align="right">Factura N.:</td>

                      <td><%= f.text_field :documento_numero_01,
                                           :size => 3,
                                           :value => '001',
                                           :onkeypress  => "return bloqEnter(event)",
                                           :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero_02')"%>-
                         <%= f.text_field :documento_numero_02,
                            :size        => 3,
                            :value       => '001',
                            :onkeypress  => "return bloqEnter(event)",
                            :onkeyup     => "EnterTab(event,'vendas_financa_documento_numero')"%>-
                         <%= f.text_field :documento_numero,
                            :size        => 16,
                            :value       => (numero.to_i + 1).to_s.rjust(7,'0'),
                            :onkeypress  => "return bloqEnter(event)",
                            :onkeyup     => "EnterTab(event,'vendas_financa_submit')"%></td>

                      <td colspan='2' align="right"><%= f.submit "Grabar", :id => 'vendas_financa_submit', :class=> 'button', :disable_with => "Aguarde..." %></td>

                      <% end %>
                   </tr>


                </table>
                </fieldset>

             <% end %>
             	             	
             </div>      			
      		</td>      			
      	</tr>
      	
      </table>


</div>


<script type="text/javascript">
  
function EnterTabVenda(){
    if( event.keyCode == 13 ){
        if (document.getElementById('vendas_financa_moeda').value == '1'){
          document.getElementById('vendas_financa_porcen_desconto_gs').focus();
        } else {
          document.getElementById('vendas_financa_porcen_desconto_us').focus();
        }
    }
}

function VendasfinancaAbreDiv(d){
    if (document.getElementById('vendas_financa_tipo').value == '0' ){

          document.getElementById('tipo_descr_contado').style.display                  = "inline";
          document.getElementById('tipo_descr_credito').style.display                  = "none";
          document.getElementById('TIPO_CONTADO').style.display                        = "inline";
          document.getElementById('TIPO_CREDITO').style.display                        = "none";

          if( document.getElementById('vendas_financa_moeda').value == '0'){
                  document.getElementById('moeda_us').style.display                  = "inline";
                  document.getElementById('moeda_gs').style.display                  = "none";
                  document.getElementById('TIPO_CONTADO_DOLAR').style.display        = "inline";
                  document.getElementById('TIPO_CONTADO_GUARANI').style.display      = "none";
                  document.getElementById("vendas_financa_porcen_desconto_us").focus();

          }
          else if (document.getElementById('vendas_financa_moeda').value == '1' ){                
                  document.getElementById('moeda_us').style.display                  = "none";
                  document.getElementById('moeda_gs').style.display                  = "inline";

                  document.getElementById('TIPO_CONTADO_DOLAR').style.display        = "none";
                  document.getElementById('TIPO_CONTADO_GUARANI').style.display      = "inline";
                  document.getElementById("vendas_financa_porcen_desconto_gs").focus();
          }
          else{
            document.getElementById('moeda_us').style.display                  = "inline";
            document.getElementById('moeda_gs').style.display                  = "none";
            document.getElementById('TIPO_CONTADO_DOLAR').style.display              = "none";
            document.getElementById('TIPO_CONTADO_GUARANI').style.display            = "none";
            document.getElementById("vendas_financa_porcen_desconto_rs").focus();
          }

               
        }

    if (document.getElementById('vendas_financa_tipo').value == '1')
    {
          if( document.getElementById('moeda').value == '0')
              {
                  document.getElementById('TIPO_CREDITO_DOLAR').style.display                  = "inline";
                  document.getElementById('TIPO_CREDITO_GUARANI').style.display                = "none";
                  
              }
           else if( document.getElementById('moeda').value == '1' )
               {
                  document.getElementById('TIPO_CREDITO_DOLAR').style.display                  = "none";
                  document.getElementById('TIPO_CREDITO_GUARANI').style.display                = "inline";
                  

               }

           else
               {
                  document.getElementById('TIPO_CREDITO_DOLAR').style.display                  = "none";
                  document.getElementById('TIPO_CREDITO_GUARANI').style.display                = "none";
                  

               }

        document.getElementById('vendas_financa_tipo').value = '1'
        document.getElementById('TIPO_CREDITO').style.display           = "inline";
        document.getElementById('TIPO_CONTADO').style.display           = "none";
        document.getElementById('tipo_descr_contado').style.display     = "none";
        document.getElementById('tipo_descr_credito').style.display     = "inline";


    }
}


function VendaFinancaDescUs(){
    var totvenda = parseFloat( document.getElementById( 'valor_dolar_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var porcen   = eval( parseFloat( document.getElementById( 'vendas_financa_porcen_desconto_us' ).value.replace(/\./g, "").replace(",", ".") ) / 100 );
    var total    = ( totvenda * porcen )        
    document.getElementById( 'vendas_financa_desconto_dolar' ).value = ( number_format(total,2, ',', '.') );
}


function VendaFinancaDescRs(){
    var totvenda = parseFloat( document.getElementById( 'valor_real_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var porcen   = eval( parseFloat( document.getElementById( 'vendas_financa_porcen_desconto_rs' ).value.replace(/\./g, "").replace(",", ".") ) / 100 );
    var total    = ( totvenda * porcen )        
    document.getElementById( 'vendas_financa_desconto_real' ).value = ( number_format(total,2, ',', '.') );
}


function VendaFinancaValorDescUs(){
    var totvenda = parseFloat( document.getElementById( 'valor_dolar_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var desc     = parseFloat( document.getElementById( 'vendas_financa_desconto_dolar' ).value.replace(/\./g, "").replace(",", ".") )    
    var porcen   = ( eval( desc / totvenda ) * 100 );
    document.getElementById( 'vendas_financa_porcen_desconto_us' ).value = ( number_format(porcen,0, ',', '.') );
    document.getElementById( 'vendas_financa_valor_dolar_contado' ).value = ( number_format( ( totvenda - desc ),2, ',', '.') );
}


function VendaFinancaValorDescRs(){
    var totvenda = parseFloat( document.getElementById( 'valor_real_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var desc     = parseFloat( document.getElementById( 'vendas_financa_desconto_real' ).value.replace(/\./g, "").replace(",", ".") )    
    var porcen   = ( eval( desc / totvenda ) * 100 );
    document.getElementById( 'vendas_financa_porcen_desconto_rs' ).value = ( number_format(porcen,0, ',', '.') );
    document.getElementById( 'vendas_financa_valor_real_contado' ).value = ( number_format( ( totvenda - desc ),2, ',', '.') );
}


function VendasFinancaTrocoUs(){
        vartrocod = eval( parseFloat( document.getElementById('vendas_financa_recebido_dolar').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('vendas_financa_valor_dolar_contado').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('troco_dolar').value = ( number_format(vartrocod,2, ',', '.') );
        document.getElementById('mostra_dolar').innerHTML  = '<span>'+number_format(vartrocod,2, ',', '.')+'</span>';

        varcotacaod = eval( parseFloat( document.getElementById('troco_dolar').value.replace(/\./g, "").replace(",", ".") ) * document.getElementById('vendas_financa_cotacao').value )  ;
        document.getElementById('troco_guarani').value = ( number_format(varcotacaod,0, ',', '.') );
        document.getElementById('mostra_guarani').innerHTML  = '<span>'+number_format(varcotacaod,0, ',', '.')+'</span>';

        varpagod = eval( parseFloat( document.getElementById('recebido').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('troco_dolar').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('vendas_financa_valor_dolar_contado').value = ( number_format(varpagod,2, ',', '.') );

        varpagocg = eval( parseFloat( document.getElementById('vendas_financa_valor_dolar_contado').value.replace(/\./g, "").replace(",", ".") ) * document.getElementById('vendas_financa_cotacao').value  ) ;
        document.getElementById('vendas_financa_valor_guarani_contado').value = ( number_format(varpagocg,0, ',', '.') );

}


function VendaFinancaDescGs(){
    var totvenda = parseFloat( document.getElementById( 'valor_guarani_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var porcen   = eval( parseFloat( document.getElementById( 'vendas_financa_porcen_desconto_gs' ).value.replace(/\./g, "").replace(",", ".") ) / 100 );
    var total    = ( totvenda * porcen )        
    document.getElementById( 'vendas_financa_desconto_guarani' ).value = ( number_format(total,0, ',', '.') );
}


function VendaFinancaValorDescGs(){
    var totvenda = parseFloat( document.getElementById( 'valor_guarani_contado' ).value.replace(/\./g, "").replace(",", ".") )
    var desc     = parseFloat( document.getElementById( 'vendas_financa_desconto_guarani' ).value.replace(/\./g, "").replace(",", ".") )    
    var porcen   = ( eval( desc / totvenda ) * 100 );
    document.getElementById( 'vendas_financa_porcen_desconto_gs' ).value = ( number_format(porcen,0, ',', '.') );
    document.getElementById( 'vendas_financa_valor_guarani_contado' ).value = ( number_format( ( totvenda - desc ),0, ',', '.') );
}



function VendasFinancaTrocoGs(){
        vartrocog = eval( parseFloat( document.getElementById('vendas_financa_recebido_guarani').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('vendas_financa_valor_guarani_contado').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('troco_guarani').value = ( number_format(vartrocog,0, ',', '.') );
        document.getElementById('mostra_guarani').innerHTML  = '<span>'+number_format(vartrocog,0, ',', '.')+'</span>';

        varcotacaog = eval( parseFloat( document.getElementById('troco_guarani').value.replace(/\./g, "").replace(",", ".") ) / document.getElementById('vendas_financa_cotacao').value )  ;
        document.getElementById('troco_dolar').value = ( number_format(varcotacaog,2, ',', '.') );
        document.getElementById('mostra_dolar').innerHTML  = '<span>'+number_format(varcotacaog,2, ',', '.')+'</span>';


        varpagog = eval( parseFloat( document.getElementById('recebido').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('troco_guarani').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('vendas_financa_valor_guarani_contado').value = ( number_format(varpagog,0, ',', '.') );

        varpagod = eval( parseFloat( document.getElementById('vendas_financa_valor_guarani_contado').value.replace(/\./g, "").replace(",", ".") ) / document.getElementById('vendas_financa_cotacao').value  ) ;
        document.getElementById('vendas_financa_valor_dolar_contado').value = ( number_format(varpagod,2, ',', '.') );
}


function VendasVultos(){
        vartrocog = eval( parseFloat( document.getElementById('vendas_financa_cheque_valor_dolar').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('vendas_financa_valor_dolar_contado').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('vendas_financa_vuelto_valor_dolar').value = ( number_format(vartrocog,2, ',', '.') );

        vartrocog = eval( parseFloat( document.getElementById('vendas_financa_cheque_valor_guarani').value.replace(/\./g, "").replace(",", ".") ) - parseFloat( document.getElementById('vendas_financa_valor_guarani_contado').value.replace(/\./g, "").replace(",", ".") ) )  ;
        document.getElementById('vendas_financa_vuelto_valor_guarani').value = ( number_format(vartrocog,0, ',', '.') );
}

</script>