<div class="group">
	<div class="left">    	
			<table class="head_grid">
				<tr>
					<td width="50" align="center">ind.</td>
					<td width="680"align="left">Descripcion</td>
					<td width="70" align="right">Qtd</td>
					<td width="70" align="right">Unit</td>
					<td width="70" align="right">Tot.</td>
					<td width="110"></td>
					

				</tr>
			</table>
			<div class="rolagem" dir="div">
				<div id="vendas_produtos">					
				  	<%= render :partial => @venda.vendas_produtos %>
				</div>
			</div>

	</div>
	<%= render :partial=>Form.last.form_venda_produtos %>	  

	<div class="backgrounds">
	<div class="buttons">
		<%= link_to 'Volver (F3)', vendas_path, :class => "button back" %>

		   <%= link_to 'Seguir (F4)', vendas_financa_vendas_path(:id => @venda.id) , :class => "button next" %>
		   <%= hidden_field_tag :id, @venda.id %>
		   <%= hidden_field_tag :moeda, @venda.moeda %>
		   <%= hidden_field_tag :maiorista, @venda.tipo_maiorista %>
		</div>
	</div>

</div>


<script>
	function ComprovanteOrden()                //
	{
		window.open('/vendas/requerimento_ordem_servico/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}

	document.onkeydown= function(e) {
		var cliente  = document.getElementById('maiorista').value
		var deposito = document.getElementById('vendas_produto_deposito_id').value
		//BOTAO F4
		if(e.which == 115)
			location.href="/vendas/"+ document.getElementById('id').value + "/vendas_financa"
		//back 
		if(e.which == 114)
			location.href="/vendas/"

		//LISTA DE PRODUTOS
		if(e.which == 113)
			window.open('/produtos/busca_venda_produto?cliente='+cliente+'&deposito_id='+deposito+'', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=50, WIDTH=2500, HEIGHT=400');

	}
</script>