
<div class="widget_tableDiv">
  <table>
    <thead>
      <tr>
        <td width="50" align="center">Numero</td>
        <td width="150" align="center">Codigo</td>
        <td width="450" align="center">Descripcion</td>
        <td width="100" align="center">Valor Gs.</td>
        <td width="100" align="center">Valor U$.</td>
      </tr>
    </thead>
    <% total_debe_gs = 0 %>
    <% total_debe_us = 0 %>
    <% diario_debes.each do |diario_debe| %>

      <tbody class="scrollingContent">
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td align="center"><%= diario_debe.id %></td>
          <td align="left"><%= diario_debe.contabilidade %></td>
          <td align="left"><%= diario_debe.descricao %></td>
          <td align="right"><%= number_to_currency(diario_debe.valor_guarani, :format=>' %n ', :precision => 0) %></td>
          <td align="right"><%= number_to_currency(diario_debe.valor_dolar, :format=>' %n ',   :separator => ",") %></td>          
          <td><%= link_to 'Editar', edit_diario_debe_path(diario_debe) %></td>
          <td><%= link_to 'Borrar', diario_debe, :confirm => 'Tiene Certeza?', :method => :delete %></td>

          <% total_debe_gs = total_debe_gs + diario_debe.valor_guarani%>
          <% total_debe_us = total_debe_us + diario_debe.valor_dolar%>
          <% @diario.update_attribute :debito_guarani, total_debe_gs %>
          <% @diario.update_attribute :debito_dolar, total_debe_us %>
        </tr>
      </tbody>
    <% end %>      


  </table>
</div>
<table>
        <tr>
          <td width="490"></td>
          <td width="100" align="right"><%=  number_to_currency(total_debe_gs, :format=>' %n ', :precision => 0) %></td>
          <td width="80" align="right"><%=  number_to_currency(total_debe_us, :format=>' %n ', :separator => ",") %></td>
        </tr>
        <input type="hidden" id="debe" value="<%= total_debe_gs %>"/>
</table>

