
<h1 id="header">
  <b>Descricao:</b>
  <%= @safra.descricao %>

  <b>Inicio:</b>
  <%= @safra.inicio.strftime("%d/%m/%Y") %>

  <b>Fim:</b>
  <%= @safra.final.strftime("%d/%m/%Y") %>

</h1>

<div class="group">
  <%= render :partial=>"/safra_produtos/index_produto", :locals=>{ :safra_produtos => @safra.safra_produtos } %>
</div>
 
<div class="group">
 	<%= render :partial=>"/safra_produtos/new_produto", :locals=>{ :safra_produto => SafraProduto.new(:safra_id=>@safra.id) } %>
</div> 
<div class="buttons">
	<%= link_to 'Volver', edit_safra_path(@safra),:class => 'button back' %> 
</div>

