
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>MercoSys Enterprise</title>

    <%= stylesheet_link_tag 'scaffold', 'button','table','charts/jquery.jqplot','charts/shCoreDefault.min','charts/shThemejqPlot.min' %>
    <%= javascript_include_tag 'js/jquery-1.7.2.min', 'charts/jquery.jqplot.min','charts/scripts/shCore.min','charts/scripts/shBrushJScript.min','charts/scripts/shBrushXml.min','charts/plugins/jqplot.highlighter.min','charts/plugins/jqplot.cursor.min','charts/plugins/jqplot.dateAxisRenderer.min','charts/plugins/jqplot.pointLabels.min' %>



 

  </head>

  <script>
    //ABRI CONSULTA DE STOCK
    document.onkeydown= function(e) {
      if(e.which == 123)
        window.open('/produtos/consulta_stock', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1500, HEIGHT=450');

      if(e.which == 27)
        self.close();
    }
  </script>

  <body>
    <div class="cabeca">
      <span class="style1"> MercoSys Enterprise </span>
      <small class="small">
        version<%= $version %><%= $empresa %>
      </small>
      <span class="style2"> 
          Unidade : <%= current_unidade.unidade_nome %> |
        Usuario : <%= current_user.usuario_nome%> |
        <% if session[:logged] %>
        <%= link_to "logout", login_path(1) ,:method => :delete %>
        <% end %>
        </span>
    </div>
  
      <div class="Mensagem" id="observacao">
       <%= flash[:observacao] %>
       <%= flash[:notice] %>
      </div>
          
      <div id="back">
      <div id="contents">
      <%= yield :layout %>
      </div>
    </div>    
    
    <div class="footer">
      Copyright © 2011 - Enterprise - Powered by <a href="http://mercosysinformatica.com">Mercosys</a>
    </div>
  </body>
</html>
