
<% quebra    = "" %>
<% subdivida = 0 %>
<% subpago   = 0 %>
<% subsaldo  = 0 %>
<% totdivida = 0 %>
<% totpago   = 0 %>
<table>
<% @proveedores.each do |proveedor|%>
   <% pp = ComprasProduto.all(:select=> 'id,produto_id,produto_nome,persona_nome,quantidade,unitario_guarani,total_guarani',:conditions => ["persona_id = ? AND compra_id = ?",proveedor.persona_id.to_i,proveedor.compra_id.to_i]) if params[:detalhe] == "1"%>
      <% if quebra != proveedor.persona_nome  %>

         <% if quebra != "" %>

            <% subsaldo = subdivida - subpago %>
            <tr class="head">
               <td colspan="6"></td>
               <td align="right"><%= number_to_currency(subdivida, :format=>' %n ', :precision => 0) %></td>
               <td align="right"><%= number_to_currency(subpago, :format=>' %n ', :precision => 0) %></td>
               <td width="80" align="right"><%= number_to_currency(subsaldo, :format=>' %n ', :precision => 0) %></td>
            </tr>

            <tr>
               <td></td>
            </tr>

            <% subdivida = 0 %>
            <% subpago   = 0 %>
            <% subsaldo  = 0 %>

         <% end %>

         <td colspan="1"></td>
         <td colspan="6" class="head"><%=h quebra = proveedor.persona_nome%></td>

      <% end %>

      <% if params[:detalhe] == "1" %>
         <tr class = "head" height="20">
         <% else %>
         <tr>
         <% end %>

         <td width="100" align="center">  <%=h proveedor.data.strftime("%d/%m/%Y")%> </td>
         <td width="100" align="center">  <%=h proveedor.persona_id%> </td>
         <td width="250" align="left">    <%=h proveedor.documento_nome%> </td>
         <td width="150" align="center">  <%=h proveedor.documento_numero_01%>-<%=h proveedor.documento_numero_02%>-<%=h proveedor.documento_numero%> </td>
         <td width="100" align="center">  <%=h proveedor.cota%> </td>
         <td width="100" align="center">  <%=h proveedor.vencimento.strftime("%d/%m/%Y")%> </td>
         <td width="100" align="right">   <%=h number_to_currency(proveedor.divida_guarani, :format=>' %n ', :precision => 0)%> </td>
         <td width="100" align="right">   <%=h number_to_currency(proveedor.pago_guarani, :format=>' %n ', :precision => 0)%> </td>
      </tr>

      <%  subdivida = subdivida.to_f + proveedor.divida_guarani.to_f %>
      <%  subpago   = subpago.to_f   + proveedor.pago_guarani.to_f %>
      <%  totdivida = totdivida.to_f + proveedor.divida_guarani.to_f %>
      <%  totpago   = totpago.to_f   + proveedor.pago_guarani.to_f %>

   <% if params[:detalhe] == "1" %>
      <% pp.each do |produto| %>
         <%cod = Produto.find_by_id(produto.produto_id)%>
         <tr class = "<%= cycle( "cor1", "cor2" )%>">
            <% if $empresa == 'E01' %>
               <td align="center">  <%=h cod.cod_velho %> </td>
            <% else %>
               <td align="center"></td>
            <% end %>
            <td align="center">  <%=h produto.quantidade %> </td>
            <td align="left"  colspan="3">  <%=h produto.produto_nome %> </td>
            <td align="right" colspan="2">  <%=h number_to_currency(produto.unitario_guarani, :format=>' %n ', :precision => 0) %> </td>
            <td align="right">  <%=h number_to_currency(produto.total_guarani, :format=>' %n ',  :precision => 0) %> </td>
         </tr>

      <% end %>
   <% end %>

<% end %>

<%  subsaldo = subdivida.to_f - subpago.to_f %>

<tr class="head">
   <td colspan="6"></td>
   <td align="right"><%= number_to_currency(subdivida, :format=>' %n ', :precision => 0) %></td>
   <td align="right"><%= number_to_currency(subpago, :format=>' %n ', :precision => 0) %></td>
   <td width="80" align="right"><%= number_to_currency(subsaldo, :format=>' %n ', :precision => 0) %></td>
</tr>

<% subsaldo  = 0 %>

<%  totsaldo = totdivida - totpago%>

<tr class="head"  height="50">
   <td>Anterior <%= number_to_currency(@saldo_anterior, :format=>' %n ', :precision => 0)%></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td>Total:</td>
   <td width="100" align="right"><%= number_to_currency(totdivida, :format=>' %n ', :separeitor => ",") %></td>
   <td width="100" align="right"><%= number_to_currency(totpago,   :format=>' %n ', :separeitor => ",") %></td>
   <td width="80" align="right"><%= number_to_currency((@saldo_anterior.to_f + totpago.to_f ) - totdivida.to_f,   :format=>' %n ', :separeitor => ",") %></td>
</tr>
</table>





