<h1 align="right" id="header">Saldo Inicial Proveedores</h1>
<%= link_to 'Nuevo', new_proveedore_path, :class => 'button add' %>
<div class="group">
  <h2>Proveedores</h2>
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="200" align="center">Fecha</td>
      <td width="400" align="center">Prov.</td>
      <td width="100" align="center">Divida U$.</td>
      <td width="100" align="center">Divida Gs.</td>
      <td width="100" align="center">Divida R$.</td>
      <td width="100" align="center">Pago U$.</td>
      <td width="100" align="center">Pago Gs.</td>
      <td width="100" align="center">Pago R$.</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
      <table>
      <% for cliente in @clientes %>

        <tr class = "<%= cycle("cor1", "cor2")%>" >
          <td width="50" align="center" ><%=h cliente.id %></td>
          <td width="200" align="left"><%=h cliente.data.strftime("%d/%m/%Y") %></td>
          <td width="400" align="left"><%=h truncate( cliente.persona_nome, :leght => 200) %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.divida_dolar, :format =>' %n ', :separeitor => ',') %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.divida_guarani, :format =>' %n ', :precision => 0) %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.divida_real, :format =>' %n ', :separeitor => ',') %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.pago_dolar, :format =>' %n ', :separeitor => ',') %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.pago_guarani, :format =>' %n ', :precision => 0) %></td>
          <td width="100" align="right"><%=h number_to_currency(  cliente.pago_real, :format =>' %n ', :separeitor => ',') %></td>
          <td><%= link_to 'Editar', edit_proveedore_path(cliente) %></td>
          <td><%= link_to 'Borrar', cliente, :confirm => 'Tiene Certeza?', :method => :delete %></td>          
        </tr>
      <% end %>

      </table>      
  </div>
</div>

