<h1 align="right" id="header">Estados</h1>
<%= link_to 'Nuevo', new_estado_path %>
<div class="group">
  <h2>Estados</h2>
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="200" align="center">Estado</td>
      <td width="200" align="center">Pais</td>
    </tr>
  </table>

  <div class="rolagem" id="div">
    <table>
      <% for estado in @estados %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50" align="center"><%=h estado.id %></td>
          <td width="200" align="left"><%=h estado.nome %></td>
          <td width="200" align="left"><%=h estado.pais %></td>
          <td><%= link_to 'Editar', edit_estado_path(estado) %></td>
          <td><%= link_to 'Borrar', estado, :confirm => 'Tiene Certeza ?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

