<div class="group">
   <table>
      <tr>
         <td width="40" align="center">Cod.</td>
         <td width="70" align="center">Fecha</td>
         <td width="150" align="center">Vendedor</td>
         <td width="80" align="center">Local Venda</td>
         <td width="120" align="center">Factura</td>
         <td width="350" align="center">Cliente</td>
         <td width="100" align="center">Cantidad</td>
         <td width="100" align="center">Total Gs</td>
         <td width="100" align="center">Total U$.</td>
         <td width="70" align="center">Tipo</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">


      <table>
         <tr>
         </tr>

         <% @vendas.each do |venda| %>
            <% count_produto = VendasProduto.count(:id,:conditions    => ['venda_id = ?',venda.id]) %>
            <% count_financa = VendasFinanca.count(:id,:conditions    => ['venda_id = ?',venda.id]) %>
			<% if venda.local_venda == 0 %>
					<% local = 'Interna' %>
			<% else %>
					<% local = 'Externa' %>
			<% end %>
			<% if venda.tipo == 0 %>
					<% tipo = 'Contado' %>
			<% else %>
					<% tipo = 'Credito' %>
			<% end %>


            <% if count_produto.to_i <= 0 or count_financa.to_i <= 0  or venda.status != 1%>
               <% color = '#fa3e40' %>

               <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td width="40" align="center"  bgcolor="<%=color%>">    <%= h venda.id%></td>
                  <td width="70" align="center"  bgcolor="<%=color%>">    <%= h venda.data.strftime("%d/%m/%Y")%></td>
                  <td width="150" align="left"  bgcolor="<%=color%>">    <%= h truncate( venda.vendedor_nome, :length => 20 ) %></td>
                  <td width="80" align="left"  bgcolor="<%=color%>">    <%= h local %></td>
                  <td width="120" align="left"   bgcolor="<%=color%>">     <%= h venda.documento_numero_01%>-<%= h venda.documento_numero_02%>-<%= h venda.documento_numero%></td>
                  <td width="350" align="left"   bgcolor="<%=color%>">     <%= h truncate( venda.persona_nome, :length => 35 ) %></td>
                  <td width="100" align="center" bgcolor="<%=color%>">   <%= format("%.3f",venda.quantidade.to_f)%></td>
                  <td width="100" align="right"  bgcolor="<%=color%>">   <%=h number_to_currency(venda.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
                  <td width="100" align="right"  bgcolor="<%=color%>">   <%=h number_to_currency(venda.total_dolar, :format=>' %n ', :separator => "," )  %></td>
                  <td width="70" align="center"  bgcolor="<%=color%>">   <%=h tipo  %></td>
                  <td><%= link_to 'Editar', edit_venda_path(venda), :popup => ['new_window','height=1100,width=1500'] %></td>
                  <td><%= link_to 'Borrar', venda, :confirm => 'Tiene Certeza?', :method => :delete %></td>
                  <td><%= link_to 'VS', "vendas/visualizacao/#{venda.id}", :popup => ['new_window','height=900,width=900'] %></td>

               </tr>
            <% else %>
               <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td width="40" align="center"  >    <%= h venda.id%></td>
                  <td width="70" align="center"  >    <%= h venda.data.strftime("%d/%m/%Y")%></td>
                  <td width="150" align="left">    <%= h truncate( venda.vendedor_nome, :length => 20 ) %></td>
                  <td width="80" align="left">    <%= h local %></td>
                  <td width="120" align="left"   >     <%= h venda.documento_numero_01%>-<%= h venda.documento_numero_02%>-<%= h venda.documento_numero%></td>
                  <td width="350" align="left"   >     <%=  truncate(  venda.persona_nome, :length => 35 )  %></td>
                  <td width="100" align="center" >   <%= format("%.3f",venda.quantidade.to_f)%></td>
                  <td width="100" align="right"  >   <%=h number_to_currency(venda.total_guarani, :format=>' %n ', :precision => 0 )  %></td>
                  <td width="100" align="right"  >   <%=h number_to_currency(venda.total_dolar, :format=>' %n ', :separator => "," )  %></td>
                  <td width="70" align="center"  >   <%=h tipo  %></td>
                  <% if venda.status == 0  or current_user.tipo == 0 %>
                    <td><%= link_to 'Editar', edit_venda_path(venda), :popup => ['new_window','height=1100,width=1500'] %></td>
                    <td><%= link_to 'Borrar', venda, :confirm => 'Tiene Certeza?', :method => :delete %></td>
                  <% end %>
                    <td><%= link_to 'VS', "vendas/visualizacao/#{venda.id}", :popup => ['new_window','height=900,width=900'] %></td>
               </tr>

            <% end %>

         <% end %>
      </table>
   </div>
</div>

<%= will_paginate @vendas, :update => 'pagina', :options => {:prev_label => '<< Anterior',:next_label => 'Próximo >>'}%>





