<h1 align="right" id="header">.</h1>
Filtro Facturas Pendientes

<%= form_for :venda, :url => update_faturas_pendentes_vendas_path, :html => { :method => :put } do |f| %>
  <div class="group">
    <table>
      <tr>
        <td width="30" ></td>
        <td width="80"  align="center">Fecha</td>
        <td width="300" align="center">Cliente</td>
        <td width="100" align="center">Cantidad</td>
        <td width="100" align="center">Total Dolar</td>
        <td width="100" align="center">Total Gs.</td>
      </tr>
    </table>
  

    <div class="rolagem" dir="div">
      <table>
        <% indice     = 1 %>
        <% totquant   = 0 %>
        <% totdolar   = 0 %>
        <% totguarani = 0 %>

        <% for venda in @vendas %>          
          
          <% produto_count       = VendasProduto.sum(:quantidade,:conditions => ['venda_id = ?',venda.id] )%>
          <% produto_sum_dolar   = VendasProduto.sum(:total_dolar,:conditions => ['venda_id = ?',venda.id] )%>
          <% produto_sum_guarani = VendasProduto.sum(:total_guarani,:conditions => ['venda_id = ?',venda.id] )%>
          <tr class = "<%= cycle("cor1", "cor2") %>">              
              <%= hidden_field_tag "venda_ids[]", venda.id   %>
              <td width="30" align="center" ><%= indice   %></td>
              <td width="80" align="center">    <%= h venda.data.strftime("%d/%m/%Y")%></td>
              <td width="300" align="left">   <a href="#" onclick="DetalheProduto(<%=venda.id%>)" ><%= h venda.persona_nome%></a></td>
              <td width="100" align="center">   <%= format("%.3f",produto_count.to_f)%></td>
              <td width="100" align="right">   <%=h number_to_currency(produto_sum_dolar,   :format=>' %n ', :separator => ",")  %></td>
              <td width="100" align="right">   <%=h number_to_currency(produto_sum_guarani, :format=>' %n ', :precision => 0)  %></td>
          </tr>
              <% indice     = indice     + 1 %>
              <% totquant   = totquant   + produto_count %>
              <% totdolar   = totdolar   + produto_sum_dolar %>
              <% totguarani = totguarani + produto_sum_guarani %>
          
        <% end %>
      </table>
    </div>
    <table>
      <tr>
        <td width="410"></td>
        <td width="100" align="center">  <%=h format("%.3f",totquant.to_f)  %></td>
        <td width="100" align="right">   <%=h number_to_currency(totdolar,        :format=>' %n ', :separator => ",")  %></td>
        <td width="100" align="right">   <%=h number_to_currency(totguarani,      :format=>' %n ', :precision => 0)  %></td>

      </tr>
    </table>
  </div>
  <%= f.hidden_field :fatura, :value => 1 %>
<table>
  <tr>
    <td>
      <fieldset>
        <legend>N. Factura</legend>
          <%= f.text_field :documento_numero_01,
                           :size => 1 %> -
          <%= f.text_field :documento_numero_02,
                           :size => 1 %> -
          <%= f.text_field :documento_numero,
                           :size => 10 %>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td><%= submit_tag "Facturar", :confirm => 'Tiene Certeza?' %> | <%= link_to "Volver", :action => "faturas_pendentes" %> </td>
  </tr>
</table>

<% end %>
