
<div class="groupvenda">
   <table>
      <tr>
         <td>Cotizacion:</td>
         <td align="right"><%=h number_to_currency(@venda.cotacao, :format=>' %n ', :precision => 0)  %></td>
         <td>Total Prod.:  </td>
         <td align="right"><%=format( "%.3f", @produto_count.to_f )%> </td>
      </tr>

      <tr>
         <td><font color="green">Total U$ : </font></td>
         <td align="right"><font color="green"><%=h number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",")  %> | </font> </td>

         <td><font color="green"> Iva U$ : </font></td>
         <td align="right"><font color="green"><%=h number_to_currency(@produto_iva_dolar, :format=>' %n ', :separator => ",")  %> </font></td>

         <td><font color="red">Total Gs.:</font> </td>
         <td align="right"><font color="red"><%=h number_to_currency(@produto_sum_guarani, :format=>' %n ', :separator => ",",:precision => 0)  %> |</font> </td>

         <td><font color="red"> Iva Gs.:</font> </td>
         <td align="right"><font color="red"><%=h number_to_currency(@produto_iva_guarani, :format=>' %n ', :separator => ",",:precision => 0)  %></font> </td>

      </tr>
   </table>
   <%= render :partial=>"index_entrada_produto", :locals=>{:vendas_entrada_produtos => @venda.vendas_entrada_produtos} %>

   <div class="group_cd">
      <%= render :partial=>"new_entrada_produto", :locals=>{:vendas_entrada_produto =>VendasEntradaProduto.new(:venda_id=>@venda.id)} %>
   </div>
</div>

<div class="buttons">
  <% form_for(@venda) do |vd| %>                

   <a href="/vendas/<%= @venda.id.to_i %>" class="button back">Volver </a> 
   <a href="javascript:void(0)" class="button print" onClick="ComprovanteVenda()">Comprobante</a> 
   <% if @count_all.to_i >  0 %>      
      <a href="javascript:void(0)"class="button print" onClick="FaturaVenda()">Factura</a> 
       <%= vd.submit "  Finalizar  ",:disable_with => "Aguarde..." , :class => "button",:onclick => "Finalizar()", :confirm => 'Encerrar La Venta' %>
	   <a href="/vendas/new" class="button add"> Nuevo </a>	   
	   <a href="/vendas" class="button delete"> Salir </a>
     <% end %> 
   <% end %>
</div>
<%= hidden_field_tag :id, @venda.id %>

<script>
   function ComprovanteVenda()                //
   {
      window.open('/vendas/comprovante/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
   }

   function FaturaVenda()                     //
   {
      window.open('/vendas/fatura/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
   }

   function fecha()                           //
   {
      self.close();
   }
   //ABRI POPUP-----------------------------------------------------------------
   document.onkeydown=function(e)
   {
      if(e.which == 113)
         window.open('/personas/persona_venda_financa', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=450');
   }
   //FIM ABRI POPUP----------------------------------------------------------------

</script>

