<div class="groupvenda"> 
	
		<table>
		<tr>
			<td>Cotizacion:</td>
			<td align="right"><%= h number_to_currency(@venda.cotacao, :format=>' %n ', :precision => 0)  %></td>
			<td align="right">Total Prod.: </td>
			<td align="right"><%= format( "%.3f", @produto_count.to_f )%> </td>
		</tr>

		<tr>
			<td>
			<font size="6" color="green">
				Total U$ :
			</font>
			</td>
			<td align="right">
			<font size="6" color="green">
				<%= h number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",")  %> 
			</font>
			</td>

			<td width="200" align="right">
				<font size="6" color="red">
					Total Gs.:
				</font>
			</td>
			<td align="right">
				<font size="6" color="red">
					<%= number_to_currency(@produto_sum_guarani, :format=>' %n ', :separator => ",",:precision => 0)  %>
				</font>
			</td>

			<td width="400" align="right">
				<font size="6" color="blue">
					Total R$.:
				</font>
			</td>
			<td align="right">
				<font size="6" color="blue">
					<%= number_to_currency(@produto_sum_real, :format=>' %n ', :separator => ",", :separator => ",")  %>
				</font>
			</td>

		</tr>				
	</table>	
</div> 

<br/>

<div class="groupvenda">	
	<%= render :partial=>"/vendas/eps/index_financa_E03", :locals=>{:vendas_financas => @venda.vendas_financas} %>
    <%= render :partial=>Form.last.form_venda_financa, :locals=>{:vendas_financa=>VendasFinanca.new(:venda_id=>@venda.id)} %>	</div>
    

<div class="backgrounds">
	<div class="buttons">
	  <%= form_for(@venda) do |vd| %>                
			<a href="/vendas/<%= @venda.id.to_i %>" class="button back">Volver (F3) </a>
			<a href="/vendas/<%= @venda.id.to_i %>/gerador_cotas" class="button">Gerar Cuotas </a>
	    <a href="javascript:void(0)" class="button print" onClick="ComprovanteVenda()">Comprobante</a>
	    <a href="javascript:void(0)" class="button print" onClick="ComprovantePagare()">Pagare</a>
			<% if @count_all.to_i >  0 %>
		    <%= vd.hidden_field :status %> 
			  <a href="javascript:void(0)"class="button print" onClick="FaturaVenda()">Factura</a>
		    <%= vd.submit "  Finalizar  ",:disable_with => "Aguarde..." , :class => "button",:onclick => "Finalizar()", :confirm => 'Encerrar La Venta' %>
			  <a href="/vendas/new_balcao" class="button add"> Nuevo (F4)</a>	   
			  <a href="/vendas" class="button delete"> Salir </a>
			<% end %>
	  <% end %>
	</div>
</div>

</div> 

<%= hidden_field_tag :id, @venda.id %>
<%= hidden_field_tag :count, @count_all.to_i %>
<%= hidden_field_tag :sum_dolar, @produto_sum_dolar.to_f %>
<%= hidden_field_tag :sum_guarani, @produto_sum_guarani.to_f %>
<%= hidden_field_tag :moeda, @venda.moeda %>

<script>

	function Finalizar() //
	{
		document.getElementById('venda_status').value = 1
	}

	function Seguir() //
	{
		var id = document.getElementById('id').value
		var us = document.getElementById('sum_dolar').value
		var gs = document.getElementById('sum_guarani').value

		if ( document.getElementById('count').value <= 0  ) {
			alert ('Es Necessario Agregar Los Datos Finacieros');
			return false;
		} else {
			location.href="/vendas/vendas_entrada_produto/" + id ;
		}

		if ( document.getElementById('count').value > 0  ) {
			if ( document.getElementById('moeda').value == 0  ){
				document.getElementById('sum_dolar').value
			}
		}


	}

	function ComprovanteVenda(){
		window.open('/vendas/' + document.getElementById('id').value + '/comprovante', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}

	function ComprovantePagare(){
		window.open('/vendas/' + document.getElementById('id').value + '/pagare', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}


	function FaturaVenda(){
		window.open('/vendas/' + document.getElementById('id').value+'/fatura', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	}

	function fecha(){
		self.close();
	}

$(window).keydown(function(event) {
  if(event.ctrlKey && event.keyCode == 71) { 
			location.href="/vendas/" + document.getElementById('id').value +"/gerador_cotas"
    event.preventDefault(); 
  }
  if(event.ctrlKey && event.keyCode == 67) { 
		window.open('/vendas/' + document.getElementById('id').value + '/comprovante', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');

    event.preventDefault(); 
  }

  if(event.ctrlKey && event.keyCode == 70) { 
		window.open('/vendas/' + document.getElementById('id').value+'/fatura', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');

    event.preventDefault(); 
  }


  if(event.ctrlKey && event.keyCode == 80) { 
		window.open('/vendas/' + document.getElementById('id').value + '/pagare', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
    event.preventDefault(); 
  }

});

    document.onkeydown=function(e){

	//BOTAO F4
		if(e.which == 115)
			location.href="/vendas/new_balcao"
		//back 
		if(e.which == 114)
			location.href="/vendas/" + document.getElementById('id').value 

		//LISTA DE clientes
		if(e.which == 113)
            window.open('/personas/persona_venda', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1000, HEIGHT=450');
     }
</script>