
<body onload="ImputFocus('filtro')">
<h1 align="right" id="header">Nota de Credito Proveedor</h1>
    <ul class="tabs">
        <li><a href="#tab1">N.C. Proveedor - [Productos]</a></li>
    </ul>

    <div class="tab_container">

            <%= render 'busca_produtos'%>

            <%= render :partial=>"/nota_credito_proveedor_produtos/form_produto", :locals=>{:nota_credito_proveedor_produto=>NotaCreditoProveedorProduto.new(:nota_credito_proveedor_id=>@nota_credito_proveedor.id)} %> 

            <%= render :partial=>"/nota_credito_proveedor_produtos/index_produto", :locals=>{:nota_credito_proveedor_produtos => @nota_credito_proveedor.nota_credito_proveedor_produto} %>

    </div>

    <div class="buttons">
         <%= link_to 'Volver', nota_credito_proveedor_path(@nota_credito_proveedor),:class => 'button back' %>
         
         <%= link_to 'Seguir', "/nota_credito_proveedors/nc_proveedor_aplic/#{@nota_credito_proveedor.id}" , :class => 'button next' %>                             
    </div>
</div>
</body>

