<div class="group">
   <table class="head_grid">
      <tr>
         <td width="50" align="center"></td>
         <td width="400" align="center">Producto</td>
         <td width="100" align="center">Cantidad</td>
         <td width="100" align="center">Unit</td>
         <td width="100" align="center">Total</td>
      </tr>
   </table>
   <div class="rolagem_cobro" dir="div">
      <table>
         <% indice = 1 %>
         <% presupuesto_produtos.each do |presupuesto_produto| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
               <% produto = Produto.find_by_id(presupuesto_produto.produto_id) %>
               <td width="50" align="center"><%= indice %></td>
               <td width="400" align="left"><%= presupuesto_produto.produto_nome %></td>
               <td width="100" align="right"><%= presupuesto_produto.quantidade%></td>
               <% if @presupuesto.moeda == 0 %>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.unitario_dolar, :format =>' %n ', :separator => ",")   %></td>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.total_dolar, :format =>' %n ', :separator => ",")   %></td>
               <% elsif @presupuesto.moeda == 1 %>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.unitario_guarani, :format =>' %n ', :precision => 0 )   %></td>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.total_guarani, :format =>' %n ', :precision => 0 )   %></td>
               <% else %>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.unitario_real, :format =>' %n ', :separator => "," )   %></td>
                 <td width="100" align="right"><%= number_to_currency( presupuesto_produto.total_real, :format =>' %n ', :separator => "," )   %></td>
               <% end %>
               <td><%= link_to 'Editar', edit_presupuesto_presupuesto_produto_path(presupuesto,presupuesto_produto) %></td>
               <td><%= link_to 'Borrar', [presupuesto,presupuesto_produto], :confirm => 'Tiene Certeza?', :method => :delete %></td>
            </tr>
            <% indice += 1 %>
         <% end %>
      </table>

   </div>
</div>
