<% form_tag resultado_busca_diferido_transferencia_contas_path, :name => "form1" do  %>
   <div class="group">
      <table>
         <tr>
            <td width="50" align="center">Cod.</td>
            <td width="80" align="center">Fecha</td>
            <td width="80" align="center">Dif.</td>
            <td width="200" align="center">Titular</td>
            <td width="200" align="center">Banco</td>
            <td width="250" align="center">Cuenta</td>
            <td width="100" align="center">N. Cheque</td>
            <td width="100" align="center">Valor</td>
         </tr>
      </table>
      <div class="rolagem" id="div">
         <table>

            <% @diferido.each do |diferido| %>
               <tr class = "<%= cycle("cor1", "cor2")%>">
                  <td width="50" align="center"><%= diferido.id %></td>
                  <td width="80" align="center"><%= diferido.data.strftime("%d/%m/%Y") %></td>
                  <td width="80" align="center"><%= diferido.diferido.strftime("%d/%m/%Y") %></td>
                  <td width="200" align="left"><%= diferido.titular %></td>
                  <td width="200" align="left"><%= diferido.banco %></td>
                  <td width="250" align="left"><%= diferido.conta_nome %></td>
                  <td width="100" align="center"><%= diferido.cheque %></td>
                  <% if params[:moeda] == "0" %>
                     <td width="100" align="right"><%= number_to_currency(diferido.entrada_dolar, :format=>' %n ', :separator => ",") %></td>
                  <% else %>
                     <td width="100" align="right"><%= number_to_currency(diferido.entrada_guarani, :format=>' %n ', :precision => 0) %></td>
                  <% end %>
                  <td width="50"><%= check_box_tag "diferido_ids[]", diferido.id   %> <%= hidden_field_tag "id", params[:id] %></td>
               </tr>
            <% end %>

         </table>
      </div>
      <%= submit_tag "  Filtrar  ",:disable_with => "Aguarde..."   %>

   </div>
<% end %>
