<div class="group">
  <table>
    <tr>
      <td width="50" align="center">Cod.</td>
      <td width="100" align="center">Fecha</td>
      <td width="250" align="center">Cuenta Origen</td>
      <td width="250" align="center">Cuenta Destino</td>
      <td width="100" align="center">Valor Gs.</td>
      <td width="100" align="center">Valor U$.</td>      
      <td width="100" align="center">Valor R$.</td>      
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>

      <% @transferencia_contas.each do |transferencia_conta| %>
        <tr class = "<%= cycle("cor1", "cor2")%>">
          <td width="50" align="center"><%= transferencia_conta.id %></td>
          <td width="100" align="center"><%= transferencia_conta.data.strftime("%d/%m/%Y") %></td>
          <td width="250" align="left"><%= transferencia_conta.ingreso_nome %></td>
          <td width="250" align="left"><%= transferencia_conta.destino_nome %></td>
          <td width="100" align="right"><%= number_to_currency(transferencia_conta.valor_guarani, :format=>' %n ', :precision => 0) %></td>
          <td width="100" align="right"><%= number_to_currency(transferencia_conta.valor_dolar, :format=>' %n ', :separator => ",") %></td>
          <td width="100" align="right"><%= number_to_currency(transferencia_conta.valor_real, :format=>' %n ', :separator => ",") %></td>
          <td><%= link_to 'Editar', edit_transferencia_conta_path(transferencia_conta) %></td>
          <td><%= link_to 'Borrar', transferencia_conta, :confirm => 'Tiene Certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
