<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>MercoSys Enterprise</title>
		<%= stylesheet_link_tag 'scaffold', 'button', :media => 'all' %>
    <%= stylesheet_link_tag "resources/css/ext-all.css" %>
    <%= stylesheet_link_tag "resources/css/xtheme-gray.css" %>
    <%= javascript_include_tag "ext/adapter/ext/ext-base.js" %>
    <%= javascript_include_tag "ext/ext-all.js" %>

		<%= javascript_include_tag :defaults,'prototype', 'cadastros', 'jquery', 'masks', 'abas', 'controle_helpers'%>
	</head>

	<script>	
		//ABRI POPUP-----------------------------------------------------------------
		document.onkeydown= function(e) {
			if(e.which == 123)
				window.open('/produtos/consulta_stock', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1500, HEIGHT=450');

			if(e.which == 27)
				self.close();

		}
	</script>

	<body>

		<div class="header">
			<span class="style1"> MercoSys Enterprise </span>
			<small class="small">
				version<%= $version %><%= $empresa %>
			</small>
			<span class="style2"> Unidade : <%= current_unidade.unidade_nome %> |
				Usuario : <%= current_user.usuario_nome%> |
				<% if session[:logged] %>
				<%= link_to "logout", login_path(1) ,:method => :delete %>
				<% end %></span>

		</div>
		<div id="menus">
		<%= render "layouts/application_#{$empresa}"%>
		</div>

		
		
		<div class="Mensagem" id="observacao">
			<%= flash[:observacao] %>
			<%= flash[:notice] %>
		</div>
		<div id="contents">
			<%= yield :layout %>
		</div>
	</body>
</html>
