<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>MercoSys Zetta - Login</title>		
  		<%= stylesheet_link_tag 'logins' %>
  		<%= javascript_include_tag 'logins' %>
  		<%= csrf_meta_tag %>
	</head>

	<body class="loginpage">
		<header id="header">
			<h1><a href="#">MercoSys Zetta - Login</a></h1>

			<a href="http://mercosysinformatica.com" class="backlink" target="_tagert">&laquo; Web site</a>

		</header>
			
		<section id="content" class="loginbox">
	    	<%= yield %>
	  </section>	

		<div class="flash_notice">
			<p align="center">
				<%= flash[:notice] %></br>				 				
		  </p> 
		</div>

	</body>
</html>
